@charset "utf-8";
.wrap_menu {
    position: absolute;
    top: 0; left: 0;
    width: 260px; height: 900px;
    background-color: black;;
    padding: 24px; 
    box-sizing: border-box;
    z-index: 900;
    background: url(../images/bg_starsR.jpg);
    background-position:bottom;
    display: block;
    transform: translateX(-260px);
    transition: all 0.3s ease;
}
.wrap_menu.on{transform: translateX(0);}
.wrap_menu .login{display: block; text-align: left;}
.wrap_menu .login p{
    font-family: "DIN";
    font-weight: 100;
    display: inline-block;
    font-size: 18px;
    line-height: 18px; 
    padding: 0 8px; 
    color: rgba(255,255,255,0.2);  
}
.wrap_menu .login a{
    display: inline-block;
    font-family: "DIN";
    font-size: 16px; line-height: 18px;
    font-weight: 100; text-decoration: none;
    transition: border 0.5s ease;
    color: rgba(255,255,255,0.9);
}
.wrap_menu .side_nav{
    display: block; 
    width: 100%; 
    border-bottom: 2px solid #444;
    padding-bottom: 4px;
    margin-bottom: 8px;
}
.wrap_menu .side_nav li{box-sizing: border-box; padding: 8.5px 0; margin-left: -10px;}
.wrap_menu .side_nav a{display: inline-block;}
.wrap_menu .side_nav span{
    background: url(../images/section_icon_sprite-383dbefd9b1f.png)no-repeat;
    display: inline-block;
    width: 45px; height: 45px;
    vertical-align: middle;
}
.wrap_menu .side_nav li:nth-child(2) span{background-position: -45px 0}
.wrap_menu .side_nav li:nth-child(3) span{background-position: -90px 0}
.wrap_menu .side_nav li:nth-child(4) span{background-position: -135px 0}
.wrap_menu .side_nav li:nth-child(5) span{background-position: -178px 0}
.wrap_menu .side_nav li:nth-child(6) span{background-position: -222px 0}
.wrap_menu .side_nav li:nth-child(7) span{background-position: -267px 0}
.wrap_menu .side_nav li:nth-child(8) span{background-position: -311px 0;}
.wrap_menu .side_nav p{display: inline-block; font-family: "DIN"; font-weight: 100; font-size: 16px; color: #aaa; margin: -5px 0 5px}
.wrap_menu .social{
    display: block;
    width: 100%; height: 100%;
    border-top: 2px solid #444;
    padding: 17px;
    box-sizing: border-box;
}
.wrap_menu .social li{float: left; box-sizing: border-box;}
.wrap_menu .social li:nth-child(4){margin-left: 0;}
.wrap_menu .social li+li{margin-left: 35px; margin-bottom: 35px;}
.wrap_menu .social li a{
    background: url(../images/social.png) no-repeat;
    display: block; height: 36px; width: 36px; 
    text-indent: -999px;
    background-size: 700% auto;
    transition: transform 0.1s ease-in;
    opacity: 0.5;
}
.wrap_menu .social li:nth-child(2) a{background-position: -36px 0}
.wrap_menu .social li:nth-child(3) a{background-position: -72px 0}
.wrap_menu .social li:nth-child(4) a{background-position: -108px 0}
.wrap_menu .social li:nth-child(5) a{background-position: -144px 0}
.wrap_menu .social li:nth-child(6) a{background-position: -180px 0} 

/* text-transform : uppercase; 대소문자 바꿔주기*/
.hide{position: absolute; text-indent: -99999px;}
body{background-color: #151515; width: 100%;}
/*wrap시작*/
.wrap{  /*traslate 주지않기 중요*/
    width: 100%;
    transition:all 0.3s ease;
}
.wrap.on{transform: translateX(260px);}
.body_bg{
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100%; height: 100%;
    display: block; 
    z-index: 0;
}
.body_bg .star_left{
    position: absolute; top: 0; left: 0;
    width: 246px; height: 100%;
    background-image: url(../images/bg_starsL.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: center;
}
.body_bg .star_right{
    position: absolute; top: 0; right: 0;
    width: 404px; height: 100%;
    background-image: url(../images/bg_starsR.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
}
/*first시작*/
.first{
    display: block;
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0; 
    width: 100%; height: 100%; 
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 67px;
    z-index: 300;
}
.twice{display: none;}
.thirdtofourth{display: none;}

header{
    width: 100%;
    height: 300px; 
    position: relative; top: 0;
    z-index: 500;
}
.top .logo{
    width: 293px; height: 127px;
    position: absolute;
    background: url(../images/logo.png)no-repeat;
    display: block; text-align: center;
    top: 50%; left: 50%;
    transform:translate(-50%,-50%);
    vertical-align: middle;
    z-index: 600;
}
.top .bg{
    box-sizing: border-box; display: block;
    overflow: hidden; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%; max-width: 1600px; height: 100%;
}
.top .bg img{
    overflow: hidden;
    position: relative; left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
.linkright{
    height: 100px;
    position: relative; top: 0; right:0; left: 0;
    width: 100%; max-width: 1400px; 
    margin: 0 auto;
}
.linkright .link{position: absolute; top: 25px; left: 15px;}
.link .social{display: inline-block; vertical-align: middle;}
.link .social li{float: left;}
.link .social li+li{margin-left: 15px;}
.link .social li a{
    background: url(../images/social.png) no-repeat;
    display: block; height: 28px; width: 28px; 
    text-indent: -999px;
    background-size: 700% auto;
    transition: transform 0.1s ease-in;
}
.link .social li:nth-child(2) a{background-position: -28px 0}
.link .social li:nth-child(3) a{background-position: -56px 0}
.link .social li:nth-child(4) a{background-position: -84px 0}
.link .social li:nth-child(5) a{background-position: -110px 0}
.link .social li:nth-child(6) a{background-position: -140px 0}
.link .social li:nth-child(1):hover a{transform: scale(1.15);}
.link .social li:nth-child(2):hover a{transform: scale(1.15);}
.link .social li:nth-child(3):hover a{transform: scale(1.15);}
.link .social li:nth-child(4):hover a{transform: scale(1.15);}
.link .social li:nth-child(5):hover a{transform: scale(1.15);}
.link .social li:nth-child(6):hover a{transform: scale(1.15);}
.link .link_com{
    display: inline-block; vertical-align: middle;
    margin-left: 10px; border-left: 1px solid white;
    padding-left: 13px; height: 25px;
}
.link .link_com strong{color: white; font-weight: 100; font-size: 10px; line-height: 25px; display: block; vertical-align: bottom;}

.linkright .right{position: absolute; top: 18px; right: 15px;}
.right .search{
    box-sizing: border-box;
    width: 240px; height: 40px;
    position: relative;
    line-height: 40px;
}
.right .search .search_text{
    box-sizing: border-box;
    width: 100%; height: 100%; 
    display: block; 
    padding-left: 10px; padding-top: 7px;
    vertical-align: middle; text-align: left;
    border: none; border-radius: 4px 4px 0 0;
    background: #b7b6b5 url(../images/search_stripes.png);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.5);
}
.right .search input[type="text"]{
    font-size: 14px;
}
.right .search .search_icon{
    background: url(../images/search_icon.png);
    display: block; width: 50px; height: 50px;
    position: absolute; top: 0; right:0;
    background-size: 100% 200%;
    border: none;
    margin-top: -3px; margin-right: -3px;
    cursor: pointer;
}
.right .search .incidental{
    display: block;
    position: absolute;
    bottom: -4px; left: 0; right: 0;
    width: 100%; height: 4px; 
}
.right .search .incidental:before{
    content: ''; 
    display: block;
    width:60%;
    position: absolute;
    top: 0; left:0;
    border-right: 4px solid transparent;
    border-top: 4px solid #b7b6b5;
}
.right .search .incidental:after{
    content: '';
    display: block;
    width: 16%;
    position: absolute;
    top: 0; right: 0;
    border-left: 4px solid transparent;
    border-top: 4px solid #b7b6b5;
}
.right .login{
    position: relative;
    top: 15px;
    text-align: right;
    display: block;
}
.right .login *{display: inline-block; color: white;}
.right .login p{padding: 0 8px; color: rgba(170,170,170); opacity: 0.5}
.right .login a{
    font-size: 14px; line-height: 18px;
    font-weight: 100; text-decoration: none;
    transition: border 0.5s ease;
}
.right .login a:hover{border-bottom: 1px solid white;}


/*================ header에 move붙이기 ================*/
header.move{position: fixed; height: 60px; background-color:#222222; border-bottom: 1px solid #333;}
header.move .logo{
    width: 350px; height: 38px;
    background: url(../images/logo_720-819_2.png)no-repeat;
    background-size: 100%;;
}
header.move .bg{display: none;}
header.move .top .linkright{height: 60px; }
header.move .top .link{position: absolute; top: 14px; left: 15px;}
header.move .link .social li a{transition: all 0.2s ease-in;opacity: 0.5;}
header.move .link .social li:nth-child(1):hover a{transform: scale(1); opacity: 1;}
header.move .link .social li:nth-child(2):hover a{transform: scale(1); opacity: 1;}
header.move .link .social li:nth-child(3):hover a{transform: scale(1); opacity: 1;}
header.move .link .social li:nth-child(4):hover a{transform: scale(1); opacity: 1;}
header.move .link .social li:nth-child(5):hover a{transform: scale(1); opacity: 1;}
header.move .link .social li:nth-child(6):hover a{transform: scale(1); opacity: 1;}
header.move .right .search{width: 205px;}
header.move .right .search .search_icon{
    background-position: 0 -60px;
    width: 60px; height: 60px;
    top: -15px; right:3px;
    margin-right: -18px;
    opacity: 0.5; transition: all opacity 0.2s;
}
header.move .right .search .search_icon:hover{opacity: 1;}
header.move .right .login{position: absolute; top: 0px;}
header.move .right .login *{color: #aaa;}
header.move .right .login p{color: rgba(170,170,170,0.5);}
header.move .right .login a{transition:color 0.2s; font-size: 16px;}
header.move .right .login a:hover{border-bottom: none; color: white;}
header.move .link_com, header.move .right .search .incidental, header.move .right .search .search_text{display: none;}
/*================ nav ================*/
nav{
    position: absolute;
    top: 300px;
    height: 67px;
    width: 100%; 
    background-color: #222222; 
    margin-top: -3px;
    z-index: 400;
}
nav.move{position: fixed; top: 64px;}
nav ul{max-width: 1200px; width: 100%; margin: 0 auto; height: 60px; box-sizing: border-box;}
nav ul li{float: left; text-align: center; width: 12.5%; border-left: 1px solid #333; box-sizing: border-box; overflow: hidden;}
nav ul li:last-child{border-right: 1px solid #333;}
nav ul li:after{content: ''; display: block; clear: both;}
nav ul li a{display: block; overflow: hidden; transition: all 0.5s ease;}
nav ul li a:hover{background-color: #191919; text-decoration: none;}
nav li span{background: url(../images/section_icon_sprite-383dbefd9b1f.png)no-repeat; display: block; width: 45px; height: 45px; margin: 0 auto;}
nav li p{font-family: "DIN"; font-weight: 100; font-size:14px; color: #aaa; margin: -5px 0 5px}
nav li:nth-child(2) span{background-position: -45px 0}
nav li:nth-child(3) span{background-position: -90px 0}
nav li:nth-child(4) span{background-position: -135px 0}
nav li:nth-child(5) span{background-position: -178px 0}
nav li:nth-child(6) span{background-position: -222px 0}
nav li:nth-child(7) span{background-position: -267px 0}
nav li:nth-child(8) span{background-position: -311px 0;}
/*================ main ================*/
main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    opacity: 1;
}
/*main.on{opacity: 0.5}*/
.module, .bound, .blocks-bound, .blocks-container, .block-list-view, .building-block-config, .building-block, .building-block-aspect, .building-block-padding, .building-block-wrapper, .image_wrapper, .contents_wrapper, .metadata, .row1, .col2, .col4, .col1
{box-sizing: border-box;}
.module{position: relative; overflow: hidden; max-width: 1200px;}
.bound{position: relative; padding: 0 24px; max-width: 1200px; min-width: 260px; overflow: hidden; }
.blocks-bound{margin: 0 -1.2%; overflow: hidden;}
.blocks-container{overflow: hidden;}
ul.block-list-view{display: block; overflow: hidden; }
/*===================== 헤더 최초의 col2시작 =====================*/
.section .col2{width: 50%; display: block;}
.col2 .building-block{position: relative; float: left; display: block; vertical-align: top; width: 100%;}
.col2 .building-block-aspect{position: relative; overflow: hidden;}
.col2 .building-block-padding{padding: 2.46%;}
.col2 .building-block-wrapper{border-radius: 6px; display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}
/*========이미지감싸기========*/
.col2 .image_wrapper{width: 100%; padding-top: 56.5%; position: relative;}
.col2 .image_wrapper .aspect{position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #0e0e0e;}
.col2 .image_wrapper .aspect a img{position: absolute; top: 0; left: 0; width: 100%; height: 100%; vertical-align: bottom;}
/*========콘텐츠 감싸기========*/
.col2 .contents_wrapper{width: 100%; background-color: #282727; padding-top: 17.1%; /*98/561*/ border-top: 2px solid #e15021; position: relative;}
.col2 .contents_wrapper .inner{position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding: 2.55%;}
.col2 .contents_wrapper time{position: absolute; bottom: 108%; right: 10px; padding: 4px 8px; color: white; font-family: GeoGrotesque; font-weight: 400; border-radius: 4px; background-color: rgba(0,0,0,0.4); font-size: 15px; }
.col2 .content-bumper{width: 100%; position: relative; overflow: hidden;}
.col2 .content_info{position: relative; overflow: hidden;}
.col2 .content_info a{color: #ddd; text-decoration: none;}
.col2 .content_info h3{float: right; width: 100%;}
.col2 .content_info .title a {color: #ddd; font-family: "DIN"; font-weight: 800; font-size: 17px; line-height: 21px; transition: all 0.2s cubic-bezier(.62,-0.31,.6,1.57);}
.col2 .content_info .title a:hover{color: #e15021;}
.col2 .content_info .desc-sizer .desc{display: none; font-family: "DIN"; font-weight: 600; font-size: 13px; line-height: 16px; margin-top: 15px; color: rgba(170,170,170)}
/*=======메타========*/
.col2 .metadata{
    width: 100%;
    position: absolute;
    bottom: 0; left: 0;
    padding: 1% 0 1% 3%;
	z-index: 100;
}
.col2 .metadata .team_name{display: none; color: #aaa; letter-spacing: 1.5px;}
.col2 .metadata .category_info{position: relative; top: 0; width: 100%; font-size: 12px;}
.col2 .metadata .category_icon{
    display: inline-block;
    background: url(../images/section_icon_sprite-383dbefd9b1f.png) no-repeat;
    background-size: 1000% auto;
    background-position: -23px 0;
    width: 20px; height: 20px;
    vertical-align: middle; 
    margin-top: -3px; margin-right: -5px;
}
.col2 .metadata .category_name{display: inline-block; color: #e15021; font-family: "DINCond"; letter-spacing: 1.5px;}
.col2 .metadata .category_extra{color: #aaa; letter-spacing: 1.5px;}
.col2 .metadata .meta_triangle{position: absolute; overflow: hidden; width: 79px; height: 79px; right: -40px; bottom: -40px; transform: rotate(45deg);}
.col2 .metadata .meta_triangle img{width: 56px; height: 56px; transform:  rotate(-45deg) translateX(-50%) translateY(-21%);}
/*===================== row시작 =====================*/
.forblock{width: 50%;}
.forblock:after{content: ''; display: block; clear: both;}
.section .row1{width: 100%; display: block;}
.row1 .building-block{float: left; display: block;/*inline-block일수도있다.*/ vertical-align: top; position: relative; width: 100%;}
.row1 .building-block-aspect{position: relative; overflow: hidden;}
.row1 .building-block-padding{padding: 2.46%;}
.row1 .building-block-wrapper{border-radius: 6px; display: block; width: 100%; height: 100%; position: relative; overflow: hidden; /*끝*/}
/*========이미지감싸기========*/
.row1 .image_wrapper{
    width: 37.72176%; padding-top: 21.153846%; /* 88 / 416 */ 
    position: relative; float: left;
}
.row1 .image_wrapper .aspect{position: absolute; top:0; left:0; right:0; bottom:0;  background-color: #0e0e0e;}
.row1 .image_wrapper .aspect a{width: auto; height: auto;}
.row1 .image_wrapper .aspect a img{position: absolute; top: 0; left: 0; width: 100%; height: 100%; vertical-align: bottom; border: 0;}
.thelastest .image_wrapper .draw{display: none;}
/*========콘텐츠 감싸기========*/
.row1 .contents_wrapper{
    box-sizing: border-box;
    width: 62.27824%; /*height: 23.71795%;*/  float: right;
    background-color: #222; padding-top:21.153846%; /* 88 / 416 */
    border-left: 2px solid #3273c5; border-top: none;
    position: relative;
}
.row1 .inner {position: absolute; top:0; left:0; right:0; bottom:0; padding: 3.4%;}
.row1 time{display: none;}
.row1 .content-bumper{
    padding-bottom: 1.161em; padding-right: 6px; overflow: hidden;
    height: 100%; width: 100%; position: relative;
}
.row1 .content_info{overflow: hidden; height: 100%; position: relative; display: inline-block;}
.row1 .content_info h3{float: right; width: 100%; text-transform: uppercase;}
.row1 .content_info a{color: #ddd; text-decoration: none; line-height: 16px; font-size: 16px;}
.row1 .content_info .title a{transition: all 0.2s cubic-bezier(.62,-0.31,.6,1.57);}
.row1 .content_info .title a:hover{color: #3273c5;}
.row1 .content_info .desc-sizer{float: right; width: 100%; display: block; margin-top: 3px;}
.row1 .content_info .desc-sizer .desc{color: rgba(170,170,170); font-size: 12px; line-height: 15px;}
/*=======메타========*/
.row1 .metadata{
    width: 100%;
    text-transform: uppercase;
    position: absolute; bottom: 0; left: 0;
    padding: 1% 0 1% 2%;
}
.row1 .metadata .team_name{display: none; margin-left: 5px; font-family: "DINCond"; font-size: 12px; line-height: 12px; letter-spacing: 1.5px;}
.row1 .metadata .category_info{position: relative; top: 0; width: 100%; font-size: 12px;}
.row1 .metadata .category_info .category_icon{
    display: inline-block;
    background: url(../images/section_icon_sprite-383dbefd9b1f.png)no-repeat;
    background-size: 1000% auto; background-position: 0 0;
    width: 20px; height: 20px; vertical-align: middle; 
    margin-top: -3px; margin-right: -5px;
}
.row1 .metadata .category_info .category_name{display: inline-block; color: #3273c5; font-family: "DINCond"; letter-spacing: 1.5px;}
.row1 .metadata .category_info .category_extra{color: #aaa; font-family: "DINCond"; letter-spacing: 1.5px;}
.row1 .metadata .meta_triangle{position: absolute; overflow: hidden; width: 79px; height: 79px; right: -40px; bottom: -40px; transform: rotate(45deg);}
.row1 .metadata .meta_triangle img{width: 56px; height: 56px; transform:  rotate(-45deg) translateX(-50%) translateY(-21%); text-transform: uppercase; vertical-align: bottom;}
/*================ col4 시작 ================*/
.section .row1.col4{width: 100%; display: block;}
.row1.col4 .building-block-padding{padding:1.23%;/*끝*/}
.row1.col4 .image_wrapper{width: 46.307558644657%;/*533/1151*/ padding-top: 21.153846%;}
.row1.col4 .contents_wrapper{width: 53.692441355343%;/*618/1151*/}
.row1.col4 .content_info h3{float: right; width: 100%; text-transform: uppercase;}
.row1.col4 .content_info .desc-sizer{float: right; width: 100%; display: block; font-size: 12px; line-height: 20px; margin-top: 3px; font-style: italic; }
.row1.col4 .metadata{padding: 0 0 1.5% 2.5%;}
.row1.col4 .metadata .team_name{display: block;}
.row1.col4 .content_info .title a{transition: all 0.2s cubic-bezier(.62,-0.31,.6,1.57); color: #ddd; line-height: 25px; font-size: 21px;}
/*================ tripart 3분할 시작================*/
.section .tripart{width: 33.333333%;}
.col2.tripart .image_wrapper{padding-top: 49.86301369863%;/*182/365*/ width: 100%;}
.col2.tripart .contents_wrapper{padding-top: 23.287671232877%;/*85/365*/ width: 100%;}
.col2.tripart .building-block-padding{padding:3.69%;}
.col2.tripart .contents_wrapper .inner{padding: 3.2%;}
/*================ 광고 시작 ================*/
.advertise{position: relative; max-width: 100%; height: 100%; padding: 0 12px;}
.advertise a{display: block; padding: 12px 0;}
.advertise img{width: 100%;}
.advertise .shop_length{display: block;}
.advertise .shop_transverse{display: none;}
/*=================== thelastest 시작 ====================*/
/*===================== theater 시작 =====================*/
.theaters .row1.col4 .image_wrapper{width: 63.944396177237%;/*736/1151*/ padding-top: 35.968722849696%;/*414/1151*/}
.theaters .row1.col4 .contents_wrapper{width: 36.055603822763%;/*415/1151*/padding-top: 35.968722849696%;/*414/1151*/}
.theaters .col4 .draw{
    display: block;
    position: absolute;
    right: 10px; bottom: -5px;
    width: 47px; height: 47px;
    opacity: 0.1; 
    background: url(../images/draw_1.png) no-repeat;
    background-size: 100% 200%; background-position: 0 0;
}
.theaters .row1.col4 .inner{padding: 6%;}
.theaters .row1.col4 .content_info h3
{font-size: 28px; line-height: 34px;}
.theaters .row1.col4 .metadata{padding: 0 0 3% 5%; z-index: 100;}
.theaters .row1.col4 .metadata .team_name{display: none;}
/*===================== showmore 작업 =====================*/
.theaters .blocks-container{margin-bottom:60px;}
.databank .blocks-container{margin-bottom:60px;}
.show {height: 650px;}
.show ul:after{content: ''; display: block; clear: both;}

.showmore{
    width: 100%;
    overflow: hidden;
    height: 60px;
    display: block;
    position: absolute;
    right: 0; left: 0; bottom: 0px;
    border-top: 1px solid rgba(255,255,255,0.2);
    z-index: 250;
    box-shadow: 0 1px 50px #222;
}
.showmore .more{
    position: absolute;
    left: 50%; top: 0; bottom: 0;
    transform: translate(-50%);
    display: block;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 13px;
    width: 160px;
    text-decoration: none;
}
/*===================== databank =====================*/
.databank .col2 .contents_wrapper{border-top: 2px solid #9d4e60;}
.databank .col2 .metadata .category_icon{
    display: inline-block;
    background: url(../images/section_icon_sprite-383dbefd9b1f.png)no-repeat;
    background-size: 1000% auto; background-position: -145px 1px;
    width: 20px; height: 20px; vertical-align: middle; 
    margin-top: -3px; margin-right: -5px;
}
.databank .col2 .category_name{display: inline-block; color: #9d4e60; font-family: "DINCond"; letter-spacing: 1.5px; margin-left: -3px;}
.databank .col2 .content_info .title a:hover{color: #9d4e60; }
/*===================== jedihome =====================*/
.jedihome .col2 .image_wrapper{padding-top: 75%;/*450/600*/}
.jedihome .col2 .contents_wrapper{padding-top: 25%/*140/561*/}
.jedihome .section:nth-child(2) .forblock .col2{width: 100%;}
.jedihome .section:nth-child(2) .forblock .col2 .image_wrapper
{padding-top: 56.25%;/*316/562*/}
.jedihome .section:nth-child(2) .forblock .col2 .contents_wrapper
{padding-top: 17.4%/*98/414*/}
/*===================== morenews =====================*/
.morenews .section:nth-child(1) .col2 .image_wrapper{padding-top: 75%;/*450/600*/}
.morenews .section:nth-child(1) .col2 .contents_wrapper{padding-top:24.7%;/*140/561*/}
.section .col1{width: 25%;}
.section .col1 .image_wrapper{padding-top: 100%; width: 100%;}
.section .col1 .contents_wrapper{padding-top: 55.38%;/*147/266*/ width: 100%;}
.col1 .building-block-padding{padding:4.92%;}
.col1 .contents_wrapper .inner{padding: 5%;}
.morenews .n_divi .building-block-wrapper{width: 100%; height: 100%; display: block; position: relative; overflow: hidden;}
.morenews .section .n_divi .contents_wrapper{padding-top: 155%; border-top: none; text-align: center; }
.morenews .n_divi .content_info img{width: 80%;}
.morenews .n_divi .inner{padding: 10%;}
.morenews .n_divi .content-bumper{top: 50%; transform: translateY(-50%)}
.morenews .n_divi img{padding-bottom: 10px;}
.morenews .n_divi span{font-family: "DIN"; color: #ddd; display: block;}
.morenews .n_divi p{font-family: "DINCond"; font-size: 14px; line-height: 17px; color: #aaa; text-transform : uppercase;}
/*===================== production =====================*/
.production .section:nth-child(1) .col2 .image_wrapper{padding-top: 75%;/*450/600*/}
.production .section:nth-child(1) .col2 .contents_wrapper{padding-top:24.7%;/*140/561*/}
/*===================== scenes =====================*/
.scenes .section:nth-child(1) .col2 .desc{display: block;}
.scenes .section:nth-child(2) .col2:nth-child(2) .contents_wrapper{border-top: 2px solid #eceb62;}
.scenes .section:nth-child(2) .col2:nth-child(2) .category_name{color: #eceb62;}
.scenes .section:nth-child(2) .col2:nth-child(2) .category_icon{
    display: inline-block;
    background: url(../images/section_icon_sprite-383dbefd9b1f.png)no-repeat;
    background-size: 1000% auto; background-position: -65px 0;
    width: 20px; height: 20px; vertical-align: middle; 
    margin-top: -3px; margin-right: -5px;
}
.scenes .section:nth-child(2) .col2:nth-child(2) .title a:hover{color: #eceb62;}
.scenes .section:nth-child(1) .col2 .title a{font-size: 17px;}
/*================ division draw 공통 ================*/
main .division{
	display: block;
	padding: 34px 24px 0 24px;
	max-width: 1200px; 
/*	position: relative;*/
/*	top: 34px;*/
}
main .division .divi_title{
    margin-bottom: 10px;
    border-top: 2px solid rgba(170,170,170,0.25);
    border-bottom: 2px solid rgba(170,170,170,0.25); 
    color: #ddd;
    padding: 0 0 0 10px;
    line-height: 40px;
    font-size: 18.5px;
    letter-spacing: 1px;
}
.draw{
    position: absolute;
    display: block; 
    right: 10px; bottom: -22px;
    width: 47px; height: 47px;
    opacity: 0.1; 
    background: url(../images/draw_2.png) no-repeat;
    background-size: 100% 200%;
    background-position: 0 0;
}
.col2:after, .col4:after, .row1:after{content: ''; display: block; clear: both;}
.section{width: 100%; overflow: hidden;}
.f_right{float: right;}
.f_left{float: left;}
.incidental_bottom:before{
    width: 20%;
    content: ''; display: block;
    position: absolute;
    bottom: 0; left: 70%;
    transform: translateX(-70%);
    border-bottom: 4px solid #151515;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.incidental_right:before{
    width: 10%;
    content: ''; display: block;
    position: absolute;
    top: 45%; right: -6%;
    transform: translateX(-70%);
    border-bottom: 5px solid #151515;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    transform: rotate(270deg);
}

/*================ footer ================*/
footer{
    background:#1a1a1a url(../images/footer_bg.jpg) no-repeat;
    background-position: center;
    margin-top: 40px;
    padding-top: 70px;
    text-align: center;
    display: block;
    width: 100%; height: 205px;
    position: relative;
    z-index: 200;
}
footer *{font-size: 12px;}
footer span{
    color: #858a8d;
    margin-top: 10px;
    display: block;
    font-family: "GeoGrotesque";
    font-size: 13px; 
    letter-spacing: 1px;
}
footer ul{font-size: 0;}
footer ul li{display: inline-block;}
footer .social{margin-top: 20px;}
footer .social li+li{margin-left: 30px;}
footer .social li a{
    display: block; width: 35px; height: 35px;
    text-indent: -9999px;
    background: url(../images/social.png)no-repeat;
    background-size: 700% auto; opacity: 0.4;
}
footer .social li a:hover{opacity: 0.8;}
footer .social li:nth-child(2) a{background-position: -35px 0;}
footer .social li:nth-child(3) a{background-position: -70px 0;}
footer .social li:nth-child(4) a{background-position: -105px 0;}
footer .social li:nth-child(5) a{background-position: -140px 0;}
footer .social li:nth-child(6) a{background-position: -175px 0;}
footer .help{margin: 0 auto; font-family: "GeoGrotesque";}
footer .help .copyright{
    margin-top: 28px; margin-bottom: 8px;
    letter-spacing: 1px; 
    color: #858a8d;
    font-size:13px
}
footer .help li{
	padding:0 8px 0 10px; 
	letter-spacing: 1px;
	line-height: 16px; 
	margin-bottom: 12px;
	position: relative;
}
footer .help li+li{border-left: 1px solid rgba(255,255,255,0.1);}
footer .help a{
	color: #858a8d; 
	font-size: 13px;
	text-decoration: none;
	position: relative;
}
footer .help a:after{
	content: '';
	position: absolute;
	border-bottom: 1px solid rgba(255,255,255,0.4);
	width: 0%; height: 1px;
	bottom:-4px; left: 50%; transform: translateX(-50%);
	transition: all 0.3s ease;
}
footer .help a:hover:after{
	width: 100%;
}