@charset "utf-8";
/* Common */
*{font-family: 'SpoqaHanSansNeo','sans-serif'; font-size: 14px; color: #3E3E3E; font-weight: 500;}
html, body{width:100%; height:100%;}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table, pre{font-family:'SpoqaHanSansNeo','sans-serif','맑은고딕','Malgun Gothic','나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,Helvetica}
body{font-size:14px;word-break:break-all;background:#fff; letter-spacing:-1px;}
img,fieldset,iframe{border:0}
img {vertical-align:middle;}
ul,ol {margin:0;padding:0;list-style:none;}
dl,dl dt,dl dd,form,td,p {margin:0;padding:0;}
li,li img,dt img,dd img,td img,p img {vertical-align:top;margin:0;padding:0;}
fieldset {margin:0;padding:0;border:0;}
legend {position:absolute;visibility:hidden;overflow:hidden;height:0;line-height:0;width:0;margin:0;padding:0;font:0/0 Arial;}
caption {visibility:hidden;overflow:hidden;height:0;line-height: 0;width:0;margin:0;padding:0;font:0/0 Arial;}
hr {display:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal; margin:0;}
a {text-decoration:none;color:#3E3E3E;}
a:hover,a:focus,a:active {text-decoration:none;}
table {border-spacing:0; border-collapse: separate;}
select,label {padding:0; margin:0; vertical-align:middle;}
em,address {font-style:normal;}
textarea {vertical-align:top;margin:0;padding:0; border:1px solid #d7d7d7;}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}
option{padding:0}

input                   { overflow:visible; width: 100%; height: 53px; padding: 0 15px; font-size: 16px; color:#3E3E3E; border: none; outline:none; box-sizing: border-box;}
input[type=text]        { background:#fff;}
input[type=text]:focus  { color:#3E3E3E;}
input[type=text]:checked{ color:#3E3E3E;}
input[type=text]::-ms-clear  { display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal { display: none; width : 0; height: 0; }
input[type=text]:-ms-clear   { display: none; width : 0; height: 0; }
input[type=text]:-ms-reveal  { display: none; width : 0; height: 0; }
input[type=checkbox] { border:none !important}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}
input:focus::-webkit-input-placeholder  { /* WebKit browsers */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
input:focus:-moz-placeholder            { /* Mozilla Firefox 4 to 18 */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
input:focus::-moz-placeholder           { /* Mozilla Firefox 19+ */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
input:focus:-ms-input-placeholde        { /* Internet Explorer 10+ */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
::-webkit-input-placeholder { /* Chrome */ color: #999 !important; font-weight: normal; letter-spacing:-0.5px;}
:-ms-input-placeholder      { /* IE 10+ */ color: #999 !important; font-weight: normal; letter-spacing:-0.5px;}
::-moz-placeholder          { /* Firefox 19+ */ color: #999 !important; opacity: 1; font-weight: normal; letter-spacing:-0.5px;}
:-moz-placeholder           { /* Firefox 4 - 18 */ color: #999 !important; opacity: 1; font-weight: normal; letter-spacing:-0.5px;}

/* 공통 */
.ov2            { position: relative; width: 100%; min-width:1000px; height: 100%; }
.inner          { position: relative; width: 1000px; margin: 0 auto;}
main            { position:relative; width:100%; }
header          { position: absolute; top: 40px; z-index: 1; width: 100%;}
header .inner   { font-size: 0; text-align: left;}
header .inner a { display: inline-block;}
.page_tit       { line-height: 1; margin: 0 0 50px; font-family: 'ONE-Mobile-Title'; font-size: 40px; font-weight: 500; text-align: center; color: #3E3E3E;}
.page_tit span  { font-family: 'ONE-Mobile-Title'; font-size: 40px; font-weight: 500; color:#FF4848;}
.ov2_sec1         { position: relative; top: -100px; width:100%; margin-top: 100px; padding: 0 0 20px 0; background:#F5F5F5;}
.ov2_sec1::before { position: absolute; top: -100px; right: 0; left: 0; width: 100%; height: 100px; border-top-left-radius: 80px; border-top-right-radius: 80px; background-color: #F5F5F5; content: '';}
.ov2_sec2         { padding-top: 100px;}

/* 상단비주얼 */
.visual               { display: block; width:100%; height:840px; background:url(../images/bg_visual1.png) top center no-repeat; background-size: cover;}
.visual_top           { display: block; width:1000px; margin: 0 auto; padding: 140px 0 130px; text-align: center; }
.visual_top *         { font-family: 'ONE-Mobile-Title'; font-weight: 500; letter-spacing: -2.5px;}
.visual_top span      { display:block; line-height: 1; margin: 0 0 20px; font-size: 40px; color: #fff;}
.visual_top strong    { display:block; line-height: 1.3;  font-size: 54px; color: #fff; text-shadow: 0 0 10px rgba(0,0,0);}
.visual_top strong em { line-height: 1.3; font-size: 54px;color: #FF4848; text-shadow: 0 0 10px rgba(0,0,0)}
.visual_cont          { width: 1100px; padding: 30px 50px; margin: 0 auto;  background-color: #fff; border-radius: 40px; box-sizing: border-box;}



/* ============================================== main ============================================== */

/* 1 보험사 확인 */
.simple_Wrap > ul    {  font-size: 0;}
.simple_Wrap > ul li { display: inline-block; width: calc((100% - 40px)/3); box-sizing: border-box; margin: 0 20px 30px 0;}
.simple_Wrap > ul li:nth-child(3n) { margin: 0;}
.simple_Wrap .simple_Box{
    overflow: hidden; position: relative; width:100%; margin:0 auto; padding: 18px 30px 20px; background: #fff; border-radius: 25px;
    -webkit-box-shadow:0 5px 15px rgba(0,0,0,.1);box-shadow:0 5px 15px rgba(0,0,0,.1);
    -webkit-box-sizing:border-box;box-sizing:border-box;
}
.simple_Wrap .simple_Box .simple_Thum   { display:block; margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #C8C8C8; text-align: center;}
.simple_Wrap .simple_Box .calcul_wrap   { text-align: center;}
.simple_Wrap .simple_Box .fee           { display: block; height: 37px; line-height: 37px; font-size: 18px; color: #3E3E3E; text-align: center; cursor: pointer;}
.simple_Wrap .simple_Box .fee span      { line-height: 30px; font-size: 24px; font-weight: 700; color: #FF4848; vertical-align: bottom;}

/* 2 event */
.eventb     { margin-top: -100px; padding-bottom: 100px; background-color: #F5F5F5;}
.eventb img { width: 100%;}


/* 3 */
.partner_Wrap       { margin:0;}
.partner_Wrap ul    { width:100%; display:block;}
.partner_Wrap ul li { width:100%; display:block; margin-bottom: 100px;}
.partner_Wrap .partner_Head       { width:100%; display:table; margin-bottom: 30px;}
.partner_Head .partner_Logo       { display: table-cell; width: 135px; padding-right: 27px; text-align: left; vertical-align: middle;}
.partner_Head .partner_Logo img   { width: 100%;}
.partner_Head .partner_Text       { display: table-cell; width: calc(100% - 645px); height: 55px; vertical-align: middle;}
.partner_Head .partner_Text span  { display: block; text-align: left;}
.partner_Head .partner_Name       { line-height: 26px; font-size: 22px; font-weight: 600; color: #3E3E3E;}
.partner_Head .partner_Tel a      { line-height: 26px; font-size: 22px; font-weight: 600; color: #3E3E3E;}
.partner_Head .partner_Btn        { display: table-cell; width: 480px; font-size: 0; text-align: right; vertical-align: middle;}
.partner_Head .partner_Btn a      { display: inline-block; width: 230px; cursor: pointer;}
.partner_Head .partner_Btn a+a    { margin-left: 20px;}
.partner_Head .partner_Btn a span { display: block; line-height: 55px; border-radius: 20px; font-size: 20px; font-weight: 600; color: #fff; text-align: center; }
.partner_Head .btn_Freereq        { background: #FF4848;}
.partner_Head .btn_Calc           { background: #006AC8;}
.partner_Con-pc                   { display: block; padding: 50px 40px 50px 50px; background: #F5F5F5; border-radius: 35px;}
/* partner_Title부터는 공통 */


/* ============================================== bottom ============================================== */

/* 유의사항 */
.site_noti            { padding: 45px 0 40px; background-color: #505050;}
.site_noti .inner     { position: relative; width: 1000px; margin: 0 auto;}
.site_noti *          { color: #fff;}
.site_noti h2         { margin-bottom: 15px; font-size: 20px; font-weight: 600;}
.site_noti li         { position: relative; line-height: 1.571; padding-left: 10px; font-weight: 300;}
.site_noti li+li      { margin-top: 13px; }
.site_noti li::before { content: ''; position: absolute; top: 8px; left: 0; width: 3px; height: 3px; background-color: #fff; border-radius: 4px;}
.site_noti .site_num  { display: block; margin: 10px 0 0 10px; font-weight: 300; color: #C8C8C8;}

/* footer */
footer                  { position: relative; padding: 40px 0;}
footer *                { font-size: 12px; color: #3E3E3E; line-height: 1.5; font-weight: 500;}
footer .footer_logo     { margin-bottom: 3px;}
footer .footer_copy     { margin-top: 5px;}
footer .footer_bar      { line-height: 20px; padding: 0 8px; vertical-align: top;}
footer .footer_privacy  { display: inline-block; margin-left: 10px; background-color: #C8C8C8; }
footer .footer_privacy a{ padding: 0 6px; font-size: 9px; }
footer .footer_right        { position: absolute; top: 20px; right: 0; text-align: left;}
footer .footer_right *      { letter-spacing: 0;}
footer .footer_right li     { display: inline-block; vertical-align: top;}
footer .footer_right li+li  { margin-left: 60px;}
footer .footer_right strong { display: block; font-weight: 700;}