/*190828 팝업 추가 :: 송정아*/
@import url(https://img.adinsu.co.kr/adinsu/mw/je/popup.css);
/*// 190828 팝업 추가 :: 송정아*/

/* main */
#main_wrap .mo_img{ display: none}
#main_wrap .con_bg{ overflow: hidden; background: #f3f3f5;}

#main_wrap{ width:100%}
#header{ position: fixed; top: 0; left: 0; width: 100%; height: 64px; background: #fff; z-index: 9; border-bottom: 1px solid #888888}
#header .logo{ float: left; width:187px; height:  34px; margin-top: 15px}
#header .btn_request{ float: right; font-size: 20px; color: #272f46; font-weight: 700; line-height: 26px; margin-top: 19px;letter-spacing: -0.05em;}
#header .btn_request .icon{ display: inline-block; width:31px; height: 27px; margin-right: 6px; float: left}

#footer{ overflow: hidden; background: #323232}
#footer .logo{ float: left; width: 187px; margin:13px 0 0 65px}
#footer .logo .txt{ display: block; float: right; font-size: 13px; color: #9f9f9f; margin-top: 5px; letter-spacing: -0.025em }
#footer .right_con{ float: left; margin-left: 78px}
#footer .right_con .btn_privacy_agree{ color: #a8a8a8}
#footer .right_con .btn_privacy_agree a{ font-size:16px; color: #a8a8a8; letter-spacing: -0.01em}
#footer .right_con .address{ font-weight: 300; color: #737373; font-size: 13px; letter-spacing: -0.01em; margin-top: 16px; line-height: 1.7}
#footer .right_con .address a{ font-weight: 300; color: #737373; font-size: 13px; letter-spacing: -0.01em;}
#footer .right_con .copy{ font-weight: 300; color: #737373; font-size: 11px; margin-top: 19px}

#main_wrap .content_layout_type2{ overflow: hidden; width:1200px; margin: 50px auto;}
#main_wrap .content_layout_type3{ overflow: hidden; width:1200px; margin: 50px auto 0;} /* 실시간 비교견적 신청현황 */
#main_wrap .content_layout_type4{ overflow: hidden; width:1200px; margin: 40px auto;}
.content_layout_type5{ overflow: hidden; width:1200px; margin: 0 auto;}

#main_wrap .menu_con{ overflow: hidden; background: #f3f3f5; width: 100%; z-index: 9}
#main_wrap .menu_con.on{ position: fixed; left: 0; top: 65px }

#main_wrap h3{ font-size: 30px; font-weight: 700; color: #000000; letter-spacing: -0.025em; line-height: 1.23}
#main_wrap h4{ font-size: 20px; font-weight: 500; color: #888888; margin-top: 20px; line-height: 1.2; letter-spacing: -0.025em}

#main_wrap .slider_con{ text-align: center; margin-top: 64px}
#main_wrap .slider_con .txt_con{position: absolute; width: 2000px; color: #FFFFFF; top:0; left:0; z-index: 1; margin-top: 120px}
#main_wrap .slider_img_con{ position: relative; vertical-align: top}
#main_wrap .slider_img_con h2{font-size: 72px; font-weight: 500; color: #fff; letter-spacing: -0.025em;}
#main_wrap .slider_img_con p{ font-size: 40px; color: #fff; letter-spacing: -0.025em; margin-top: 23px; line-height: 1.2}

/* 메인 슬라이더 */
#main_wrap .btn_prev{ position: absolute; top:50%; left: 0; margin-top: -31px; z-index:15;width:36px;height:61px;background: url('https://img.adinsu.co.kr/adinsu/mw/main/btn_layer_left_on.png') no-repeat top left;}
#main_wrap .btn_next{ position: absolute; top:50%; right: 0; margin-top: -31px; z-index:15;width:36px;height:61px;background: url('https://img.adinsu.co.kr/adinsu/mw/main/btn_layer_right_on.png') no-repeat top left;}
#main_wrap .ico_arrow{ overflow:hidden;font-size: 0; text-indent:-9999px}

#main_wrap .btn_prev.slick-disabled{background: url('https://img.adinsu.co.kr/adinsu/mw/main/btn_layer_left.png') no-repeat top left;}
#main_wrap .btn_next.slick-disabled{background: url('https://img.adinsu.co.kr/adinsu/mw/main/btn_layer_right.png') no-repeat top left;}

#main_wrap .list_menu{ overflow: hidden;}
#main_wrap .list_menu li{ float: left; width: 33.33%; text-align: center; background: #272f46; cursor: pointer}
#main_wrap .list_menu li a{ display:block; color: #fff; font-weight: 500; font-size: 20px; letter-spacing: -0.025em; padding:32px 0 35px; }
#main_wrap .list_menu li a .point{ display:inline-block; font-size: 33px; font-weight: 700; margin-top: 10px}
#main_wrap .list_menu li.internet{ background: #09cd8f url('https://img.adinsu.co.kr/adinsu/mw/main/ico_arr_01.png') no-repeat 89% center; background-size: 37px 37px}
#main_wrap .list_menu li.phone{background:#272f46 url('https://img.adinsu.co.kr/adinsu/mw/main/ico_arr_02.png') no-repeat 91% center; background-size: 37px 37px}

#main_wrap .list_menu li.on{background: #fff}
#main_wrap .list_menu li.on a{color: #000; padding:28px 0}
#main_wrap .list_menu li.on a .point{ display:inline-block; color: #eb2f00; background: #fff; border-bottom: 3px solid #e73200; padding-bottom: 8px}

#main_wrap .list_insure_type1{ overflow: hidden; margin: 30px auto 0; text-align: center}
#main_wrap .list_insure_type1 li{ display: inline-block; width: 80px; height: 26px; margin: 5px 4px; padding:8px 14px; background: #fff; border: 1px solid #e8e8e8}

#main_wrap .list_insure_type2_con{text-align:center; margin-top: 50px}
#main_wrap .list_insure_type2_con .list_insure_type2{display:inline-block; *display:inline; zoom:1; padding:1px 0 0 1px}
#main_wrap .list_insure_type2_con .list_insure_type2 li{float:left; margin:-1px 0 0 -1px; z-index:1; width: 240px; height: 200px; border: 1px solid #e8e8e8; box-sizing: border-box}
#main_wrap .list_insure_type2_con .list_insure_type2 li .logo{ display: inline-block; width: 150px; height: 50px; margin-top: 44px}
#main_wrap .list_insure_type2_con .list_insure_type2 li .btn_calc{ display: inline-block; width: 150px; height: 40px;; margin-top: 26px}
#main_wrap .list_insure_type2_con .list_insure_type2 li .btn_calc a{ display: inline-block; width: 150px; height: 40px; background: #272f46; font-weight: 500; font-size: 14px; line-height: 40px; color: #fff}
#main_wrap .list_insure_type2_con .desc{ font-size: 14px; color: #888888; letter-spacing: -0.025em; margin-top: 30px; line-height: 1.53}

#main_wrap .list_request{ overflow: hidden; margin-left: 10px; display: inline-block}
#main_wrap .list_request:first-child{margin-left: 0}
#main_wrap .list_request dt{ width: 280px}
#main_wrap .list_request dd{ width: 280px}

#main_wrap .list_direct{ overflow: hidden; margin:58px auto 18px}
#main_wrap .list_direct li{ display: inline-block; width: 210px; height: auto; padding: 15px 10px; text-align: center; margin:0 30px; vertical-align: top}
#main_wrap .list_direct li .num{ display: inline-block; font-family: 'Spoqa Han Sans', 'Sans-serif'; font-size: 40px; font-weight: 700; color: #eb2f01; border-bottom: 2px solid #eb3000; padding-bottom: 3px}
#main_wrap .list_direct li .icon{ margin-top: 22px}
#main_wrap .list_direct li .icon_mark{ margin-top: 5px}
#main_wrap .list_direct li .main_txt{ font-weight: 700; font-size: 22px; color: #333333; line-height: 1.5; margin-top: 26px; letter-spacing: -0.03em}
#main_wrap .list_direct li .sub_txt{ font-weight: 300; font-size: 16px; color: #888888; line-height: 1.5; letter-spacing: -0.025em; margin-top: 9px}

#main_wrap .list_guide_con{ margin:7px 50px 0px}
#main_wrap .list_guide_con .list_guide{ overflow: hidden;}
#main_wrap .list_guide_con .list_guide dt{ font-weight: 700; font-size: 16px; color: #000000; letter-spacing: -0.025em; background: url('https://img.adinsu.co.kr/adinsu/mw/main/icon_dot.png') left 6px no-repeat; padding-left: 12px; margin-top: 28px}
#main_wrap .list_guide_con .list_guide dt:first-child{ margin-top: 0}
#main_wrap .list_guide dd{ font-size: 13px; color: #888888; line-height: 1.384; letter-spacing: -0.025em; margin-top:14px}
#main_wrap .list_guide_con .desc{ display: inline-block; overflow: hidden; background: #fff; padding: 23px 57px 23px 50px; margin-top: 35px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
#main_wrap .list_guide_con .desc .tit{ display:inline-block; vertical-align:middle; font-weight: 700; font-size: 18px; color: #08cd8e; background: url('https://img.adinsu.co.kr/adinsu/mw/main/icon_desc.jpg') left center no-repeat; padding: 4px 0 4px 31px; letter-spacing: -0.025em}
#main_wrap .list_guide_con .desc .txt{ display:inline-block; font-size: 14px; color: #000000; vertical-align: middle; line-height: 1.2; margin-left: 19px; letter-spacing: -0.025em}


/* 레이어 */
#main_wrap .layerPop{ position: fixed; width:440px; height: auto; /*min-height: 480px;*/ top:50%; left: 50%; margin-top: -276px; margin-left: -219px; background: #fff; z-index: 99; border: 1px solid #000000;  box-sizing: border-box;}
#main_wrap .layerInfo .slide_content{ min-height: 400px; padding: 60px 40px 59px 47px;}
#main_wrap .layerInfo .slide_content .info_con{ overflow: hidden; width: 100%}
#main_wrap .layerPop .btn_close{ position: absolute; top: 16px; right:24px; width: 25px; height: 25px; z-index: 99}
#main_wrap .layerPop .btn_left_arrow{ display: inline-block;}
#main_wrap .layerPop .btn_right_arrow{ display: inline-block;}

#main_wrap .layerPop .insure_logo{ float: left; display: block; width: 150px; height: 50px }
#main_wrap .layerPop .tit{ font-weight: 700; font-size: 18px; color: #000000; letter-spacing: -0.025em; line-height: 1.3}
#main_wrap .layerPop .tit pre{ word-break:keep-all; white-space:pre-line}
#main_wrap .layerPop .Info_List{ overflow: hidden; margin-top: 15px; padding-bottom: 8px}
#main_wrap .layerPop .Info_List p{ font-weight: 300; font-size: 13px; color: #000000; letter-spacing: -0.025em; margin-bottom: 10px; line-height: 1.3}
#main_wrap .layerPop .Info_List p.BolD{ font-weight: 700;}
#main_wrap .layerPop .Info_List p .TexT01{ color: #ff6c00}
#main_wrap .layerPop .Info_List p .TexT02{ font-size: 12px; color: #3e3e3e;}
#main_wrap .layerPop .Info_List p .TexT03{ font-weight: 700; color: #00aaff}
#main_wrap .layerPop .auth{font-size:13px; color:#707070 !important}


#main_wrap .layerPop .btn_insurer{ float: right;margin-bottom: 22px;}
#main_wrap .layerPop .btn_insurer .inner{ display: inline-block;width:179px;height:48px;font-weight:700;font-size: 18px;line-height:48px;background-color:#eb3000;text-align:center;color:#fff; letter-spacing: -0.025em;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	-webkit-box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.15); 
	-moz-box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.15); 
	box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.15); }

#main_wrap .layerPop_bg{  position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 98; background-color: #000; opacity: .5;}

#main_wrap .countNumber_con{ font-weight: 100;font-size: 60px; margin-top: 18px }
#main_wrap .countNumber{ font-family: 'Spoqa Han Sans'; font-weight: 700; color: #eb3000}

/* 전화상담 비교신청 */
#main_wrap .calc_form_con{ width: 860px; margin: 30px auto 0;}
#main_wrap .calc_form_con .calc_form{ overflow: hidden}

#main_wrap .form_agree_box{ text-align: center}
#main_wrap .detail_con1 .btn_consult_con{ overflow: hidden; width:385px; text-align: center; margin: 37px auto 0;margin-bottom: 40px;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	-webkit-box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.15); 
	-moz-box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.15); 
	box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.15);
}
#main_wrap .detail_con1 .btn_consult{ display: inline-block;width:100%;height:74px;font-weight:700;font-size: 24px;line-height:74px;background-color:#eb3000;text-align:center;color:#fff; }
#main_wrap .detail_con1 .desc{ text-align: left; width: 450px; letter-spacing: -0.05em; font-size: 13px; color: #888888; line-height: 1.53; margin:0 auto;}

#main_wrap .detail_con2 .btn_consult_con{ overflow: hidden; width:385px; text-align: center; margin: 70px 0 0 0;
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
	-webkit-box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.15); 
	-moz-box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.15); 
	box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.15);
}
#main_wrap .detail_con2 .btn_consult{ display: inline-block;width:100%;height:74px;font-weight:700;font-size: 24px;line-height:74px;background-color:#eb3000;text-align:center;color:#fff; }

#main_wrap .detail_con2 h3{ font-size: 40px; margin-top:135px}
#main_wrap .detail_con2 .left_con{ float: left; margin-left: 8.58%}
#main_wrap .detail_con2 .right_con{ float: right; width: 271px; height: 582px; margin: 0 10.25% 0 0}
#main_wrap .detail_con2 .slick-dots{ bottom: -82px}
#main_wrap .detail_con2 .slick-dots li{ width: 10px; height: 10px}
#main_wrap .detail_con2 .slick-dots li button{ width: 10px; height: 10px; background: #cfcfcf}
#main_wrap .detail_con2 .slick-dots li.slick-active button{ background: #979797}

#main_wrap .detail_con3{}

#main_wrap .prvy{position: relative; text-align: center; display: block; margin-top: 22px;}
#main_wrap .prvy label {cursor:pointer; font-size: 15px; color: #000000; letter-spacing: -0.025em; display:inline-block;}
#main_wrap .prvy label .txt{ vertical-align: middle;}
#main_wrap .prvy label .chk{display:inline-block; width:32px; height:32px; background:url(https://img.adinsu.co.kr/adinsu/mw/main/chk_rio.png) no-repeat left top; background-size:32px 64px; background-position:0px 0px; vertical-align: middle; margin-right: 8px}
#main_wrap .prvy label input[type=checkbox]{display:none;}
#main_wrap .prvy label input[type=checkbox]:checked + .chk{background-position:0px -32px;}
#main_wrap .prvy .prvy_view{ display: inline-block; margin-left: 10px; padding:6px 11px; color:#FFF; background: #c7c7c7; vertical-align: middle;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;}

#main_wrap .bubble {
	margin: 40px auto 50px;	position: relative;	width: 586px; padding: 40px 32px; background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.05); 
	-moz-box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.05); 
	box-shadow: 5px 9px 20px 0px rgba(37, 37, 37, 0.05); 
}

#main_wrap .bubble:after {	content: ''; position: absolute;border-style: solid;border-width: 0 27px 28px;border-color: #FFFFFF transparent;display: block;width: 0;z-index: 1;top: -28px;left: 50%;margin-left: -27px}

#main_wrap .bubble li{padding:0px; display:block; overflow: hidden}
#main_wrap .bubble li div{width: 100%; height: 19px; overflow: hidden; padding-bottom:0px; display:inline-block;}
#main_wrap .bubble li p{float: right; width: 50%; padding:8px 0}
#main_wrap .bubble li p:first-child{float: left;}
#main_wrap .bubble li p span{height: 20px; margin-right: 46px; font-size: 18px; color: #000000; display: inline-block; vertical-align: middle;}
#main_wrap .bubble li p .date{margin-right: 0px;}
#main_wrap .bubble li p .name{overflow: hidden;  text-align: left; word-break:break-all; width:51px}


#main_wrap .phone-ani{ position: absolute; top: 50px; left: 10px; width: 251px}
#main_wrap .phone_bg{ width:271px}


/* select */
#lyr_pop select {box-sizing:border-box; -webkit-appearance:none;display:inline-block;width:100%;color:#000;background: url(https://img.adinsu.co.kr/adinsu/mw/arrow_sel.png) no-repeat right 50%;background-size:16px auto; border:none; font-size: 14px;}

/* input */
#lyr_pop input, #lyr_pop input[type=text], #lyr_pop input[type=password], #lyr_pop input[type=date], #lyr_pop input[type=number], #lyr_pop input[type=tel], #lyr_pop textarea {display:inline-block;width:100%;padding:10px 5px;border:none;font-size:14px;line-height:20px;box-sizing:border-box;}
#lyr_pop input[type="checkbox"] {padding:5px;}

#lyr_pop input[type=checkbox] {-webkit-appearance:none; display:inline-block; width:20px; height:20px; background:url(https://img.adinsu.co.kr/adinsu/mw/chk_box.png) no-repeat left bottom; background-size:100% auto; outline:none; border:none; }
#lyr_pop input[type=checkbox]:checked,input[type=checkbox]:active { background-position:left top; outline:none;}

/* table */
#lyr_pop .tbl_inp{width: 100%; border:1px solid #e4e4e4; clear:both;}
#lyr_pop .tbl_inp table{width:100%;}
#lyr_pop .tbl_inp th,td {font-size:14px; border-top:1px solid #e4e4e4; letter-spacing:-0.02em; vertical-align: middle;}
#lyr_pop .tbl_inp tr:first-child th, .tbl_inp tr:first-child td {border-top:none;}
#lyr_pop .tbl_inp th {padding:15px 3px 15px 10px; text-align: left;}
#lyr_pop .tbl_inp td {padding:0 3px;}
#lyr_pop .tbl_inp td label{vertical-align: middle; display: inline-block; cursor: pointer;}
#lyr_pop .tbl_inp .driver{display: block; text-align: center;}
#lyr_pop .tbl_inp .driver img{width:60%;}
#lyr_pop .tbl_inp .r_line{border-right: 1px solid #e4e4e4;}

/* align */
#lyr_pop .ta_l{text-align:left !important;}
#lyr_pop .ta_r{text-align:right !important;}

/*  padding */
.pdl_5{padding-left:5px !important;}
.pdl_10{padding-left:10px !important;}
.pdl_20{padding-left:20px !important;}
.pdt_5{padding-top:5px !important;}
.pdt_20{padding-top:20px !important;}
.pdb_5{padding-bottom:5px !important;}
.pd_15{padding:15px 0 !important;}
.pd_17{padding:17px 0 !important;}

.w100{width:100% !important;}

#lyr_pop input, #lyr_pop select, #lyr_pop img, #lyr_pop button, #lyr_pop textarea, #lyr_pop label{vertical-align:middle;}

#lyr_pop .bh_date{width: 100%; display: inline-block;}
#lyr_pop .inp_wrap{width: 45%; display: inline-block; float: left; vertical-align: top;}
#lyr_pop .tx_date{display:block; font-size:12px; padding-bottom: 5px; letter-spacing: -0.05em;}
#lyr_pop .inp_box{width: 100%; height: 50px; border:1px solid #e4e4e4; font-size: 14px;}
#lyr_pop .line{border:1px solid #e4e4e4 !important;}
#lyr_pop .term{display: inline-block; width: 10%; text-align:center; padding-top: 40px;}
#lyr_pop .hyphen{display: inline-block; width: 10%; text-align:center; padding-top: 15px;}

#lyr_pop .sel{display: inline-block; width: 100%;}
#lyr_pop .sel select{width:95%; opacity: 1}
#lyr_pop .sel select option{font-size:14px;}

/* layer_popup */
#lyr_pop{position: absolute; width:100%; background:#fff; top:0; left:0; z-index:200; overflow-x:hidden; font-size: 12px}
.lyr_cnt{position: relative;}
.lyr_cnt .lyr_top{padding: 20px;}
.lyr_cnt .lyr_top h1{font-size:24px; font-weight:bold; color:#272f46; line-height: 33px}
.lyr_cnt .lyr_mid{padding:20px;}

.lyr_tit{position:relative;padding:20px 0; text-align:center;}
.lyr_tit h2{font-size:16px; line-height: 16px; font-weight:bold;}
.lyr_tit .sub_tit{position:relative;font-size: 18px; font-weight: bold; padding-bottom: 10px;}

#lyr_pop .btn_closed{position: absolute; top:25px; right:20px;}
#lyr_pop .scroll{height: 280px; overflow: auto;}
#lyr_pop .btn_closed img{height:25px;}

#lyr_pop .view a{display: inline-block; background: #b6bec8; padding: 2px 5px; color: #fff; vertical-align: middle; line-height: 17px}

#lyr_pop .inquiry{width:100%; margin-bottom: 10px;}
#lyr_pop .inquiry a{display:inline-block; width: 49%; text-align: center; font-size: 15px; font-weight: bold;  height: 45px; line-height: 45px;}
#lyr_pop .inquiry .on{color: #eb3016; border-top: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4; border-right: 1px solid #e4e4e4;}
#lyr_pop .inquiry .off{border-bottom: 1px solid #e4e4e4; color: #999;}

#lyr_pop .btn_wrap{padding:0 20px; margin:0 auto 20px;}
#lyr_pop .btn_wrap .prev a{display:inline-block; background:#b6bec8; width:49%; padding:15px 0; color:#fff; text-align:center; font-weight:bold; font-size:16px;}
#lyr_pop .btn_wrap .prev_full a{display:inline-block; background:#b6bec8; width:100%; padding:15px 0; color:#fff; text-align:center; font-weight:bold; font-size:16px;}
#lyr_pop .btn_wrap .next a{display:inline-block; background:#eb3000; width:50%; padding:15px 0; color:#fff; text-align:center; font-weight:bold; font-size:16px;}
#lyr_pop .btn_wrap .next_full a{display:inline-block; background:#eb3000; width:100%; padding:15px 0; color:#fff; text-align:center; font-weight:bold; font-size:16px;}

#lyr_pop .privacy{padding:10px 0;}
#lyr_pop .privacy label{font-size: 12px; margin-right: 5px; letter-spacing: -1px}

#lyr_pop .sub_info{line-height: 18px; font-size: 14px;}
#lyr_pop .sub_info_1{display: inline-block; line-height: 20px; background: url(https://img.adinsu.co.kr/adinsu/mw/dot.png) 0 8px no-repeat; background-size: 5px; padding-left: 12px; font-size: 16px; font-weight: bold;}
#lyr_pop .sub_info em{display:block; padding-top: 5px; line-height: 14px;}

/* mobile */
@media all and (max-width:1200px) {
	.content_layout_type5{ width: 100%}
	#main_wrap .content_layout_type2{ width: 100%}
	#main_wrap .content_layout_type3{ width: 100%}
	#main_wrap .content_layout_type4{ width: 100%}
	
	#header .mo_inner{ margin: 0 5.33% }
	
	#main_wrap .list_direct{ width: 880px}
	
	#main_wrap .list_insure_type1{ text-align: left; width: 1062px}
	#main_wrap .list_insure_type2_con .list_insure_type2{ width: 986px}
	
	#main_wrap .list_guide_con .desc .txt{ display: block; margin: 20px 0 0;}
	
	#footer .logo{ float: none; margin:0 auto 50px;}
	#footer .right_con{ margin: 0 50px}
	#footer .right_con{ margin: 0 50px}
	#footer .right_con .address{ font-size: 12px}

	#main_wrap .detail_con2 .left_con{ text-align: center; float: none; margin:0}
	#main_wrap .detail_con2 .right_con{ text-align: center; float: none; margin:40px auto 0;}
	
	#main_wrap .detail_con2 .btn_consult_con{ margin: 37px auto 0}
	#main_wrap .detail_con2 h3{ margin-top:0}

}
@media all and (max-width:1062px) {
	#main_wrap .list_insure_type1{ text-align: left; width: 944px}
}
@media all and (max-width:995px) {
	#main_wrap .list_insure_type2_con .list_insure_type2{ width: 592px}
	#main_wrap .list_insure_type2_con .list_insure_type2 li{ width: 50%}
}
@media all and (max-width:944px) {
	#main_wrap .list_insure_type1{ width: 826px}
	#main_wrap .list_insure_type1 li{ float: left; }
}
@media all and (max-width:826px) {
	#main_wrap .list_insure_type1{ width: 590px}
}
@media all and (max-width:880px) {
	#main_wrap .list_direct{ width: auto; text-align: center}
	#main_wrap .list_insure_type2_con .list_insure_type2 li{ width: 50%}
}

@media all and (max-width:768px) {
	#main_wrap .pc_img{display:none}
	#main_wrap .mo_img{display:block}
	
	#main_wrap h3{ font-size: 24px}
	#main_wrap h4{ font-size: 16px}
	
    #main_wrap{min-width:320px;}
	#header .logo{ width: 142px; height: 26px; margin-top: 19px}
	
    .content_layout_type5{min-width:320px;}
    #main_wrap .content_layout_type2{min-width:320px; margin: 35px auto 30px}
    #main_wrap .content_layout_type3{min-width:320px; margin: 35px auto 0}
    #main_wrap .content_layout_type4{min-width:320px; margin: 40px auto 30px}
	
	#main_wrap .mo_inner{margin: 0 5.33%}
	
	#main_wrap .slider_con .txt_con{ width: 100%; margin-top:5vw}
	#main_wrap .slider_img_con h2{ font-size: 48px; font-size: 8vw; line-height: 1.083}
	#main_wrap .slider_img_con p{ font-size: 24px; font-size: 5.55vw; margin-top: 4.72vw}
	
	#main_wrap .slick-dots{ bottom:70px; bottom: 5vw}
	
	#main_wrap .calc_form_con{width: 100%}
	#main_wrap .form dl{ width: 100%; margin-left: 0}
	#main_wrap .form .name, .form .phone, .form .place{ width: 100%}
	#main_wrap .prvy {text-align: left}
	
	#main_wrap .list_menu li a{ font-size: 14px; line-height: 1.2; padding: 10px 0 14px}
	#main_wrap .list_menu li a .point{ font-size: 18px; margin-top:0;}
	
	#main_wrap .list_menu li.internet{ background: #09cd8f}
	#main_wrap .list_menu li.phone{background:#272f46}
	#main_wrap .list_menu li.on{background: #fff;}
	#main_wrap .list_menu li.on a{ padding:9px 0}
	#main_wrap .list_menu li.on a .point{ padding-bottom: 4px}
	
	#main_wrap .list_insure_type1{ margin: 30px auto; width: 312px}
	#main_wrap .list_insure_type1 li{ padding:13px 7px}
	
	#main_wrap .detail_con1 .desc{ text-align: left; width: 100%}
	#main_wrap .detail_con1 .btn_consult_con{ width: 100%}
	
	#main_wrap .list_insure_type2_con .list_insure_type2{ width: 395px}
	#main_wrap .list_insure_type2_con .desc{ text-align: left; width: 100%}
	
	#main_wrap .list_guide_con{ margin:0}
	#main_wrap .list_guide_con .desc{ margin-top: 20px; padding: 15px}
	
	#main_wrap .bubble{ width: 100%; padding: 20px 0; margin: 40px auto 30px}
	#main_wrap .bubble li p{ width: 100%; padding: 5px 0}
	#main_wrap .bubble li p span{ font-size: 14px}
	#main_wrap .bubble li p .name{width:40px}
	
	#main_wrap .countNumber_con{ font-size: 44px}
	
	#main_wrap .detail_con2 h3{ font-size: 24px}
	#main_wrap .detail_con2 h4{ font-size: 16px}
	#main_wrap .detail_con2 .btn_consult_con{ margin-top:28px}
	
	#footer .right_con{ margin: 0}
	
	#main_wrap .detail_con2 .right_con{ width:192px; height:444px}
	#main_wrap .phone-ani{width:176px; top:35px; left:7px}
	#main_wrap .phone_bg{ width:190px}
	
	#header .btn_request{ font-size: 16px; line-height: 21px}
	#header .btn_request .icon{ width:25px}
	
	.single-item .slick-dots li{width: 12px; height: 12px; margin:0 3px}
	/*.single-item .slick-dots li button{width: 12px; height: 12px}*/
	
	.layerPop_con::-webkit-scrollbar { width: 7px}
	.layerPop_con::-webkit-scrollbar-thumb { background: #a9a9a9; }
	
	.pc_scrollDown{ display: none;}

	#main_wrap .list_insure_type2_con .list_insure_type2 li{ width: 50%}
}

@media all and (max-width:480px) {
	
	#main_wrap .layerPop{ width: 89.33%; left:5.33%; margin-left: 0}
	#main_wrap .layerPop .insure_logo{ float: none; padding-bottom:10px}
	#main_wrap .layerPop .btn_insurer{ float: none; display: block}
	#main_wrap .layerInfo .slide_content{ padding:30px}
	
	#main_wrap .list_insure_type2_con .list_insure_type2{ width: 100%}
	#main_wrap .list_insure_type2_con .list_insure_type2 li{ width: 50%}
	
	#main_wrap .detail_con2 .btn_consult_con{ width: 100%}
}