@charset "utf-8";

/*
- theme setting -
1.메리츠화재		BB
2.한화손해보험		BD
3.DB손해보험		BF
4.현대해상전문센터	BH
5.흥국화재		    BJ
6.MG손해보험		BL
7.동양생명		    BN
8.KB 손해보험		BP
9.흥국생명		    BR
10.농협손해보험	    BT
*/


.sitecode-hover3    { border:1px solid #222; color:#222;}

.sitecode-BB .sitecode-color,
.sitecode-BB .sitecode-colorhover:hover{ color: #EF3B24 !important;}
.sitecode-BB .sitecode-border 		   { border-color: #EF3B24 !important;}
.sitecode-BB .sitecode-bg     		   { background-color: #EF3B24 !important;}
/* .sitecode-BB .sitecode-bg2     		   { background-color: #EF3B24 !important;} */
.sitecode-BB .sitecode-bg2::before	   { background-color: #EF3B24 !important;}
.sitecode-BB .sitecode-hover1 		   { border: 1px solid #EF3B24;color:#EF3B24;}
.sitecode-BB .sitecode-hover1:hover    { background:#EF3B24; border: 1px solid #EF3B24;color:#fff;}
.sitecode-BB .sitecode-hover2 		   { background:#EF3B24; color:#fff;}
.sitecode-BB .sitecode-hover2:hover    { background:#000;}
.sitecode-BB .sitecode-hover3:hover    { border:1px solid #EF3B24; background-color: #EF3B24; color:#fff;}
.sitecode-BB .header__info-tel::before { background-color: #EF3B24;}
.sitecode-BB .sitecode-st1 		       { background-color: #EF3B24; border-color: #EF3B24;}
.sitecode-BB .sitecode-st2 		       { border: 1px solid #EF3B24; color:#EF3B24;}

.sitecode-BD .sitecode-color,
.sitecode-BD .sitecode-colorhover:hover { color: #fb8c50 !important;}
.sitecode-BD .sitecode-border 			{ border-color: #fb8c50 !important;}
.sitecode-BD .sitecode-bg     			{ background-color: #fb8c50 !important;}
/* .sitecode-BD .sitecode-bg2     			{ background-color: #fb8c50 !important;} */
.sitecode-BD .sitecode-bg2::before		{ background-color: #fb8c50 !important;}
.sitecode-BD .sitecode-hover1 			{ border: 1px solid #fb8c50;color:#fb8c50;}
.sitecode-BD .sitecode-hover1:hover 	{ background:#fb8c50; border: 1px solid #fb8c50;color:#fff;}
.sitecode-BD .sitecode-hover2 			{ background:#fb8c50; color:#fff;}
.sitecode-BD .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BD .sitecode-hover3:hover     { border:1px solid #fb8c50; background-color: #fb8c50; color:#fff;}
.sitecode-BD .header__info-tel::before  { background-color: #fb8c50;}
.sitecode-BD .sitecode-st1 		        { background-color: #fb8c50; border-color: #fb8c50;}
.sitecode-BD .sitecode-st2 		        { border: 1px solid #fb8c50; color:#fb8c50;}

.sitecode-BF .sitecode-color,
.sitecode-BF .sitecode-colorhover:hover { color: #1C9D53 !important;}
.sitecode-BF .sitecode-border 			{ border-color: #1C9D53 !important;}
.sitecode-BF .sitecode-bg     			{ background-color:#1C9D53;}
/* .sitecode-BF .sitecode-bg2     			{ background-color:#1C9D53;} */
.sitecode-BF .sitecode-bg2::before  		{ background-color:#1C9D53 !important;}
.sitecode-BF .sitecode-hover1	    	{ border: 1px solid #1C9D53; color:#1C9D53;}
.sitecode-BF .sitecode-hover1:hover 	{ background:#1C9D53; border: 1px solid #1C9D53;color:#fff;}
.sitecode-BF .sitecode-hover2	    	{ background:#1C9D53; color:#fff;}
.sitecode-BF .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BF .sitecode-hover3:hover     { border:1px solid #1C9D53; background-color: #1C9D53; color:#fff;}
.sitecode-BF .header__info-tel::before  { background-color: #1C9D53;}
.sitecode-BF .sitecode-st1 		        { background-color: #1C9D53; border-color: #1C9D53;}
.sitecode-BF .sitecode-st2 		        { border: 1px solid #1C9D53; color:#1C9D53;}

.sitecode-BH .sitecode-color,
.sitecode-BH .sitecode-colorhover:hover { color: #F18D00 !important;}
.sitecode-BH .sitecode-border 			{ border-color: #F18D00 !important;}
.sitecode-BH .sitecode-bg     			{ background-color:#F18D00;}
/* .sitecode-BH .sitecode-bg2     			{ background-color:#F18D00;} */
.sitecode-BH .sitecode-bg2::before		{ background-color:#F18D00 !important;}
.sitecode-BH .sitecode-hover1	    	{ border: 1px solid #F18D00; color:#F18D00;}
.sitecode-BH .sitecode-hover1:hover 	{ background:#F18D00; border: 1px solid #F18D00;color:#fff;}
.sitecode-BH .sitecode-hover2	    	{ background:#F18D00; color:#fff;}
.sitecode-BH .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BH .sitecode-hover3:hover     { border:1px solid #F18D00; background-color: #F18D00; color:#fff;}
.sitecode-BH .header__info-tel::before  { background-color: #F18D00;}
.sitecode-BH .sitecode-st1 		    	{ background-color: #F18D00; border-color: #F18D00;}
.sitecode-BH .sitecode-st2 		        { border: 1px solid #F18D00; color:#F18D00;}

.sitecode-BJ .sitecode-color,
.sitecode-BJ .sitecode-colorhover:hover { color: #fa5e99 !important;}
.sitecode-BJ .sitecode-border 			{ border-color: #fa5e99 !important;}
.sitecode-BJ .sitecode-bg     			{ background-color:#fa5e99;}
/* .sitecode-BJ .sitecode-bg2     			{ background-color:#fa5e99;} */
.sitecode-BJ .sitecode-bg2::before		{ background-color:#fa5e99 !important;}
.sitecode-BJ .sitecode-hover1	    	{ border: 1px solid #fa5e99; color:#fa5e99;}
.sitecode-BJ .sitecode-hover1:hover 	{ background:#fa5e99; border: 1px solid #fa5e99;color:#fff;}
.sitecode-BJ .sitecode-hover2	    	{ background:#fa5e99; color:#fff;}
.sitecode-BJ .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BJ .sitecode-hover3:hover     { border:1px solid #fa5e99; background-color: #fa5e99; color:#fff;}
.sitecode-BJ .header__info-tel::before  { background-color: #fa5e99;}
.sitecode-BJ .sitecode-st1 		    	{ background-color: #fa5e99; border-color: #fa5e99;}
.sitecode-BJ .sitecode-st2 		        { border: 1px solid #fa5e99; color:#fa5e99;}

.sitecode-BL .sitecode-color,
.sitecode-BL .sitecode-colorhover:hover { color: #0c98e1 !important;}
.sitecode-BL .sitecode-border 			{ border-color: #0c98e1 !important;}
.sitecode-BL .sitecode-bg     			{ background-color:#0c98e1;}
/* .sitecode-BL .sitecode-bg2     			{ background-color:#0c98e1;} */
.sitecode-BL .sitecode-bg2::before		{ background-color:#0c98e1 !important;}
.sitecode-BL .sitecode-hover1	    	{ border: 1px solid #0c98e1; color:#0c98e1;}
.sitecode-BL .sitecode-hover1:hover 	{ background:#0c98e1; border: 1px solid #0c98e1;color:#fff;}
.sitecode-BL .sitecode-hover2	    	{ background:#0c98e1; color:#fff;}
.sitecode-BL .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BL .sitecode-hover3:hover     { border:1px solid #0c98e1; background-color: #0c98e1; color:#fff;}
.sitecode-BL .header__info-tel::before  { background-color:#0c98e1;}
.sitecode-BL .sitecode-st1 		        { background-color: #0c98e1; border-color: #0c98e1;}
.sitecode-BL .sitecode-st2 		        { border: 1px solid #0c98e1; color:#0c98e1;}

.sitecode-BN .sitecode-color,
.sitecode-BN .sitecode-colorhover:hover { color: #00b4ff !important;}
.sitecode-BN .sitecode-border 			{ border-color: #00b4ff !important;}
.sitecode-BN .sitecode-bg     			{ background-color:#00b4ff;}
/* .sitecode-BN .sitecode-bg2     			{ background-color:#00b4ff;} */
.sitecode-BN .sitecode-bg2::before		{ background-color:#00b4ff !important;}
.sitecode-BN .sitecode-hover1	    	{ border: 1px solid #00b4ff; color:#00b4ff;}
.sitecode-BN .sitecode-hover1:hover 	{ background:#00b4ff; border: 1px solid #00b4ff;color:#fff;}
.sitecode-BN .sitecode-hover2	    	{ background:#00b4ff; color:#fff;}
.sitecode-BN .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BN .sitecode-hover3:hover     { border:1px solid #00b4ff; background-color: #00b4ff; color:#fff;}
.sitecode-BN .header__info-tel::before  { background-color: #00b4ff;}
.sitecode-BN .sitecode-st1 		    	{ background-color: #00b4ff; border-color: #00b4ff;}
.sitecode-BN .sitecode-st2 		        { border: 1px solid #00b4ff; color:#00b4ff;}

.sitecode-BP .sitecode-color,
.sitecode-BP .sitecode-colorhover:hover { color: #ffa900 !important;}
.sitecode-BP .sitecode-border 			{ border-color: #ffa900 !important;}
.sitecode-BP .sitecode-bg     			{ background-color:#ffa900;}
/* .sitecode-BP .sitecode-bg2     			{ background-color:#ffa900;} */
.sitecode-BP .sitecode-bg2::before		{ background-color:#ffa900 !important;}
.sitecode-BP .sitecode-hover1	    	{ border: 1px solid #ffa900; color:#ffa900;}
.sitecode-BP .sitecode-hover1:hover 	{ background:#ffa900; border: 1px solid #ffa900;color:#fff;}
.sitecode-BP .sitecode-hover2	    	{ background:#ffa900; color:#fff;}
.sitecode-BP .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BP .sitecode-hover3:hover     { border:1px solid #ffa900; background-color: #ffa900; color:#fff;}
.sitecode-BP .header__info-tel::before  { background-color: #ffa900;}
.sitecode-BP .sitecode-st1 		        { background-color: #ffa900; border-color: #ffa900;}
.sitecode-BP .sitecode-st2 		        { border: 1px solid #ffa900; color:#ffa900;}

.sitecode-BR .sitecode-color,
.sitecode-BR .sitecode-colorhover:hover { color: #6d4cb9 !important;}
.sitecode-BR .sitecode-border 			{ border-color: #6d4cb9 !important;}
.sitecode-BR .sitecode-bg     			{ background-color:#6d4cb9;}
/* .sitecode-BR .sitecode-bg2     			{ background-color:#6d4cb9;} */
.sitecode-BR .sitecode-bg2::before		{ background-color:#6d4cb9 !important;}
.sitecode-BR .sitecode-hover1	    	{ border: 1px solid #6d4cb9; color:#6d4cb9;}
.sitecode-BR .sitecode-hover1:hover 	{ background:#6d4cb9; border: 1px solid #6d4cb9;color:#fff;}
.sitecode-BR .sitecode-hover2	    	{ background:#6d4cb9; color:#fff;}
.sitecode-BR .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BR .sitecode-hover3:hover     { border:1px solid #6d4cb9; background-color: #6d4cb9; color:#fff;}
.sitecode-BR .header__info-tel::before  { background-color: #6d4cb9;}
.sitecode-BR .sitecode-st1 		    	{ background-color: #6d4cb9; border-color: #6d4cb9;}
.sitecode-BR .sitecode-st2 		        { border: 1px solid #6d4cb9; color:#6d4cb9;}

.sitecode-BT .sitecode-color,
.sitecode-BT .sitecode-colorhover:hover { color: #0095f0 !important;}
.sitecode-BT .sitecode-border 			{ border-color: #0095f0 !important;}
.sitecode-BT .sitecode-bg     			{ background-color:#0095f0;}
/* .sitecode-BT .sitecode-bg2     			{ background-color:#0095f0;} */
.sitecode-BT .sitecode-bg2::before		{ background-color:#0095f0 !important;}
.sitecode-BT .sitecode-hover1	    	{ border: 1px solid #0095f0; color:#0095f0;}
.sitecode-BT .sitecode-hover1:hover 	{ background:#0095f0; border: 1px solid #0095f0;color:#fff;}
.sitecode-BT .sitecode-hover2	    	{ background:#0095f0; color:#fff;}
.sitecode-BT .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BT .sitecode-hover3:hover     { border:1px solid #0095f0; background-color: #0095f0; color:#fff;}
.sitecode-BT .header__info-tel::before  { background-color: #0095f0;}
.sitecode-BT .sitecode-st1 		    	{ background-color: #0095f0; border-color: #0095f0;}
.sitecode-BT .sitecode-st2 		        { border: 1px solid #0095f0; color:#0095f0;}






/* 메리츠화재 BB ======================================================= */
.sitecode-BB .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBB.png);}
/* border */
.sitecode-BB .btn-arrow1::after,
.sitecode-BB .ui-tab li.is-on a,
.sitecode-BB .ui-paging .is-on,
.sitecode-BB .btn-red-line{border-color:#e02127!important;}

/* background-color */
.sitecode-BB .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BB .layer-float--red,
.sitecode-BB .section-detail__tab li.is-on,
.sitecode-BB .btn-red3,
.sitecode-BB .btn-red2,
.sitecode-BB .ui-paging .is-on,
.sitecode-BB .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BB .btn-red,
.sitecode-BB .main__live-msg--a .main__live-bx__txt{background-color:#f1484e!important;}

/* color */
.sitecode-BB .main__spot-calc .price,
.sitecode-BB .ui-phrase-info3,
.sitecode-BB .ui-alert__phrase2,
.sitecode-BB .ui-masthead__tit2 span,
.sitecode-BB .col-important,
.sitecode-BB .ui-tab li.is-on a,
.sitecode-BB .btn-red-line,
.sitecode-BB .suggest__htit_highlight,
.sitecode-BB .main__live-msg--a .main__live-categ span{color:#f1484e!important;}

/* input */
.sitecode-BB input:checked + .ui-chk::before { background-color: #f1484e;}
.sitecode-BB .ui-rdo input:checked + .ui-rdo { color: #f1484e;}




/* 한화손해보험 BD ======================================================= */
.sitecode-BD .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBD.png);}

/* border */
.sitecode-BD .btn-arrow1::after,
.sitecode-BD .ui-tab li.is-on a,
.sitecode-BD .ui-paging .is-on,
.sitecode-BD .btn-red-line{border-color:#f36910!important;}

/* background-color */
.sitecode-BD .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BD .layer-float--red,
.sitecode-BD .section-detail__tab li.is-on,
.sitecode-BD .btn-red3,
.sitecode-BD .btn-red2,
.sitecode-BD .ui-paging .is-on,
.sitecode-BD .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BD .main__live-msg--a .main__live-bx__txt{background-color:#ff8443!important;}

/* color */
.sitecode-BD .main__spot-calc .price,
.sitecode-BD .ui-phrase-info3,
.sitecode-BD .ui-alert__phrase2,
.sitecode-BD .ui-masthead__tit2 span,
.sitecode-BD .col-important,
.sitecode-BD .ui-tab li.is-on a,
.sitecode-BD .btn-red-line,
.sitecode-BD .suggest__htit_highlight,
.sitecode-BD .main__live-msg--a .main__live-categ span{color:#ff7d39!important;}

/* input */
.sitecode-BD input:checked + .ui-chk::before { background-color: #ff7d39;}
.sitecode-BD .ui-rdo input:checked + .ui-rdo { color: #ff7d39;}






/* dB손해보험 BF ======================================================= */
.sitecode-BF .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBF.png);}
.sitecode-BF .ui-product-categ{display: none;}
.sitecode-BF .ui-product-tag{display: none;}
.sitecode-BF .ui-product-summary{white-space: initial;text-overflow: initial;}
.sitecode-BF .ui-product-htit{margin-top: 10px;}
.sitecode-BF .ui-hash-tag{display: none;}
.sitecode-BF .ui-masthead .ui-masthead__categ{display: none}
.sitecode-BF .section-detail__tag{display: none;}

/* border */
.sitecode-BF .btn-arrow1::after,
.sitecode-BF .ui-tab li.is-on a,
.sitecode-BF .ui-paging .is-on,
.sitecode-BF .btn-red-line{border-color:#1C9D53!important;}

/* background-color */
.sitecode-BF .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BF .layer-float--red,
.sitecode-BF .section-detail__tab li.is-on,
.sitecode-BF .btn-red3,
.sitecode-BF .btn-red2,
.sitecode-BF .ui-paging .is-on,
.sitecode-BF .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BF .btn-red,
.sitecode-BF .main__live-msg--a .main__live-bx__txt{background-color:#1C9D53!important;}

/* color */
.sitecode-BF .main__spot-calc .price,
.sitecode-BF .ui-phrase-info3,
.sitecode-BF .ui-alert__phrase2,
.sitecode-BF .ui-masthead__tit2 span,
.sitecode-BF .col-important,
.sitecode-BF .ui-tab li.is-on a,
.sitecode-BF .btn-red-line,
.sitecode-BF .suggest__htit_highlight,
.sitecode-BF .main__live-msg--a .main__live-categ span{color:#1C9D53!important;}
.sitecode-BF .categ{color: #1C9D53}

/* input */
.sitecode-BF input:checked + .ui-chk::before { background-color: #1C9D53;}
.sitecode-BF .ui-rdo input:checked + .ui-rdo { color: #1C9D53;}










/* 현대해상전문센터 BH ======================================================= */
.sitecode-BH .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBH.png);}

/* border */
.sitecode-BH .btn-arrow1::after,
.sitecode-BH .ui-tab li.is-on a,
.sitecode-BH .ui-paging .is-on,
.sitecode-BH .btn-red-line{border-color:#F18D00 !important;}

/* background-color */
.sitecode-BH .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BH .layer-float--red,
.sitecode-BH .section-detail__tab li.is-on,
.sitecode-BH .btn-red3,
.sitecode-BH .btn-red2,
.sitecode-BH .ui-paging .is-on,
.sitecode-BH .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BH .btn-red,
.sitecode-BH .main__live-msg--a .main__live-bx__txt{background-color:#F18D00 !important;}

/* color */
.sitecode-BH .main__spot-calc .price,
.sitecode-BH .ui-phrase-info3,
.sitecode-BH .ui-alert__phrase2,
.sitecode-BH .ui-masthead__tit2 span,
.sitecode-BH .col-important,
.sitecode-BH .ui-tab li.is-on a,
.sitecode-BH .btn-red-line,
.sitecode-BH .suggest__htit_highlight,
.sitecode-BH .main__live-msg--a .main__live-categ span{color:#F18D00 !important;}

/* input */
.sitecode-BH input:checked + .ui-chk::before { background-color: #F18D00;}
.sitecode-BH .ui-rdo input:checked + .ui-rdo { color: #F18D00;}








/* 흥국화재 BJ ======================================================= */
.sitecode-BJ .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBJ.png);}

/* border */
.sitecode-BJ .btn-arrow1::after,
.sitecode-BJ .ui-tab li.is-on a,
.sitecode-BJ .ui-paging .is-on,
.sitecode-BJ .btn-red-line{border-color:#fa5e99!important;}

/* background-color */
.sitecode-BJ .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BJ .layer-float--red,
.sitecode-BJ .section-detail__tab li.is-on,
.sitecode-BJ .btn-red3,
.sitecode-BJ .btn-red2,
.sitecode-BJ .ui-paging .is-on,
.sitecode-BJ .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BJ .btn-red,
.sitecode-BJ .main__live-msg--a .main__live-bx__txt{background-color:#fa5e99!important;}

/* color */
.sitecode-BJ .main__spot-calc .price,
.sitecode-BJ .ui-phrase-info3,
.sitecode-BJ .ui-alert__phrase2,
.sitecode-BJ .ui-masthead__tit2 span,
.sitecode-BJ .col-important,
.sitecode-BJ .ui-tab li.is-on a,
.sitecode-BJ .btn-red-line,
.sitecode-BJ .suggest__htit_highlight,
.sitecode-BJ .main__live-msg--a .main__live-categ span{color:#fa5e99!important;}

/* input */
.sitecode-BJ input:checked + .ui-chk::before { background-color: #fa5e99;}
.sitecode-BJ .ui-rdo input:checked + .ui-rdo { color: #fa5e99;}







/* MG손해보험 BL ======================================================= */
.sitecode-BL .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBL.png);}
/* .sitecode-BL .main-spot  { background-image:url(//img.bohummall.co.kr/insur-template-mobile/main_spot_sitecodeBL.png);} */

/* border */
.sitecode-BL .btn-arrow1::after,
.sitecode-BL .ui-tab li.is-on a,
.sitecode-BL .ui-paging .is-on,
.sitecode-BL .btn-red-line{border-color:#0061bb!important;}

/* background-color */
.sitecode-BL .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BL .layer-float--red,
.sitecode-BL .section-detail__tab li.is-on,
.sitecode-BL .btn-red3,
.sitecode-BL .btn-red2,
.sitecode-BL .ui-paging .is-on,
.sitecode-BL .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BL .btn-red,
.sitecode-BL .main__live-msg--a .main__live-bx__txt{background-color:#0c98e1!important;}

/* color */
.sitecode-BL .main__spot-calc .price,
.sitecode-BL .ui-phrase-info3,
.sitecode-BL .ui-alert__phrase2,
.sitecode-BL .ui-masthead__tit2 span,
.sitecode-BL .col-important,
.sitecode-BL .ui-tab li.is-on a,
.sitecode-BL .btn-red-line,
.sitecode-BL .suggest__htit_highlight,
.sitecode-BL .main__live-msg--a .main__live-categ span{color:#0c98e1!important;}

/* input */
.sitecode-BL input:checked + .ui-chk::before { background-color: #0c98e1;}
.sitecode-BL .ui-rdo input:checked + .ui-rdo { color: #0c98e1;}







/* 동양생명 BN ======================================================= */
.sitecode-BN .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBN.png);}
.sitecode-BN .section-search .ui-form--type6 .btn-txt--color{display: none;}
.sitecode-BN .header-logo a .header-subtit  { display: none;}
.sitecode-BN .header-logo a .header-subtit2 { display: inline-block;}

/* border */
.sitecode-BN .btn-arrow1::after,
.sitecode-BN .ui-tab li.is-on a,
.sitecode-BN .ui-paging .is-on,
.sitecode-BN .btn-red-line{border-color:#0599d9!important;}

/* background-color */
.sitecode-BN .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BN .layer-float--red,
.sitecode-BN .section-detail__tab li.is-on,
.sitecode-BN .btn-red3,
.sitecode-BN .btn-red2,
.sitecode-BN .ui-paging .is-on,
.sitecode-BN .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BN .btn-red,
.sitecode-BN .main__live-msg--a .main__live-bx__txt{background-color:#00b4ff!important;}

/* color */
.sitecode-BN .main__spot-calc .price,
.sitecode-BN .ui-phrase-info3,
.sitecode-BN .ui-alert__phrase2,
.sitecode-BN .ui-masthead__tit2 span,
.sitecode-BN .col-important,
.sitecode-BN .ui-tab li.is-on a,
.sitecode-BN .btn-red-line,
.sitecode-BN .suggest__htit_highlight,
.sitecode-BN .main__live-msg--a .main__live-categ span{color:#00b4ff!important;}

/* input */
.sitecode-BN input:checked + .ui-chk::before { background-color: #00b4ff;}
.sitecode-BN .ui-rdo input:checked + .ui-rdo { color: #00b4ff;}







/* KB손해보험 BP ======================================================= */
.sitecode-BP .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBP.png);}

/* border */
.sitecode-BP .btn-arrow1::after,
.sitecode-BP .ui-tab li.is-on a,
.sitecode-BP .ui-paging .is-on,
.sitecode-BP .btn-red-line{border-color:#fcaf17!important;}

/* background-color */
.sitecode-BP .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BP .layer-float--red,
.sitecode-BP .section-detail__tab li.is-on,
.sitecode-BP .btn-red3,
.sitecode-BP .btn-red2,
.sitecode-BP .ui-paging .is-on,
.sitecode-BP .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BP .btn-red,
.sitecode-BP .main__live-msg--a .main__live-bx__txt{background-color:#5e4e3e!important;}

/* color */
.sitecode-BP .main__spot-calc .price,
.sitecode-BP .ui-phrase-info3,
.sitecode-BP .ui-alert__phrase2,
.sitecode-BP .ui-masthead__tit2 span,
.sitecode-BP .col-important,
.sitecode-BP .ui-tab li.is-on a,
.sitecode-BP .btn-red-line,
.sitecode-BP .suggest__htit_highlight,
.sitecode-BP .main__live-msg--a .main__live-categ span{color:#ffa900!important;}

/* input */
.sitecode-BP input:checked + .ui-chk::before { background-color: #ffa900;}
.sitecode-BP .ui-rdo input:checked + .ui-rdo { color: #ffa900;}







/* 흥국생명 BR ======================================================= */
.sitecode-BR .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBR.png);}
.sitecode-BR .header-logo a .header-subtit  { display: none;}
.sitecode-BR .header-logo a .header-subtit2 { display: inline-block;}

/* border */
.sitecode-BR .btn-arrow1::after,
.sitecode-BR .ui-tab li.is-on a,
.sitecode-BR .ui-paging .is-on,
.sitecode-BR .btn-red-line{border-color:#fa5e99!important;}

/* background-color */
.sitecode-BR .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BR .layer-float--red,
.sitecode-BR .section-detail__tab li.is-on,
.sitecode-BR .btn-red3,
.sitecode-BR .btn-red2,
.sitecode-BR .ui-paging .is-on,
.sitecode-BR .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BR .btn-red,
.sitecode-BR .main__live-msg--a .main__live-bx__txt{background-color:#fa5e99!important;}

/* color */
.sitecode-BR .main__spot-calc .price,
.sitecode-BR .ui-phrase-info3,
.sitecode-BR .ui-alert__phrase2,
.sitecode-BR .ui-masthead__tit2 span,
.sitecode-BR .col-important,
.sitecode-BR .ui-tab li.is-on a,
.sitecode-BR .btn-red-line,
.sitecode-BR .suggest__htit_highlight,
.sitecode-BR .main__live-msg--a .main__live-categ span{color:#fa5e99!important;}

/* input */
.sitecode-BR input:checked + .ui-chk::before { background-color: #fa5e99;}
.sitecode-BR .ui-rdo input:checked + .ui-rdo { color: #fa5e99;}








/* 농협손해보험 BT ======================================================= */
.sitecode-BT .main-head1 { background-image: url(//img.bohummall.co.kr/insur-template-mobile/bg_main_sitecodeBT.png);}

/* border */
.sitecode-BT .btn-arrow1::after,
.sitecode-BT .ui-tab li.is-on a,
.sitecode-BT .ui-paging .is-on,
.sitecode-BT .btn-red-line{border-color:#005bc3!important;}

/* background-color */
.sitecode-BT .main__live-msg--a .main__live-bx__txt:after,
.sitecode-BT .layer-float--red,
.sitecode-BT .section-detail__tab li.is-on,
.sitecode-BT .btn-red3,
.sitecode-BT .btn-red2,
.sitecode-BT .ui-paging .is-on,
.sitecode-BT .main-spot-slider__util .swiper-pagination-bullet-active,
.sitecode-BT .btn-red,
.sitecode-BT .main__live-msg--a .main__live-bx__txt{background-color:#0095f0!important;}

/* color */
.sitecode-BT .main__spot-calc .price,
.sitecode-BT .ui-phrase-info3,
.sitecode-BT .ui-alert__phrase2,
.sitecode-BT .ui-masthead__tit2 span,
.sitecode-BT .col-important,
.sitecode-BT .ui-tab li.is-on a,
.sitecode-BT .btn-red-line,
.sitecode-BT .suggest__htit_highlight,
.sitecode-BT .main__live-msg--a .main__live-categ span{color:#0c98e1!important;}

/* input */
.sitecode-BT input:checked + .ui-chk::before { background-color: #0c98e1;}
.sitecode-BT .ui-rdo input:checked + .ui-rdo { color: #0c98e1;}