@charset "utf-8";

/* webfont - Noto Sans KR */

/* lighter */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: local('../font/NotoSansKR-Light'), local('../font/NotoSansKR-Light'), local('../font/NotoSansKR-Light');
    src: url(../font/NotoSansKR-Light.eot);
    src: url(../font/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Light.woff2) format('woff2'),
    url(../font/NotoSansKR-Light.woff) format('woff'),
    url(../font/NotoSansKR-Light.otf) format('truetype');
}
/* regular */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: local('../font/NotoSansKR-Regular'), local('../font/NotoSansKR-Regular'), local('../font/NotoSansKR-Regular');
    src: url(../font/NotoSansKR-Regular.eot);
    src: url(../font/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Regular.woff2) format('woff2'),
    url(../font/NotoSansKR-Regular.woff) format('woff'),
    url(../font/NotoSansKR-Regular.otf) format('truetype');
}
/* medium */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: local('../font/NotoSansKR-Medium'), local('../font/NotoSansKR-Medium'), local('../font/NotoSansKR-Medium');
    src: url(../font/NotoSansKR-Medium.eot);
    src: url(../font/NotoSansKR-Medium.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Medium.woff2) format('woff2'),
    url(../font/NotoSansKR-Medium.woff) format('woff'),
    url(../font/NotoSansKR-Medium.otf) format('truetype');
}
/* bold */
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: local('../font/NotoSansKR-Bold'), local('../font/NotoSansKR-Bold'), local('../font/NotoSansKR-Bold');
    src: url(../font/NotoSansKR-Bold.eot);
    src: url(../font/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKR-Bold.woff2) format('woff2'),
    url(../font/NotoSansKR-Bold.woff) format('woff'),
    url(../font/NotoSansKR-Bold.otf) format('truetype');
}

/* webfont - Roboto */

/* lighter */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('../font/Roboto-Light'), local('../font/Roboto-Light'), local('../font/Roboto-Light');
    src: url(../font/Roboto-Light.eot);
    src: url(../font/Roboto-Light.eot?#iefix) format('embedded-opentype'),
    url(../font/Roboto-Light.woff2) format('woff2'),
    url(../font/Roboto-Light.woff) format('woff'),
    url(../font/Roboto-Light.ttf) format('truetype');
}
/* regular */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('../font/Roboto-Regular'), local('../font/Roboto-Regular'), local('../font/Roboto-Regular');
    src: url(../font/Roboto-Regular.eot);
    src: url(../font/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
    url(../font/Roboto-Regular.woff2) format('woff2'),
    url(../font/Roboto-Regular.woff) format('woff'),
    url(../font/Roboto-Regular.ttf) format('truetype');
}
/* medium */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('../font/Roboto-Medium'), local('../font/Roboto-Medium'), local('../font/Roboto-Medium');
    src: url(../font/Roboto-Medium.eot);
    src: url(../font/Roboto-Medium.eot?#iefix) format('embedded-opentype'),
    url(../font/Roboto-Medium.woff2) format('woff2'),
    url(../font/Roboto-Medium.woff) format('woff'),
    url(../font/Roboto-Medium.otf) format('truetype');
}
/* bold */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('../font/Roboto-Bold'), local('../font/Roboto-Bold'), local('../font/Roboto-Bold');
    src: url(../font/Roboto-Bold.eot);
    src: url(../font/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
    url(../font/Roboto-Bold.woff2) format('woff2'),
    url(../font/Roboto-Bold.woff) format('woff'),
    url(../font/Roboto-Bold.ttf) format('truetype');
}

/* icon font */
@font-face {
    font-family: 'icorich';
    font-style: normal;
    font-weight: 500;
    src: local('../font/ico_rich'), local('../font/ico_rich'), local('../font/ico_rich');
    src: url(../font/ico_rich.eot);
    src: url(../font/ico_rich.eot?#iefix) format('embedded-opentype'),
    url(../font/ico_rich.woff) format('woff'),
    url(../font/ico_rich.otf) format('truetype');
}



/* Spoqa Han Sans Neo */
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 700;
    src: local('../font/SpoqaHanSansNeo-Bold'), local('../font/SpoqaHanSansNeo-Bold'), local('../font/SpoqaHanSansNeo-Bold');
    src: url(../font/SpoqaHanSansNeo-Bold.eot);
    src: url(../font/SpoqaHanSansNeo-Bold.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Bold.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Bold.otf) format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 600;
    src: local('../font/SpoqaHanSansNeo-Medium'), local('../font/SpoqaHanSansNeo-Medium'), local('../font/SpoqaHanSansNeo-Medium');
    src: url(../font/SpoqaHanSansNeo-Medium.eot);
    src: url(../font/SpoqaHanSansNeo-Medium.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Medium.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Medium.otf) format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 500;
    src: local('../font/SpoqaHanSansNeo-Regular'), local('../font/SpoqaHanSansNeo-Regular'), local('../font/SpoqaHanSansNeo-Regular');
    src: url(../font/SpoqaHanSansNeo-Regular.eot);
    src: url(../font/SpoqaHanSansNeo-Regular.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Regular.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Regular.otf) format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 300;
    src: local('../font/SpoqaHanSansNeo-Light'), local('../font/SpoqaHanSansNeo-Light'), local('../font/SpoqaHanSansNeo-Light');
    src: url(../font/SpoqaHanSansNeo-Light.eot);
    src: url(../font/SpoqaHanSansNeo-Light.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Light.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Light.otf) format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 100;
    src: local('../font/SpoqaHanSansNeo-Thin'), local('../font/SpoqaHanSansNeo-Thin'), local('../font/SpoqaHanSansNeo-Thin');
    src: url(../font/SpoqaHanSansNeo-Thin.eot);
    src: url(../font/SpoqaHanSansNeo-Thin.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Thin.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Thin.otf) format('truetype');
}