.ng-slide-left { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.ng-slide-left.ng-enter,
.ng-slide-left.ng-leave { -webkit-transition: all 400ms ease; transition: all 400ms ease; }
.ng-slide-left.ng-enter { left: 100%; }
.ng-slide-left.ng-enter-active { left: 0; }
.ng-slide-left.ng-leave { left: 0; }
.ng-slide-left.ng-leave-active { left: -100%; }

.ng-slide-right { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.ng-slide-right.ng-enter,
.ng-slide-right.ng-leave { -webkit-transition: all 400ms ease; transition: all 400ms ease; }
.ng-slide-right.ng-enter { left: -100%; }
.ng-slide-right.ng-enter-active { left: 0; }
.ng-slide-right.ng-leave { left: 0; }
.ng-slide-right.ng-leave-active { left: 100%; }

.ng-slide-down { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ng-slide-down.ng-enter,
.ng-slide-down.ng-leave { -webkit-transition: all 400ms ease; transition: all 400ms ease; }
.ng-slide-down.ng-enter { top: -100%; }
.ng-slide-down.ng-enter-active { top: 0; }
.ng-slide-down.ng-leave { top: 0; }
.ng-slide-down.ng-leave-active { top: 100%; }

.ng-slide-up { position: absolute; top: 0; left: 0; right: 0; height: 100%; }
.ng-slide-up.ng-enter,
.ng-slide-up.ng-leave { -webkit-transition: all 400ms ease; transition: all 400ms ease; }
.ng-slide-up.ng-enter { top: 100%; }
.ng-slide-up.ng-enter-active { top: 0; }
.ng-slide-up.ng-leave { top: 0; }
.ng-slide-up.ng-leave-active { top: -100%; }

.ng-pop { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.ng-pop.ng-enter,
.ng-pop.ng-leave { -webkit-transition: all 400ms ease; transition: all 400ms ease; }
.ng-pop.ng-enter { -webkit-transform: scale(0); transform: scale(0); }
.ng-pop.ng-enter-active,
.ng-pop.ng-leave,
.ng-pop.ng-leave-active { -webkit-transform: scale(1); transform: scale(1); }
.ng-pop.ng-leave-active {}

.ng-fade { position: absolute; top: 0; left: 0; right: 0; height: 100%; opacity: 1; }
.ng-fade.ng-enter,
.ng-fade.ng-leave { -webkit-transition: all 400ms ease; transition: all 400ms ease; }
.ng-fade.ng-enter { opacity: 0; }
.ng-fade.ng-enter-active { opacity: 1; }
.ng-fade.ng-leave { opacity: 1; }
.ng-fade.ng-leave-active { opacity: 0; }

.ng-rotate { -webkit-animation-duration: 1s; }
.ng-leave.ng-rotate { -webkit-animation-name: rotate-leave; }
.ng-enter.ng-rotate { -webkit-animation-name: rotate-enter; }
@-webkit-keyframes rotate-leave {
    0% { -webkit-transform-origin: center center; -webkit-transform: rotate(0); opacity: 1; }
    100% { -webkit-transform-origin: center center; -webkit-transform: rotate(-180deg); opacity: 0; }
}
@-webkit-keyframes rotate-enter {
    0% { -webkit-transform-origin: center center; -webkit-transform: rotate(-180deg); opacity: 0; }
    100% { -webkit-transform-origin: center center; -webkit-transform: rotate(-360deg); opacity: 1; }
}

.ng-slide-pop { left: 0; top: 0; width: 100%; height: 100%; }
.ng-slide-pop.ng-enter,
.ng-slide-pop.ng-leave { -webkit-transition: all 400ms linear; transition: all 400ms linear; }
.ng-slide-pop.ng-enter { opacity: 0; -webkit-transform: scale(.5); transform: scale(.5); }
.ng-slide-pop.ng-enter-active { opacity: 1; -webkit-transform: scale(1); transform: scale(1); }
.ng-slide-pop.ng-leave { left: 0; opacity: .5; }
.ng-slide-pop.ng-leave-active { left: -100%; opacity: 0; }