.fire_data{padding-bottom: 300px;}

.fire_data .data_cont .symbol_tit {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 28px;
}

.fire_data .data_cont .symbol {
  margin: 44px 0 75px 0;
}

.fire_data .data_cont .symbol .symbol_con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fire_data .data_cont .symbol .symbol_con .symbol_left {
  width: 462px;
  padding: 7px 49px 0 113px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fire_data .data_cont .symbol .symbol_con .symbol_left img {
  max-width: 100%;
}

.fire_data .data_cont .symbol .symbol_con .symbol_right {
  width: calc( 100% - 462px);
}

.fire_data .data_cont .symbol .symbol_con .symbol_right .text_top {
  font-size: 3rem;
  line-height: 3.8rem;
  font-weight: 700;
  margin-bottom: 11px;
}

.fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom {
  font-size: 1.6rem;
  line-height: 2.9rem;
  font-weight: 500;
}

.fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom li {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom li:after {
  content: '／';
  position: absolute;
  right: 0;
  font-size: 16px;
}

.fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom li:nth-of-type(3):after, .fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom li:nth-of-type(5):after, .fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom li:nth-of-type(7):after {
  display: none;
}

.fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom .br1 {
  display: block;
}

.fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom span {
  color: #bf1219;
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .fire_data .data_cont .symbol .symbol_con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_left {
    width: 300px;
    padding: 10px 0 0 10px;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_left img {
    width: 80%;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right {
    width: calc( 100% - 300px);
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_top {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_top br {
    display: none;
  }

  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom li {
    display: block;
    padding-right: 0;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom li:after {
    display: none;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom .br1 {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .fire_data .data_cont .symbol .symbol_con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_left {
    width: 100%;
    text-align: center;
    padding: 0 0 40px 0;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_left img {
    width: 45%;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right {
    width: 100%;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_top {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_top br {
    display: none;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom {
    line-height: 2.6rem;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom li {
    display: block;
    padding-right: 0;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom li:after {
    display: none;
  }
  .fire_data .data_cont .symbol .symbol_con .symbol_right .text_bottom .br1 {
    display: none;
  }
}

.fire_data .data_cont .slogan {
  margin-bottom: 80px;
}

.fire_data .data_cont .slogan img {
  max-width: 100%;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fire_data .data_cont .fire_lank {
  margin-bottom: 80px;
}

.fire_data .data_cont .fire_lank ul li {
  width: calc( (100% - 24px)/4);
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 19px 0;
  text-align: center;
  vertical-align: middle;
}

.fire_data .data_cont .fire_lank ul li:nth-child(4n) {
  margin-right: 0;
}

.fire_data .data_cont .fire_lank ul li img {
  max-width: 100%;
  vertical-align: middle;
}

.fire_data .data_cont .fire_lank ul li p {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 20px;
  vertical-align: middle;
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .fire_data .data_cont .fire_lank ul li img {
    width: 28px;
  }
  .fire_data .data_cont .fire_lank ul li p {
    font-size: 1.5rem;
    margin-left: 5px;
  }
  .fire_data .data_cont .fire_lank ul li.fire_lank4 img{width: 109px; vertical-align: middle;}
  .fire_data .data_cont .fire_lank ul li.fire_lank3 img{width: 85px; vertical-align: middle;}
  .fire_data .data_cont .fire_lank ul li.fire_lank2 img{width: 62px; vertical-align: middle;}
  .fire_data .data_cont .fire_lank ul li.fire_lank1 img{width: 41px; vertical-align: middle;}
}

@media screen and (max-width: 800px) {
  .fire_data .data_cont .fire_lank ul li {
    width: 100%;
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
  }
  .fire_data .data_cont .fire_lank ul li img {
    width: 30px;
  }
  .fire_data .data_cont .fire_lank ul li.fire_lank4 img{width: 107px; vertical-align: middle;}
  .fire_data .data_cont .fire_lank ul li.fire_lank3 img{width: 85px; vertical-align: middle;}
  .fire_data .data_cont .fire_lank ul li.fire_lank2 img{width: 63px; vertical-align: middle;}
  .fire_data .data_cont .fire_lank ul li.fire_lank1 img{width: 41px; vertical-align: middle;}




  .fire_data .data_cont .fire_lank ul li:nth-child(2n) {
    margin-right: 0;
  }
  .fire_data .data_cont .fire_lank ul li p {
    font-size: 1.4rem;
    margin-left: 7px;
  }
}

.fire_data .data_cont .fire_song {
  text-align: center;
  margin-bottom: 200px;
}

.fire_data .data_cont .fire_song .song_tit {
  font-size: 2.8rem;
  font-weight: 700;
  background: url(/school/common/img/2020090122051791055.png) no-repeat center;
  background-size: contain;
  width: 324px;
  height: 156px;
  margin: 40px auto;
}

.fire_data .data_cont .fire_song .song_tit p {
  padding-top: 40px;
}

.fire_data .data_cont .fire_song img {
  max-width: 100%;
}

@media screen and (max-width: 800px) {
  .fire_data .data_cont .fire_song .song_tit {
    font-size: 2.4rem;
    width: 220px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .fire_data .data_cont .symbol_tit {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
  .fire_data .data_cont .symbol_tit {
    font-size: 1.6rem;
    line-height: 1.7rem;
    margin-bottom: 15px;
  }
  .fire_data .data_cont .slogan {
    margin-bottom: 50px;
  }
  .fire_data .data_cont .symbol {
    margin: 20px 0 50px 0;
  }
}