body{overflow-x: hidden;}

#wrap.wrap_intro .gnb .depth1 > li:nth-of-type(1) > a,
#wrap.wrap_train .gnb .depth1 > li:nth-of-type(2) > a,
#wrap.wrap_edu .gnb .depth1 > li:nth-of-type(3) > a,
#wrap.wrap_data2 .gnb .depth1 > li:nth-of-type(4) > a,
#wrap.wrap_zone .gnb .depth1 > li:nth-of-type(5) > a
{color: #d90008 ;}
#wrap.wrap_intro .gnb .depth1 > li:nth-of-type(1) > a:after,
#wrap.wrap_train .gnb .depth1 > li:nth-of-type(2) > a:after,
#wrap.wrap_edu .gnb .depth1 > li:nth-of-type(3) > a:after,
#wrap.wrap_data2 .gnb .depth1 > li:nth-of-type(4) > a:after,
#wrap.wrap_zone .gnb .depth1 > li:nth-of-type(5) > a:after{
    content: ''; position: absolute; bottom: 0; left: 0;
    width: 100%; height: 5px; background-color: #d90008 ;
}

.school .header{border-top:3px solid #d90008}
.school .gnb{width:650px}
.school .gnb .depth1 > li:hover > a, .school .gnb .depth1 > li.active>a{color:#d90008}
.school .gnb .depth1 > li:hover > a:after, .school .gnb .depth1 > li.active > a:after{background-color:#d90008}
.school .gnb .depth1 > li > .depth1_menu{background-color:rgba(217,0,0,.9)}
.school .gnb_all .gnb_all_depth1 > li{width:calc(100% / 5)}
.school .gnb_all_mb .gnb_allmb_depth1 > li > a.active{color:#d90008}
.school .gnb_all_mb .gnb_allmb_depth1 > li > a.active:after{border-color:#d90008 #d90008 transparent transparent}
.school .nav_bg{background-color:rgba(217,0,0,.9)}
/* .main_header .gnb .depth1 > li:hover > a{color:#d90008} */
.school h1.logo{position:absolute;top:50%;left:0;z-index:200;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:260px;height:40px;background:url(../img/2020100811560295772.png) no-repeat 0}
.school h1.logo a{display:block;height:100%}
.school .gnb_all_mb .gnb_allmb_depth1 > li.on > a{color:#d90008}
.school .gnb_all_mb .gnb_allmb_depth1 > li.on > a:after{border-color:#d90008 #d90008 transparent transparent}
.school .main_header h1.logo{background:url(../img/2020100812001440681.png) no-repeat}

@media screen and (min-width:801px) and (max-width:1280px){
    .school h1.logo{width:185px;height:27px;background:url(../img/2020100811574497094.png) no-repeat 0}
    .school .main_header h1.logo{width:185px;height:27px;background:url(../img/2020100812002214184.png) no-repeat}
    .school .main_header h1.logo{width:185px;height:27px;background:url(../img/2020100812002214184.png) no-repeat}
    .school .main_header .header_util{width:auto;margin-top:0}
}

@media screen and (max-width:800px){
    .school h1.logo{left:10px;width:185px;background:url(../img/2020102009383520435.png) no-repeat 0;background-size:100% auto}
    .school .header.active .gna_all_mbtxt{background-color:#d90008}
    .school .header.active .gna_all_mbtxt{background-color:#d90008}
    .school .main_header h1.logo{left:10px;background:url(../img/2020102009410280191.png) no-repeat;background-size:100% auto;height:30px;width:185px}
    .school .main_header .header.active h1.logo{display:none}
}