/*학교소개 -  intro*/

/* 인사말 */
/* ver1은 활동사진일때, ver2는 증명사진일때*/

.greetings_talk {
    position: relative;
    overflow: hidden;
}
.greetings_talk .greeting_mid {
    text-align: center;
    margin: 30px 0 50px;
}
.greetings_talk .greeting_mid .greeting_tit{
    font-size: 50px; line-height: 60px;
    font-weight: 600; color: #999;
}
.greetings_talk .greeting_mid .greeting_tit .br1{
    display: block;
}
.greetings_talk .greeting_mid .greeting_tit .br2{
    display: none;
}

.greetings_talk .greeting_mid .greeting_tit_style1{
    color: #333;
}
.greetings_talk .greeting_mid .greeting_tit_style2{
    color: #c01319;
}
.greetings_talk .greeting_mid p:last-child{
    position: relative;
    padding: 40px 0 35px;
    font-size: 20px; line-height: 20px;
    color: #333;
}
.greetings_talk .greeting_mid p:last-child br{
    display: none;
}
.greetings_talk .greeting_mid p:last-child:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 32px;
    height: 1px;
    background-color: #838383;
}


.greetings_talk .greeting_bg:after {
  content: '';
  clear: both;
  display: block;
}

.greetings_talk .greeting_bg .greeting_bg_top {
  background-color: #e8e8e8;
  height: 25px;
}

.greetings_talk .greeting_bg .greeting_bg_left {
  float: left;
  width: 25px;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#fff));
  background: linear-gradient(to bottom, #e8e8e8, #fff);
}

.greetings_talk .greeting_bg .greeting_bg_right {
  float: right;
  width: 25px;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#fff));
  background: linear-gradient(to bottom, #e8e8e8, #fff);
}

.greetings_talk .greeting_wrap {
  position: relative;
  border-top: 25px solid #e8e8e8;
  margin-bottom: 200px;
}

.greetings_talk .greeting_wrap:after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#fff));
  background: linear-gradient(to bottom, #e8e8e8, #fff);
}

.greetings_talk .greeting_wrap:before {
  content: '';
  position: absolute;
  right: 0;
  height: 100%;
  width: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#fff));
  background: linear-gradient(to bottom, #e8e8e8, #fff);
}

.greetings_talk .greeting_left {
  display: inline-block;
  width: 45%;
  vertical-align: top;
}

.greetings_talk .greeting_left .greeting_txt {
  float: right;
  margin-top: 80px;
  width: 80%;
}

.greetings_talk .greeting_left .greeting_txt > p {
  font-size: 17px;
  line-height: 28px;
  color: #333;
}
.greetings_talk .greeting_left .greeting_txt > p+p{margin-bottom: 20px;}
.greetings_talk .greeting_left .greeting_txt > p:first-child {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 32px;
}
.greetings_talk .greeting_left .greeting_txt > p:first-child br{
    display: block;
}
.greetings_talk .greeting_left ul{
    margin-top: 70px;
}
.greetings_talk .greeting_left ul li+li{margin-top: 50px;}
.greetings_talk .greeting_left ul a{
    position: relative;
    font-size: 20px; line-height: 20px;
    font-weight: 600;
    color: #ff671a;
    cursor: pointer;
}
.greetings_talk .greeting_left ul a:after{
    content: '';
    position: absolute;
    top: 50%;
    right: -15px;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    transform: translateY(-50%) rotate(-45deg);
    width: 8px;
    height: 8px;
    border: solid #ff671a;
    border-width: 0 2px 2px 0;
}
.greetings_talk .greeting_left ul p{
    margin-top: 10px;
    font-size: 16px; line-height: 24px;
    color: #333;
}

/*  */
.greetings_talk .greeting_right {
    position: relative;
    display: inline-block;
    width: 55%;
    height: 700px;
    text-align: center;
}

.greetings_talk .greeting_right .greeting_right_bg {

}

.greetings_talk .greeting_right .greeting_right_bg img {
    position: absolute;
    left: 50%;
    top: 43%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 260px;
    height: 360px;
    border: 1px solid #ddd;
}
  
.greeting_txt_name{
  display: block;
}
.greeting_txt_name .rank{
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}
.greeting_txt_name .name{
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
   color: #333;
   letter-spacing: 4px;
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .greetings_talk {
    padding-bottom: 200px;
  }
  .greetings_talk .greeting_wrap {
    margin-bottom: 0;
  }
  .greetings_talk .greeting_right .greeting_right_bg {
    background: none;
  }
  
}

@media screen and (max-width: 800px) {
  .greetings_talk .greeting_mid {margin: 30px 0 35px;}
  .greetings_talk .greeting_mid .greeting_tit{font-size: 30px; line-height: 35px;}
  .greetings_talk .greeting_mid .greeting_tit .br1{display: block;}
  .greetings_talk .greeting_mid .greeting_tit .br2{display: block;}
  .greetings_talk .greeting_mid p:last-child{font-size: 16px;}
  .greetings_talk .greeting_mid p:last-child br{display: block;}


  .greetings_talk .greeting_left .greeting_txt > p:first-child br{display: block;}

  .greetings_talk .greeting_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    border-top: 15px solid #e8e8e8;
  }
  .greetings_talk .greeting_wrap:after {
    width: 15px;
  }
  .greetings_talk .greeting_wrap:before {
    width: 15px;
  }
  .greetings_talk .greeting_left {
    display: block;
    width: 100%;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .greetings_talk .greeting_left .greeting_txt {
    width: 100%;
    margin-top: 0;
  }
  .greetings_talk .greeting_left .greeting_txt > p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .greetings_talk .greeting_left .greeting_txt > p:first-child {
    font-size: 20px;
  }



    .greetings_talk .greeting_left ul{
        margin-top: 35px;
    }
    .greetings_talk .greeting_left ul li+li{margin-top: 30px;}
    .greetings_talk .greeting_left ul a{
        font-size: 16px; line-height: 20px;
    }
    .greetings_talk .greeting_left ul a:after{
        content: '';
        position: absolute;
        top: 50%;
        right: -15px;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
        width: 8px;
        height: 8px;
        border: solid #ff671a;
        border-width: 0 2px 2px 0;
    }
    .greetings_talk .greeting_left ul p{
        margin-top: 5px;
        font-size: 14px; line-height: 22px;
    }

  .greetings_talk .greeting_right {
    display: block;
    width: 100%;
    height: 420px;
  }
  .greetings_talk .greeting_right .greeting_right_bg {
    background: none;
  }
  .greetings_talk .greeting_right .greeting_right_bg img {
    position: static;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin-top: 25px;
  }

  .greeting_txt_name .rank{
      font-size: 15px;
   }
   .greeting_txt_name .name{
      font-size: 16px;
   }

}





































/*.greetings {padding: 100px 0;}
.greetings .greeting_left {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.greetings .greeting_left .greeting_tit {
  margin-bottom: 60px;
  font-size: 4.0rem;
  line-height: 5.0rem;
  font-weight: 700;
  color: #999;
}

.greetings .greeting_left .greeting_tit .greeting_tit_style1 {
  color: #333;
}

.greetings .greeting_left .greeting_tit .greeting_tit_style2 {
  color: #dc1820;
}

.greetings .greeting_left .greeting_txt {
  width: 80%;
}

.greetings .greeting_left .greeting_txt p {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 1.6rem;
  line-height: 30px;
  color: #333;
}

.greetings .greeting_left .greeting_txt p:first-child {
  margin-bottom: 0;
}

.greetings .greeting_right {
  display: inline-block;
  width: 50%;
  height: 700px;
  text-align: center;
}

.greetings .greeting_right .greeting_right_bg {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(/school/common/img/2020081416081061455.png) no-repeat;
  background-size: 100% auto;
}

.greetings .greeting_right .greeting_right_bg img {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.greetings .greeting_right .greetin_right_txt {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: left;
}

.greetings .greeting_right .greetin_right_txt .rank {
  display: inline-block;
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}

.greetings .greeting_right .greetin_right_txt .name {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #333;
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
 .greetings {padding-top: 50px;}
  .greetings .greeting_right .greeting_right_bg {
    background: none;
  }
  .greetings .greeting_left .greeting_txt {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .greetings {
padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .greetings .greeting_left {
    display: block;
    width: 100%;
  }
  .greetings .greeting_left .greeting_tit {
    margin-bottom: 40px;
    font-size: 3.0rem;
    line-height: 3.5rem;
  }
  .greetings .greeting_left .greeting_tit span {
    font-size: 3.0rem;
  }
  .greetings .greeting_left .greeting_txt {
    width: 100%;
    margin-bottom: 65px;
  }
  .greetings .greeting_left .greeting_txt p {
    margin-bottom: 20px;
  }
  .greetings .greeting_right {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
  .greetings .greeting_right .greeting_right_bg {
    background: none;
  }
  .greetings .greeting_right .greeting_right_bg img {
    position: static;
    left: 0;
    top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    width: 60%;
  }
  .greetings .greeting_right .greetin_right_txt {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
    text-align: center;
    margin-top: 10px;
  }
  .greetings .greeting_right .greetin_right_txt .rank {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
  }
  .greetings .greeting_right .greetin_right_txt .name {
    display: inline-block;
    font-size: 16px;
  }
}
*/













/* 교육방침 */
.policy{padding-bottom: 300px;}
.policy .policy_tit {
  font-size: 2rem;
  font-weight: 700;
  margin: 50px 0 34px;
}

.policy .precept ul {
  margin: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.policy .precept ul li {
  width: calc((100% - 192px)/3);
  height: 254px;
  position: relative;
}

.policy .precept ul li:nth-child(2) {
  margin: 0 96px;
}

.policy .precept ul li div {
  width: 100%;
  height: 100%;
  background: url(/school/common/img/2020090120301205176.png) no-repeat center;
  background-size: contain;
  position: relative;
}

.policy .precept ul li div p {
  position: absolute;
  top: 29%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 700;
  color: #333;
}

.policy .precept ul li div span {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  color: #676767;
}

.policy .precept ul li .arrow {
  position: absolute;
  right: -8%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.policy .precept ul li .arrow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 48px;
  height: 1px;
  background: #9d9d9d;
  -webkit-box-shadow: 0px -1px #efefef;
          box-shadow: 0px -1px #efefef;
}

.policy .precept ul li .arrow::after {
  content: '';
  position: absolute;
  top: -24px;
  left: 23px;
  width: 1px;
  height: 48px;
  background: #9d9d9d;
  -webkit-box-shadow: -1px 0px rgba(239, 239, 239, 0.5);
          box-shadow: -1px 0px rgba(239, 239, 239, 0.5);
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .policy .precept ul {
    margin: 0 10px;
  }
  .policy .precept ul li {
    width: calc((100% - 100px)/3);
  }
  .policy .precept ul li:nth-child(2) {
    margin: 0 50px;
  }
  .policy .precept ul li div p {
    top: 38%;
    font-size: 2.4rem;
  }
  .policy .precept ul li div span {
    font-size: 1.3rem;
  }
  .policy .precept ul li .arrow {
    right: -5px;
  }
  .policy .precept ul li .arrow::before {
    width: 40px;
    height: 1px;
  }
  .policy .precept ul li .arrow::after {
    top: -20px;
    left: 20px;
    width: 1px;
    height: 40px;
  }
}

@media screen and (max-width: 800px) {
  .policy .precept ul {
    margin: 0 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .policy .precept ul li {
    width: 65%;
    margin: 0 auto;
  }
  .policy .precept ul li:nth-child(2) {
    margin: 50px auto;
  }
  .policy .precept ul li div p {
    top: 36%;
    font-size: 2.2rem;
  }
  .policy .precept ul li div span {
    top: 58%;
    font-size: 1.5rem;
  }
  .policy .precept ul li .arrow {
    right: 0;
    top: 279px;
    left: 50%;
    margin-left: -20px;
  }
  .policy .precept ul li .arrow::before {
    width: 30px;
    left: 5px;
  }
  .policy .precept ul li .arrow::after {
    top: -15px;
    left: 20px;
    height: 30px;
  }
}

.policy .edu_goal {
  height: 100%;
}

.policy .edu_goal .edu_goal_txt {
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #333;
  position: relative;
  padding: 65px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.policy .edu_goal .edu_goal_txt::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 125px;
  height: 160px;
  border: 1px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: none;
}

.policy .edu_goal .edu_goal_txt::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 125px;
  height: 160px;
  border: 1px solid #dadada;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: none;
}

.policy .edu_goal .edu_goal_txt span {
  color: #bf1219;
}

.policy .edu_goal .edu_goal_txt span em {
  position: relative;
  font-weight: 700;
}

.policy .edu_goal .edu_goal_txt span em::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -9px;
  left: 10px;
  width: 7px;
  height: 7px;
  background: #bf1219;
  border-radius: 100%;
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .policy .edu_goal .edu_goal_txt {
    font-size: 2.5rem;
  }
  .policy .edu_goal .edu_goal_txt span em::after {
    width: 6px;
    height: 6px;
  }
}

@media screen and (max-width: 800px) {
  .policy .edu_goal .edu_goal_txt {
    font-size: 2.1rem;
  }
  .policy .edu_goal .edu_goal_txt span em::after {
    width: 5px;
    height: 5px;
  }
}

.policy .vision {
  width: 100%;
  margin-bottom: 50px;
}

.policy .vision .vision_con {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.policy .vision .vision_con::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../images/sub_img/vision.png) no-repeat center;
}

.policy .vision .vision_con img {
  max-width: 100%;
  height: auto;
}

.policy .vision .vision_con .vision1 {
  position: relative;
  width: 50%;
  height: 100%;
  font-size: 0;
}

.policy .vision .vision_con .vision1 .vision1_txt {
  position: absolute;
  bottom: 20%;
  right: 15%;
  font-size: 3.6rem;
  color: #fff;
}

.policy .vision .vision_con .vision1 .vision1_txt span {
  font-weight: 700;
}

.policy .vision .vision_con .vision2 {
  position: relative;
  width: 50%;
  height: 100%;
  font-size: 0;
}

.policy .vision .vision_con .vision2 .vision2_txt {
  position: absolute;
  top: 15%;
  left: 14%;
  font-size: 3.2rem;
  color: #777;
}

.policy .vision .vision_con .vision2 .vision2_txt span {
  font-weight: 700;
  color: #bf1219;
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .policy .vision .vision_con::after {
    width: 50%;
    height: 50%;
    background-size: contain;
  }
  .policy .vision .vision_con .vision1 .vision1_txt {
    font-size: 2.9rem;
  }
  .policy .vision .vision_con .vision2 .vision2_txt {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 800px) {
  .policy .vision .vision_con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .policy .vision .vision_con::after {
    content: '';
    width: 40%;
    height: 40%;
    background-size: contain;
  }
  .policy .vision .vision_con img {
    width: 100%;
    height: auto;
  }
  .policy .vision .vision_con .vision1 {
    position: relative;
    width: 100%;
  }
  .policy .vision .vision_con .vision1 .vision1_txt {
    right: 8%;
    font-size: 2.5rem;
  }
  .policy .vision .vision_con .vision2 {
    width: 100%;
  }
  .policy .vision .vision_con .vision2 .vision2_txt {
    left: 10%;
    top: 18%;
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 801px) and (max-width: 1280px) {
  .policy .policy_tit {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 800px) {
    .policy .policy_tit {
        margin: 25px 0 20px;
        font-size: 1.7rem;
        line-height: 1.7rem;
    }
}






















/* 조직 및 업무 */

.tab_cont {
  margin-top: 90px;
  margin-bottom: 300px;
}
.tab_cont .top_area {
  width: 100%;
  text-align: center;
  margin-bottom: 150px;
}
.tab_cont .top_area strong{
    display: block;
    margin: 0 auto;
    width: 235px;
    height: 123px;
    background: url(/school/common/img/2020081808594526690.png) no-repeat;
}
.tab_cont .top_area .top_text {
  width: 260px;
  height: 60px;
  line-height: 57px;
  border: 2px solid #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 50px auto 0;
  font-size: 3.2rem;
  font-weight: 500;
  color: #333;
  position: relative;
}

.tab_cont .top_area .top_text:after {
  content: '';
  position: absolute;
  top: 58px;
  left: 50%;
  margin-left: -2px;
  display: block;
  width: 1px;
  height: 81px;
  background: #e5e5e5;
}

.tab_cont .top_area ul {
  display: inline-block;
  position: relative;
}

.tab_cont .top_area ul:after {
  content: '';
  position: absolute;
  width: 391px;
  height: 41px;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab_cont .top_area ul li {
  display: inline-block;
  width: 180px;
  height: 79px;
  line-height: 79px;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem;
  font-weight: 500;
  color: #555;
  margin-top: 81px;
  background: #f8f8f8;
}

.tab_cont .top_area ul li:nth-child(2) {
  margin: 0 15px;
}

.tab_cont .group_table table th {
  font-weight: 700;
  border-right: 1px solid #d3d3d3;
}

.tab_cont .group_table table th:last-child {
  border-right: 0;
}

.tab_cont .group_table table td {
  border-right: 1px solid #d3d3d3;
}

.tab_cont .group_table table td:last-child {
  border-right: 0;
}




.tab_cont .group_table table .name {
  font-weight: 700;
  vertical-align: middle;
}

.tab_cont .group_table table .work {
  line-height: 30px;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab_cont .group_table table .phone {
  border-right: 0;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
    .tab_cont{margin-top:40px;}
    .tab_cont .top_area{margin-bottom: 60px;}
    .tab_cont .top_area strong{
        background: url(/school/common/img/2020090809500247810.png) no-repeat;
        background-size: 100% auto;
        width: 220px; height: 110px;
    }
    .tab_cont .top_area img {
        width: 50%;
    }
    .tab_cont .top_area .top_text {
        width: 165px;
        height: 48px;
        font-size: 20px;
        line-height: 46px;
    }
    .tab_cont .top_area .top_text:after {
        top: 48px;
    }
    .tab_cont .top_area ul {
        width: 100%;
    }
    .tab_cont .top_area ul li {
        width: calc((100% - 30px) / 3);
        font-size: 16px;
        height: 50px;
        line-height: 50px;
    }
    .tab_cont .top_area ul li:nth-child(2) {
        margin: 0 5px;
    }
    .tab_cont .top_area ul:after {
        width: 70%;
    }
}






















/* 찾아오시는 길 */
.center_map .map_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #bbb;
    background-color: lightgray;
    height: 340px;
}

.center_map .map_link div {overflow: hidden; position: relative; width: 100%; height: 340px; cursor: pointer;}
.center_map .map_link div img{
    position: absolute; top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
}


.center_map .map_cont {
    padding: 60px 0 180px 0;
}

.center_map .map_cont .map_box:first-child {
    margin-bottom: 50px;
}

.center_map .map_cont .map_box:first-child .map_subtit {
    font-size: 17px;
}

.center_map .map_cont .map_box:first-child .map_desc {
    font-size: 17px;
    margin: 0 13px 0 10px;
}

.center_map .map_cont .map_tit {
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #333;
}

.center_map .map_cont .map_tit span {
    font-weight: 700;
}

.center_map .map_cont .map_subtit {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    color: #555;
}
    .center_map .map_cont .map_subtit2{margin-top: 0;}

.center_map .map_cont .map_desc {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    line-height: 25px;
    color: #555;
}

.center_map .map_cont .map_sublink{
    display: block;
}
.center_map .map_cont .map_sublink li{
    display: inline-block;
}
.center_map .map_cont .map_sublink a{
    font-size: 16px;
    line-height: 25px;
    color: #555;
}
    .center_map .map_cont .map_sublink a:hover{
    text-decoration: underline;
}
.center_map .map_cont .map_sublink .icon_bus{
    padding: 1px 4px;
    margin-right: 4px;
    font-size: 13px; line-height: 25px;
    border-radius: 3px;
    color: #fff;
    background-color: #00aeab;
}


@media screen and (min-width: 801px) and (max-width: 1280px) {}

@media screen and (max-width: 800px) {
    .center_map .map_cont{margin: 35px 0 100px 0;}
    .center_map .map_cont .map_box:first-child{margin-bottom: 35px;}
    .center_map .map_cont .map_tit{font-size: 16px;}
    .center_map .map_cont .map_subtit{display: block; margin-top: 15px; margin-bottom: 5px; font-size: 14px;}
    .center_map .map_cont .map_box:first-child .map_subtit{font-size: 15px;}
    .center_map .map_cont .map_desc{display: block; margin:0; font-size: 14px; line-height: 22px;}
    .center_map .map_cont .map_box:first-child .map_desc{font-size: 14px; margin: 0;}
    
}