html{font-size:10px}
.school .main_header .header{border-top:0}
#school_wrap{width:100%}
#school_wrap .inner{width:1280px;margin:0 auto}
@media screen and (min-width:801px) and (max-width:1280px){
    #school_wrap .inner{margin:0 auto!important;width:90%!important}
}
@media screen and (max-width:800px){
    #school_wrap .inner{display:block!important;margin:0 auto!important;width:95%!important}
}



#school_wrap .visual{z-index:1;height:557px;overflow:hidden;position:relative}
#school_wrap .visual .swiper-container{width:100%;height:100%;max-height:557px}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide{position:relative;width:100%;max-height:557px}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide.ss1{background:url(../img/2020102016495557589.jpg) no-repeat center center;background-size:cover}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide.ss2{background:url(../img/2020102016500240962.jpg) no-repeat center center;background-size:cover}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide.ss3{background:url(../img/2020102016500864878.jpg) no-repeat center center;background-size:cover}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide.ss4{background:url(../img/2020102016501437997.jpg) no-repeat center center;background-size:cover}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide.ss5{background:url(../img/2020102016502019128.jpg) no-repeat center center;background-size:cover}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide .slide_text{position:absolute;top:0;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);color:#fff;text-align:center}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide .slide_text .text{font-size:5.5rem;line-height:5.5rem;font-weight:400}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide .slide_text .text span{color:#e2151e}
#school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide .slide_text .text .mid_txt{margin-top:14px;font-size:2.4rem;line-height:2.4rem}
#school_wrap .visual .swiper-pagination{bottom:61px}
#school_wrap .visual .swiper-pagination .swiper-pagination-bullet{width:12px;height:12px;opacity:1;background:#fff}
#school_wrap .visual .swiper-pagination .swiper-pagination-bullet-active{width:22px;border-radius:5px;background:#e2151e}
#school_wrap .visual .arrow_wrap{position:absolute;width:1280px;height:108px;top:50%;left:50%;z-index:1;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);display:block}
#school_wrap .visual .arrow_wrap .swiper-button-prev{position:absolute;top:0;left:-10px;width:54px;height:100%;margin:0;background:url(../img/2020091318453969788.png) no-repeat center;background-size:100% auto;cursor:pointer}
#school_wrap .visual .arrow_wrap .swiper-button-next:after,#school_wrap .visual .arrow_wrap .swiper-button-prev:after{font-size:0}
#school_wrap .visual .arrow_wrap .swiper-button-next{position:absolute;top:0;right:-10px;width:54px;height:100%;margin:0;background:url(../img/2020091318450155191.png) no-repeat center;background-size:100% auto;cursor:pointer}
@media screen and (min-width:801px) and (max-width:1280px){
    #school_wrap .visual{height:400px;overflow:hidden;position:relative}
    #school_wrap .visual .swiper-container{max-height:400px}
    #school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide{max-height:400px}
    #school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide .slide_text .text{font-size:4rem;line-height:4rem}
    #school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide .slide_text .text .mid_txt{margin-top:10px;font-size:2rem;line-height:2rem}
    #school_wrap .visual .swiper-pagination{bottom:31px}
    #school_wrap .visual .arrow_wrap{width:90%;top:50%;left:50%;z-index:1;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);display:block}
    #school_wrap .visual .arrow_wrap .swiper-button-prev{left:0;width:40px}
    #school_wrap .visual .arrow_wrap .swiper-button-next{right:0;width:40px}
}
@media screen and (max-width:800px){
    #school_wrap .visual{height:275px}
    #school_wrap .visual .swiper-container{max-height:275px}
    #school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide{max-height:275px}
    #school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide .slide_text .text{font-size:3rem;line-height:3.5rem}
    #school_wrap .visual .swiper-container .swiper-wrapper .swiper-slide .slide_text .text .mid_txt{margin-top:5px;font-size:1.5rem;line-height:2.2rem}
    #school_wrap .visual .swiper-pagination{bottom:21px}
    #school_wrap .visual .swiper-pagination .swiper-pagination-bullet{width:9px;height:9px;margin-right:1px}
    #school_wrap .visual .swiper-pagination .swiper-pagination-bullet-active{width:19px}
    #school_wrap .visual .arrow_wrap{width:90%}
    #school_wrap .visual .arrow_wrap .swiper-button-prev{left:0;width:21px;background:url(../img/202009131845478391.png) no-repeat center;background-size:100% auto}
    #school_wrap .visual .arrow_wrap .swiper-button-next{right:0;width:21px;background:url(../img/2020091318450983822.png) no-repeat center;background-size:100% auto}
}


#school_wrap .notice{width:100%;font-size:1.7rem;margin:30px 0}
#school_wrap .notice :after{content:'';display:block;clear:both}
#school_wrap .notice .notice_left{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;width:calc(100% - 415px);float:left}
#school_wrap .notice .notice_left .notice_wrap{width:calc(50% - 50px);height:231px;margin-right:50px;position:relative}
#school_wrap .notice .notice_left .notice_wrap h2{font-size:2rem;line-height:2rem;font-weight:700;color:#3d3d3d;margin:20px 0}
#school_wrap .notice .notice_left .notice_wrap a.more{position:absolute;top:20px;right:20px;font-size:1.5rem;font-weight:400;color:#3d3d3d}
#school_wrap .notice .notice_left .notice_wrap a.more:before{content:'';position:absolute;right:-17px;top:10px;width:12px;height:2px;background:#5a8176;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#school_wrap .notice .notice_left .notice_wrap a.more:after{content:'';position:absolute;right:-17px;top:10px;width:12px;height:2px;background:#5a8176}
#school_wrap .notice .notice_left .notice_wrap ul li{padding:5px 0}
#school_wrap .notice .notice_left .notice_wrap ul li>a{width:100%;display:block;font-size:1.7rem;color:#464646;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#school_wrap .notice .notice_slide{float:right;width:415px}
#school_wrap .notice .notice_slide .bannera_box{height:230px}
@media screen and (min-width:801px) and (max-width:1280px){
    #school_wrap .notice .notice_left{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:50%}
    #school_wrap .notice .notice_left .notice_wrap{width:95%;margin-right:5%;height:180px}
    #school_wrap .notice .notice_left .notice_wrap:first-child{margin-bottom:10px}
    #school_wrap .notice .notice_left .notice_wrap h2{font-size:1.8rem;line-height:1.8rem}
    #school_wrap .notice .notice_left .notice_wrap a.more{font-size:1.3rem}
    #school_wrap .notice .notice_left .notice_wrap a.more:before{top:9px}
    #school_wrap .notice .notice_left .notice_wrap a.more:after{top:9px}
    #school_wrap .notice .notice_left .notice_wrap ul li{padding:2px 0}
    #school_wrap .notice .notice_left .notice_wrap ul li>a{font-size:1.5rem}
    #school_wrap .notice .notice_slide{width:50%;height:374px}
    #school_wrap .notice .notice_slide .banner_area{height:374px}
    #school_wrap .notice .notice_slide .bannera_box{width:100%;height:100%}
    #school_wrap .notice .notice_slide .bannera_box .banner_area img{height:100%}
}
@media screen and (max-width:800px){
    #school_wrap .notice{margin:10px 0}
    #school_wrap .notice .notice_left{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;width:100%}
    #school_wrap .notice .notice_left .notice_wrap{width:100%;height:auto;margin-right:0;margin-bottom:10px}
    #school_wrap .notice .notice_left .notice_wrap:first-child{margin-bottom:10px}
    #school_wrap .notice .notice_left .notice_wrap h2{font-size:1.8rem;line-height:1.8rem;margin:10px 0}
    #school_wrap .notice .notice_left .notice_wrap a.more{font-size:1.3rem}
    #school_wrap .notice .notice_left .notice_wrap a.more:before{content:'';top:9px}
    #school_wrap .notice .notice_left .notice_wrap a.more:after{top:9px}
    #school_wrap .notice .notice_left .notice_wrap ul{width:100%}
    #school_wrap .notice .notice_left .notice_wrap ul li{width:100%;padding:3px 0}
    #school_wrap .notice .notice_left .notice_wrap ul li>a{font-size:1.4rem}
    #school_wrap .notice .notice_slide{width:100%;height:auto}
    #school_wrap .notice .notice_slide .banner_area{height:230px}
    #school_wrap .notice .notice_slide .bannera_box .banner_area img{height:100%}
}



#school_wrap .application{width:100%;background:#efefef}
#school_wrap .application .inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
#school_wrap .application .inner .application_tit{width:200px;height:112px;background:#bf1219;color:#fff;padding:35px 0 35px 25px;-webkit-box-sizing:border-box;box-sizing:border-box}
#school_wrap .application .inner .application_tit .tit_top{font-size:2rem;line-height:2rem;font-weight:700;margin-bottom:10px}
#school_wrap .application .inner .application_tit span{display:inline-block;font-size:1.5rem;line-height:1.5rem}
#school_wrap .application .inner .application_tit span em{font-weight:700}
#school_wrap .application .inner ul{font-size:2rem;color:#555;width:calc(100% - 200px);height:112px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;padding:30px 0;box-sizing:border-box;-webkit-box-sizing:border-box}
#school_wrap .application .inner ul li{width:50%;text-align:center;border-right:1px solid #cecece;box-sizing:border-box;-webkit-box-sizing:border-box;position:relative}
#school_wrap .application .inner ul li br{display:none}
#school_wrap .application .inner ul li:last-child{border-right:none}
#school_wrap .application .inner ul li a{width:100%;height:52px;line-height:52px;display:block;position:relative}
#school_wrap .application .inner ul li a::after{content:'';position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);margin-left:46px;width:43px;height:43px;border-radius:100%;background:#fff url(../img/2020091318442411827.png) no-repeat center}
#school_wrap .application .inner ul li a span{font-weight:700}
#school_wrap .application .inner ul li:nth-child(1) a{background:url(../img/2020091110483926143.png) no-repeat 20% center}
#school_wrap .application .inner ul li:nth-child(2) a{background:url(../img/2020091110483282913.png) no-repeat 20% center}
@media screen and (min-width:801px) and (max-width:1280px){
    #school_wrap .application .inner .application_tit{width:150px;padding:35px 0 35px 10px}
    #school_wrap .application .inner .application_tit .tit_top{font-size:1.8rem;line-height:1.8rem}
    #school_wrap .application .inner .application_tit span{font-size:1.5rem;line-height:1.5rem}
    #school_wrap .application .inner ul{font-size:1.8rem;width:calc(100% - 150px)}
    #school_wrap .application .inner ul li br{display:block}
    #school_wrap .application .inner ul li a{line-height:2.5rem}
}
@media screen and (max-width:800px){
    #school_wrap .application{background:0 0}
    #school_wrap .application .inner{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
    #school_wrap .application .inner .application_tit{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 20px;width:100%;height:48px}
    #school_wrap .application .inner .application_tit .tit_top{font-size:1.7rem;margin-bottom:0}
    #school_wrap .application .inner .application_tit span{font-size:1.4rem}
    #school_wrap .application .inner ul{width:100%;font-size:1.6rem;height:auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:0}
    #school_wrap .application .inner ul li{background:#efefef;width:100%;height:60px;border-right:none;text-align:left;padding-left:20px}
    #school_wrap .application .inner ul li:first-child{margin:1px 0}
    #school_wrap .application .inner ul li a{height:60px;line-height:60px}
    #school_wrap .application .inner ul li a::after{right:20px;width:10px;height:10px;padding:10px;background:#fff url(../img/2020091318443198551.png) no-repeat center;background-size:50% auto}
    #school_wrap .application .inner ul li:nth-child(1) a{background:0 0}
    #school_wrap .application .inner ul li:nth-child(2) a{background:0 0}
}



#school_wrap .plan{width:100%;margin:45px 0 50px}
#school_wrap .plan .inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
#school_wrap .plan .inner .plan_left_wrap{width:calc(100% - 465px);display:-webkit-box;display:-ms-flexbox;display:flex}
#school_wrap .plan .inner .plan_left_wrap .plan_tit{width:205px;padding-right:5px;-webkit-box-sizing:border-box;box-sizing:border-box;position:relative}
#school_wrap .plan .inner .plan_left_wrap .plan_tit h2{margin-top:4px;font-size:2.5rem;line-height:2.5rem;font-weight:300;padding:10px 0;color:#333}
#school_wrap .plan .inner .plan_left_wrap .plan_tit h2 span{font-weight:700}
#school_wrap .plan .inner .plan_left_wrap .plan_tit p.tit_text{font-size:1.6rem;line-height:1.6rem;color:#555}
#school_wrap .plan .inner .plan_left_wrap .plan_tit p.tit_text br{display:block}
#school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more{display:block;font-size:1.5rem;line-height:1.5rem;font-weight:500;margin-top:25px}
#school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more span{position:relative}
#school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more span:after{content:'';position:absolute;right:-17px;top:11px;width:12px;height:2px;background:#bf1219}
#school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more span:before{content:'';position:absolute;right:-17px;top:11px;width:12px;height:2px;background:#bf1219;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
#school_wrap .plan .inner .plan_left_wrap .plan_tit::after{content:'';position:absolute;bottom:5px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:137px;height:138px;background:url(../img/2020091110473316422.png) no-repeat center}
#school_wrap .plan .inner .plan_left_wrap .left_box{width:calc(100% - 205px);font-size:0}
#school_wrap .plan .inner .plan_left_wrap .left_box li{display:inline-block;width:285px;height:166px;border:1px solid #d7d7d7;-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:20px}
#school_wrap .plan .inner .plan_left_wrap .left_box li:nth-child(1){margin-bottom:20px}
#school_wrap .plan .inner .plan_left_wrap .left_box li:nth-child(2){margin-bottom:20px}
#school_wrap .plan .inner .plan_left_wrap .left_box li .box_text{padding:24px 24px 0 24px;-webkit-box-sizing:border-box;box-sizing:border-box}
#school_wrap .plan .inner .plan_left_wrap .left_box li .box_text .text_top{font-size:1.5rem;line-height:1.5rem;color:#bf1219;font-weight:700}
#school_wrap .plan .inner .plan_left_wrap .left_box li .box_text h3{color:#3d3d3d;font-weight:700;font-size:2rem;line-height:3.3rem;margin-bottom:8px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#school_wrap .plan .inner .plan_left_wrap .left_box li .box_text span{display:block;font-size:1.6rem;line-height:2.4rem;color:#575754;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
@media screen and (min-width:801px) and (max-width:1280px){
    #school_wrap .plan .inner .plan_left_wrap{width:55%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit{width:100%;height:81px;padding-right:0}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit h2{font-size:2.2rem;line-height:2.2rem;padding:5px 0;margin-top:0}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit p.tit_text{font-size:1.5rem;line-height:1.5rem}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit p.tit_text br{display:none}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more{font-size:1.4rem;line-height:1.4rem;margin:10px 0}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more span:after{top:9px}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more span:before{top:9px}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit::after{display:none}
    #school_wrap .plan .inner .plan_left_wrap .left_box{width:100%;margin-top:19px;font-size:0}
    #school_wrap .plan .inner .plan_left_wrap .left_box li{width:49%;margin-right:1%;margin-left:0}
    #school_wrap .plan .inner .plan_left_wrap .left_box li:nth-child(1){margin-bottom:1%}
    #school_wrap .plan .inner .plan_left_wrap .left_box li:nth-child(2){margin-bottom:1%}
    #school_wrap .plan .inner .plan_left_wrap .left_box li .box_text{padding:39px 24px 39px 24px}
    #school_wrap .plan .inner .plan_left_wrap .left_box li .box_text .text_top{font-size:1.3rem;line-height:1.3rem}
    #school_wrap .plan .inner .plan_left_wrap .left_box li .box_text h3{font-size:1.8rem;line-height:1.8rem;line-height:3rem;margin-bottom:0}
    #school_wrap .plan .inner .plan_left_wrap .left_box li .box_text span{font-size:1.4rem;line-height:2.2rem}
}
@media screen and (max-width:800px){
    #school_wrap .plan{margin:20px 0 30px 0}
    #school_wrap .plan .inner .plan_left_wrap{width:100%;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit{width:100%;text-align:center;padding-right:0}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit h2{margin-top:0;font-size:2.4rem;line-height:2.4rem}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit p.tit_text{font-size:1.5rem;line-height:1.5rem}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit p.tit_text br{display:none}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more{font-size:1.5rem;line-height:1.5rem;margin:10px 0 25px -17px}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more span:after{top:10px}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit .view_more span:before{top:10px}
    #school_wrap .plan .inner .plan_left_wrap .plan_tit::after{display:none}
    #school_wrap .plan .inner .plan_left_wrap .left_box{width:100%}
    #school_wrap .plan .inner .plan_left_wrap .left_box li{width:100%;height:auto;margin-left:0;font-size:1.7rem;margin-bottom:5px}
    #school_wrap .plan .inner .plan_left_wrap .left_box li:nth-child(1){margin-bottom:5px}
    #school_wrap .plan .inner .plan_left_wrap .left_box li:nth-child(2){margin-bottom:5px}
    #school_wrap .plan .inner .plan_left_wrap .left_box li:last-child{margin-bottom:0}
    #school_wrap .plan .inner .plan_left_wrap .left_box li .box_text{padding:17px 18px 11px 18px}
    #school_wrap .plan .inner .plan_left_wrap .left_box li .box_text .text_top{font-size:1.4rem;line-height:1.4rem}
    #school_wrap .plan .inner .plan_left_wrap .left_box li .box_text h3{font-size:1.7rem;line-height:1.7rem;margin-bottom:2px;margin-top:8px}
    #school_wrap .plan .inner .plan_left_wrap .left_box li .box_text span{display:inline-block;padding-right:12px;font-size:1.4rem}
}


#school_wrap .plan .inner .plan_right_wrap{width:415px;margin-left:50px}
#school_wrap .plan .inner .plan_right_wrap .video_wrap{position:relative;width:100%;height:233px}
#school_wrap .plan .inner .plan_right_wrap .video_wrap p{width:100%;position:absolute;bottom:0;height:45px;background:rgba(0,0,0,.65);font-size:1.6rem;line-height:4.5rem;color:#fff;padding:0 50px 0 20px;-webkit-box-sizing:border-box;box-sizing:border-box}
#school_wrap .plan .inner .plan_right_wrap .video_wrap p span{display:block;width:90%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#school_wrap .plan .inner .plan_right_wrap .edu_wrap{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:20px}
#school_wrap .plan .inner .plan_right_wrap .edu_wrap li{width:calc((100% - 3px)/ 2);height:99px;font-size:1.8rem;color:#fff}
#school_wrap .plan .inner .plan_right_wrap .edu_wrap li:first-child{margin-right:3px}
#school_wrap .plan .inner .plan_right_wrap .edu_wrap li a{display:block;height:99px;line-height:99px}
#school_wrap .plan .inner .plan_right_wrap .edu_wrap li:first-child a{background:#3a93a8 url(../img/2020091110472651486.png) no-repeat 12% center;padding-left:72px}
#school_wrap .plan .inner .plan_right_wrap .edu_wrap li:last-child a{background:#15728c url(../img/2020091110471894896.png) no-repeat 20% center;padding-left:92px}
@media screen and (min-width:801px) and (max-width:1280px){
    #school_wrap .plan .inner .plan_right_wrap{width:45%;margin-left:0;margin-top:100px}
    #school_wrap .plan .inner .plan_right_wrap .video_wrap{width:100%;height:233px}
    #school_wrap .plan .inner .plan_right_wrap .video_wrap img{width:100%;height:233px}
    #school_wrap .plan .inner .plan_right_wrap .video_wrap p{font-size:1.5rem}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap{margin-top:1%}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap li{width:calc((100% - 3px)/ 2);height:99px;font-size:1.6rem;color:#fff}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap li:first-child{margin-right:3px}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap li a{height:99px;line-height:1;padding-top:70px;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap li:first-child a{background-position:50% 30%;padding-left:0}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap li:last-child a{background-position:50% 25%;padding-left:0}
}
@media screen and (max-width:800px){
    #school_wrap .plan .inner .plan_right_wrap{width:100%;margin-left:0;margin-top:10px}
    #school_wrap .plan .inner .plan_right_wrap .video_wrap p{font-size:1.5rem}
    #school_wrap .plan .inner .plan_right_wrap .video_wrap img{width:100%;height:100%}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap{margin-top:10px}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap li{height:60px;font-size:1.6rem}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap li a{height:60px;line-height:60px;text-align:center}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap li:first-child a{background:#3a93a8;padding-left:0}
    #school_wrap .plan .inner .plan_right_wrap .edu_wrap li:last-child a{background:#15728c;padding-left:0}
}