<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    <title>자동차보험료확인</title>
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <header>
        <div class="inner">
            <div class="header-logo">
                <a href="">
                    <img src="../images/logo_header.png" alt="자동차보험료확인"/>
                </a>
            </div>
        </div>
    </header>
    <!-- // -->
    <div class="visual">
        <div class="inner">
            <p class="visual-subtit">내 차 보험료 알아보세요.</p>
            <h1 class="visual-tit">보험사 별 보험료 확인하고<br/>가장 저렴한 보험료 찾아보세요!</h1>
            <div class="site-form">
                <h2 class="site-form-tit">자동차보험료 알아보기</h2> 
                <div class="site-form-input">
                    <div class="site-form-row">
                        <input type="text" placeholder="이름 입력" maxlength="10" data-type="db-input" onkeyup="characterChk(this)" />
                    </div>
                    <div class="site-form-row site-form-phone">
                        <input type="number" class="tel_input" placeholder="숫자만 입력" maxlength="8" data-type="db-input" pattern="\d*" oninput="maxLengthChk(this)" only-number/>
                        <span>
                            <select name="hphone1" ng-model="customer.customerMobile1">
                                <option value="010" ng-selected="customer.customerMobile1 == '010'">010</option>
                                <option value="011" ng-selected="customer.customerMobile1 == '011'">011</option>
                                <option value="016" ng-selected="customer.customerMobile1 == '016'">016</option>
                                <option value="017" ng-selected="customer.customerMobile1 == '017'">017</option>
                                <option value="018" ng-selected="customer.customerMobile1 == '018'">018</option>
                                <option value="019" ng-selected="customer.customerMobile1 == '019'">019</option>
                            </select>
                        </span>
                    </div>
                    <a href="" ng-click="consult()" class="site-form-bttn btn_quick_request">
                        <span>보험료 확인하기</span>
                        <img src="../images/arrow_white.png" />
                    </a>
                    <p class="btn_quick_request_loader" style="display: none;margin-top:10px;">
                        <img src="http://img.adinsu.co.kr/adinsu/ov5/common/txt_loading_b.png" />
                    </p>
                </div>
                <div class="site-form-desc">
                    <div class="site-form-pri">
                        <span style="display:none"></span><input type="checkbox" id="agree_marketing" id="agree_marketing" checked></span>
                        <input type="checkbox" id="inp-item01" name="agree" ng-model="customer.customerAgree"><label for="inp-item01">개인정보수집 · 활용 및 제공을 위한 동의(필수)</label>
                        <a open-adinsu-agreement href="" agree-id="agree">보기</a>
                    </div>                
                </div>
            </div> 
        </div>
    </div>
    <!-- // -->
    <div class="content">
        <section class="section-special">
            <div class="section-inner">
                <div class="section-tit"><h2>다이렉트 자동차 보험 가입 혜택</h2></div>
                <ul class="special-list">
                    <li><p>오프라인 대비<br>저렴한 보험료</p></li>
                    <li><p>상품권 제공/<br>카드 할인 혜택<br><span>(특정 보험사에 한함)</span></p></li>
                    <li><p>3년<br>무사고 할인</p></li>
                    <li><p>주행거리별<br>할인특약</p></li>
                    <li><p>자녀<br>할인특약<span>(특정 보험사에 한함)</span></p></li>
                    <li><p>첨단안전장치<br>할인특약<br><span>(특정 보험사에 한함)</span></p></li>
                    <li><p>티맵, 커넥티드카<br>안전운전 할인특약<br><span>(특정 보험사에 한함)</span></p></li>
                    <li><p>블랙박스 장착<br>특약 할인<br><span>(특정 보험사에 한함)</span></p></li>
                </ul>
            </div>
        </section>
        <section class="section-assure">    
            <div class="section-inner">
                <div class="section-tit"><h2>보장내용 안내</h2></div>
                <ul class="assure-list">
                    <li>
                        <h3 class="assure-tit">대인배상I (의무)</h3>
                        <ul class="assure-item">
                            <li>자동차손해배상보장법에 의한 의무(강제)</li>
                            <li>보험으로 다른 사람을 죽게 하거나 다치게 한 경우에 보상</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="assure-tit">대인배상Ⅱ</h3>
                        <ul class="assure-item">
                            <li>다른 사람을 죽게 하거나 다치게 한 경우에<br>대인배상Ⅰ을 초과하는 손해에 대해 보상</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="assure-tit">대물배상 (2천만원 이상 의무)</h3>
                        <ul class="assure-item">
                            <li>자동차사고로 다른 사람의 차량 또는 재물을<br>파손한 경우 보험가입금액 한도 내에서 보상</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="assure-tit">자기신체사고/자동차상해</h3>
                        <ul class="assure-item">
                            <li>피보험자동차의 사고로 피보험자가 다친 경우<br>보험 가입금액 한도 내에서 보상</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="assure-tit">자기차량손해</h3>
                        <ul class="assure-item">
                            <li>자동차 사고로 피보험자동차가 파손된 경우 보험 가입금액 한도 내 실제 수리비 보상</li>
                            <li>피보험자동차의 사고로 피보험자가 다친 경우 보험 가입금액 한도 내에서 보상</li>
                        </ul>
                    </li>
                    <li>
                        <h3 class="assure-tit">무보험차상해</h3>
                        <ul class="assure-item">
                            <li>피보험자가 무보험자동차나 뺑소니에 의하여 손해를 입은 경우 대인배상 지급 기준에 따라 보상</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- // -->
    <div class="consult">
        <div class="inner">
            <div class="site-form">
                <h2 class="site-form-tit">자동차보험료 알아보기</h2> 
                <div class="site-form-input">
                    <div class="site-form-row">
                        <input type="text" placeholder="이름 입력" maxlength="10" data-type="db-input" onkeyup="characterChk(this)" />
                    </div>
                    <div class="site-form-row site-form-phone">
                        <input type="number" class="tel_input" placeholder="숫자만 입력" maxlength="8" data-type="db-input" pattern="\d*" oninput="maxLengthChk(this)" only-number/>
                        <span>
                            <select name="hphone1" ng-model="customer.customerMobile1">
                                <option value="010" ng-selected="customer.customerMobile1 == '010'">010</option>
                                <option value="011" ng-selected="customer.customerMobile1 == '011'">011</option>
                                <option value="016" ng-selected="customer.customerMobile1 == '016'">016</option>
                                <option value="017" ng-selected="customer.customerMobile1 == '017'">017</option>
                                <option value="018" ng-selected="customer.customerMobile1 == '018'">018</option>
                                <option value="019" ng-selecteffd="customer.customerMobile1 == '019'">019</option>
                            </select>
                        </span>
                    </div>
                    <a href="" ng-click="consult()" class="site-form-bttn btn_quick_request">
                        <span>보험료 확인하기</span>
                        <img src="../images/arrow_white.png">
                    </a>
                    <p class="btn_quick_request_loader" style="display: none;margin-top:10px;">
                        <img src="http://img.adinsu.co.kr/adinsu/ov5/common/txt_loading_b.png">
                    </p>
                </div>
                <div class="site-form-desc">
                    <div class="site-form-pri">
                        <span style="display:none"></span><input type="checkbox" id="agree_marketing" checked="">
                        <input type="checkbox" id="inp-item02" name="agree" ng-model="customer.customerAgree"><label for="inp-item02">개인정보수집 · 활용 및 제공을 위한 동의(필수)</label>
                        <a open-adinsu-agreement="" href="" agree-id="agree">보기</a>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    <!-- // -->
    <div class="footer">
        <div class="footer-alert">
            <div class="footer-inner">
                <h2>보험계약 시 알아두실 사항</h2>
                <ul class="footer-noti">
                    <li>보험계약 체결 전 반드시 상품설명서 및 약관을 읽어보시기 바랍니다.</li>
                    <li>보험사는 해당 상품에 대해 충분히 안내할 의무가 있으며, 가입자는 가입에 앞서 이에 대한 충분한 내용을 확인하시기 바랍니다.</li>
                    <li>보험계약자가 기존에 체결했던 보험계약을 해지하고 다른 보험계약을 체결하면 보험계약이 거절될 수 있으며, 보험료가 인상되거나 보장내용이 달라질 수 있습니다.</li>
                    <li>이 보험계약은 예금자보호법에 따라 예금보험공사가 보호하되, 보호한도는 본 보험회사에 있는 귀하의 모든 예금보호대상 금융상품의 해약환급금(또는 만기 시 보험금이나 사고보험금)에 기타지급금을 합하여 1인당 “최고 5천만원"이며, 5천만원을 초과하는 나머지 금액은 보호하지 않습니다. 다만, 보험계약자 및 보험료납부자가 법인인 경우에는 보호하지 않습니다.</li>
                    <li>보험계약자 또는 피보험자의 고의로 인한 사고는 보상하지 않으며, 이 외 담보별 자세한 지급한도, 면책사항, 감액지급 사항 등 보험금 지급 제한 조건은 반드시 약관 내용을 확인하시기 바랍니다. </li>
                </ul>
            </div>
        </div>
        <div class="footer-info">
            <div class="footer-inner">
                <span class="footer-info__logo">자동차보험료확인</span>
                <a href="" class="footer-info__pri">개인정보처리방침 보기</a>
                <p class="footer-info__site">
                    서울특별시 중구 세종대로9길 41, 3층(서소문동, 퍼시픽타워) ㈜애드인슈
                    사업자등록번호 251-86-00150 ㅣ 우현정 대표<br>
                    Copyrightⓒ by Adinsu All rights Reserved.
                </p>
            </div>
        </div>
    </div>
</body>
<script>
    function maxLengthChk(object) {
      if (object.value.length > object.maxLength) {
        object.value = object.value.slice(0, object.maxLength);
      }
    }

    function characterChk(object) {
      object.value = object.value.replace(/[0-9\s]+/g, "");
    }
</script>
</html>