@charset "utf-8";
header {
    width: 940px; 
    height: 95px;
    margin:0 auto;
}
.main {
    position:relative;
    width: 940px; 
    margin:0 auto;
}
footer{
    border-top: 1px solid #cccccc; 
    clear: both;
    overflow: hidden;
}
footer > .footerContainer{
    width: 940px; 
    height: 130px;
    margin: 0 auto;
}
/* header */
header h1 {float:left; margin-top:38px;}
.navContainer {
    float:left;
    position: relative; 
    margin:39px 0 0 70px;
}
.navContainer > li {float:left;}
.navContainer > li + li {margin-left: 36px;}
.service > ul > li{letter-spacing: -0.5px;}
.service > ul > li:nth-child(1){width: 105px;}
.service > ul > li:nth-child(2){width: 65px;}
.service > ul > li:nth-child(3){width: 65px;}
.service > ul > li:nth-child(4){width: 60px;}
.navContainer ul {
    display:none; z-index: 230;
	width:300px; padding:17px;
    position: absolute; left:-3px; top:23px;
    border-top:2px solid #339900;
    background:url('../images/gnb_bg.png') no-repeat 0 bottom;
}
.navContainer ul.opened{display:block;}
.navContainer ul > li {width:100px; float:left;}
.navContainer a{color: #666;font-size: 12px;}
.navContainer img.recruit{height: 15px;}
.util {float:right; margin-top:35px; padding-top: 10px}
.util > li {position:relative; float:left;}
.util > li.sitemap {
	padding:0 10px 0 18px; 
}
.util > li a{display: block;}
.util > li.sitemap:before{
	content: '';
	display: block;
	position: absolute;
	top: 0; left: 8px;
	width: 1px; height: 10px;
	border-right: 1px solid rgb(212,213,215);
}

.util > li.lang {position: relative; top: -5px;}
.util > li.lang {margin-top:0px;}
.util > li.global {margin-right: 17px;}
.util > li.global > ul {
	z-index: 210;
	width:100px; 
	padding:12px 8px; 
	position: absolute; 
	background:url('../images/util_bg_global.png') no-repeat 0 bottom; 
	border-top:2px solid #339900; 
	top:28px; 
	left:-10px;
    display: none
}
.util > li.global > ul.on{display: block} 
.util > li.lang > a{
    background: url(../images/util_lang_off.gif) no-repeat;
    width: 120px; height: 23px;
    display: block;
    font-size: 0;
}
.util > li.lang > ul {
	z-index: 200;
	width:106px; 
	padding:12px 8px; 
	position: absolute; 
	background:url('../images/util_bg_lang.png') no-repeat 0 bottom; 
/*	border-top:2px solid #339900; */
	top:24px; 
	left:0;
    display: none;
}
/*
.util > li.lang.on > ul{display: block;}
.util > li.lang.on > a{background: url(../images/util_lang_on.gif) no-repeat; position: relative; top: -1px; left: -1px}
*/
.util > li.lang > ul.on{display: block;}
/*.util > li.lang > ul.on > a{background: url(../images/util_lang_on.gif) no-repeat; position: relative; top: -1px; left: -1px}*/

li.lang > ul > li a img{
	width: 106px; height: 12px;
	display: block;
	height: 12px;
}
li.lang > ul > li:first-child{margin-bottom: 10px;}

/* main_visual */
main{
	font-family: 'Lato', sans-serif;
    color: #999;
}
.main_visual{position: relative; top: 0;}
.bxslider > li{
    position: relative; 
    overflow: hidden;
    width: 100%;
    height: 400px;
}
main .bxslider > li> img{
    position: absolute;
    top:0; left: 50%; 
    transform: translate(-50%,0);
}
.bx-controls-direction{display: none;}
.bx-controls{
    position: absolute; 
    bottom: 40px; left: 0; right:0;
    margin: 0 auto;
    width: 870px;
    text-align: right;
    z-index: 1000;
}
.bx-pager{
    width: 80px;
    height: 20px;
    position: absolute;
    top: 0; bottom: 0; right: 0;
}
.bx-pager > .bx-pager-item > a {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 0;
    width: 20px;
    height:20px;
    background:url('../images/btn_spot_off2.png') no-repeat 0 0;
    float: left;
}
.bx-pager > .bx-pager-item > a.active {
    background:url('../images/btn_spot_over2.png') no-repeat 0 0;
}

/* main_info */
.main_info{
    width: 940px;
    margin: 0 auto 50px auto;
    position: relative;
    top: 0; left: 0; right: 0; bottom: 0;
}
.main_info:after{content: ''; clear: both; display: block;}
.main_info > .tab_wrap{
    overflow: hidden;
    height: 50px;
    border-bottom: 1px solid #e4e4e4;
}
.news{
    margin-right: 50px;
    width: 530px;
    position: relative;
    float: left;
    padding-top: 17px;
}
.news > *{display: inline-block;}
.news > h3 > img{
    background: url(../images/ico_rss.gif) right 3px no-repeat;
    padding-right: 15px;
}
.news > ul{
    margin-left: 16px; 
    position: relative;
    bottom: 3px;
}
.news > ul li b{
    color: black; 
    font-weight: 100;
	font-size: 12px;
}
.news > ul li span{
    font-size: 12px;
    color: rgb(127,127,127);
}
.news > ul li em{
    font-family: 'verdana', 'tahoma';
    position: relative; 
    right: -14px; top: -1px;
    font-size: 10px;
}
.news > .arrow{
    position: absolute;
    right:0; top:20px;
}
.news > .arrow > a{
    float: left;
    text-indent: -999px;
    background: url(../images/btn_rolling2.png)-3px -30px no-repeat;
}
.news > .arrow > a.prev{width: 11px; height: 11px;}
.news > .arrow > a.next{width: 11px; height: 11px; background-position:-30px -30px; margin-left:7px;}
.stock{
    float: right; 
    width: 360px;
    padding-top: 12px;
}
.stock > *{display: inline-block;}
.stock > h3{
    vertical-align:-2px;
}
.stock strong{
    color: rgb(68,69,71);
    font-size: 15px;
    padding:0 18px 0 13px;
}
.stock em{
    padding-right: 10px;
    font-size: 11px;
    position: relative;
    top: -2px;
}

.stock em b.up{
    color: skyblue;
    background: url(../images/spr_ico2.png) no-repeat -25px -127px; padding-left:11px; 
    padding-right: 2px;
    font-size: 12px;
}
.stock em b.down{
    color: skyblue;
    background: url(../images/spr_ico2.png) no-repeat -25px -150px; padding-left:11px;
    padding-right: 2px;
}
.stock span{
    position: relative;
    top: -2px;
    font-family: 'verdana', 'tahoma';
    font-size: 10px;
}
.stock span b{
    font-size: 11px;
    font-weight: 100;
    background: url(../images/line_h.gif)no-repeat 0 2px; 
    padding-left: 9px; 
    padding-right: 9px;

}
.services{
    float: left;
    width: 530px; height: 200px; 
    position: relative;
}
.svsList li{float: left;}
.svsList li a img{
    border-bottom: 2px solid black;
}
.svsList li a img:hover{border-bottom: 2px solid #5ac639;}
.svsList li+li{margin-left: 20px;}
.arrow{position: absolute; right:0; bottom: 5px;}
.arrow a{
    float: left;
    text-indent: -999px;
    background: url(../images/btn_rolling2.png)-3px -30px no-repeat;
}
.arrow a.prev{width: 11px; height: 11px;}
.arrow a.next{width: 11px; height: 11px; background-position:-30px -30px; margin-left:7px;}
.static{
    float: right;
    width: 360px;
    height: 200px;
    overflow: hidden; 
    position: relative;
}
.static > *{float: left;}
.static > .recruitImg{border-bottom: 1px solid #e4e4e4; height: 96px;}
.static > .bnn{border-bottom: 2px solid black;}
.static > .bnn a{font-size: 0;}
.static > .bnn a img{height: 63px;}
.static > .bnn:hover{border-bottom: 2px solid #5ac639;}
.static > .twit{position: absolute; bottom: 0px; right:0;}
.static > .twit a{display: block; height: 13px;}
/*.static img{vertical-align: top;}*/

/* footer */
.footerContainer{position: relative;}
.logo{float: left; position: relative; top: 10px}
.etc_link{
    width: 330px; 
    padding-left: 96px;
    margin-top: 25px;
	position: relative;
	top: 10px;
}
.etc_link > li{
	font-size: 0;
	float: left;
    background: url(../images/line_h.gif)0 no-repeat ; 
    padding: 0 6px;
}
.etc_link > li:first-child{
    background-image: none; 
    padding: 0 6px 0 0;
}
.etc_link:after{content: ''; display: block; clear: both;}
.etc_link a{
	display: block;
	font-size: 0;
}
.etc_link img{
	font-size: 0;
}
.info{
    width: 330px;
    line-height: 15px;
    padding:24px 0 0 96px
}
.info > smore img{padding-top: 10px;}
.inhouse{
    position: absolute; 
    top:0; right:163px;
}
.inhouse > *{
    display: inline-block;
    vertical-align: middle;
}
.inhouse > li+li{margin-left: 18px;}
.othersvc{
    position: absolute;
    top: 5px; right:0;
}