@charset "utf-8";
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';	content: none;}
table {border-collapse: collapse;border-spacing: 0;}

/* custom */
body{-webkit-text-size-adjust:none} /* 뷰포트 변환시 폰트크기 자동확대 방지. */
input:checked[type='checkbox']{background-color:#666; -webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset']{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}

body{background:#fff}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1;font-family:'Noto Sans KR','맑은고딕','Malgun Gothic','나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;color:#1e1e1e;font-weight:400;}

a{color:#1e1e1e;text-decoration:none;vertical-align: top}
a:active, a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
button{border:0 none;background-color:transparent;cursor:pointer}

img {border: 0;vertical-align: top;}
.max{ width: 100%;}
.max-img{ max-width: 100%;}

.of-hi{overflow: hidden}
.ta-c{text-align: center}

/*input 공통*/
input[type=text],
input[type=tel]{outline:none; vertical-align:middle; height:52px; line-height: 52px; font-size:18px; border:1px solid #c7c7c7; margin:0; padding:0 15px; transition:border-color 0.2s; width: 100%; box-sizing: border-box; letter-spacing:-0.5px;}
input[type=text]:focus, input[type=tel]:focus{}
input[type=text]:checked, input[type=tel]:focus{}

input:focus::-webkit-input-placeholder{ /* WebKit browsers */ color:transparent; }
input:focus:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */ color:transparent;}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent;}
input:focus:-ms-input-placeholder{ /* Internet Explorer 10+ */ color:transparent;}

::-webkit-input-placeholder { /* Chrome */ color: #969696;}
:-ms-input-placeholder { /* IE 10+ */ color: #969696;}
::-moz-placeholder { /* Firefox 19+ */ color: #969696; opacity: 1;}
:-moz-placeholder { /* Firefox 4 - 18 */ color: #969696; opacity: 1;}
input[type=text]::-ms-clear, input[type=tel]::-ms-clear{display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal, input[type=tel]::-ms-reveal {display: none; width : 0; height: 0; }

select{opacity:0; filter:alpha(opacity=0); /* IE 8 */}

.select{ font-size:18px; letter-spacing:-1px; box-sizing:border-box; -webkit-appearance:none; background:url(../images/main/arr_select.png) no-repeat 90% center #fff; background-size:21px 12px;}
.select{position:relative; display:block; background: url(../images/main/arr_select.png) right center no-repeat #fff;}
.select label{position:absolute; padding-top:16px; font-size:18px; color:#000; top:0; left:15px;}
.select select option{font-size:18px; letter-spacing:-1px; width: 100%;}
:root select{background-position:90% 40% \0/IE9}

/*form*/
.form{width: 100%; overflow: hidden}
.form dl{float: left; margin-left: 10px; margin-top: 19px}
.form dl:first-child{ margin-left: 0}
.form dl dt{ font-weight: 700; font-size: 18px; color: #000000; background:url(../images/main/icon_dot.png) no-repeat left center #fff; padding-left: 15px; margin-bottom: 10px }
.form .name{width: 280px;}

.form .phone{position: relative; width:280px;}
.form .phone .select{position: absolute; left: 1px; top:1px;}
.form .inpt_phone{ padding-left: 110px;}
.form .phone .sel_number{width:110px;  height: 50px; opacity: 0}

.form .place{width:280px; }
.form .place .select{border: 1px solid #c7c7c7; box-sizing: border-box; width: 100%; height: 52px}
.form .place .select label{position:absolute; padding-top:16px; font-size:18px; color:#000; top:0px; left:15px; display: block;}
.form .place .sel_place{ width: 100%; height: 50px}

caption{overflow:hidden;width:100%;height:1px;font-size:0;line-height:0;text-indent:-9999px;}

/* Slider */
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{
    outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{
    clear: both;
}
.slick-loading .slick-track{
    visibility: hidden;
}
.slick-slide{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
/*    display: block;*/
	position: relative;
}



.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
/*    border: 1px solid transparent;*/
}
.slick-arrow.slick-hidden {
    display: none;
}


/* Dots */
.multiple-items .slick-dots
{
    position: absolute;
    bottom: 80px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.multiple-items .slick-dots li
{
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.multiple-items .slick-dots li button
{
    display: block;
    width: 18px;
    height: 18px;
	padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #464646;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.multiple-items .slick-dots li button:hover,
.multiple-items .slick-dots li button:focus
{
    outline: none;
}
.multiple-items .slick-dots li button:hover,
.multiple-items .slick-dots li button:focus
{
/*	background: #fff;*/
}

.multiple-items .slick-dots li.slick-active button{background-color:#fff}

/* custom */
.multiple-items .slick-slider{ line-height: 1}
.multiple-items .slick-slide{ overflow:hidden}