
/* reveal motion */
.reveal {
	opacity: 0;
	-webkit-transform: translate3d(0, 80px, 0);
	transform: translate3d(0, 80px, 0);
	transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.reveal_visible {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

/* common */
#sdinsu_wrap{ width:100%}
.content_layout_type2{ overflow: hidden; width:1200px; margin: 60px auto; box-sizing: border-box; -webkit-box-sizing: border-box;}
.content_layout_type3{ overflow: hidden; width:1200px; margin: 100px auto; box-sizing: border-box; -webkit-box-sizing: border-box;}
#sdinsu_wrap h4		 { font-size: 20px; color: #888888; margin-top: 40px; line-height: 1.2; letter-spacing: -0.025em}
.category_title		 { margin-bottom: 60px; text-align: left;}
.mo_img		{ display: none}
.visual_mo	{display: none;}
.con_bg		{ overflow: hidden; background: #f3f6fa;}
.btn_top	{  display: none; position: fixed; bottom: 10px; right:10px;}

/* gnb */
#gnb_con 							{ position:fixed; top:0; left:0; right:0; z-index:101;}
#gnb_con #gnb 						{ overflow:visible;position:relative;margin:0 auto; padding: 0 60px; height:100%}
#gnb_con #gnb h1					{ float: left; margin-top: 20px}
#gnb_con #gnb .tit_logo				{ display: block; overflow: hidden; width:125px;height: 44px; background: url('../images/logo.png') no-repeat top left; background-size:125px; font-size: 0}
#gnb_con #gnb .list_menu			{ overflow:hidden; float: right; height: 70px; margin-top: 23px}
#gnb_con #gnb .list_menu li			{ float: left; margin: 0 0 0 51px; height: 40px; line-height: 40px}
#gnb_con #gnb .list_menu li a		{ font-size: 18px; font-weight:700; color: #fff; letter-spacing: -0.025em}
#gnb_con #gnb .list_menu li.blog	{ display: none;}
#gnb_con #gnb .list_menu li.blog a	{ display: block; width: 40px; height: 40px; background: url('../images/icon_bolg.png') no-repeat left top}
#gnb_con #gnb .list_menu li.blog a:hover{ display: block; width: 40px; height: 40px; background: url('../images/icon_bolg_on.png') no-repeat left top}
#gnb_con.on #gnb					{ height: 84px; background: #fff; box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.06)}
#gnb_con.on #gnb .tit_logo			{ background: url('../images/logo_on.png') no-repeat top left; background-size: 125px}
#gnb_con.on #gnb .list_menu li a	{ color: #000000}
#gnb_con.on #gnb .list_menu li.blog a{ display: block; width: 40px; height: 40px; background: url('../images/icon_bolg_scroll.png') no-repeat left top}
#gnb_con .link_navi{ display:none}

/* side_menu */
.side_menu		{ display:none; overflow-x: hidden; position: absolute; left: -100%; top: 0; bottom: 0; width: 100%; z-index:999;	}
.side_menu .bg  { position: absolute; top: 0; bottom: 0; width: 100%; background: #000; opacity: 0.7;}
.btn_close_con	{ width:100%}

/* footer */
#footer						 { overflow: hidden; width:100%; background: #323232}
#footer > div > div::after	 { content: ''; display: block; clear: both;}
#footer .logo				 { float: left; width: 125px; margin:22px 0 0 43px}
#footer .right_con  		 { float: left; margin-left: 78px}
#footer .logo .txt			 { display: block; float: right; font-size: 13px; color: #9f9f9f; margin-top: 5px; letter-spacing: -0.025em }
#footer .right_con .btn_privacy_agree a{ font-size:16px; color: #a8a8a8; letter-spacing: -0.01em}
#footer .right_con .address	 { line-height: 1.7; margin-top: 7px; font-size: 13px; font-weight: 300; color: #737373; letter-spacing: -0.01em;}
#footer .right_con .address a{ font-size: 13px; font-weight: 300; color: #737373; letter-spacing: -0.01em;}
#footer .right_con .copy	 { margin-top: 19px; font-size: 11px; font-weight: 300; color: #737373; }
#footer .btn_sns_con		 { display: none; float: right; margin: 44px 55px 0 0}
#footer .btn_sns_con .blog	 { float:left; width:32px; height:30px; margin-right:25px}
#footer .btn_sns_con .post	 { float:left; width:17px; height:30px}
#footer .btn_sns_con .blog a { display:inline-block; width:32px; height:30px; background: url('../images/ico_blog.png') no-repeat center left; background-size: 32px}
#footer .btn_sns_con .post a { display:inline-block; width:17px; height:30px; background: url('../images/ico_post.png') no-repeat center left; background-size: 17px}
#footer .btn_sns_con .blog a:hover { background: url('../images/ico_blog_on.png') no-repeat center left; background-size: 32px}
#footer .btn_sns_con .post a:hover { background: url('../images/ico_post_on.png') no-repeat center left; background-size: 17px}

/* ë¹„ì£¼ì–¼ì˜ì—­ */
.content_layout_type1 { overflow: hidden; position: relative ;width: 100%; height: 100vh !important; box-sizing:border-box;}
.scrollDown 		  {
	display: block; position: absolute; left: 50%; bottom: 8%; z-index: 100;
	width: 40px; height: 40px; margin-left: -20px; border-bottom: 2px solid #fff; border-right: 2px solid #fff; text-align: center; font-size: 20px; text-decoration: none; text-shadow: 0; cursor: pointer;
	-webkit-transform: translate(-50%, 0%) rotate(45deg); -moz-transform: translate(-50%, 0%) rotate(45deg); transform: translate(-50%, 0%) rotate(45deg);
	-webkit-animation: fade_move_down 2s ease-in-out infinite; -moz-animation: fade_move_down 2s ease-in-out infinite; animation: fade_move_down 2s ease-in-out infinite;
}
.visual_swiper 				 { width: 100%; height: 100vh;}
.visual_swiper .swiper-slide { position: relative; z-index:0;}
.visual_txt 	  { display: block; position: absolute; left: 0; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); width: 1200px; text-align: left;}
.visual_txt .visual_arrow { -webkit-animation: fade_move_down 2s ease-in-out infinite; -moz-animation: fade_move_down 2s ease-in-out infinite; animation: fade_move_down 2s ease-in-out infinite;}
.visual_txt .txt1 			{ transition: all .8s ease-in 0.5s; -webkit-transform: translate3d(0, -100%, 0); -ms-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); opacity: 0;}
.visual_txt .txt2 			{ margin: 35px 0 55px; transition: all .8s ease-in 0.8s; -webkit-transform: translate3d(0, -100%, 0); -ms-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); opacity: 0;}
.visual_txt .txt3 			{ transition: all .8s ease-in 1.2s; -webkit-transform: translate3d(0, -100%, 0); -ms-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); opacity: 0;}
.swiper-slide-active .txt1,
.swiper-slide-active .txt2,
.swiper-slide-active .txt3 {-webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); opacity: 1;}
.swiper_bg  					{ position: absolute; top: 0; right: 0; bottom: 0; left: 0; -webkit-transition: 4s all; -moz-transition: 4s all;  transition: 4s all;}
.swiper_bg1 					{ background: url(../images/visual_bg1.jpg) no-repeat center center; background-size: cover;}
.swiper_bg2 					{ background: url(../images/visual_bg2.jpg) no-repeat center center; background-size: cover;}
.swiper-slide-active .swiper_bg {  -webkit-animation: visual_move 6s ease-in; -moz-animation: visual_move 6s ease-in; animation: visual_move 6s ease-in;}
.visual_pagination{
	position: absolute; top: 50%; left: 50% !important; bottom: auto !important; z-index: 100;
	-webkit-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
	width: auto !important; height: 3px; margin: -250px 0 0 -500px;
}
.visual_pagination > span		{ width: 100px !important; height: 100% !important; margin: 0 !important; border-radius: 0 !important; vertical-align: top;}
.visual_pagination > span+span  { margin-left: 5px !important;}

@keyframes visual_move {
	0%   { transform: scale(1.1);}
	40%  { transform: scale(1.1);}
	100% { transform: scale(1);}
}


/* 1 ìžë™ì°¨ë³´í—˜ë£Œ ë¹„êµ ì„œë¹„ìŠ¤ */
#menuCon2 > .view_con 					{ text-align: center;}
.car_insurance_list						{ display: inline-block; position: relative; overflow: hidden; padding: 0 0 94px 0; margin: 60px auto 0;}
.car_insurance_list .box_con			{ float: left; margin:0 0 0 114px;}
.car_insurance_list .box_con:first-child{ margin: 0}
.car_insurance_list .box_con a			{ display: block}
.car_insurance_list .box_con a:hover .box{ box-shadow: 8px 13px 15px 0px rgba(73, 84, 98, 0.1);}
.car_insurance_list .box_con .txt_con	{ text-align: center; margin-top: 30px; height: 22px;padding-bottom: 20px; background: none}
.car_insurance_list .box_con a:hover .txt_con{ background:url('../images/icon_tm_arrow.jpg') no-repeat center bottom; }
.car_insurance_list .box_con .txt		{ display: inline-block; font-size: 20px; border-bottom: 2px solid #000; padding-bottom: 10px}
.car_insurance_list .box_con .txt .point{ font-size: 20px; font-weight: 700;}
.car_insurance_list_btn_group			{ display: none; position: absolute; top: 475px; left: 33px; height: 20px;}
.car_insurance_list_btn_group li		{ float: left; margin-left: 15px;}
.car_insurance_list_btn_group li a		{ display: inline-block; width: 116px; background:url('../images/icon_tm_btn.jpg') no-repeat right 2px; font-size: 14px; font-weight: 500; text-align: left;}
.car_insurance_list_btn_group li:first-child{ margin-left: 0}
.car_insurance_list_btn_group li:hover a{ cursor: pointer; background:url('../images/icon_tm_btn_on.jpg') no-repeat right 2px; color: #3ae6d7; padding-bottom: 5px; border-bottom: 1px solid #3ae6d7}
.car_insurance_list .box_con.on a .box	{ box-shadow: 8px 13px 15px 0px rgba(73, 84, 98, 0.1);}
.car_insurance_list .box_con.on a .txt_con{ background:url('../images/icon_tm_arrow.jpg') no-repeat center bottom; }
.car_insurance_list_btn_group li		{ -webkit-transform: translate(0, -30px); -webkit-transition: all 500ms; opacity:0; transform: translate(0, -30px); transition: all 500ms;}
.car_insurance_list_btn_group li.on		{ opacity:1; -webkit-transform: translate(0, 10px); transform: translate(0, 10px);}

/* 2 ì œíœ´ ë¹„ì¦ˆë‹ˆìŠ¤ */
.partnerships_img{ margin-top:60px}
.info_cont_con						{ overflow: hidden; margin-top:40px}
.info_cont_con .title				{ display: inline-block; line-height: 1.25; margin-right: 20px; font-size: 18px; color: #000; font-weight: 700; vertical-align: middle; text-align: left;}
.info_cont_con .info_cont			{ display: inline-block; width:142px;margin:0 auto; vertical-align: middle}
.info_cont_con .info_cont:first-child{ padding-top:23px}
.info_cont_con .info_cont .circle 	{ display:table-cell;width:142px;height:142px; background: #fff; border-radius:142px;text-align:center;vertical-align:middle;box-sizing:border-box;-webkit-box-sizing: border-box;}
.info_cont_con .info_cont .desc_cont{ line-height: 1.25; margin-top: 12px; font-size: 16px; font-weight: 500; color: #3d3e40;}
.info_cont_con .info_arrow			{ display: inline-block; margin: 0 10px;}
.email_txt		{ display: inline-block; height:19px; margin-top: 60px; font-size: 16px;letter-spacing:-0.025em;color:#000;font-weight: 500}
.email_txt a	{ display: inline-block;font-size: 16px;letter-spacing:-0.025em;color:#000;}

/* 3 ì œíœ´ì‚¬ */
.list_network	{ display:inline-block; *display:inline; zoom:1; padding:1px 0 0 1px; margin: 40px 0 160px}
.list_network li{ float:left; z-index:1; width: 20%; margin:-1px 0 0 -1px; padding:15px 0; border: 1px solid #e8e8e8; box-sizing: border-box; text-align: center}

/* 4 ìˆ˜ìƒë‚´ì—­ */
.awards_img { margin: 40px 0 0;}

/* 5 ì—…ê³„ ìµœê³  ìˆ˜ì¤€ì˜ ì—­ëŸ‰ ë° ì‹œìŠ¤í…œ */
.list_direct				{ overflow: hidden; margin:0 auto; padding: 90px 0 0}
.list_direct li				{ display: inline-block; width: 200px; height: 100%; text-align: center; vertical-align: top; word-break:keep-all}
.list_direct li .num		{ display: inline-block; font-family: 'Spoqa Han Sans', 'Sans-serif'; font-size: 40px; font-weight: 700; color: #eb2f01; border-bottom: 2px solid #eb3000; padding-bottom: 3px}
.list_direct li .icon_mark	{ margin-top: 5px}
.list_direct li .main_txt	{ font-weight: 700; font-size: 18px; color: #333333; line-height: 1.5; margin-top: 36px; letter-spacing: -0.025em}
.list_direct li .sub_txt	{ font-weight: 300; font-size: 14px; color: #888888; line-height: 1.5; letter-spacing: -0.025em; margin-top: 9px}

/* 6 ì—…ê³„ 1ìœ„ì˜ ì ìœ ìœ¨ */
.share_txt				{ font-size: 18px; font-weight: 300; color: #000000; letter-spacing: -0.025em}
.share_con				{ margin:40px auto 0; text-align: center;}
.share_con .share_txt	{ margin-top:37px; line-height: 1; text-align: center; font-weight: 400;}

/* 7 ì—°í˜ */
.list_history			{ position: relative; margin: 50px 0 0; font-size: 0; text-align: center;}
.list_history:before	{ content: ""; position: absolute; top: 57px; left: 0; z-index: -1; display: block; width: 100%; height: 347px; background: url('../images/list_history_bg_v2.png') no-repeat;}
.list_history:after 	{ content:''; display: block; clear: both;}
.list_history .year_con	{ display: inline-block; position: relative; width: 235px; margin: 0 86px 20px 0; vertical-align: top; text-align: center;}
.list_history .year_con:nth-of-type(4),
.list_history .year_con:nth-of-type(5){ margin-right: 0;}
.list_history .year_con:nth-of-type(5),
.list_history .year_con:nth-of-type(6),
.list_history .year_con:nth-of-type(7),
.list_history .year_con:nth-of-type(8){ float: right;}
.list_history .year_con .bg						{ position: relative; }
.list_history .year_con .txt_con:first-child dl { margin-left: 30px}
.list_history .year_con .txt_con dl			 	{ overflow: hidden;text-align: left;margin-top: 17px;/* font-size: 0; */}
.list_history .year_con .txt_con dl dt		 	{ font-size: 16px;color: #000;letter-spacing: -0.025em;margin-bottom: 7px;}
.list_history .year_con .txt_con dl dd		 	{ font-size: 14px;color: #000;letter-spacing: -0.025em;line-height: 1.42;}
.list_history .year_con .txt_con dl dd .point	{ color: #17d9ce;}






/* 8 ì±„ìš©ì•ˆë‚´ */
.sub_title			{ line-height: 1; margin-top: 90px; text-align: center; font-size:26px; font-weight: 700; color: #000;}
.list_field		{ overflow: hidden; width: 1124px; padding:0 0 30px; margin: 30px auto 0;}
.list_field li	{
	float: left; width: 271px; height: 60px; line-height: 60px; margin: 5px;
	text-align: center; font-size: 20px; color: #fff; vertical-align: middle;
	-webkit-border-radius: 60px; -moz-border-radius: 60px; border-radius: 60px;
		
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#11d6c5+0,07ea78+100 */
	background: #11d6c5; /* Old browsers */
	background: -moz-linear-gradient(right, #11d6c5 0%, #07ea78 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(right, #11d6c5 0%,#07ea78 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to left, #11d6c5 0%,#07ea78 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11d6c5', endColorstr='#07ea78',GradientType=0 ); /* IE6-9 */
	box-shadow: 3px 4px 15px 0px rgba(73, 84, 98, 0.15); 
}
.down_txt			{ font-size: 18px; color: #6e757e; letter-spacing: -0.025em}
.down_txt .point	{ font-weight: 700}
.down_txt .btn_down { display: inline-block; width:116px; height: 32px; line-height: 32px; margin-left: 10px; background: #8b94a0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; vertical-align: middle; text-align: center; font-size: 16px; font-weight: 500; color: #fff; letter-spacing: -0.025em;}



/* slick multiple-items */
.btn_prev	{ position: absolute; top:50%; left: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index:15; width:20px; height:50px; padding: 0; background: url('../images/btn_layer_left_on.png') no-repeat center; background-size: 20px}
.btn_next	{ position: absolute; top:50%; right: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); z-index:15; width:20px; height:50px; padding: 0; background: url('../images/btn_layer_right_on.png') no-repeat center; background-size: 20px}
.ico_arrow	{ overflow:hidden;font-size: 0; text-indent:-9999px}
.awards_slider_con		{ background: #2a2a2a}
.awards_slider			{ position: relative; width: 1100px; margin: 0 auto}
.awards_slider .btn_prev{ left: -25px}
.awards_slider .btn_next{ right: -25px}

/* slider custom */
.multiple-items .slick-slide	{ margin:25px 20px}
.multiple-items._prize li		{ float:left; width:200px; text-align:center; position: relative;}
.multiple-items._prize li .icon{ display: inline-block; margin-top: 14px;}
.multiple-items._prize li .txt { display:inline-block; text-align:left; color:#646464; font-size:14px; letter-spacing: -0.025em; vertical-align:top; line-height: 1.25; margin-top: 23px; margin-left: -4px}







/* ? */
	.slider_con			{ text-align: center; margin-top: 64px}
	.slider_con .txt_con{ position: absolute; width: 2000px; color: #FFFFFF; top:0; left:0; z-index: 1; margin-top: 120px}
	.slider_img_con		{ position: relative}
	.slider_img_con h2	{ font-size: 72px; font-weight: 500; color: #fff; letter-spacing: -0.025em;}
	.slider_img_con p	{ font-size: 40px; color: #fff; letter-spacing: -0.025em; margin-top: 23px; line-height: 1.2}
	
	/* .btn_prev.slick-disabled{ background: url('http://img.direct-carbohum.com/adinsu/company/btn_layer_left.png') no-repeat top left;} */
	/* .btn_next.slick-disabled{ background: url('http://img.direct-carbohum.com/adinsu/company/btn_layer_right.png') no-repeat top left;} */
	.list_insure_type1		{ overflow: hidden; margin: 30px auto 0; text-align: center}
	.list_insure_type1 li	{ display: inline-block; width: 80px; height: 26px; margin: 5px 4px; padding:8px 14px; background: #fff; border: 1px solid #e8e8e8}
	.list_insure_type2_con								{ text-align:center; margin-top: 50px}
	.list_insure_type2_con .list_insure_type2			{ display:inline-block; *display:inline; zoom:1; padding:1px 0 0 1px}
	.list_insure_type2_con .list_insure_type2 li		{ float:left; margin:-1px 0 0 -1px; z-index:1; width: 198px; height: 200px; border: 1px solid #e8e8e8; box-sizing: border-box}
	.list_insure_type2_con .list_insure_type2 li .logo	{ display: inline-block; width: 132px; height: 44px; margin-top: 44px}
	.list_insure_type2_con .list_insure_type2 li .btn	{ display: inline-block; width: 150px; height: 40px;; margin-top: 26px}
	.list_insure_type2_con .list_insure_type2 li .btn a	{ display: inline-block; width: 150px; height: 40px; background: #272f46; font-weight: 500; font-size: 14px; line-height: 40px; color: #fff}
	.list_insure_type2_con .desc						{ font-size: 14px; color: #888888; letter-spacing: -0.025em; margin-top: 30px; line-height: 1.53}


	/* 201222 ê°œì¸ì •ë³´ ì´ìš©ë‚´ì—­*/
	.info {clear: both; padding: 20px;}
	.policy_foot h1{padding: 13px 0px 13px; font-size: 22px; font-weight: 600; line-height: 26px}
	.policy_foot h2{font-size: 18px; font-weight: 600; margin: 25px 0px 15px; color: #eb3000;}
	.policy_foot h3{background:none; padding: 0px; font-size: 16px; font-weight: 600; margin: 20px 0px 0px;}
	.policy_foot p{color: #888; font-size: 13px; line-height: 20px;}
	.policy_foot li{color: #888; font-size: 13px; line-height: 20px; padding-bottom: 10px;}
	.policy_foot li ol,.policy_foot li dl{margin-bottom: 0px; display: block; margin-top: 10px;}
	.policy_foot li li{padding-bottom:5px;}
	.policy_foot li dl dt{padding:12px 0 5px;}
	.policy_foot li dl dt span{font-size: 10px; vertical-align: 2px; margin-right: 3px;}
	.policy_foot li dl dd{padding-left:12px;}
	.policy_foot li dl dd span{margin-left:-4px;}
	.privacy_tble {width: 100%; border-collapse: collapse; border-spacing: 0; border: 0; margin: 10px 0; padding: 0;}
	.privacy_tble th {padding: 7px 5px; border: 1px solid #e0e0e0; background: #fff; font-size: 12px; line-height: 17px; letter-spacing: -1px; vertical-align: middle;}
	.privacy_tble td {padding: 7px 5px; border: 1px solid #e0e0e0; text-align: center; font-size: 12px; color: #888; vertical-align: middle;}

	.privacy_tble_w {width: 100%; border-collapse: collapse; border-spacing: 0; border: 0; margin: 0; padding: 0;}
	.privacy_tble_w th{padding: 7px 5px; border-top: 1px solid #e0e0e0 !important; border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; text-align: center; background: #f2f3f5; font-size: 12px; line-height: 17px; letter-spacing: -1px; vertical-align: middle;}
	.privacy_tble_w td{padding: 7px 5px; border: 1px solid #e0e0e0; text-align: center; font-size: 12px; color: #888; line-height: 18px; vertical-align: middle;}
	.ta_l{text-align:left !important;}
	.privacy_tble_w tbody th {background: #f2f3f5;}
	dd.op_info .privacy_tble_w td{ background: #fff;}
	.privacy_tble_w .left{text-align: left;}

	.priv_ver_tit{color: #272f46 !important; display: block; padding-top: 30px; border-top: 1px dotted #ccc;}
	.priv_ver li{padding-bottom: 5px;}
	.priv_ver li a{color: #888 !important; text-decoration: underline;}



/* tablet */
@media all and (max-width:1200px) {
	#gnb_con #gnb { padding: 0 20px;}
	.mo_inner	  { padding: 0 20px;}
	.content_layout_type2 { width: 100%; }
	.content_layout_type3 { width: 100%; margin: 70px auto;}
	.list_insure_type1	  { text-align: left; width: 1062px}
	.list_insure_type2_con .list_insure_type2{ width: 986px}
	
	/* footer */
	#footer .logo				{ float: none; width: 100%; margin:0 auto 25px; text-align: center;}
	#footer .right_con			{ float: none; margin: 0; text-align: center;}
	#footer .right_con .address	{ font-size: 12px}
	#footer .right_con .address a{ font-size: 12px}
	
    /* ë¹„ì£¼ì–¼ì˜ì—­ */
	.visual_txt { width: 100%; padding: 0 20px; margin: 0; left: 0; transform: translate(0,-50%); -webkit-transform: translate(0,-50%); box-sizing: border-box; -webkit-box-sizing: border-box;}
	.visual_pagination{margin: -250px 0 0 0; left: 20px !important; -webkit-transform: translate(0,-50%); -ms-transform: translate(0,-50%); transform: translate(0,-50%);}

	/* 1 */
	.car_insurance_list                 { width: 580px; padding: 0;}
	.car_insurance_list .box_con        { margin: 60px 0 0 0; }
	.car_insurance_list_btn_group		{ position: relative; width: 100%; height:100%; top: 15px; left: 0;}
	.car_insurance_list_btn_group li	{ width: 116px; height:13px; margin-left:0; text-align: center;}
	.car_insurance_list_btn_group li a	{ font-size: 13px; text-align: center;}

    /* 2 */
	.info_cont_con .title            { display: block; text-align: center; margin-bottom: 20px; margin-right: 0}
	.info_cont_con .info_cont        { width:113px;}
	.info_cont_con .info_cont .circle{ height: 113px;}	

	/* 3 */
	.list_network { margin: 40px 0 100px;}

    /* 5 */
	.list_direct			 { width: 580px; padding: 25px 0 0;}
	.list_direct li			 { width: 193px; margin-top: 30px;}
	.list_direct li .main_txt{ margin-top: 20px;}
	
    /* 7 */
	.list_history                       { width: 640px; padding: 35px 0 0; margin: 20px auto 70px;}
	.list_history:before                { width: 2px; height: 100%; top:0; left:137px; background: none; background-color: #3ae6d7;}
	.list_history .year_con             { float: none; width: 640px; margin: 50px 0 0 0;}
	.list_history .year_con:nth-of-type(1) { margin: 0 auto;}
	.list_history .year_con:nth-of-type(1) .txt_con{ padding-top: 7%;}
	.list_history .year_con:nth-of-type(4) .txt_con{ padding-top: 3%;}
	.list_history .year_con:nth-of-type(5) .txt_con{ padding-top: 6%;}
	.list_history .year_con .txt_con dl:first-child{ margin-left: 0; margin-top: 0}
	.list_history .year_con .bg         { float: left; width: 49.137%; vertical-align: top; text-align: left; left: 64px}
	.list_history .year_con .txt_con    { float: left; width: 50.863%}
	.list_history .year_con .txt_con dl { margin-top: 12px;}
	.list_history .year_con:nth-of-type(5),
	.list_history .year_con:nth-of-type(6),
	.list_history .year_con:nth-of-type(7),
	.list_history .year_con:nth-of-type(8){ float: none; margin: 50px 0 0 0;}

	/* 8 */
	.list_field { width: 562px}

	/* slider */
	.multiple-items .slick-slide                { margin: 25px 0;}
	.awards_slider_con .mo_inner{ padding: 0 4.687%}
	.awards_slider              { width: 100%}
}

/* mobile */
@media all and (max-width:768px) {
	/* ê³µí†µ */
    .lock,
    .lock body { overflow: hidden; position: fixed; top: 0; left: 0; right: 0; height: 100%;}
    #main_wrap{min-width:320px;}

	.pc_img { display:none}
	.mo_img { display:block}
    .content_layout_type2 { min-width:320px; margin: 35px auto 30px;}
    .content_layout_type3 { min-width:320px; margin: 45px auto;}

    /* gnb */
	#gnb_con				{ border-bottom: 1px solid rgba(255, 255, 255, 0.12); height: 60px}
	#gnb_con #gnb			{ height: 60px;}
	#gnb_con #gnb h1		{ margin-top: 14px}
	#gnb_con #gnb .tit_logo	{ width: 90px; background-size: 90px}
	#gnb_con .link_navi 		  { display:block; z-index: 10; float:right; height: 39px;}
	#gnb_con .link_navi .ico_navi { display: block; width: 29px; height: 23px; margin: 19px auto 0; background-image: url(../images/icon_navi.png); background-size:29px auto; font-size: 1px; color: transparent; text-indent: 0}
	#gnb_con.on #gnb				{ height: 60px}
	#gnb_con.on #gnb .tit_logo		{ width: 90px; background-size: 90px}
	#gnb_con.on .link_navi .ico_navi{ background-image: url(../images/icon_navi_on.png);}
	.list_menu{ display: none}
			
	/* side_menu */
	.side_menu.on				{ display:block; left: 0;}
	.side_menu .side_menu_con	{ position:relative; top:-100%; padding: 0 20px; background: #000;}
	.side_menu .btn_close		{ float:right; margin:30px 0}
	.side_menu ul				{ overflow:hidden; width:100%; padding-bottom:52px; background: #000;}
	.side_menu ul li			{ border-top: 1px solid rgba(255, 255, 255, 0.1);}
	.side_menu ul li:first-child{ border-top:none}
	.side_menu ul li a			{ display:block; width:100%; height:60px; line-height:60px; font-size: 20px; color:#fff; letter-spacing: -0.025em; background: url(../images/icon_sidenavi_arrow.png) no-repeat right center; background-size: 8px auto}
	.side_menu ul li.active a	{ color:#11d6c5; background: url(../images/icon_sidenavi_arrow_on.png) no-repeat right center; background-size: 8px auto}

    /* ë¹„ì£¼ì–¼ì˜ì—­ */
	.scrollDown { width:20px; height: 20px; margin-left: -10px}
	.visual_txt		  		  { top: 40%; }
	.visual_txt .txt2 		  { margin: 25px 0;}
	.swiper_bg  			  { background-size: cover;}
	.swiper_bg1 			  { background: url(../images/visual_bg1_m2.jpg) no-repeat center center; background-size: cover;}
	.swiper_bg2 			  { background: url(../images/visual_bg2_m2.jpg) no-repeat center center; background-size: cover;}
	.visual_pagination 		  { top: 40%; margin: -21vh 0 0 0;}
	.visual_pagination > span { width: 90px !important;}
	
    /* footer */
	#footer .right_con		{ margin: 0; width:100%; text-align: left;}
	#footer .btn_sns_con	{ float: left; margin-top:26px}
	#footer .right_con .copy{ margin-top: 15px;}

    /* 1 */
	.car_insurance_list{ padding: 0;}

    /* 3 */
	.list_network li{ width:33.33%;}

	/* 5 */
	.list_direct			 { width: 100%;}
	.list_direct li			 { width: calc((100% - 60px)/3); margin: 0 10px 25px 10px;}
	.list_direct li .icon img{ width: 100px;}
	
    /* 6 */
	.share_con			 { width: 100%}
	.share_con .share_txt{ font-size: 16px;}

    /* ? */
	.slider_con .txt_con{ width: 100%; margin-top:3.47vw}
	.slider_img_con h2{ font-size: 48px; font-size: 10vw; line-height: 1.083}
	.slider_img_con p{ font-size: 24px; font-size: 5.55vw; margin-top: 4.72vw}
	.slick-dots{ bottom:70px; bottom: 6.94vw}
	.calc_form_con{width: 100%}
	.form dl{ width: 100%; margin-left: 0}
	.form .name,
	.form .phone,
	.form .place{ width: 100%}
	.prvy {text-align: left}
	.list_insure_type1{ margin: 30px auto; width: 312px}
	.list_insure_type1 li{ padding:13px 7px}
	.detail_con1 .desc{ text-align: left; width: 100%}
	.detail_con1 .btn_consult_con{ width: 100%}
	.list_insure_type2_con .list_insure_type2{ width: 395px}
	.list_insure_type2_con .desc{ text-align: left; width: 100%}
	.bubble{ width: 100%; padding: 20px 0; margin: 40px auto 30px}
	.bubble li p{ width: 100%; padding: 5px 0}
	.bubble li p span{ font-size: 14px}
	.countNumber_con{ font-size: 44px}
}


@media all and (max-width:640px) {
	#sdinsu_wrap h4	{ font-size: 16px; margin-top:15px}
	.category_title	{ margin-bottom: 40px;;}
	
	/* ? */
	#sdinsu_wrap h3.st_title1 img  { width: 248px; margin: 0 auto}
	#sdinsu_wrap h3.st_title2 img  { width: 133px; margin: 0 auto}
	#sdinsu_wrap h3.st_title3 img  { width: 76px; margin: 0 auto}
	#sdinsu_wrap h3.st_title3_1 img{ width: 84px; margin: 0 auto}
	#sdinsu_wrap h3.st_title4 img  { width: 300px; margin: 0 auto}
	#sdinsu_wrap h3.st_title5 img  { width: 168px; margin: 0 auto}
	#sdinsu_wrap h3.st_title6 img  { width: 40px; margin: 0 auto}
	#sdinsu_wrap h3.st_title7 img  { width: 80px; margin: 0 auto}

    /* ë¹„ì£¼ì–¼ì˜ì—­ */
    .content_layout_type1 .visual_mo{ display: block;}
	.content_layout_type1{ min-width: 320px;}
	.visual_txt		  	 { left: 0; width: 300px; padding: 0 0 0 20px;}
	.visual_txt .txt  	 { width: 100%;}
	.visual_pagination   { margin: -18vh 0 0 0;}

    /* 1 */
	.car_insurance_list{ width: 100%; padding:0 20px; margin: 30px auto 0; box-sizing: border-box; -webkit-box-sizing: border-box;}
    .car_insurance_list_btn_group li{ margin-bottom:10px}

    /* 2 */
	.partnerships_img { margin-top:25px}
	.info_cont_con .info_cont        { width:142px}
	.info_cont_con .info_cont .circle{ height:142px}
	.info_cont_con .info_arrow       { display:block; margin: 10px auto;}
	.info_cont_con .info_arrow img   { width:22px}
	.email_txt { padding-bottom:0}
    .email_txt { margin-top:25px}

    /* 3 */
	.list_network   { margin:20px 0 70px}
	.list_network li{ width:33.33%; padding: 0}

    /* 5 */
	.list_direct              { padding:40px 0 0; margin:0 auto}
	/* .list_direct li			  { border: 2px solid red;} */
	.list_direct li .main_txt { margin-top:20px; line-height: 1.2; font-size:16px; }
	.list_direct li .sub_txt  { line-height: 1.2 }

    /* 6 */
	.share_con{ padding-bottom:0}
	
	/* 7 */
	.list_history               { width: 100%; margin: 25px auto 0px;}
	.list_history:before        { left: 23.5%}
	.list_history .year_con     { width:100%;}
	.list_history .year_con .bg             { left:11.034%; width: 25.344%; margin-right: 12.758%}
	.list_history .year_con .txt_con        { float: right; width:54.863%}
	.list_history .year_con .txt_con dl     { margin-top:10px}
	.list_history .year_con .txt_con dl dt  { font-size: 14px; margin-bottom:4px}
	.list_history .year_con .txt_con dl dd  { font-size: 12px}

    /* 8 */
	.sub_title          { font-size:20px; margin-top:20px}
	.list_field         { width: 100%; padding: 0 7.58% 30px}
	.list_field li      { width: 41.55%; font-size: 15px; height:40px; line-height:40px}
	.down_txt           { font-size: 12px}
	.down_txt .btn_down { display: block; margin:10px auto 0; font-size: 16px}

    /* slider */
	.awards_slider_con	{ padding: 0 20px;}
	.slick-slider		{ width: 100%; margin: 0 auto}
	.multiple-items .slick-slide		{ margin: 10px 0}
	._prize li .icon    { width: 35%}
	._prize li .txt     { width: 65%;}
	.btn_prev,
    .btn_next           { background-size:15px auto}
}
@media all and (max-width:480px) {
	.list_direct li 			{ width:calc((100% - 40px)/2);}
	.list_direct li .icon img   { width: 85px;}
	.list_insure_type2_con .list_insure_type2	{ width: 100%}
	.list_insure_type2_con .list_insure_type2 li{ width: 50%}
	.car_insurance_list_btn_group{ width:240px; margin:0 auto }
	._prize li .txt{ font-size: 13px; margin-top:5vw}

    .layerPop{ width: 89.33%; left:5.33%; margin-left: 0}
	.layerPop .insure_logo{ float: none}
	.layerPop .btn_insurer{ float: none; display: block}
	.layerInfo .slide_content{ padding:30px}
}

/* animation */
@-ms-keyframes fade_move_down {
	0% {-ms-transform:translate(0, -10px) rotate(45deg); opacity: 0;}
	50% {opacity: 1;}
	100% {-ms-transform:translate(0, 10px) rotate(45deg); opacity: 0;}
}
@-webkit-keyframes fade_move_down {
	0% {-webkit-transform:translate(0, -10px) rotate(45deg); opacity: 0;}
	50% {opacity: 1;}
	100% {-webkit-transform:translate(0, 10px) rotate(45deg); opacity: 0;}
}
@-moz-keyframes fade_move_down {
	0% {-moz-transform:translate(0, -10px) rotate(45deg); opacity: 0;}
	50% {opacity: 1;}
	100% {-moz-transform:translate(0, 10px) rotate(45deg); opacity: 0;}
}
@keyframes fade_move_down {
	0% {transform:translate(0, -10px) rotate(45deg); opacity: 0;}
	50% {opacity: 1;}
	100% {transform:translate(0, 10px) rotate(45deg); opacity: 0;}
}
