<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="naver-site-verification" content="c189869dfbca2004921ff82eec779daad7b22ba5">
    <meta name="Author" content="(주)리치앤코">
    <meta name="robots" content="all">
    <meta property="og:type" content="website">
    <meta property="og:image" content="../images/og_BN.png"/>
    <meta property="og:title" content="동양생명 보험비교">
    <meta property="og:description" content="실시간 보험료 비교 견적을 한번에!">
    <meta name="description" content="내게 맞는 동양생명 보험 계산하기">
    <meta name="keyword" content="동양생명,리치앤코, Rich&Co.,보험의바른이치,보험,보험비교,보험료,보험대리점,보험서비스,보험비교사이트, 보험비교, 의료실비, 실손의료보험, 실비보험, 실손보험, 암보험, 무해지환급형보험, 유병자보험, 간편심사보험, 어린이보험, 태아보험, 건강보험, 치아보험, 운전자보험, 상해보험, 실버보험, 간병보험, 종신보험, 정기보험, 주택화재보험, 연금보험, 저축보험, 연금저축보험, 변액보험, 자동차보험, 보험료비교, 보장비교, 치매보험, 간병보험,치매간병보험, 부모님보험">
    <title>동양생명 보험판매 대리점</title>
    <link rel="shortcut icon" href="../images/common/favico_BN.ico">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/nine-select.css">
</head>
<body class="sitecode-BN">
<!-- wrap -->
<div class="wrap">
    <!-- container -->
    <div class="container">
        <!-- header -->
        <header class="header">
            <h1 class="header-logo">
                <a href="#">
                    <img src="../images/logo_sitecodeBN_dev.png" alt="보험판매대리점">
                    <span class="header-subtit">보험판매대리점</span>
                    <span class="header-subtit2">굿리치 보험판매대리점</span>
                </a>
            </h1>
            <div class="header-search">
                <a href="#" ng-click="goSearch(searchKeyword)" class="header-search-trigger"></a>
            </div>
        </header>
        <div class="header-sitemap">
            <a href="#" onclick="navToggle();" class="header-trigger js-nav">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="header-gnb-wrap">
            <div class="dimmed"></div>
            <div class="header-gnb">
                <div class="header-logo">
                    <a href="">
                        <img src="../images/logo_sitecodeBN.png" alt="보험판매대리점"/>
                        <span>보험판매대리점</span>
                    </a>
                </div>
                <ul class="gnb-menu gnb-menu-haslogin"><!-- 간편 로그인이 있을경우 gnb-menu-haslogin 클래스추가-->
                    <li class="gnb-hit">
                        <a href="" class="gnb-tit" ng-click="goUrl('/insur_total', true)">
                            <span class="sitecode-bg2">통합보험료계산</span>
                        </a>
                    </li>
                    <li class="gnb-consult is_active">
                        <a href="" class="gnb-tit">
                            <span>온라인 상담신청</span>
                        </a>
                        <div class="gnb-2depth">
                            <ul class="col-type2">
                                <li><a href="" class="btn-st3" ng-click="consultPopup()">상담신청</a></li>
                                <li><a href="" class="btn-kakao"><span>카카오 로그인</span></a></li>
                                <li><a href="#" class="btn-naver"><span>네이버 로그인</span></a></li>
                            </ul>
                        </div>                    
                    </li>
                    <li class="gnb-consult-only">
                        <a href="" class="gnb-tit" ng-click="consultPopup()">
                            <span>온라인 상담신청</span>
                        </a>
                    </li>
                </ul>
                <div class="gnb-info">
                    <div class="gnb-search">
                        <input type="text" name="" id="" class="input-search" placeholder="검색어를 입력하세요" ng-click="goSearch(searchKeyword)">
                    </div>
                    <div class="gnb-tel">080.800.1300</div>
                </div>
            </div>
        </div>
        <!-- //header -->

        <!-- main -->
        <main class="main">
            <!-- section -->
            <!-- 메인 이미지 사이트 관리자에서 관리 -->
            <div class="main-head1">
                <strong class="sitecode-color">동양생명</strong>
                <span>보험료 계산 서비스</span>
                <em>실시간으로 내 보험료를 확인하세요!</em>
            </div>
            <!--form-type1(메인)-->
            <section class="main-spot form-type1">
                <ul href="#modal1" class="ui-form mb20 layer-open">
                    <li class="ui-row uimode4">
                        <div class="ui-col">
                            <select disabled="disabled">
                                <option value="0" selected="selected" label="보험종류 선택">보험종류 선택</option>
                                <option value="1" label="신생아보험">신생아보험</option>
                                <option value="2" label="의료실비보험">의료실비보험</option>
                                <option value="3" label="주택화재보험">주택화재보험</option>
                                <option value="4" label="치매간병보험">치매간병보험</option>
                            </select>
                        </div>
                        <div class="ui-col">
                            <select disabled="disabled">
                                <option value="0" selected="selected" label="보험타입 선택">보험타입 선택</option>
                            </select>
                        </div>
                    </li>
                </ul>
                <div class="form-group-login">
                    <div class="form-subtit">간편 로그인 <em>인증없이 빠르게!</em></div>
                    <ul class="col-type2">
                        <li><a href="#" class="btn-kakao"><span>카카오 로그인</span></a></li>
                        <li><a href="#" class="btn-naver"><span>네이버 로그인</span></a></li>
                    </ul>
                </div>
                <div class="form-bar">또는</div>
                <div class="form_group">
                    <ul class="ui-form col-type1" ng-show="!isInsurCalculation">
                        <li class="ui-row uimode3">
                            <div class="ui-col">
                                <input type="text" id="ipt_02" class="input-name" placeholder="이름" ng-model="customer.customerName">
                            </div>
                            <div class="ui-col">
                                <div class="ui-rdo">
                                    <input type="radio" class="show-hidden" id="ipt_03" name="ipt-gender" value="1" ng-model="customer.customerSex" checked="checked"><label for="ipt_03" class="ui-rdo">남자</label>
                                    <input type="radio" class="show-hidden" id="ipt_04" name="ipt-gender" value="2" ng-model="customer.customerSex"><label for="ipt_04" class="ui-rdo">여자</label>
                                </div>
                            </div>
                        </li>
                        <li class="ui-row uimode2">
                            <div class="ui-col">
                                <!-- <input ng-show="customer.calculationForm == 'I'" type="text" id="ipt_05" class="input-birthday" placeholder="산모 생년월일 {{'birthday' | placeholderText}}" maxlength="8" ng-model="customer.customerBirth" only-number remove-space> -->
                                <input ng-hide="customer.calculationForm == 'I'" type="text" id="ipt_05" class="input-birthday" placeholder="생년월일 20000101" maxlength="8" ng-model="customer.customerBirth" only-number remove-space>
                            </div>
                            <div class="ui-col">보험나이 **세</div>
                        </li>
                        <!-- <li class="ui-row" ng-if="customer.calculationForm == 'I'">
                            <div class="ui-col">
                                <input type="text" id="ipt_09" class="input-baby" placeholder="출생예정일 {{'babyDueDate' | placeholderText}}" maxlength="8" ng-model="customer.babyDueDate" only-number remove-space>
                            </div>
                        </li> -->
                        <li class="ui-row uimode1">
                            <div class="ui-col">
                                <input type="text" id="ipt_06" class="input-phone" placeholder="휴대폰번호 예)01012345678" maxlength="11" ng-model="mobileNumber" only-number remove-space>
                            </div>
                            <div class="ui-col">
                                <!-- 입력완료후 classs="btn-isdone"추가 -->
                                <a href="" ng-click="sendCertNum()" id="authCallBtn" class="btn-gray" ng-class="{'btn-isdone':customer.apiCertSuccess == true}">인증</a>
                            </div>
                        </li>
                        <li class="ui-row uimode1">
                            <div class="ui-col">
                                <input type="text" id="ipt_07" placeholder="인증번호" ng-model="certNumber" maxlength="5" only-number remove-space>
                            </div>
                            <div class="ui-col">
                                <!-- 입력완료후 classs="btn-isdone"추가 -->
                                <a href="" ng-click="checkCertNum()" id="authBtn" class="btn-gray" ng-class="{'btn-isdone':customer.apiCertSuccess == true}">확인</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="ui-phrase">
                    <p class="in-txt2">
                        <input type="checkbox" class="show-hidden" id="ipt_10" name="checkAgreement_main" ng-model="customer.customerAgree">
                        <label for="ipt_10" class="ui-chk">개인정보수집 · 활용 및 제공을 위한 동의</label>
                        <a href="" class="in-txt3" open-agreement="" agree-id="checkAgreement_main">보기</a>
                    </p>
                </div>
                <div class="form-btn mt20">
                    <a href="#loading1" class="btn-st1 sitecode-bg layer-open" ng-click="calculation('checkAgreement_main')">보험료 계산하기</a>
                </div>
                <!--//form-type1(메인)-->
            </section>
            <!-- //section -->

            <!-- section -->
            <section class="main-product">
                <div class="ui-masthead">
                    <h2 class="ui-masthead__tit">인기 보험상품</h2>
                    <p class="ui-masthead__summary">고객들이 가장 많이 찾아보는 보험 <span class="sitecode-color">BEST3</span>를 확인 하세요!</p>
                </div>

                <ul class="ui-product-list">
                    <!--상품리스트 있을때-->
                    <li class="ui-product-item">
                        <div class="uipi-top">
                            <i class="uipi-order1">1</i>
                            <span class="uipi-categ sitecode-color">의료실비보험</span>
                        </div>
                        <div class="uipi-cont">
                            <h3 class="uipi-htit">(무)한화실손의료보험(갱신형)2301</h3>
                            <p class="uipi-subtit">확인필-제2023-1100147-전사(2023.02.03~2024.02.02)</p>
                        </div>
                        <div class="uipi-bottom">
                            <a href="#modal2" class="btn-st2 sitecode-bg layer-open">내 보험료 계산하기</a>
                            <!-- 보험료 계산후 <a href="/insur_detail/{{popularInsur.insurCode}}" class="btn-st2 sitecode-bg">내 보험료 결과보기</a> -->
                        </div>
                    </li>
                    <li class="ui-product-item">
                        <div class="uipi-top">
                            <i class="uipi-order1">2</i>
                            <span class="uipi-categ sitecode-color">의료실비보험</span>
                        </div>
                        <div class="uipi-cont">
                            <h3 class="uipi-htit">(무)한화 LIFEPLUS 처음부터 함께하는 자녀보험2305</h3>
                            <p class="uipi-subtit">확인필-제2023-1100540-전사(2023.05.24~2024.05.23)</p>
                        </div>
                        <div class="uipi-bottom">
                            <a href="#modal2" class="btn-st2 sitecode-bg layer-open">내 보험료 계산하기</a>
                            <!-- 보험료 계산후 <a href="/insur_detail/{{popularInsur.insurCode}}" class="btn-st2 sitecode-bg">내 보험료 결과보기</a> -->
                        </div>
                    </li>
                    <!--//상품리스트 있을때-->

                    <!--상품리스트 없을때-->
                    <li class="ui-product-noitem" ng-repeat="i in getNumber((3-popularInsurList.length)) track by $index">
                        <div class="uipi-top">
                            <img src="../images/ico_noitem.png" alt="상품없을때">
                        </div>
                        <div class="uipi-cont">
                            <strong>상품을 준비중입니다.</strong>
                            <span>상담신청을 남겨 주시면 신속하게 안내해 드리겠습니다.</span>
                        </div>
                        <div class="uipi-bottom">
                            <a href="#modal3" class="btn-st2 sitecode-bg layer-open">무료상담신청</a>
                        </div>
                    </li>
                    <!--//상품리스트 없을때-->
                </ul>
            </section> 
            <!-- //section -->

            <!-- section -->
            <section class="main-banner">
                <h2 class="mb-tit">보험이 어려우신가요?</h2>
                <p class="mb-txt">보험전문가를 통한 상담으로<br/>나에게 맞는 보험을 확인하세요.</p>
                <ul class="col-type2">
                    <li><a href="#" class="btn-kakao"><span>카카오 로그인</span></a></li>
                    <li><a href="#" class="btn-naver"><span>네이버 로그인</span></a></li>
                    <li><a href="#modal2" ng-click="consultPopup()" class="btn-st2 layer-open">무료상담신청</a></li>
                </ul>
            </section>
            <!-- //section -->
        </main>
        <!-- //main -->
        <!--footer-->
        <div class="footer-highlight">
            <p>
                <strong>[ 필수안내사항 ]</strong><br>
                ※ 보험대리점: (주)리치앤코(Rich&co.) (등록번호 : 제2006038313호)<br>
                ※ 본 광고는 광고심의기준을 준수하였으며, 유효기간은 심의일로부터 1년입니다.<br>
                <span class="footer_emphasis">
                ※ 보험계약자가 기존 보험계약을 해지하고 새로운 보험계약을 체결하는 과정에서<br>
                ① 질병이력, 연령증가 등으로 가입이 거절되거나 보험료가 인상될 수 있습니다.<br>
                ② 가입 상품에 따라 새로운 면책기간 적용 및 보장 제한 등 기타 불이익이 발생할 수 있습니다.
                </span>
            </p>
        </div>
        <!--심의필 번호-->
        <div class="footer-dlbrt">
            <p>확인필-제2022-1100810-전사 (2022.09.13 ~ 2023.09.12)</p>
        </div>
        <!-- //심의필 번호 -->
        <footer class="footer">
            <div class="footer__util">
                <a href="" class="footer__util__txt1" open-privacy>이용약관</a>
                <!-- <a href="" class="footer__util__txt1" ng-if="siteMobileInfo.companyCode == 'HKF'" open-insur-rule-hkf >가입자유의사항</a> -->
                <!-- <a href="" class="footer__util__txt1" ng-if="siteMobileInfo.companyCode == 'NHF'" open-insur-rule-nhf >가입자유의사항</a> -->
                <!-- <a href="" class="footer__util__txt1" ng-if="siteMobileInfo.companyCode != 'DBF' && siteMobileInfo.companyCode != 'HKF' && siteMobileInfo.companyCode != 'NHF' && siteMobileInfo.companyCode != 'DYL' && siteMobileInfo.companyCode != 'LIF'" open-insur-rule >가입자유의사항</a> -->
                <a href="" class="footer__util__txt1" open-privacy-agree>개인정보처리방침</a> <br>
                <a href="" open-protection-standards class="footer__util-pri">금융소비자보호기준</a>
                <a href="" open-internal-control class="footer__util-pri">금융소비자보호 내부통제기준</a>
            </div>
            <p class="footer__info">서울특별시 중구 세종대로9길 41, 7층(서소문동, 퍼시픽타워)<br>㈜리치앤코(Rich&Co.) 보험대리점 보험몰지점<br>(등록번호 제2006038313호)<br>보험문의전화<span> 080.800.1300</span> | 사업자등록번호 120-86-93433<br>대표이사 한승표</p>
            <p>마케팅ᆞ제휴 문의 partnership@richnco.co.kr 02-6288-5762</p>
            <!-- <p ng-if="footerInfo.footerContents != ''">{{(footerInfo.footerContents) ? footerInfo.footerContents : ""}}</p> -->
            <p class="footer__copyr">Copyright ⓒ 2020 by Rich&Co. All Rights Reserved.</p>
        </footer>
        <!--//footer-->
    </div>
    <!-- //container -->

    <!-- modal1 : 보험선택 -->
    <div class="modal has-common" id="modal1">
        <div class="modal-dialog">
            <section class="section-tree">
                <div class="section-tree-inner">
                    <div class="ui-masthead2">
                        <h2 class="ui-masthead2-tit">보험종류 선택</h2>
                    </div>
                    <div class="form_group">
                        <div class="form-subtit">보험종류</div>
                        <ul class="ui-tree">
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_1">
                                <label for="tree_1" class="ui-chk2">암보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_2">
                                <label for="tree_2" class="ui-chk2">수술/입원비보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_3">
                                <label for="tree_3" class="ui-chk2">신생아보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_4">
                                <label for="tree_4" class="ui-chk2">어린이보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_5">
                                <label for="tree_5" class="ui-chk2">유병자보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_6">
                                <label for="tree_6" class="ui-chk2">의료실비보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_7">
                                <label for="tree_7" class="ui-chk2">정기보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_8">
                                <label for="tree_8" class="ui-chk2">운전자/상해보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_9">
                                <label for="tree_9" class="ui-chk2">연금/연금저축보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_10">
                                <label for="tree_10" class="ui-chk2">주택화재보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_11">
                                <label for="tree_11" class="ui-chk2">치아보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_12">
                                <label for="tree_12" class="ui-chk2">치매간병보험</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_13">
                                <label for="tree_13" class="ui-chk2">변액/변액연금</label>
                            </li>
                        </ul>
                    </div>
                    <div class="form_group mt10">
                        <div class="form-subtit">보험타입</div>
                        <ul class="ui-tree">
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_15">
                                <label for="tree_15" class="ui-chk2">비갱신형</label>
                            </li>
                            <li>
                                <input type="checkbox" class="show-hidden" id="tree_16">
                                <label for="tree_16" class="ui-chk2">갱신형</label>
                            </li>
                        </ul>
                    </div>
                    <div class="form-btn mt20">
                        <a href="" class="btn-st2 sitecode-bg" ng-click="">선택완료</a>
                    </div>
                    <a href="javascript:;" class="popup-close2 layer-close">
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </section>
        </div>
    </div>

    <!-- modal2 : 온라인상담신청 -->
    <div class="modal has-common" id="modal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <section class="section-request">
                    <div class="section-request-inner">
                        <div class="ui-masthead2">
                            <h2 class="ui-masthead2-tit">온라인 상담신청</h2>
                            <p class="ui-masthead2-summary">전문 상담원이 빠르게 안내해 드리겠습니다.</p>
                        </div>
                        <div class="form-group-login">
                            <div class="form-subtit">간편 로그인 <em>인증없이 빠르게!</em></div>
                            <ul class="col-type2">
                                <li><a href="#" class="btn-kakao"><span>카카오 로그인</span></a></li>
                                <li><a href="#" class="btn-naver"><span>네이버 로그인</span></a></li>
                            </ul>
                        </div>
                        <div class="form-bar">또는</div>
                        <div class="form_group">
                            <ul class="ui-form col-type1" ng-show="!isInsurCalculation">
                                <li class="ui-row uimode3">
                                    <div class="ui-col">
                                        <input type="text" id="ipt_02" class="input-name ng-pristine ng-valid" placeholder="이름" ng-model="customer.customerName" kr-input="" remove-space="">
                                    </div>
                                    <div class="ui-col">
                                        <div class="ui-rdo">
                                            <input type="radio" id="ipt_gen_01" class="show-hidden ng-pristine ng-valid" name="ipt-gender" value="1" ng-model="customer.customerSex" checked="checked"><label for="ipt_gen_01" class="ui-rdo">남자</label>
                                            <input type="radio" id="ipt_gen_02" class="show-hidden ng-pristine ng-valid" name="ipt-gender" value="2" ng-model="customer.customerSex"><label for="ipt_gen_02" class="ui-rdo">여자</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="ui-row uimode2">
                                    <div class="ui-col">
                                        <input ng-show="customer.calculationForm == 'I'" type="text" id="ipt_050" class="input-birthday ng-pristine ng-valid ng-hide" placeholder="산모 생년월일 예)19770101" maxlength="8" ng-model="customer.customerBirth" only-number="" remove-space="">
                                        <input ng-hide="customer.calculationForm == 'I'" type="text" id="ipt_050" class="input-birthday ng-pristine ng-valid" placeholder="생년월일 예)19770101" maxlength="8" ng-model="customer.customerBirth" only-number="" remove-space="">
                                    </div>
                                    <div class="ui-col ng-binding">보험나이 **세</div>
                                </li>
                                <!-- ngIf: customer.calculationForm == 'I' -->
                                <li class="ui-row uimode1">
                                    <div class="ui-col">
                                        <input type="text" id="ipt_060" class="input-phone ng-pristine ng-valid" placeholder="휴대폰번호 예)01012345678" maxlength="11" ng-model="mobileNumber" only-number="" remove-space="">
                                    </div>
                                    <div class="ui-col">
                                        <!-- 입력완료후 classs="btn-isdone"추가 -->
                                        <a href="" ng-click="sendCertNum()" id="authCallBtn" class="btn-gray" ng-class="{'btn-isdone':customer.apiCertSuccess == true}">인증</a>
                                    </div>
                                </li>
                                <li class="ui-row uimode1">
                                    <div class="ui-col">
                                        <input type="text" id="ipt_07" placeholder="인증번호" ng-model="certNumber" maxlength="5" only-number="" remove-space="" class="ng-pristine ng-valid">
                                    </div>
                                    <div class="ui-col">
                                        <!-- 입력완료후 classs="btn-isdone"추가 -->
                                        <a href="" ng-click="checkCertNum()" id="authBtn" class="btn-gray" ng-class="{'btn-isdone':customer.apiCertSuccess == true}">확인</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ui-phrase">
                            <p class="in-txt2">
                                <input type="checkbox" class="show-hidden ng-pristine ng-valid" id="ipt_080" name="checkAgreement_consult" ng-model="customer.customerAgree">
                                <label for="ipt_080" class="ui-chk">개인정보수집 · 활용 및 제공을 위한 동의</label>
                                <a href="" class="in-txt3" open-agreement="" agree-id="checkAgreement_consult">보기</a>
                            </p>
                        </div>
                        <div class="form-btn mt20">
                            <a href="" class="btn-st2 sitecode-bg" ng-click="freeReqStart('checkAgreement_consult')">상담신청</a>
                        </div>
                        <a href="#" class="popup-close2 layer-close">
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- modal3 : 무료상담신청 토스트팝업 -->
    <div class="modal has-common" id="modal3">
        <div class="modal-dialog">
            <div class="modal-content">
                <section class="section-toast">
                    <div class="section-toast-inner">
                        <div class="ui-masthead2">
                            <h2 class="ui-masthead2-tit">무료상담신청</h2>
                        </div>
                        <div class="form_group">
                            <ul class="ui-form col-type1" ng-show="!isInsurCalculation">
                                <li class="ui-row">
                                    <div class="ui-col">
                                        <input type="text" id="ipt_02" class="input-name" placeholder="이름" ng-model="customer.customerName" kr-input remove-space>
                                    </div>
                                </li>
                                <li class="ui-row">
                                    <div class="ui-col">
                                        <input type="text" id="ipt_060" class="input-phone" placeholder="휴대폰번호 예)01012345678" maxlength="11" ng-model="mobileNumber" only-number remove-space>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ui-phrase">
                            <p class="in-txt2">
                                <input type="checkbox" class="show-hidden" id="ipt_080" name="checkAgreement_consult" ng-model="customer.customerAgree">
                                <label for="ipt_080" class="ui-chk">개인정보수집 · 활용 및 제공을 위한 동의</label>
                                <a href="" class="in-txt3" open-agreement="" agree-id="checkAgreement_consult">보기</a>
                            </p>
                        </div>
                        <div class="form-btn mt20">
                            <a href="" class="btn-st2 sitecode-bg" ng-click="freeReqStart('checkAgreement_consult')">상담신청</a>
                        </div>
                        <a href="javascript:;" ng-click="close()" class="popup-close2 layer-close">
                            <span></span>
                            <span></span>
                        </a>
                    </div>       
                </section>
            </div>
        </div>
    </div>
    
    <!--레이어팝업-->
    <div class="layer-popup-common has-common" id="loading1">
        <div class="lpc-div lpc-progress">
            <div class="lpc-progress-inner">
                <p class="lpc-progress-ani sitecode-bg2"><img src="../images/loading_circle1.png" alt="Rich&Co"></p>
                <p class="lpc-progress-info">고객님의 보험료를 계산중입니다.<br>잠시만 기다려 주세요.</p>
                <div class="lpc-btn-wrap">
                    <a href="" ng-click="close_loading_layer();" class="lpc-btn1 sitecode-bg layer-close">확인</a>
                </div>
            </div>
        </div>
    </div>
    <!--//레이어팝업-->

    <!--레이어팝업-->
    <div class="layer-popup-common has-common" id="loading2">
        <div class="lpc-div lpc-done">
            <div class="lpc-done-inner">
                <p class="lpc-done-img sitecode-bg2"><img src="../images/loading_finish1.png" alt="Rich&Co"></p>
                <p class="lpc-done-txt">보험료 계산이 완료되었습니다.
                <div class="lpc-btn-wrap">
                    <a href="" ng-click="close_loading_layer();" class="lpc-btn1 sitecode-bg layer-close">확인</a>
                </div>
            </div>
        </div>
    </div>
    <!--//레이어팝업-->

    <!-- script -->
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
</div>
<!-- //wrap -->
</body>
</html>