@charset "utf-8";

/* Default */
*{-webkit-text-size-adjust:none;font-family:'HGGGothicssi';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,fieldset,textarea,p,blockquote,th,td {margin:0; padding:0}
body{-webkit-user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body {overflow:auto; width:100%; height:100%; -webkit-text-size-adjust:none; -webkit-overflow-scrolling:touch}
table{border:0; border-collapse:collapse; padding:0; border-spacing:0}
fieldset,img {border:none}
/* img{width:100%} */
ol,ul {list-style:none}
em, strong {font-style:normal;}
legend, caption {display:none; width:0; height:0; margin:0; padding:0; font-size:0; line-height:0}
section{margin:0; padding:0}
html {width:100%; height:100%}
body, textarea, button, table  {font-family:'HGGGothicssi', 맑은 고딕, Droid-sans, AppleSDGothicNeo-Medium, Apple-Gothic, Helvetica, "돋움", dotum, sans-serif; color:#333; font-size:12px;}
a {text-decoration:none; color:#333;}
a:link, a:visited, a:active {text-decoration:none;}
a:hover {text-decoration:none;}
input[type=text],input[type=tel],select{font-size:14px; font-weight:400;padding:0; box-sizing: border-box; border:1px solid #bebebe; outline: none; color:#333; background: #fff; -webkit-appearance:none; -webkit-border-radius:0;}

/* input[type=text]{outline:none;} */
/* input[type=text]:focus{color:#333;} */
/* input[type=text]:checked{color:#333;} */

input:focus::-webkit-input-placeholder{ /* WebKit browsers */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
input:focus:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
input:focus:-ms-input-placeholder{ /* Internet Explorer 10+ */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}

::-webkit-input-placeholder { /* Chrome */ color: #333; font-weight: normal; letter-spacing:-0.5px;}
:-ms-input-placeholder { /* IE 10+ */ color: #333; font-weight: normal; letter-spacing:-0.5px;}
::-moz-placeholder { /* Firefox 19+ */ color: #333; opacity: 1; font-weight: normal; letter-spacing:-0.5px;}
:-moz-placeholder { /* Firefox 4 - 18 */ color: #333; opacity: 1; font-weight: normal; letter-spacing:-0.5px;}
/* select{padding:5px !important; font-size:14px; color:#333; box-sizing:border-box; background: url(../images/select_arr.png) right 0.5em center no-repeat #fff; background-size: 10px; resize: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none;} */
.hide   { opacity: 0; text-indent: -999em; overflow: hidden; position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; line-height: 0;}



@font-face {
    font-family: 'HGGGothicssi';
    font-style: normal;
    font-weight: 900;
    src: url(../font/hgg/HGGGOTHICSSI_PRO_99G.eot);
    src: url(../font/hgg/HGGGOTHICSSI_PRO_99G.eot?#iefix) format('embedded-opentype'),
         url(../font/hgg/HGGGOTHICSSI_PRO_99G.woff) format('woff'),
         url(../font/hgg/HGGGOTHICSSI_PRO_99G.ttf) format('truetype');
}
@font-face {
    font-family: 'HGGGothicssi';
    font-style: normal;
    font-weight: 700;
    src: url(../font/hgg/HGGGOTHICSSI_PRO_80G.eot);
    src: url(../font/hgg/HGGGOTHICSSI_PRO_80G.eot?#iefix) format('embedded-opentype'),
         url(../font/hgg/HGGGOTHICSSI_PRO_80G.woff) format('woff'),
         url(../font/hgg/HGGGOTHICSSI_PRO_80G.ttf) format('truetype');
}
@font-face {
    font-family: 'HGGGothicssi';
    font-style: normal;
    font-weight: 500;
    src: url(../font/hgg/HGGGOTHICSSI_PRO_60G.eot);
    src: url(../font/hgg/HGGGOTHICSSI_PRO_60G.eot?#iefix) format('embedded-opentype'),
         url(../font/hgg/HGGGOTHICSSI_PRO_60G.woff) format('woff'),
         url(../font/hgg/HGGGOTHICSSI_PRO_60G.ttf) format('truetype');
}
@font-face {
    font-family: 'HGGGothicssi';
    font-style: normal;
    font-weight: 300;
    src: url(../font/hgg/HGGGOTHICSSI_PRO_20G.eot);
    src: url(../font/hgg/HGGGOTHICSSI_PRO_20G.eot?#iefix) format('embedded-opentype'),
         url(../font/hgg/HGGGOTHICSSI_PRO_20G.woff) format('woff'),
         url(../font/hgg/HGGGOTHICSSI_PRO_20G.ttf) format('truetype');
}

/* NotoSans */
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: url(../font/noto/NotoSansKR-Bold.eot);
    src: url(../font/noto/NotoSansKR-Bold.eot?#iefix) format('embedded-opentype'),
         url(../font/noto/NotoSansKR-Bold.woff) format('woff'),
         url(../font/noto/NotoSansKR-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: url(../font/noto/NotoSansKR-Regular.eot);
    src: url(../font/noto/NotoSansKR-Regular.eot?#iefix) format('embedded-opentype'),
         url(../font/noto/NotoSansKR-Regular.woff) format('woff'),
         url(../font/noto/NotoSansKR-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: url(../font/noto/NotoSansKR-Light.eot);
    src: url(../font/noto/NotoSansKR-Light.eot?#iefix) format('embedded-opentype'),
         url(../font/noto/NotoSansKR-Light.woff) format('woff'),
         url(../font/noto/NotoSansKR-Light.ttf) format('truetype');
}


/* common */
.wrap       { overflow-x: hidden; background-color: #fff;}
.inner      { max-width: 390px; min-width:320px; padding: 0 15px; margin: 0 auto; box-sizing: border-box;}
.page_tit   { line-height: 1; font-size: 30px; font-weight: 900;}


/* visual */
.visual         { position: relative; z-index: 0; background-color: #ffeeb5}
.visual .visual_bg{
    position: absolute; bottom: -20px; left: 50%; transform: translateX(-50%); z-index: -1;
    width: 630px; height: 620px;
    background: url(../images/bg_visual1.png) no-repeat bottom center; background-size: 100% auto;
}

.visual_box { max-width: 390px; min-width:320px; padding: 75px 15px 259px; margin: 0 auto; box-sizing: border-box;}
.visual_box *{letter-spacing: -0.25px;}
.visual .visual_head      { font-size: 0;}
.visual .visual_head span { display: inline-block; line-height: 20px; border-bottom: 1px solid #746952; font-size: 14px; font-weight: 300; }
.visual .visual_head b    { display: inline-block; line-height: 20px; padding: 0 4px; border-bottom: 1px solid #746952; font-size: 16px; font-weight: 700; vertical-align: top;}
.visual .visual_tit       { margin: 20px 0 10px; line-height: 50px; font-size: 46px; font-weight: 900; letter-spacing: -1.5px;}
.visual .visual_subtit    { font-size: 25px; font-weight: 300;}
.visual .visual_subtit b  { font-size: 25px; font-weight: 700; color: #F30D00;}
.visual .visual_btn       { margin-top: 30px;} 
.visual .visual_btn a     {
    display: inline-block; width: 200px; height: 55px; line-height: 55px;
    background-color: #333; border-radius: 60px; box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    text-align: center; font-size: 25px; font-weight: 700; color: #fff; letter-spacing: 1px; cursor: pointer;
}



/* main : sec1 */
.sec1        { padding: 70px 0;}
.sec1 .inner { font-size: 0;}
.sec1_left   {margin-bottom: 30px;}
.sec1_right  {}
.benefit_list    { font-size: 0;}
.benefit_list *  { font-family: 'NotoSans'; color: #fff;}
.benefit_list li {
    display: block; position: relative; top: 0;
    width: 100%; padding: 17px 30px 20px;
    border-radius: 10px; font-size: 20px;
    box-sizing: border-box;
    vertical-align: top;
}
.benefit_list li+li             { margin-top: 15px;}
.benefit_list li:nth-of-type(1) { background-color: #ffa409;}
.benefit_list li:nth-of-type(2) { background-color: #20af5d;}
.benefit_list li:nth-of-type(3) { background: #008754 url(../images/bg_starbucks1.png) no-repeat left bottom;}
.benefit_list .benefit_top              { letter-spacing: -0.3px;}
.benefit_list .benefit_top p            { line-height: 26px; font-size: 15px;}
.benefit_list .benefit_top .benefit_tit { line-height: 27px; font-size: 20px; font-weight: 700;}
.benefit_list .benefit_top .benefit_tit i{ font-style: normal; font-size: 20px; font-weight: 700;}
.benefit_list .benefit_bottom           { margin-top: 20px; font-size: 0;}
.benefit_list .benefit_bottom .benefit_desc { display: inline-block; width: 90%; line-height: 20px; font-size: 14px; font-weight: 300;}
.benefit_list .benefit_bottom .benefit_num  { display: inline-block; width: 10%; text-align: right; vertical-align: bottom;}



/* main : sec2 */
/* .sec2 { background-color: #f6fbfc;} */
.sec2            {
    padding: 70px 0;
    background: #F6FBFC url(../images/bg_sec2.png);
    background-repeat: repeat;
    background-position: center center;
}
.sec2 .inner     { font-size: 0;}
.sec2 .page_tit  { margin-bottom: 30px;}
.sec2 .sec2_cont {
    display: block; position: relative;
    padding: 32px 30px 40px;
    background-color: #fff; border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    vertical-align: top;
}
.sec2 .sec2_cont::after{
    position: absolute; right: -12px; top: -103px;
    width: 163px; height: 135px;
    background: url(../images/bg_olchi2.png) no-repeat;
    background-size: 100% auto;
    content: '';
}
.sec2 .sec2_cont *  { font-family: 'NotoSans';}





.input_tt+.input_tt { margin-top: 17px;}
.input_tt label {
    display: block; width: 100%; height: 35px; line-height: 35px;
    font-size: 16px; font-weight: 700; text-align: left; vertical-align: top;
}
.input_tt input {
    display: block; width: 100%; height: 35px;
    border: transparent; border-bottom: 1px solid #bbb;
    font-size: 16px; font-weight: 400;
}
.input_tt input:focus        { border-bottom: 1px solid #FFA409;}
.input_tt input::placeholder { color: #ccc}


/* 개인정보 활용동의 */
.privacy_box            { margin: 44px 0 20px; font-size:0; text-align: center;}
.privacy                { position:relative; display: inline-block; cursor:pointer; vertical-align: middle;}
.privacy .privacy_input { position:absolute; top:0; opacity:0; cursor:pointer; z-index:5; width: 30px; height: 20px }
.privacy i              { display:inline-block; width:30px; height:20px; background:url(../images/btn_chk.png)no-repeat left top; z-index:3; vertical-align: top;}
.privacy label          { line-height: 25px; margin-left: 8px; font-size: 15px; vertical-align: top; cursor: pointer; letter-spacing: 0;}
.privacy label a        { height: 25px; line-height: 25px; font-size: 15px; cursor:pointer; vertical-align: top;}
.privacy .privacy_input:checked+i {background-position:bottom;}
.btn_pop_view           { display: inline-block; width: 30px; margin-left: 5px;}
.btn_quick_request      {
    display: inline-block; width: 200px; height: 55px; line-height: 55px; 
    background-color: #333; border-radius: 60px;
    font-family: 'HGGGothicssi' !important; 
    font-size: 25px; font-weight: 700; color: #fff; letter-spacing: 1px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}




/* main : sec3 */
.sec3 { padding: 70px 0;}
.noti_list                { margin-top: 35px;}
.noti_list *              { font-family: 'NotoSans';}
.noti_list li             { font-size: 0;}
.noti_list li+li          { margin-top: 20px;}
.noti_list li .noti_tit   { display: block; line-height: 1; margin-bottom: 10px; font-size: 16px; font-weight: 700; color: #666;}
.noti_list li .noti_txt   { display: block; }
.noti_list li .noti_txt p { position: relative; line-height: 27.5px; padding-left: 15px; font-size: 15px; font-weight: 400; letter-spacing: -0.2px;}
.noti_list li .noti_txt p::before{ position: absolute; top: 12px; left: 0; width: 5px; height: 5px; background-color: #999; border-radius: 50%; content: '';}

/* footer */
footer { padding: 30px 0 35px; border-top: 1px solid #ddd;}
footer ul *             { font-family: 'NotoSans'; font-size: 14px; font-weight: 400; letter-spacing: -0.25px;}
footer ul li            { line-height: 19px; color: #999;}
footer ul .footer_logo  { font-size: 16px; font-weight: 700; color: #666;}
footer ul .footer_txt   { margin: 15px 0 5px; line-height: 22px; color: #666;}
footer ul .footer_txt b { line-height: 22px; margin-right: 20px; font-size: 15px; font-weight: 700;}
footer ul .footer_bar   { display: inline-block; width: 1px; height: 10px; line-height: 1; margin: 0 7px; font-size: 10px; background-color: #888;}












/* ================================================================================================ */


/* 전체 공통 레이어팝업 */
body.is_clipped			{ overflow: hidden;}
.lyback					{ display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0,0.5); z-index: 99; width: 100vw; height: 100vh;}
body.is_clipped .lyback	{ display: block;}

.layer							{ display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; width:100%; height:100%; zoom: 1; z-index:100;}
.layer *                        { font-family: 'NotoSans'; }
.layer .layer_area_pc			{ position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);} /*가운데오는 기능만*/
.layer .layer_area_mo		    { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);} /*가운데오는 기능만*/


/* pc 팝업닫기 버튼 */
.layer .layer_close				{ display: block; position: absolute; top: 36px; right: 36px; z-index: 10002;}
.layer .layer_close > a			{ display: block; position: relative; width: 30px; height: 30px; cursor: pointer; font-size: 0; -webkit-box-sizing:border-box;box-sizing:border-box;}
.layer .layer_close > a::before,
.layer .layer_close > a::after	{ position: absolute; top: 50%; left: 50%; content: ''; height: 28px; width: 4px; background-color: #666;}
.layer .layer_close > a::after  { transform: translate(-50%,-50%) rotate(-45deg);}
.layer .layer_close > a::before { transform: translate(-50%,-50%) rotate(45deg);}

/* mobile 팝업닫기 버튼 */
.layer .layer_area_mo .layer_close { top: 15px; right: 15px;}
.layer .layer_area_mo .layer_close > a::before,
.layer .layer_area_mo .layer_close > a::after	{ width: 2px; height: 20px;}


	/* 상담신청완료 폼 ************************************************************************************************************************/
    .layer_area_mo .lycontact 		     { display: block; width: 330px; margin:0 auto; padding: 53px 0; background-color: #fff; border-radius: 10px; box-shadow: 0 10px 10px rgba(0,0,0,0.2); text-align: center; -webkit-box-sizing:border-box;box-sizing:border-box;}
	.layer_area_mo .lycontact .tit	     { line-height: 1; padding-bottom: 160px; font-size: 20px; font-weight: 700; letter-spacing: -0.5px;}
    .layer_area_mo .lycontact .lycontact_ver2 .tit { background: url(../images/icon_work_pc.png) no-repeat bottom center;}
    .layer_area_mo .lycontact .lycontact_ver1 .tit { background: url(../images/icon_over_pc.png) no-repeat bottom center;}
    .layer_area_mo .lycontact .txt       { padding: 20px 0 10px; font-size: 15px; letter-spacing: -0.5px;}
	.layer_area_mo .lycontact .txt b     { display: block; font-weight: 400; color: #FD8700;}
	.layer_area_mo .lycontact .time      { display: block; max-width: 280px; height: 30px; line-height: 30px; margin: 0 auto; background-color: #F6FBFC; border-radius: 50px; font-size:13px; color: #666;}
	.layer_area_mo .lycontact .time .bar { display: inline-block; position: relative; top: 1px; width: 1px; height: 13px; margin: 0 8px; background-color: #DDD}
  
    
	/*상담신청완료 시간내*/
	.lycontact .lycontact_ver1 { display: none;}
	.lycontact .lycontact_ver2 { display: block;}

	/*상담신청완료 시간외*/
	.lycontact .lycontact_overtime .lycontact_ver1 { display: block;}
	.lycontact .lycontact_overtime .lycontact_ver2 { display: none;}
