@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/*******************************************************************
default
********************************************************************/
html, body {
  height: 100%;
  position: relative;
}

input[type=button], input[type=text], input[type=image], input[type=submit], textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

textarea {
  overflow: hidden;
}
textarea.content{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
/* IE6 */
:first-child + html .clearFix {
  zoom: 1;
}

/* IE7 */
.hide, .hidden, .blind, caption, legend {
  opacity: 0;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

.clearFix:after {
  display: block;
  clear: both;
  content: '';
}

* html .clearFix {
  zoom: 1;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
body {
  -webkit-text-size-adjust: none;
}

input[type='text'], input[type='password'], input[type='submit'], input[type='search'] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type='date'] {
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:active, a:hover {
  text-decoration: none;
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

input, select, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

select::-ms-expand {
  display: none;
}

input[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

input[type=submit], input[type=button], button {
  cursor: pointer;
}

input[type=checkbox], input[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

input[type=checkbox] {
  /* position: static !important; */
  vertical-align: middle;
}

input[type=checkbox] + label:before {
  display: none;
}

/* input 기본 스타일 초기화 */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Select box 스타일 초기화 */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: url();
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(../../../font/NotoSansKR-Light.woff2) format("woff2"),
       url(../../../font/NotoSansKR-Light.woff) format("woff"),
       url(../../../font/NotoSansKR-Light.otf) format("opentype");
}


@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(../../../font/NotoSansKR-Regular.woff2) format("woff2"),
       url(../../../font/NotoSansKR-Regular.woff) format("woff"),
       url(../../../font/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(../../../font/NotoSansKR-Medium.woff2) format("woff2"),
       url(../../../font/NotoSansKR-Medium.woff) format("woff"),
       url(../../../font/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(../../../font/NotoSansKR-Bold.woff2) format("woff2"),
       url(../../../font/NotoSansKR-Bold.woff) format("woff"),
       url(../../../font/NotoSansKR-Bold.otf) format("opentype");
}

@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 700;
  src: url(../../../font/Arita-Bold.woff2) format("woff2"),
       url(../../../font/Arita-Bold.woff) format("woff"),
       url(../../../font/Arita-Bold.otf) format("opentype");
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 600;
  src: url(../../../font/Arita-SemiBold.woff2) format("woff2"),
       url(../../../font/Arita-SemiBold.woff) format("woff"),
       url(../../../font/Arita-SemiBold.otf) format("opentype");
}
@font-face {
  font-family: 'Arita';
  font-style: normal;
  font-weight: 500;
  src: url(../../../font/Arita-Medium.woff2) format("woff2"),
       url(../../../font/Arita-Medium.woff) format("woff"),
       url(../../../font/Arita-Medium.otf) format("opentype");
}







html {
  font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', Dotum, Arial, sans-serif;
}

html, body, h1, h2, h3, h4, h5, h6, strong, table th, input, textarea, select, button {
  font-weight: 400;
  font-size: inherit;
  color: #000;
  letter-spacing: -0.5px;
  margin: 0;
  padding: 0;
}

/*  
*   COMMON STYLE
*/
html {
  font-size: 10px;
  line-height: 1.5;
}

::placeholder {color: #ddd !important}

/* Display */

.ir {
  text-indent: -9999px;
  overflow: hidden;
}

/* Align */
.txtL {
  text-align: left !important;
}

.txtC {
  text-align: center !important;
}

.txtR {
  text-align: right !important;
}

/* Float */
.flL {
  float: left !important;
}

.flR {
  float: right !important;
}

.clrB {
  clear: both !important;
}

/* Font-style */
.fwb {
  font-weight: bold !important;
}

.fund {
  text-decoration: underline !important;
}

/* Color */
.fcPink {
  color: #f44494 !important;
}

.fcBlue {
  color: #0971f2 !important;
}

.fcSkyblue {
  color: #69a9da !important;
}

.fcGray {
  color: #999999 !important;
}

.fcOrange {
  color: #ff9900 !important;
}

.fcDblue {
  color: #0147a7 !important;
}

.fcRed {
  color: #e60012 !important;
}

.fcYellow {
  color: #d59100 !important;
}

.fcGreen {
  color: #288C28 !important;
}

.fcLblue {
  color: #008fec !important;
}

/* Buttons */
.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btnBlue {
  color: #fff;
  border: 1px solid #2365b0;
  background-color: #2365b0;
}

.btnPurple {
  color: #fff;
  border: 1px solid #5d70b2;
  background-color: #5d70b2;
}

.btnWhite {
  border: 1px solid #cccccc;
  background-color: #fff;
}

.btnLblue {
  border: 1px solid #0093f3;
  color: #fff;
  background-color: #0093f3;
}

.btnGray {
  border: 1px solid #8d8d8d;
  color: #fff;
  background-color: #8d8d8d;
}

.btnDgray {
  border: 1px solid #666;
  color: #fff;
  background-color: #666;
}

.btnRed {
  border: 1px solid #b41112;
  color: #fff;
  background-color: #b41112;
}

.btnEme {
  border: 1px solid #08b2c1;
  color: #fff;
  background-color: #08b2c1;
}

.btnBig {
  width: 200px;
  height: 60px;
  font-size: 17px;
}

.btnWrite {
  height: 45px;
  line-height: 45px;
  padding: 0 45px;
  background: #cccccc;
  border: 1px solid #bfbfbf;
  color: #333333;
  font-size: 17px;
}

.btn_top {
  height: 40px;
  line-height: 40px;
  padding: 0 45px;
  font-size: 17px;
}

.midBtn {
  display: inline-block;
  min-width: 55px;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

.minBtn {
  display: inline-block;
  min-width: 50px;
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}

.formBtn {
  display: inline-block;
  min-width: 50px;
  height: 21px;
  line-height: 21px;
  padding: 0 8px;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}

button.bigBtn {
  min-width: 98px;
  height: 38px;
  line-height: normal;
}

button.midBtn {
  min-width: 57px;
  height: 30px;
  line-height: normal;
}

button.minBtn {
  min-width: 52px;
  height: 30px;
  line-height: normal;
}

button.formBtn {
  min-width: 52px;
  height: 23px;
  line-height: 23px;
}

/* Input */
.input_short{width:170px}
.input_mid{width:400px}
.input_long{width:100%}
.table_wrap.scroll{overflow-x:auto}
.table_wrap.scroll table{min-width:728px;width:100%}
.table_wrap.row tr{border-bottom:1px solid #ccc}

.table_wrap.row th {
  color: #666666;
  font-size: 17px;
  background: #f1f1f1;
  padding: 20px 5px 20px 25px;
  text-align: left;
}

.table_wrap.row td {
  color: #333333;
  font-size: 17px;
  padding: 5px 20px;
}

.table_wrap.col tr:first-child {
  border-top: 1px solid #ccc;
}

.table_wrap.col th {
  color: #666666;
  font-size: 17px;
  background: #f1f1f1;
  padding: 20px 5px 20px 25px;
  text-align: left;
}

.table_wrap.col td {
  color: #333333;
  font-size: 17px;
  padding: 15px;
  border-top: 1px solid #ccc;
}

.table_wrap.line {
  border-top: 2px solid #666;
}

.table_wrap.line th {
  border-left: 1px solid #ccc;
}

.table_wrap.line th:first-child {
  border-left: none;
}

.table_wrap.line td {
  border-left: 1px solid #ccc;
}

.table_wrap.line td:first-child {
  border-left: none;
  border-right: 1px solid #ccc;
}

.table_wrap .vam {
  vertical-align: middle;
}

@media screen and (max-width: 1100px) {
    .t_hide {display: none !important;}
}

@media screen and (max-width: 768px) {
    .t_hide{display:none!important}
    .input_mid{width:100%}
    .input_short{width:90px}
}

@media screen and (max-width: 480px) {
  .m_hide {
    display: none !important;
  }
  .input_short {
    width: 100%;
  }
  .btnBig {
    width: 100%;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .btnWrite {
    width: 100%;
    font-size: 14px;
  }
  .table_wrap.scroll table {
    min-width: 355px;
  }
  .table_wrap.row th {
    font-size: 12px;
    padding: 10px 3px 10px 15px;
  }
  .table_wrap.row td {
    font-size: 12px;
    padding: 10px;
  }
  .table_wrap.col th {
    font-size: 12px;
    padding: 10px 3px 10px 15px;
  }
  .table_wrap.col td {
    font-size: 12px;
    padding: 10px;
  }
  .table_wrap.respon table, .table_wrap.respon thead, .table_wrap.respon tbody, .table_wrap.respon tr, .table_wrap.respon th, .table_wrap.respon td {
    display: block;
    width: 100%;
  }
}

/* Width */
.w20{width:20px!important}
.w30{width:30px!important}
.w40{width:40px!important}
.w50{width:50px!important}
.w60{width:60px!important}
.w70{width:70px!important}
.w80{width:80px!important}
.w90{width:90px!important}
.w100{width:100px!important}
.w110{width:110px!important}
.w120{width:120px!important}
.w130{width:130px!important}
.w200{width:200px!important}
.fs0{font-size:0!important}
.fs11{font-size:11px!important}
.fs12{font-size:12px!important}
.fs13{font-size:13px!important}
.fs14{font-size:14px!important}
.fs15{font-size:15px!important}
.fs16{font-size:16px!important}
.fs17{font-size:17px!important}
.fs18{font-size:18px!important}
.fs19{font-size:19px!important}
.fs20{font-size:20px!important}
.mb0{margin-bottom:0!important}
.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb100{margin-bottom:100px!important}
.mr0{margin-right:0!important}
.mr5{margin-right:5px!important}
.mr10{margin-right:10px!important}
.mr15{margin-right:15px!important}
.mr20{margin-right:20px!important}
.mr25{margin-right:25px!important}
.mr30{margin-right:30px!important}
.mr35{margin-right:35px!important}
.mr40{margin-right:40px!important}
.mr45{margin-right:45px!important}
.mr50{margin-right:50px!important}
.ml0{margin-left:0!important}
.ml5{margin-left:5px!important}
.ml10{margin-left:10px!important}
.ml15{margin-left:15px!important}
.ml20{margin-left:20px!important}
.ml25{margin-left:25px!important}
.ml30{margin-left:30px!important}
.ml35{margin-left:35px!important}
.ml40{margin-left:40px!important}
.ml45{margin-left:45px!important}
.ml50{margin-left:50px!important}
.mt0{margin-top:0!important}
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.p0{padding:0!important}
.p5{padding:5px!important}
.p10{padding:10px!important}
.p20{padding:20px!important}
.p30{padding:30px!important}
.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pl5{padding-left:5px!important}
.pl10{padding-left:10px!important}
.pl15{padding-left:15px!important}
.pl20{padding-left:20px!important}
.pr5{padding-right:5px!important}
.pr10{padding-right:10px!important}
.pr15{padding-right:15px!important}
.pr20{padding-right:20px!important}
.pb5{padding-bottom:5px!important}
.pb10{padding-bottom:10px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.wrap{width:100%;overflow-x:hidden}
.no_scroll{overflow:hidden}
.text_indent{text-indent:-9999px}
.text_hide{position:absolute;left:-999em}
.clearfix{*zoom:1}
.clearfix:after{display:block;content:'';clear:both}
.ly_mt_sm{display:block;margin-top:1em}
.ly_mt_md{display:block;margin-top:2em}
.ly_mt_lg{display:block;margin-top:3em}
.br_m{display:none}
.br_pc{display:block}

@media screen and (max-width: 640px) {
    .br_m{display:block!important}
    .br_pc{display:none!important}
    .text_hide_m{display:none!important}
}

.wrap {
  z-index: 1;
  position: relative;
  background-color: #fafafa;
}

.inner {
  position: relative;
}

.btn_effect:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: height .5s, opacity .5s;
  transition: height .5s, opacity .5s;
}

.btn_effect:hover span {
  color: #222;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.btn_effect:hover:before {
  opacity: 1;
  height: 100%;
  -webkit-transition: height .5s, opacity .5s;
  transition: height .5s, opacity .5s;
}

.ani_elem {
  opacity: 0;
}

.item_link {
  cursor: default;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 801px) {
  .m_br {display: none;}
}




/* 별지 서식 다운로드 버튼 */
.fa_btn{
    display: inline-block;
    border: 1px solid #aaa;
    font-size: 15px; line-height: 20px;
    vertical-align: top;
    padding: 7px 12px;
    margin-top: 20px;
}
.fa_btn .fa_down{
    display: inline-block;
    width: 18px; height: 20px;
    background: url(../img/별지서식다운로드아이콘.png) no-repeat;
    vertical-align: top;
    margin-right: 7px;
}



/* 체크박스 공통 ?? */
.checks_edit{
    display: inline-flex;
    height: 100%;
    align-items:center;
}
/* .checks_edit input[type="checkbox"] {
  display: block;
  width: 20px;
  height: 20px;
}
 */

.custom_radio{
    position: relative;
    display: inline-block;
    vertical-align: top;
}

/* 실제 체크박스는 화면에서 숨김 */
.custom_radio input[type=radio] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.custom_radio label{
    display: inline-block;
    position: relative;
    padding-left: 18px; /* 글자와 체크박스 사이의 간격을 변경 */
    cursor: pointer;
    user-select: none;
}
.custom_radio label::after { /* 가짜 체크박스 */
    content: '';
    position: absolute;
    left: 0;
    top: 0; /* 이 값을 변경해서 글자와의 정렬 */
    width: 18px; /* 체크박스의 너비를 지정 */
    height: 18px; /* 체크박스의 높이를 지정 */
    line-height: 18px; /* 세로정렬을 위해 높이값과 일치 */
    text-align: center;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.custom_radio input[type=radio]:checked + label::before{
    content: '';
    position: absolute; z-index: 10;
    left: 4px;
    top: 4px; /* 이 값을 변경해서 글자와의 정렬 */
    width: 10px; /* 체크박스의 너비를 지정 */
    height: 10px; /* 체크박스의 높이를 지정 */
    line-height: 10px; /* 세로정렬을 위해 높이값과 일치 */
    text-align: center;
    background: #333;
    border-radius: 20px;
    box-sizing: border-box;
}

/* 체크박스 */
/* 
.custom_check {
    display: inline-block; 
    position: relative;
    vertical-align: top;
}
.custom_check input[type=checkbox] { 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}
.custom_check input[type=checkbox]+label {
    display: inline-block;
    position: relative;
    line-height: 20px;
    min-height: 18px;
    vertical-align: middle;
    padding-left: 24px; 
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.custom_check input[type=checkbox]+label:after { 
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 20px; height: 20px;
    line-height: 20px; 
    text-align: center;
    background: #eee;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
}
.custom_check input[type=checkbox]:checked+label:before { 
    display: block;
    position: absolute;
    left: 10px;
    top: 15%;
    z-index: 1;
    width: 9px !important;
    height: 5px !important;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-49deg) translate(-50%,-50%)
}

.custom_check input[type=checkbox]+label:before {
    content: '';
}


.custom_check input[type=checkbox]:checked+label:after { 
    content: ''; 
    color: #333;
    text-shadow: 1px 1px #fff;
    background: #333;
    border: none; 
} */
 
.custom_check{
    display: inline-flex;
    height: 100%;
    align-items:center;
}

input[type="checkbox"] {
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
}








/* custom select */
.custom_select {
    position: relative;
    z-index: 1;
    width: 265px;
    height: 45px;
    display: inline-block;
    background: transparent;
    vertical-align: top;
}
.custom_select select {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 1;
}
.custom_select:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    height: 7px;
    width: 7px;
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
    border-bottom: 2px solid #7f8084;
    border-left: 2px solid #7f8084;
}

@media screen and (max-width: 800px) {
    .custom_select {width: 100%;}
}











/* =========== QRcode =========== */
.qrcode{
    max-width: 1280px;
    margin: 0 auto 100px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
    text-align: right;
}

.qrcode .qrcode_box{
    display: inline-block;
    vertical-align: top;
}
.qrcode .qrcode_box .qr_title{
    font-family: 'Arita';
    color: #999;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 0 8px; 
}
.qrcode .qrcode_box .txtQrcode{
    font-size: 14px;
    line-height: 25px;
    color: #777;
}
.qrcode .qrcode_box .txtQrcode br{
    display: block;
}

.qrcode > a{
    position: relative;
    display: inline-block;
    margin: 0 12px;
    border: 3px solid #ddd;

}

.qrcode > a img{
    width: 100%;
}


@media screen and (max-width: 1280px) and (min-width: 801px){
    .qrcode{width: 90%;}
}
@media screen and (max-width: 800px) {
    .qrcode{width: 95%;}
    .qrcode .qrcode_box{
        width: 70%;
    }
    .qrcode > a{
        width: calc(30% - 20px);
        margin: 0 0 0 12px;
    }
    .qrcode .qrcode_box .txtQrcode{font-size: 13px; line-height: 20px;}
    .qrcode .qrcode_box .txtQrcode br{
        display: none;
    }
    .qrcode .qrcode_box .qr_title{padding: 20px 0 8px;}
}





















/* .research{margin:10px;padding:20px;background:#dfdfdf;font-weight:bold;}
.research .researchCount{border:1px solid #fff;background:#fafafa;}
.research .researchCount p.research_title{margin:0;padding:10px 20px;background:none;}
.research .researchCount form{margin:10px 20px;}
.research .researchCount form ol{width:100%;display:inline-block;margin:0 0 10px 0;}
.research .researchCount form ol li{float:left;margin-right:10px;}
.research .researchCount form ul{display:inline-block;width:100%;}
.research .researchCount form ul li{float:left;}
.research .researchCount form ul li:first-child{width:86%;}
.research .researchCount form ul li:first-child input{padding:5px 0;margin:0;height:19px;width:97%;}
.research .researchCount p.resultBtn{margin:20px 0;padding:0;background:none;width:100%;text-align:center;} */





/* ================= 설문조사 ================= */
/* .research_list{line-height: 1;} */

/* 상단 */



/* .survey_top{ border-top: 2px solid #000; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 1px solid #999;}
.survey_top .survey_top_tit{display: block; font-size: 30px; line-height: 95px; text-align: left; text-overflow: ellipsis; white-space: nowrap; padding: 0 20px; border-bottom: 1px solid #999;}
.survey_top .survey_top_tit strong{font-weight: 700;}
.survey_top_desc{display: block; width: 100%; padding: 20px; background-color: #f8f8f8; font-size: 20px; -webkit-box-sizing: border-box; box-sizing: border-box;}
.survey_top_desc dl + dl{margin-left: 25px;}
.survey_top_desc dl{display: inline-block; font-size: 16px;}
.survey_top_desc dt{display: inline-block; margin-right: 10px; font-weight: 700;}
.survey_top_desc dd{display: inline-block;} */

/* 본문 */
.survey_cont{font-size: 17px; padding: 20px 20px 150px 20px; border-bottom: 1px solid #d6d6d6;}
.survey_subtit{padding: 30px 0 30px 20px; font-size: 20px; font-weight: 700; color:#555; }n
.survey_view_content{padding-bottom: 20px; font-size: 16px; line-height: 1.5;}
/* 질문 */
.survey_func{font-size: 17px;}
.survey_func li{margin-top: 20px;}
.survey_func dd{padding: 0 0 30px 75px; font-size: 17px; line-height: 20px; color:#333;}
.survey_func dt{margin-bottom: 25px; font-size: 20px; line-height: 18px; font-weight: 500; color: #333;}
.survey_func dt:before{content:'Q'; display: inline-block; padding: 0 20px 0 40px; font-size: 20px; line-height: 20px; font-weight: 700; color: #f9601c;}



/* 주관식일때 */
.surbey_int{width: 100%; padding: 10px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box;}
.survey_textarea{width: 100%; height: 200px; padding: 10px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; resize: none;}
.survey_func_subtit{padding-bottom: 15px; font-weight: 500;}

/* 단일형 */
/* label */
.survey_funlb{vertical-align: middle; margin-left: 10px;}
.research_list .research_lineup input[type=radio]{vertical-align: middle;}
/* 공통버튼 */
.survey_btn{display: inline-block; padding: 0 25px; font-size: 15px; line-height: 35px; font-weight: 700; text-align: center; cursor: pointer; vertical-align: top; border-radius: 0; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* 버튼구역 */
.survey_btn_submit{margin: 0 auto; padding:20px 0 140px 0; text-align: center;}
.survey_btn_submit a{color: #fff; background-color: #f9601c; border-top: 1px solid #ccc;}
.survey_btn_bottom{display: block; margin-top: 20px; padding: 0 0 50px; text-align: right; }
.survey_btn_bottom .survey_btn_list{color: #333; border: 1px solid #6a6a6a; }

/* 주관식답변 팝업 */
#content_pop{}
.survey_pop{width: 100%; font-size: 15px; line-height: 1.4; text-align: left;}
.survey_pop .survey_pop_tit{padding: 20px; font-size: 18px; font-weight: 700; color: #000; border-bottom: 1px solid #ccc;}
.survey_pop .survey_pop_cont{padding: 20px; font-size: 15px; line-height: 1.7;}
.survey_pop .survey_pop_lineup{display: block; padding: 10px; border-radius: 5px; background-color:#f5f5f5;}
.survey_pop .survey_pop_lineup + .survey_pop_lineup{margin-top: 10px;}




/* 통계에만 */
.research_list em{display: block;}
.research_list span.grap{display:inline-block; width: 50%; height: 20px; text-align: left; border: 1px solid #CCC; padding: 2px; border-radius: 8px;}
.research_list span.grap b{display:inline-block; height: 100%; font-size: 0; border-radius: 6px; vertical-align:top; background: #f9601c;  } 
.survey_chart .survey_funlb{display: block; padding: 0 0 15px 0; margin: 0; font-size: 18px; color: #333; font-weight: 500;}
.anspop{display: inline-block; padding: 0 5px; font-size: 14px; line-height: 28px; font-weight: 500; background-color: #333; color: #fff; border-radius: 3px;}
.survey_funna{padding-bottom:10px; font-size: 16px; font-weight: 700; color: #999; }




/* 팝업반응형 */
@media screen and (max-width: 1280px) and (min-width: 801px){
    
}
@media screen and (max-width: 800px) {
    .survey_subtit{padding: 30px 0; font-size: 18px;}
    .survey_func dt{margin-bottom: 15px; font-size: 17px;}
    .survey_func dt:before{padding: 0 20px 0 0;}
    .survey_func dd{padding:0 0 20px 40px; font-size: 16px;}
    .survey_func_subtit{font-size: 16px;}
    .survey_btn{font-size: 13px; padding: 0 15px;}
    .survey_btn_submit{padding: 20px 0 40px 0;}
    .survey_funlb{padding-left: 10px; font-size:16px;}
    .survey_func li{margin-top: 15px;}
    .research_list span.grap{width: 100%;}
    .survey_chart .survey_funlb{font-size: 16px;}
}
