.center_zone .zone_map{background-color:#f7f7f7;min-height:840px}
.map_tab_area{font-size:0;border-top:1px solid #333;border-bottom:1px solid #333;text-align:center;background:#fff}
.map_tab_area li{display:inline-block}
.map_tab_area li>a{display:block;position:relative;font-size:18px;color:#000;padding:11px 0;margin:0 16px}
.map_tab_area li>a.on,.map_tab_area li>a:hover{color:#ff6700}
.map_tab_area li>a.on:after,.map_tab_area li>a:hover:after{content:'';width:100%;height:3px;background:#ff6700;position:absolute;bottom:0;left:0}


@media screen and (max-width:1280px){
    .map_tab_area{display:none}
}
@media screen and (min-width:1280px){
    .map_list_area .map_tit{display:none}
}

.center_zone .zone_map .map_list_area{display:inline-block;width:200px;min-height:840px;background-color:#fff;border-left:1px solid #333;border-right:1px solid #333;border-bottom:1px solid #333;-webkit-box-sizing:border-box;box-sizing:border-box}
.center_zone .zone_map .map_list_area .select_box{position:relative}
.center_zone .zone_map .map_list_area .select_box a{display:block;padding:0 30px;width:100%;height:50px;font-size:16px;line-height:50px;font-weight:700;color:#fff;background-color:#333;-webkit-box-sizing:border-box;box-sizing:border-box}
.center_zone .zone_map .map_list_area .select_box ul.active{display:block}
.center_zone .zone_map .map_list_area .select_box ul{display:none;position:absolute;top:49px;left:0;z-index:15;width:100%;max-height:310px;overflow-y:auto;font-size:0;border-top:1px solid #5c5c5c}
.center_zone .zone_map .map_list_area .select_box ul li:hover a{background-color:#f9601c}
.center_zone .zone_map .map_list_area .select_box ul li.active a{background-color:#f9601c;font-weight:700}
.center_zone .zone_map .map_list_area .select_box ul li a{font-weight:500}
.center_zone .zone_map .map_list_area .map_tit .select_box{position:relative}
.center_zone .zone_map .map_list_area .map_tit .select_box>a:after{content:'';position:absolute;top:40%;right:20px;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:7px;height:7px;border:solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.center_zone .zone_map .map_list_area .map_tit .select_box>a.active:after{top:45%;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
.center_zone .zone_map .map_list_area .map_tit select{width:100%;height:50px;padding:0 30px;color:#fff;font-size:16px;font-weight:700;background-color:#333}
.center_zone .zone_map .map_list_area .map_tit select option{padding:10px;font-weight:500}
.center_zone .zone_map .map_list_area .map_list{height:100%;padding-bottom:30px;font-size:12px;text-align:center}
.center_zone .zone_map .map_list_area .map_list .map_list_tit{margin:40px auto;font-size:24px;font-weight:700;line-height:24px}
.center_zone .zone_map .map_list_area .map_list .map_list_tit:hover a{color:#f9601c;text-decoration:underline}
.center_zone .zone_map .map_list_area .map_list .map_list_subtit2{display:none}
.center_zone .map_list_subtit{display:block;height:30px;width:140px;margin:30px auto 25px;font-size:18px;font-weight:700;line-height:30px;text-align:center;color:#333;border:2px solid #333;border-radius:30px}
.center_zone .map_list_subcenter{color:#557fb6;border:2px solid #557fb6}
.center_zone .map_list_subarea{color:#77b3c5;border:2px solid #77b3c5}
.center_zone .map_list_subresq{color:#b358a2;border:2px solid #b358a2}
.center_zone .map_list_subdo{color:#b9a564;border:2px solid #b9a564}
.center_zone .zone_map .map_list_area .map_list ul li{margin-bottom:20px}
.center_zone .zone_map .map_list_area .map_list ul li a{font-size:17px;font-weight:500}
.center_zone .zone_map .map_list_area .map_list ul li:hover a{color:#f9601c;text-decoration:underline}
.center_zone .zone_map .map_list_area .map_list .map_list_subcenter+ul li:hover a{color:#557fb6}
.center_zone .zone_map .map_list_area .map_list .map_list_subarea+ul li:hover a{color:#77b3c5}
.center_zone .zone_map .map_list_area .map_list .map_list_subresq+ul li:hover a{color:#b358a2}
.center_zone .zone_map .map_list_area .map_list .map_list_subdo+ul li:hover a{color:#b9a564}
.center_zone .zone_map .map_list_area .map_list ul li.active a{color:#f9601c;text-decoration:underline}
.center_zone .zone_map .map_img{position:relative;display:inline-block;width:calc(100% - 200px);min-height:840px;vertical-align:top}
.center_zone .zone_map .map_img img{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.center_zone .zone_map .map_img img.active{display:block}
.center_zone .zone_map .map_img p{position:absolute;right:27px;bottom:30px;font-size:15px;line-height:15px;color:#f9601c}
.center_zone .zone_link{position:relative;margin-top:30px;margin-bottom:300px;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#d3d3d3;border:1px solid #ccc}
.center_zone .zone_link .link_info{position:absolute;z-index:10;width:100%;height:200px;padding:30px;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:rgba(51,51,51,.9)}
.center_zone .zone_link .link_info .link_info_top{margin-bottom:20px;padding-bottom:15px;border-bottom:1px solid rgba(255,255,255,.5);color:#fff}
.center_zone .zone_link .link_info .link_info_top .link_info_tit{display:inline-block;margin-right:13px;font-size:24px;line-height:24px;color:#fff}
.center_zone .zone_link .link_info .link_info_top span{position:relative;font-size:17px}
.center_zone .zone_link .link_info .link_info_top span:nth-of-type(1){margin-right:26px}
.center_zone .zone_link .link_info .link_info_top span:nth-of-type(1):after{content:'';position:absolute;right:-15px;top:3px;width:1px;height:20px;background-color:#fff;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
.center_zone .zone_link .link_info .link_info_bottom .link_info_subtit{margin-bottom:15px;font-size:17px;line-height:17px;font-weight:700;color:#f9601c}
.center_zone .zone_link .link_info .link_info_bottom .link_info_desc{font-size:15px;color:#fff}
.center_zone .zone_link .link_map{position:relative;width:100%;height:500px;overflow:hidden}

@media screen and (min-width:801px) and (max-width:1280px){
    .center_zone .zone_map{min-height:auto}
    .center_zone .zone_map .map_list_area{width:100%;min-height:auto;border:none}
    .center_zone .zone_map .map_list_area .select_box a{padding:0 15px;font-weight:400}
    .center_zone .zone_map .map_list_area .map_tit{display:inline-block;width:50%;vertical-align:top}
    .center_zone .zone_map .map_list_area .map_list{position:relative;display:inline-block;width:50%;padding-bottom:20px;vertical-align:top}
    .center_zone .zone_map .map_list_area .map_list .map_list_tit{display:none}
    .center_zone .zone_map .map_list_area .map_list .map_list_subtit2{position:relative;display:block;width:100%;height:50px;padding:0 15px;font-size:16px;line-height:50px;font-weight:400;text-align:left;color:#fff;background-color:#333;border-left:1px solid #5c5c5c;-webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer}
    .center_zone .zone_map .map_list_area .map_list .map_list_subtit2:after{content:'';position:absolute;top:40%;right:20px;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:7px;height:7px;border:solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
    .center_zone .zone_map .map_list_area .map_list .map_list_subtit2.active:after{top:45%;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
    .center_zone .map_list_subtit{display:none}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap{position:absolute;top:49px;left:0;z-index:10;display:none;width:100%;max-height:310px;overflow-y:auto;font-size:0;background-color:#333;border-top:1px solid #5c5c5c}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap.active{display:block}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap ul li{margin-bottom:0}
    .center_zone .zone_map .map_list_area .map_list .map_list_subcenter+ul li:hover a{color:#fff}
    .center_zone .zone_map .map_list_area .map_list .map_list_subarea+ul li:hover a{color:#fff}
    .center_zone .zone_map .map_list_area .map_list .map_list_subresq+ul li:hover a{color:#fff}
    .center_zone .zone_map .map_list_area .map_list .map_list_subdo+ul li:hover a{color:#fff}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap ul li:hover a{background-color:#f9601c}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap ul li.active a{background-color:#f9601c}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap ul li a{display:block;padding:0 15px;width:100%;height:50px;font-size:16px;line-height:50px;font-weight:500;text-align:left;text-decoration:none;color:#fff;background-color:#333;-webkit-box-sizing:border-box;box-sizing:border-box}
    .center_zone .zone_map .map_img{width:100%;min-height:auto}
    .center_zone .zone_map .map_img img{position:relative;left:0;top:0;-webkit-transform:translate(0,0);transform:translate(0,0);display:-webkit-box;display:-ms-flexbox;display:flex;margin:0 auto;width:80%;padding:60px 0}
    .center_zone .zone_link{margin-top:15px}
    .center_zone .zone_link .link_map img{position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
    .center_zone .zone_map .map_list_area .select_box ul{max-height:200px}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap{max-height:200px}
}

@media screen and (max-width:800px){
    .center_zone .zone_map{min-height:auto}
    .center_zone .zone_map .map_list_area{width:100%;min-height:auto;border:none}
    .center_zone .zone_map .map_list_area .select_box ul{max-height:200px}
    .center_zone .zone_map .map_list_area .select_box a{padding:0 15px;font-size:15px}
    .center_zone .zone_map .map_list_area .map_tit{display:inline-block;width:100%;vertical-align:top}
    .center_zone .zone_map .map_list_area .map_list{position:relative;display:inline-block;width:100%;padding-bottom:15px;vertical-align:top}
    .center_zone .zone_map .map_list_area .map_list .map_list_tit{display:none}
    .center_zone .zone_map .map_list_area .map_list .map_list_subtit2{position:relative;display:block;padding:0 15px;width:100%;height:50px;font-size:15px;line-height:50px;font-weight:700;color:#fff;text-align:left;border-top:1px solid #5c5c5c;background-color:#333;-webkit-box-sizing:border-box;box-sizing:border-box;cursor:pointer}
    .center_zone .zone_map .map_list_area .map_list .map_list_subtit2:after{content:'';position:absolute;top:40%;right:17px;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:7px;height:7px;border:solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
    .center_zone .zone_map .map_list_area .map_list .map_list_subtit2.active:after{top:50%;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}
    .center_zone .map_list_subtit{display:none}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap{overflow-y:auto;position:absolute;top:49px;left:0;z-index:10;display:none;width:100%;max-height:200px;font-size:0;border-top:1px solid #5c5c5c;background-color:#333}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap.active{display:block}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap ul li{margin-bottom:0}
    .center_zone .zone_map .map_list_area .map_list .map_list_subcenter+ul li:hover a{color:#fff}
    .center_zone .zone_map .map_list_area .map_list .map_list_subarea+ul li:hover a{color:#fff}
    .center_zone .zone_map .map_list_area .map_list .map_list_subresq+ul li:hover a{color:#fff}
    .center_zone .zone_map .map_list_area .map_list .map_list_subdo+ul li:hover a{color:#fff}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap ul li:hover a{background-color:#f9601c}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap ul li.active a{background-color:#f9601c}
    .center_zone .zone_map .map_list_area .map_list .map_list_wrap ul li a{display:block;padding:0 15px;width:100%;height:50px;font-size:15px;line-height:50px;font-weight:500;color:#fff;background-color:#333;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:left;text-decoration:none}
    .center_zone .zone_map .map_img{width:100%;min-height:auto}
    .center_zone .zone_map .map_img img{position:relative;left:0;top:0;-webkit-transform:translate(0,0);transform:translate(0,0);display:-webkit-box;display:-ms-flexbox;display:flex;margin:0 auto;width:100%;padding:35px 0 60px}
    .center_zone .zone_map .map_img p{right:10px;bottom:15px;font-size:12px}
    .center_zone .zone_link{margin-top:15px}
    .center_zone .zone_link .link_info{padding:15px;height:auto}
    .center_zone .zone_link .link_info .link_info_top{margin-bottom:15px}
    .center_zone .zone_link .link_info .link_info_top .link_info_tit{display:block;margin:0 0 4px 0;font-size:20px}
    .center_zone .zone_link .link_info .link_info_top span{display:block;font-size:15px}
    .center_zone .zone_link .link_info .link_info_top span:nth-of-type(1){margin-right:0}
    .center_zone .zone_link .link_info .link_info_top span:nth-of-type(1):after{display:none}
    .center_zone .zone_link .link_info .link_info_bottom .link_info_subtit{margin-bottom:7px;font-size:15px;line-height:15px}
    .center_zone .zone_link .link_info .link_info_bottom .link_info_desc{font-size:13px}
    .center_zone .zone_link .link_map img{position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
}