.center_history{overflow:hidden;width:100%;font-size:15px;padding:70px 0 300px 0;font-size:0}
.center_history .history_year{position:relative;top:-20px;display:inline-block;width:25%;font-size:4rem;font-weight:700;font-style:italic;color:#fd7116;vertical-align:top}
.center_history ul{position:relative;display:inline-block;width:75%}
.center_history ul:after{content:'';position:absolute;top:0;left:-125px;width:1px;height:100%;background-color:#fd7116;opacity:.5}
.center_history ul:before{content:'';position:absolute;top:0;left:-130px;width:10px;height:10px;background-color:#fd7116;border-radius:5px}
.center_history ul li{padding-bottom:25px}
.center_history ul li:last-child{padding-bottom:60px}
.center_history ul:last-child:after{display:none}
.center_history .history_date{display:inline-block;margin-right:40px;font-size:1.8rem;font-weight:700;color:#333;vertical-align:top}
.center_history .history_desc{display:inline-block;font-size:1.7rem;line-height:2.7rem;color:#333}
.center_history .history_desc .m_hbr{display:block}

@media screen and (min-width:801px) and (max-width:1280px){
    .center_history ul:before{left:-11%}
    .center_history ul:after{left:-10.3%}
}
@media screen and (max-width:800px){
    .center_history{padding:30px 0}
    .center_history .history_year{display:block;font-size:3rem}
    .center_history ul{width:100%}
    .center_history ul:after{display:none}
    .center_history ul:before{display:none}
    .center_history .history_date{display:block;width:100%;margin-right:0;margin-bottom:4px;font-size:17px}
    .center_history .history_desc{display:block;width:100%;font-size:16px;line-height:24px}
    .center_history .history_desc .m_hbr{display:none}
}