/* 본부현황 */
.current{margin-bottom:300px;font-size:17px;line-height:1;color:#333}
.current .current_box .current_tit{font-size:2rem;font-weight:700;padding:0 0 12px} 
.current .tit_s1{font-weight:500}  
.current .tit_s2{font-size:16px;font-weight:500}   
.current .tit_s3{font-size:16px;font-weight:500;color:#ea1010} 
.current .tit_s4{margin-top:5px;font-size:16px;font-weight:500;color:#000} 
.current .tit_s5_left{margin-left:10px;font-size:16px}  
.current .tit_s5_top{margin-top:20px;font-size:16px}
.current .current_box .sub_tit{padding-bottom:10px;font-weight:400;line-height:32px;color:#555}
.current .current_box .cont ol>li+li{margin-top:20px}
.current .current_box .cont ul{padding:15px 0 10px 15px}
.current .current_box .cont ul li{color:#555}
.current .current_box .cont ul li+li{margin-top:17px}
.current .current_box+.current_box{margin-top:35px}
.notice_table table tbody tr td:nth-of-type(9){border-right:0;}

/* 기구 */
.sub_img{text-align:center}
.sub_img img{width:80%}

/* 인력 */
.current .notice_table table thead tr th{vertical-align:middle}

@media screen and (min-width:801px) and (max-width:1280px){
    .sub_img img{width:100%}  
}  
@media screen and (max-width:800px){
    .current{padding-top:10px;font-size:1.6rem;line-height:24px} 
    .current .current_box .current_tit{font-size:1.7rem;padding:0 0 8px}  
    .current .current_box .sub_tit{padding-bottom:0} 
    .current .current_box .cont ol>li+li{margin-top:0} 
    .current .current_box .cont ul{padding:7px 0 7px 10px} 
    .current .current_box .cont ul li+li{margin-top:3px} 
    .current .current_box+.current_box{margin-top:15px} 
    .sub_img{overflow-x:auto} 
    .sub_img img{width:170%}  
}