@media screen and (min-width:801px) and (max-width:1280px){
    .normal-basic-stats tr:nth-of-type(13)>th label{top:9px}
}
@media screen and (max-width:800px){
    .normal-basic-stats tr:nth-of-type(13)>th label{top:9px}
}

.view_default_bottom{position:relative;height:110px}
.view_default_bottom a{display:inline-block!important;width:auto!important;max-width:130px!important;min-width:80px!important;height:auto!important;padding:0 25px!important;font-size:15px!important;line-height:36px!important;font-weight:700!important;text-align:center!important;cursor:pointer!important;box-sizing:border-box!important;color:#333!important;border-radius:0!important;vertical-align:top}
.view_default_bottom a+a{margin-left:10px}
.view_default_bottom a.viewbtn_style1{background-color:#f9601c!important;color:#fff!important}
.view_default_bottom a.viewbtn_style2{border:1px solid #6a6a6a!important;color:#333!important}
.view_default_bottom a.viewbtn_style3{background-color:#4c4c4c!important;color:#fff!important}
.view_default_left{position:absolute;left:0;top:0}
.view_default_right{position:absolute;right:0;top:0}
.view_default .view_header{border-top:2px solid #000}
.view_default.view_group_leader .view_header{border-top:0}
.view_default .view_header .h3_tit{padding:0 20px;font-size:3rem;font-weight:700;line-height:95px;text-align:left;-webkit-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #999;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.view_default .view_header .view_desc{display:block;width:100%;padding:20px;border-bottom:1px solid #d6d6d6;background-color:#f8f8f8;-webkit-box-sizing:border-box;box-sizing:border-box}
.view_default .view_header .view_desc dl{display:inline-block}
.view_default .view_header .view_desc dl dt{display:inline-block;font-size:1.6rem;font-weight:700;margin-right:10px}
.view_default .view_header .view_desc dl dd img{vertical-align:top;position:relative;top:2px}
.view_default .view_header .view_desc dl dd{display:inline-block;font-size:1.6rem}
.view_default .view_header .view_desc dl+dl{margin-left:25px}
.view_default .view_header .view_files dd{width:calc(100% - 70px);vertical-align:top}
.view_default .view_header .view_files dd span+span{margin-left:10px}
.view_default .view_header .view_files dl{width:100%}
.view_default .view_header .view_files .file a{display:inline-block;max-width:300px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.view_content{padding:20px;margin-bottom:20px;min-height:200px;font-size:1.6rem;border-bottom:1px solid #999}

@media screen and (max-width:800px){
    .view_default .view_header .view_files .file a{max-width:230px}
    .view_content iframe{width:100%;height:220px}
}

.edit_default{margin-bottom:20px}
.edit_default tbody{border-top:2px solid #555;border-bottom:1px solid #999}
.edit_default tr{width:100%;font-size:0;border-bottom:1px solid #ccc;background-color:#f5f5f5}
.edit_default tr th{width:220px;height:65px;padding:0 20px;font-size:16px;line-height:16px;font-weight:700;text-align:left;-webkit-box-sizing:border-box;box-sizing:border-box;vertical-align:top;color:#555}
.edit_default tr th label{display:block;position:relative;top:20px}
.edit_default tr td{width:calc(100% - 220px);height:65px;padding:10px;font-size:16px;line-height:16px;text-align:left;-webkit-box-sizing:border-box;box-sizing:border-box;color:#555;background-color:#fff}
.edit_default tr td input[type=text]{display:block;width:100%;height:100%;padding:0 10px;border:1px solid #ccc;box-sizing:border-box}
.edit_default .edit_default_images{margin-bottom:10px}
.edit_default .edit_default_images a{border:1px solid #ccc;font-size:14px;line-height:23px;padding:3px 5px}
.edit_default .edit_default_images a:hover{border:1px solid #777;color:#000}
.edit_default tr.edit_content td{height:auto}
.edit_default tr.listimg td{height:auto;padding:10px}
.edit_default tr.listimg td .listimg_box{margin-top:10px}
.edit_default .edit_file th span{border:1px solid #777}
.edit_default .edit_file th .edit_file_wrap{position:relative;top:-4px;left:10px;display:inline-block}
.edit_default .edit_file th .edit_file_wrap span{display:inline-block;width:25px;height:25px;border:1px solid #777;cursor:pointer;vertical-align:top}
.edit_default .edit_file th .edit_file_wrap span a{position:relative;top:7px;left:7px;display:block;width:11px;height:11px;vertical-align:top;font-size:0}
.edit_default .edit_file th .edit_file_wrap span a:after{content:'';position:absolute;top:5px;left:0;width:100%;height:1px;background-color:#777}
.edit_default .edit_file th .edit_file_wrap span a:before{content:'';position:absolute;top:5px;left:0;width:100%;height:1px;background-color:#777;transform:rotate(90deg)}
.edit_default .edit_file th .edit_file_wrap span:last-child a:before{display:none}
.edit_default .edit_file td{height:auto;min-height:65px}
.edit_default .edit_file .edit_file_list .edit_file_box{display:block;font-size:14px;color:#777}
.edit_default .edit_file .edit_file_list .edit_file_box+.edit_file_box{margin-top:9px}
.edit_default .edit_file .edit_file_list .edit_file_box input[type=checkbox]{width:15px;height:15px}
.edit_default .edit_file .edit_file_list .edit_file_box img{vertical-align:top}
.edit_default .edit_file .edit_file_list .edit_file_box .edit_file_box1{position:relative;display:inline-block;width:500px;height:34px;padding:5px;border:1px solid #ccc;text-overflow:ellipsis;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box}
.edit_default .edit_file .edit_file_list .edit_file_box .edit_file_box2{display:inline-block;margin-left:5px;margin-top:5px;vertical-align:top}
.edit_default .edit_file .edit_file_list .edit_file_box .edit_file_box2 span{vertical-align:middle}
.list_default_bottom{position:relative;height:230px}
.listimg_file_box{display:block;margin-top:10px;font-size:14px;color:#777}
.listimg_file_box1{position:relative;display:inline-block;vertical-align:top;width:500px;height:34px;padding:5px;box-sizing:border-box;border:1px solid #ccc}
.listimg_file_box2{display:inline-block;margin-left:5px;margin-top:5px;vertical-align:top}

@media screen and (min-width:801px) and (max-width:1280px){
    .edit_default .edit_file th .edit_file_wrap{display:block;top:10px;left:0}
    .edit_default .edit_file th{height:100px}
}
@media screen and (max-width:800px){
    .view_default .view_header .h3_tit{padding:0 0 0 10px;font-size:20px;line-height:70px}
    .view_default .view_header .view_desc{padding:0}
    .view_default .view_header .view_desc dl{display:block;width:100%;padding:10px;box-sizing:border-box}
    .view_default .view_header .view_desc dl+dl{margin-left:0;border-top:1px solid #d6d6d6}
    .view_default .view_header .view_desc dl dt{font-size:14px}
    .view_default .view_header .view_desc dl dd{font-size:14px}
    .view_default .view_header .view_desc dl dd>span{display:block}
    .view_default .view_header .view_files dd span+span{margin-left:0;margin-top:3px}
    .view_default .view_header .view_desc dl dd img{top:3px;width:16px}
    .view_content{width:calc(100% - 20px);padding:10px}
    .view_content img{width:100%}
    .view_default_left{position:static;display:inline-block;margin-bottom:10px}
    .view_default_right{position:static;float:right}
    .view_default_bottom a{min-width:45px!important;padding:0 15px!important;font-size:13px!important}
    .view_default_bottom a+a{margin-left:2px}
    .view_default_right a{min-width:65px!important}
    .edit_default tr th{position:relative;width:75px;height:50px;font-size:14px;padding:0 10px 0 10px;min-width:75px}
    .edit_default tr td{height:50px;width:calc(100% - 75px);font-size:14px;line-height:14px}
    .edit_default tr th label{position:relative;top:15px;display:block}
    .edit_default .edit_file th .edit_file_wrap{display:block;position:absolute;top:20px;left:0}
    .edit_default .edit_file th .edit_file_wrap span{width:20px;height:20px}
    .edit_default .edit_file th .edit_file_wrap span a{top:5px;left:5px}
}

.pagination_default{position:absolute;left:50%;transform:translateX(-50%);top:25%;width:100%}
.pagination{text-align:center}
.pagination li{display:inline-block;width:40px;height:40px;border:1px solid #dcdcdc;border-radius:50%;vertical-align:top}
.pagination li+li{margin-left:5px}
.pagination li a{display:block;font-size:1.5rem;line-height:40px;text-align:center;color:#555}
.pagination li.active{background-color:#f9601c;border:1px solid #fff}
.pagination li.active a{color:#fff;font-weight:700}
.pagination li:hover{background-color:#f9601c;border:1px solid #fff}
.pagination li:hover a{color:#fff;font-weight:700}
.pagination li.first_page a,.pagination li.last_page a,.pagination li.next_page a,.pagination li.prev_page a{font-size:3rem;line-height:32px}

@media screen and (max-width:800px){
    .pagination li{border:none;width:auto;height:20px;margin:0 13px}
    .pagination li+li{margin-left:0}
    .pagination li a{font-size:1.6rem;line-height:20px}
    .pagination li.first_page a,.pagination li.last_page a,.pagination li.next_page a,.pagination li.prev_page a{line-height:16px}
    .pagination li.active{background-color:transparent!important;border:none!important}
    .pagination li.active a{color:#000;font-weight:700}
    .pagination li:hover{background-color:transparent;border:none}
    .pagination li:hover a{color:#000}
}
.listbutton_default{position:absolute;right:0;top:25%}
.listbutton_default a{font-size:15px;display:inline-block;background-color:#f9601c;color:#fff;line-height:36px;font-weight:700;padding:0 30px;cursor:pointer}
.listbutton_default a+a{margin-right:10px}
.listbutton_default a+a{margin-left:10px}

@media screen and (min-width:801px) and (max-width:1280px){
    .listbutton_default{top:60%}
}
@media screen and (max-width:800px){
    .listbutton_default{top:60%}
}

.gallery_default{padding-top:40px;padding-bottom:20px;width:100%;font-size:0;border-top:2px solid #555;border-bottom:1px solid #d6d6d6}
.gallery_default li{width:calc((100% - 60px)/ 4);display:inline-block;border:1px solid #d8d8d8;box-sizing:border-box;text-align:left;margin:0 20px 20px 0}
.gallery_default li:nth-child(4n){margin:0 0 20px 0}
.gallery_default .gallery_img{background-color:lightred}
.gallery_default .gallery_tit{padding:15px 15px 10px;font-size:15px;line-height:15px}
.gallery_default .gallery_date{padding:0 15px 15px;font-size:15px;line-height:15px}
.edit_default.center_history_write .write_default_select{height:50px}
.edit_default.center_history_write tr:last-child{height:200px}
.edit_default.center_history_write tr:last-child th{height:100%}
.edit_default.center_history_write tr:last-child th label{display:flex;align-items:center;height:100%}
.edit_default.center_history_write tr:last-child td{height:100%}
.edit_default.center_history_write textarea{width:100%;height:100%}
input[type=file]{font-size:13px}
.report_listimg td textarea{display:block;width:602px;padding:10px;border:1px solid #ccc;box-sizing:border-box;resize:vertical}
.edit_default tr.report_listimg td{height:auto}
.report_listimg_boxwrap{font-size:0}
.report_listimg_box1{position:relative;display:inline-block;width:500px;height:34px;padding:5px;border:1px solid #ccc;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;-webkit-box-sizing:border-box;box-sizing:border-box}
.report_listimg_boxwrap label{display:inline-block;margin-left:9px;padding:0 20px;height:32px;font-size:15px;line-height:32px;border:1px solid #777;vertical-align:top}
.fileX,.fileXX{position:absolute;right:15px;top:11px;cursor:pointer}
.report_listimg_box1 .fileName{display:inline-block;margin:2px 0 0 8px;font-size:14px;color:#777;vertical-align:top}
.upfileElem{font-size:0;margin-bottom:10px}
.upfileElem .edit_upfileElem_box1{position:relative;display:inline-block;vertical-align:top;width:500px;height:34px;padding:5px;box-sizing:border-box;border:1px solid #ccc}
.fileimg{width:19px;height:20px;margin-right:7px;vertical-align:top}
.upfileElem .edit_upfileElem_box1 span{display:inline-block;padding-left:7px;max-width:460px;font-size:14px;line-height:20px;color:#777;vertical-align:top;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.upfileElem label{display:inline-block;margin-left:9px;padding:0 20px;height:32px;font-size:15px;line-height:32px;border:1px solid #777}
.upfileElem.edit_upfileElem{font-size:0;margin-bottom:10px}
.upfileElem.edit_upfileElem .edit_upfileElem_box1{position:relative;display:inline-block;vertical-align:top;width:500px;height:34px;padding:5px;box-sizing:border-box;border:1px solid #ccc}
.fileimg{width:19px;height:20px}
.upfileElem.edit_upfileElem .edit_upfileElem_box1 span{display:inline-block;padding-left:7px;max-width:460px;font-size:14px;line-height:20px;color:#777;vertical-align:top;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.upfileElem.edit_upfileElem label{display:inline-block;margin-left:9px;padding:0 20px;height:32px;font-size:15px;line-height:32px;border:1px solid #777}
.fileDisplay{display:inline-block;margin:2px 0 0 0;font-size:14px;color:#777;vertical-align:top}

@media screen and (min-width:801px) and (max-width:1280px){
    .report_listimg td textarea{width:100%}
    .report_listimg_box1{width:calc(100% - 71px)}
    .report_listimg_boxwrap label{margin-left:2px;padding:0 10px;font-size:13px}
    .listimg_file_box1{width:calc(100% - 71px);font-size:13px;line-height:23px}
    .upfileElem.edit_upfileElem .edit_upfileElem_box1{width:calc(100% - 71px)}
    .fileimg{width:16px;height:17px;position:relative;top:3px}
    .upfileElem.edit_upfileElem label{margin-left:2px;padding:0 10px;font-size:13px}
    .edit_default .edit_file .edit_file_list .edit_file_box{width:100%}
    .edit_default .edit_file .edit_file_list .edit_file_box .edit_file_box1{width:calc(100% - 71px);font-size:13px;line-height:23px}
    .edit_default .edit_file .edit_file_list .edit_file_box img{margin-right:5px;width:16px;height:17px}
    .upfileElem .edit_upfileElem_box1{width:calc(100% - 71px)}
    .upfileElem label{margin-left:2px;padding:0 10px;font-size:13px}
    .fileimg{width:16px;height:17px}
    .fileDisplay{font-size:13px}
}
@media screen and (max-width:800px){
    .listimg_file_box1{width:calc(100% - 71px);font-size:13px;line-height:23px}
    .report_listimg_box1{width:calc(100% - 71px)}
    .report_listimg_boxwrap label{margin-left:2px;padding:0 10px;font-size:13px}
    .report_listimg td textarea{width:100%}
    .upfileElem.edit_upfileElem .edit_upfileElem_box1{width:calc(100% - 71px)}
    .fileimg{width:16px;height:17px;position:relative;top:3px}
    .upfileElem.edit_upfileElem label{margin-left:2px;padding:0 10px;font-size:13px}
    .edit_default .edit_file .edit_file_list .edit_file_box{width:100%}
    .edit_default .edit_file .edit_file_list .edit_file_box .edit_file_box1{width:calc(100% - 71px);font-size:13px;line-height:23px}
    .edit_default .edit_file .edit_file_list .edit_file_box img{margin-right:5px;width:16px;height:17px}
    .upfileElem .edit_upfileElem_box1{width:calc(100% - 71px)}
    .upfileElem label{margin-left:2px;padding:0 10px;font-size:13px}
    .fileimg{width:16px;height:17px}
    .fileDisplay{font-size:13px}
}

.notice_table.table_stats_list table .no{width:10%}
.notice_table.table_stats_list table .created{width:13%}
.notice_table.table_stats_list table .ext02{width:13%}
.notice_table.table_stats_list table .ext03{width:10%}
.notice_table.table_stats_list table .ext04{width:10%}
.notice_table.table_stats_list table .ext05{width:10%}
.notice_table.table_stats_list table .ext06{width:10%}
.notice_table.table_stats_list table .ext01{width:10%}
.notice_table.table_stats_list table .writer{width:14%}
.notice_table.table_illegal_list table thead .title{width:80%}
.notice_table.table_illegal_list table thead .ext15{width:20%}
.notice_table.table_illegal_list table .title{width:80%}
.notice_table.table_illegal_list table .ext15{width:20%}
.fireman_mtable .notice_table table .survey_num{width:7%}
.fireman_mtable .notice_table table .survey_title{width:34%}
.fireman_mtable .notice_table table .survey_date{width:45%}
.fireman_mtable .notice_table table .survey_join{width:7%}
.fireman_mtable .notice_table table .survey_view{width:7%}

@media screen and (max-width:800px){
    .table_stats_list table{table-layout:auto;width:155%}
    .notice_table.table_stats_list table .created{width:20%}
    .notice_table.table_stats_list table .ext02{width:20%}
    .notice_table.table_stats_list table .ext03{width:12%}
    .notice_table.table_stats_list table .ext04{width:12%}
    .notice_table.table_stats_list table .ext05{width:12%}
    .notice_table.table_stats_list table .ext06{width:12%}
    .notice_table.table_stats_list table .ext01{width:12%}
    .minwon_info2_table table{table-layout:auto;width:250%}
    .reparations1 table{table-layout:auto;width:250%}
    .fireman_mtable .notice_table table{width:100%}
    .fireman_mtable .notice_table table .survey_title{width:80%}
    .fireman_mtable .notice_table table .survey_view{width:20%}
}