.accessibility{overflow:hidden;position:relative;z-index:1024;width:100%}
.accessibility a{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;font-size:0;line-height:0;text-align:center}
#accessibility a:active,#accessibility a:hover,.accessibility a:focus{width:auto;height:20px;margin:0;padding:8px 0 0 15px;background:#20262c;font-size:12px;font-weight:700;line-height:1;color:#fff}
.wrap{overflow-x:hidden}
#wrap{overflow:hidden}
.header{position:relative;z-index:10;width:100%;height:90px;border-top:3px solid #f9601c;background-color:#fff}
.header .inner{max-width:1280px;height:100%;margin:0 auto;-webkit-box-sizing:border-box;box-sizing:border-box}
.gna_all_mbtxt{display:none}
@media screen and (min-width:801px) and (max-width:1280px){
    .header{height:50px}
    .header .inner{width:90%;margin:0 auto}
}
@media screen and (max-width:800px){
    .header{height:50px}
}

.gnb{position:absolute;left:51%;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:100%;text-align:center;letter-spacing:0}
.gnb .depth1{font-size:0}
.gnb .depth1>li{display:inline-block;height:90px;font-family:'Noto Sans KR';font-size:20px;font-weight:500}
.gnb .depth1>li+li{margin-left:40px}
.gnb .depth1>li>a{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%;width:100%;color:#373737}
.gnb .depth1>li>a.active{color:#fd7116;font-weight:700}
.gnb .depth1>li>a.active:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:5px;background-color:#fd7116}
.gnb .depth1>li>.depth1_menu{position:absolute;left:50%;top:90px;z-index:100;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:120vw;height:70px;text-align:center;background-color:rgba(242,83,28,.9);-webkit-box-shadow:0 4px 5px rgba(0,0,0,.2);box-shadow:0 4px 5px rgba(0,0,0,.2);visibility:hidden;opacity:0;-webkit-transition:all .3s;transition:all .3s}
.gnb .depth1>li.on .depth1_menu{visibility:visible;opacity:1}
.gnb_bg{position:absolute;top:90px;z-index:10;width:100%;height:0;background-color:transparent;background-color:rgba(242,83,28,.9);-webkit-box-shadow:0 4px 5px rgba(0,0,0,.2);box-shadow:0 4px 5px rgba(0,0,0,.2);-webkit-transition:all .3s;transition:all .3s}
.gnb_bg.on{height:90px}
.gnb .depth1>li.active>a,.gnb .depth1>li:hover>a{color:#fd7116;font-weight:700}
.gnb .depth1>li.active>a:after,.gnb .depth1>li:hover>a:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:5px;background-color:#fd7116}
.gnb .depth2{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%}
.gnb .depth2 li{display:inline-block}
.gnb .depth2 li+li{margin-left:40px}
.gnb .depth2 li a{font-size:17px;font-weight:700;color:#fff}
.gnb .depth2 li:hover a{color:#fff}
@media screen and (min-width:801px) and (max-width:1280px){
    .gnb{left:56%;width:600px;text-align:center;margin:0 auto;font-size:0}
    .gnb .depth1>li{height:50px;font-size:18px}
    .gnb .depth1>li+li{margin-left:17px}
    .gnb .depth1>li>.depth1_menu{top:50px;left:42%}
    .gnb .depth2 li+li{margin-left:30px}
}
@media screen and (max-width:800px){
    .gnb{display:none}
}

.gnb_home_mb{display:none}
.gnb_all{position:absolute;left:50%;top:90px;z-index:100;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:100%;height:auto;visibility:hidden;opacity:0;-webkit-transition:all .3s;transition:all .3s}
.gnb_all.active{visibility:visible;opacity:1}
.gnb_all .gnb_all_depth1{margin:0 auto;width:1280px;font-size:0}
.gnb_all .gnb_all_depth1>li{display:inline-block;width:calc(100% / 6);padding:40px;vertical-align:top;-webkit-box-sizing:border-box;box-sizing:border-box}
.gnb_all .gnb_all_depth1>li>a{display:block;margin-bottom:20px;font-family:'Noto Sans KR';font-size:18px;font-weight:500;color:#fff}
.gnb_all .gnb_all_depth1 a:hover{color:#fff}
.gnb_all .gnb_all_depth2 li+li{margin-top:10px}
.gnb_all .gnb_all_depth2 a{font-family:'Noto Sans KR';font-size:17px;line-height:22px;font-weight:400;color:#ddd}
.gnb_all .gnb_all_depth2 a:hover{color:#fff}
.nav_bg{position:absolute;top:90px;z-index:10;width:100%;height:0;background-color:transparent;background-color:rgba(242,83,28,.9);-webkit-box-shadow:0 4px 5px rgba(0,0,0,.2);box-shadow:0 4px 5px rgba(0,0,0,.2);-webkit-transition:all .3s;transition:all .3s}
.nav_bg.active{height:400px}


@media screen and (min-width: 801px) and (max-width: 1280px) {
    .gnb_all{top:50px;height:330px}
    .gnb_all .gnb_all_depth1{width:100%}
    .gnb_all .gnb_all_depth1>li{padding:25px 20px 0 20px}
    .gnb_all .gnb_all_depth1>li>a{font-size:17px;margin-bottom:20px}
    .gnb_all .gnb_all_depth2 a{font-size:16px}
    .gnb_all .gnb_all_depth2 li+li{margin-top:8px}
    .nav_bg{top: 50px;}
    .nav_bg.active{height: 350px;}
}

@media screen and (max-width: 800px) {
    .gnb_all.active{display:none}
    .nav_bg{display: none;}
}


#wrap.wrap_minwon .gnb .depth1 > li:nth-of-type(1) > a,
#wrap.wrap_data .gnb .depth1 > li:nth-of-type(2) > a,
#wrap.wrap_stats .gnb .depth1 > li:nth-of-type(3) > a,
#wrap.wrap_commu .gnb .depth1 > li:nth-of-type(4) > a,
#wrap.wrap_safeex .gnb .depth1 > li:nth-of-type(5) > a,
#wrap.wrap_center .gnb .depth1 > li:nth-of-type(6) > a{color: #fd7116;}

#wrap.wrap_minwon .gnb .depth1 > li:nth-of-type(1) > a:after,
#wrap.wrap_data .gnb .depth1 > li:nth-of-type(2) > a:after,
#wrap.wrap_stats .gnb .depth1 > li:nth-of-type(3) > a:after,
#wrap.wrap_commu .gnb .depth1 > li:nth-of-type(4) > a:after,
#wrap.wrap_safeex  .gnb .depth1 > li:nth-of-type(5) > a:after,
#wrap.wrap_center .gnb .depth1 > li:nth-of-type(6) > a:after{
    content: '';
    position: absolute; bottom: 0; left: 0;
    width: 100%; height: 5px; background-color: #fd7116;
}


/* header - header_util */
.header_util{float:right;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;margin-top:35px;width:auto}
.header_util .toggle_menu{position:relative;top:0;width:23px;height:17px;background:url(../img/2020100617285476257.png) no-repeat center}

.language_select_wrap{position:relative;display:inline-block;padding:0;margin-left:25px;width:85px;line-height:15px;cursor:pointer;-webkit-box-sizing:border-box;box-sizing:border-box}
.language_select_wrap>button{font-size:15px;color:#555;letter-spacing:0;background:0 0;-webkit-background:transparent;-moz-background:transparent;-ms-background:transparent;-o-background:transparent}
.language_select_wrap:after{content:'';position:absolute;right:0;top:40%;-webkit-transform:translateY(-50%) rotate(135deg);transform:translateY(-50%) rotate(135deg);width:2px;height:2px;border:2px solid;border-color:#777 #777 transparent transparent}
.language_select_wrap.active:after{right:0;top:60%;-webkit-transform:translateY(-50%) rotate(-45deg);transform:translateY(-50%) rotate(-45deg)}
.language_select_wrap ul{display:none;position:absolute;top:30px;left:0;padding:10px 12px;width:100%;background-color:#fff;border-radius:5px;box-shadow:0 0 4px rgba(0,0,0,.2);-webkit-box-sizing:border-box;box-sizing:border-box}
.language_select_wrap ul.active{display:block}
.language_select_wrap ul li{line-height:15px}
.language_select_wrap ul li+li{margin-top:10px}
.language_select_wrap ul li a{color:#777;font-size:15px;letter-spacing:0}
.language_select_wrap ul li:hover>a{color:#f9601c}
.header_util .sns_link{margin-left:20px;position:relative;top:2px;display:inline-block}
.header_util .sns_link ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:auto}

.header_util .sns_link li{background:url(../img/2020071009315089512.png) no-repeat}
.header_util .sns_link li+li{margin-left:10px}
.header_util .sns_link li:nth-child(1){background-position:2px 0;width:13px;height:20px}
.header_util .sns_link li:nth-child(2){background-position:-18px 0;width:21px;height:20px}
.header_util .sns_link li:nth-child(3){background-position:-48px 0;width:25px;height:20px}
.header_util .sns_link a{display:block;height:100%;cursor:pointer}
.header_util .toggle_menu_mb {display: none;}
.header_util .toggle_menu_mb span{position: absolute; text-indent: -99999px; }


@media screen and (min-width: 801px) and (max-width: 1280px) {
    .header_util{width:auto!important;height:38px;margin-top:5px!important}
    .header_util .toggle_menu{top:0}
    .header_util .sns_link{display: none;}
    .language_select_wrap{display: none;}
}

@media screen and (max-width: 800px) {

    .header_util{width:auto!important;margin-top:0!important;margin-right:0!important}
    .header_util .toggle_menu{display:none}
    .language_select_wrap{display:none}
    .main_header .language_select_wrap > button{color:#555!important}
    .main_header .language_select_wrap:after{border-color:#777 #777 transparent transparent!important}
    .header_util .sns_link{display:none}
    .header_util .toggle_menu_mb{display:block;position:absolute;top:0;right:0;z-index:10000;width:50px;height:50px;background:0 0}
    .main_header .header.active .header_util .toggle_menu_mb:before{background-color: #404042;}
    .main_header .header.active .header_util .toggle_menu_mb span{background-color: #404042;}
    .main_header .header.active .header_util .toggle_menu_mb:after{background-color: #404042;}

    .header_util .toggle_menu_mb:before{
        content: "";
        position: absolute; top: 17px; right: 10px;
        width: 23px; height: 3px;
        background-color: #404042;
        border-radius: 10px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
    }

    .header_util .toggle_menu_mb:after{
        content: "";
        position: absolute; bottom: 16px; right: 10px;
        width: 15px; height: 3px;
        border-radius: 10px;
        background-color: #404042;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -ms-transition: all 0.3s;
        transition: all 0.3s;
    }

    .header_util .toggle_menu_mb span{
        position: absolute; top: 50%; right: 10px;
        width: 23px; height: 3px;
        margin-top: -1px;
        text-indent: -999999px;
        background-color: #404042;
        border-radius: 10px;
    }
}




/* sidebar - inner, h2_tit */
.sidebar>.inner{height:175px;background-size:cover!important;background-position:center!important}
.sidebar .h2_tit{position:relative;height:175px}
.sidebar .h2_tit strong{display:block;padding-top:65px;font-family:Arita;font-size:3rem;font-weight:700;text-align:center;color:#fff;letter-spacing:0}

@media screen and (min-width:801px) and (max-width:1280px){
    .sidebar > .inner{width:100%}
}
@media screen and (max-width: 800px) {
    .sidebar > .inner{height:145px;background-position:center!important}
    .sidebar .h2_tit{height:145px}
    .sidebar .h2_tit strong{padding-top:55px;font-size:2.5rem}
}



.main_header{position:absolute;top:0;left:0;right:0;z-index:10}
.main_header .header{background-color:rgba(0,0,0,.5);border-top:0}
.main_header .gnb .depth1>li>a{color:#fff}
.main_header .gnb .depth1>li:hover > a{color:#fd7116}
.main_header .language_select_wrap > button{color:#fff}
.main_header .language_select_wrap:after{border-color:#fff #fff transparent transparent}
.main_header .header .header_util .sns_link li{background:url(../img/2020091410290277792.png) no-repeat}
.main_header .header .header_util .sns_link li+li{margin-left:10px}
.main_header .header_util .sns_link li:nth-child(1){background-position:2px 0;width:13px;height:20px}
.main_header .header_util .sns_link li:nth-child(2){background-position:-18px 0;width:21px;height:20px}
.main_header .header_util .sns_link li:nth-child(3){background-position:-48px 0;width:25px;height:20px}
.main_header .header_util .toggle_menu{
    background:url(../img/2020091410324704451.png) no-repeat;
    background-size:100% auto;width:23px;height:17px;
}
.main_header .header_util{margin-top:35px}


@media screen and (min-width: 801px) and (max-width: 1280px) {
}

@media screen and (max-width: 800px) {
 
}