#wrap.wrap_minwon .gnb .depth1 > li:nth-of-type(1) > a,
#wrap.wrap_data .gnb .depth1 > li:nth-of-type(2) > a,
#wrap.wrap_stats .gnb .depth1 > li:nth-of-type(3) > a,
#wrap.wrap_commu .gnb .depth1 > li:nth-of-type(4) > a,
#wrap.wrap_safeex .gnb .depth1 > li:nth-of-type(5) > a,
#wrap.wrap_center .gnb .depth1 > li:nth-of-type(6) > a{color: #fd7116;}

#wrap.wrap_minwon .gnb .depth1 > li:nth-of-type(1) > a:after,
#wrap.wrap_data .gnb .depth1 > li:nth-of-type(2) > a:after,
#wrap.wrap_stats .gnb .depth1 > li:nth-of-type(3) > a:after,
#wrap.wrap_commu .gnb .depth1 > li:nth-of-type(4) > a:after,
#wrap.wrap_safeex  .gnb .depth1 > li:nth-of-type(5) > a:after,
#wrap.wrap_center .gnb .depth1 > li:nth-of-type(6) > a:after{
    content: '';
    position: absolute; bottom: 0; left: 0;
    width: 100%; height: 5px; background-color: #fd7116;
}

h1.logo{position:absolute;top:50%;left:0;z-index:200;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:235px;height:90px;background:url(../img/2020082709400044995.jpg) no-repeat 0}
h1.logo a{display:block;height:100%}
h1.logo.active{position:fixed;top:28px}
.main_header h1.logo{background:url(../img/2020091013380306990.png) no-repeat 0}

@media screen and (min-width:801px) and (max-width:1280px){
    h1.logo{width:160px;height:50px;background:url(../img/2020082516304195472.jpg) no-repeat 0}
    .main_header h1.logo{background:url(../img/2020091013381534549.png) no-repeat 0}
    .gnb{left:57%}
}
@media screen and (max-width:800px){
    h1.logo{left:10px;width:170px;height:50px;background:url(../img/2020090418010673136.jpg) no-repeat 0;background-size:100% auto}
    .main_header h1.logo{background:url(../img/2020091013382411162.png) no-repeat 0;background-size:100% auto;left:10px}
}