
/* 본문 */
.survey_cont{font-size: 17px; padding: 20px 20px 150px 20px; border-bottom: 1px solid #d6d6d6;}
.survey_subtit{padding: 30px 0 30px 20px; font-size: 20px; font-weight: 700; color:#555; }n
.survey_view_content{padding-bottom: 20px; font-size: 16px; line-height: 1.5;}
/* 질문 */
.survey_func{font-size: 17px;}
.survey_func li{margin-top: 20px;}
.survey_func dd{padding: 0 0 30px 75px; font-size: 17px; line-height: 20px; color:#333;}
.survey_func dt{margin-bottom: 25px; font-size: 20px; line-height: 18px; font-weight: 500; color: #333;}
.survey_func dt:before{content:'Q'; display: inline-block; padding: 0 20px 0 40px; font-size: 20px; line-height: 20px; font-weight: 700; color: #f9601c;}



/* 주관식일때 */
.surbey_int{width: 100%; padding: 10px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box;}
.survey_textarea{width: 100%; height: 200px; padding: 10px; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; resize: none;}
.survey_func_subtit{padding-bottom: 15px; font-weight: 500;}

/* 단일형 */
/* label */
.survey_funlb{vertical-align: middle; margin-left: 10px;}
.research_list .research_lineup input[type=radio]{vertical-align: middle;}
/* 공통버튼 */
.survey_btn{display: inline-block; padding: 0 25px; font-size: 15px; line-height: 35px; font-weight: 700; text-align: center; cursor: pointer; vertical-align: top; border-radius: 0; -webkit-box-sizing: border-box; box-sizing: border-box;}

/* 버튼구역 */
.survey_btn_submit{margin: 0 auto; padding:20px 0 140px 0; text-align: center;}
.survey_btn_submit a{color: #fff; background-color: #f9601c; border-top: 1px solid #ccc;}
.survey_btn_bottom{display: block; padding: 0 0 50px; text-align: right; }
.survey_btn_bottom .survey_btn_list{color: #333; border: 1px solid #6a6a6a; }

/* 주관식답변 팝업 */
#content_pop{}
.survey_pop{font-size: 15px; line-height: 1.4; text-align: left;}
.survey_pop .survey_pop_tit{padding: 20px; font-size: 18px; font-weight: 700; color: #000; border-bottom: 1px solid #ccc;}
.survey_pop .survey_pop_cont{padding: 20px;}
.survey_pop .survey_pop_lineup{display: block; padding: 10px; border-radius: 5px; background-color:#f5f5f5;}
.survey_pop .survey_pop_lineup + .survey_pop_lineup{margin-top: 10px;}




/* 통계에만 */
.research_list em{display: block;}
.research_list span.grap{display:inline-block; width: 50%; height: 20px; text-align: left; border: 1px solid #CCC; padding: 2px; border-radius: 8px;}
.research_list span.grap b{display:inline-block; height: 100%; font-size: 0; border-radius: 6px; vertical-align:top; background: #f9601c;  } 
.survey_chart .survey_funlb{display: block; padding: 0 0 15px 0; margin: 0; font-size: 18px; color: #333; font-weight: 500;}
.anspop{display: inline-block; padding: 0 5px; font-size: 14px; line-height: 28px; font-weight: 500; background-color: #333; color: #fff; border-radius: 3px;}
.survey_funna{padding-bottom:10px; font-size: 16px; font-weight: 700; color: #999; }




/* 팝업반응형 */
@media screen and (max-width: 1280px) and (min-width: 801px){
    
}
@media screen and (max-width: 800px) {
    .survey_subtit{padding: 30px 0; font-size: 18px;}
    .survey_func dt{margin-bottom: 15px; font-size: 17px;}
    .survey_func dt:before{padding: 0 20px 0 0;}
    .survey_func dd{padding:0 0 20px 40px; font-size: 16px;}
    .survey_func_subtit{font-size: 16px;}
    .survey_btn{font-size: 13px; padding: 0 15px;}
    .survey_btn_submit{padding: 20px 0 40px 0;}
    .survey_funlb{padding-left: 10px; font-size:16px;}
    .survey_func li{margin-top: 15px;}
    .research_list span.grap{width: 100%;}
    .survey_chart .survey_funlb{font-size: 16px;}
}