.stats_act_list .stats_act_header .stats_act_desc input{display:inline-block;background:0 0;width:160px;font-weight:600;color:#333;font-size:32px;line-height:32px;letter-spacing:-1px}
@media screen and (max-width:1280px) and (min-width:801px){
    .stats_act_list .stats_act_header .stats_act_desc input{width:133px;font-size:27px;line-height:32px}
}
@media screen and (max-width:800px){
    .stats_act_list .stats_act_header .stats_act_desc input{width:85px;font-size:18px;line-height:18px}
}


.sec_stats{background-color:#f5f5f5;height:150px}
.sec_stats .stats_tit{position:relative;top:-15px;display:inline-block;width:16.666%;background-color:#fe8e38;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:2.5rem}
.sec_stats .stats_tit a{display:block;padding:45px 0 0 24px;height:165px}
.sec_stats .stats_tit h2{margin-bottom:15px;font-size:2.5rem;line-height:2.5rem;font-weight:700;color:#fff}
.sec_stats .stats_tit .stats_date{display:block;font-size:1.6rem;line-height:1.8rem;color:#fff}
@media screen and (min-width:801px) and (max-width:1280px){
    .sec_stats .stats_tit .stats_date{display:inline-block}
}
@media screen and (max-width:800px){
    .sec_stats .stats_tit .stats_date{display:inline-block;font-size:1.3rem;line-height:1.3rem}
}


.sec_stats .stats_tit p{font-size:1.6rem;line-height:1.8rem;color:#fff}
.sec_stats ul{position:relative;top:40px;display:inline-block;width:83.333%;vertical-align:top}
.sec_stats ul li{position:relative;display:inline-block;width:calc((100% - 5px)/ 5);height:75px;font-size:12px;border-right:1px solid #d3d3d3}
.sec_stats ul li div{position:absolute;left:140px;top:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-align:left}
.sec_stats ul li p{font-size:1.8rem;line-height:1.8rem;font-weight:700;color:#f9601c}
.sec_stats ul li em{margin-top:13px;font-size:1.6rem;line-height:1.6rem;color:#555}
.sec_stats ul li em.sec_stats_default{display:block}
.sec_stats ul li em.smile{display:block}
.sec_stats ul li em.smile i{display:inline-block;margin-right:3px;width:26px;height:26px;background:url(../img/2020100510124932514.png) no-repeat;font-size:0;vertical-align:top}
.sec_stats ul li em.smile img{vertical-align:top;padding-right:3px}
.sec_stats ul li em.smile b{font-size:16px;line-height:26px;color:#555;font-weight:600}
.sec_stats ul li em span{font-size:3.3rem;font-weight:700}
.sec_stats ul li:after{content:'';position:absolute;left:30px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:57px;height:58px;background:url(../img/2020072010371177477.png) no-repeat;background-size:500% auto}
.sec_stats ul li:nth-child(1):after{background-position:0 0}
.sec_stats ul li:nth-child(2):after{background-position:-57px 0}
.sec_stats ul li:nth-child(3):after{background-position:-114px 0}
.sec_stats ul li:nth-child(4):after{background-position:-172px 0}
.sec_stats ul li:nth-child(5):after{background-position:-227px 0}
@media screen and (min-width:801px) and (max-width:1280px){
    .sec_stats{height:180px}
    .sec_stats .stats_tit{position:relative;top:-40px;display:block;width:100%;text-align:center}
    .sec_stats .stats_tit a{height:100px;padding:24px 0 0 24px;-webkit-box-sizing:border-box;box-sizing:border-box}
    .sec_stats .stats_tit a h2{margin-bottom:0}
    .sec_stats .stats_tit a input{display:inline-block}
    .sec_stats .stats_tit a p{display:inline-block}
    .sec_stats ul{position:relative;top:-15px;display:block;width:100%;vertical-align:top}
    .sec_stats ul li{width:20%;height:60px;border-right:none}
    .sec_stats ul li:after{left:10px;width:40px;height:40px}
    .sec_stats ul li:nth-child(2):after{background-position:-80px 0}
    .sec_stats ul li:nth-child(3):after{background-position:-40px 0}
    .sec_stats ul li:nth-child(4):after{background-position:-120px 0}
    .sec_stats ul li:nth-child(5):after{background-position:-160px 0}
    .sec_stats ul li div{left:100px;width:45%}
    .sec_stats ul li p{font-size:1.5rem}
    .sec_stats ul li em span{font-size:2.8rem}
    .sec_stats ul li em.smile b{display:none}
    .sec_stats ul li em.smile{margin-top:7px}
}
@media screen and (max-width:800px){
    .sec_stats{height:80px}
    .sec_stats .stats_tit{position:relative;top:0;display:block;width:100%;text-align:center}
    .sec_stats .stats_tit a{height:80px;padding:17px 0 0 0;-webkit-box-sizing:border-box;box-sizing:border-box}
    .sec_stats .stats_tit a h2{margin-bottom:0;font-size:1.8rem;line-height:1.8rem}
    .sec_stats .stats_tit a input{display:inline-block;font-size:1.3rem;line-height:1.3rem}
    .sec_stats .stats_tit a p{display:inline-block;font-size:1.3rem;line-height:1.3rem}
    .sec_stats ul{position:relative;top:0;display:block;width:100%;vertical-align:top}
    .sec_stats ul li{margin:23px 0;height:50px;width:20%;border:none}
    .sec_stats ul li:after{display:none}
    .sec_stats ul li div{left:50%;-webkit-transform:translate(-50%,0);transform:translate(-50%,0);width:100%;text-align:center}
    .sec_stats ul li p{font-size:1.3rem}
    .sec_stats ul li em{font-size:1.1rem}
    .sec_stats ul li em span{font-size:1.8rem}
    .sec_stats ul li em.smile i{width:20px;height:20px;background:url(../img/2020100510125564535.png) no-repeat;background-size:100% auto}
    .sec_stats ul li em.smile b{display:block;font-size:13px}
}


.stats_act_viewlink{color:#f9601c;font-weight:700;text-decoration:underline}
.stats_act_viewlink:hover{text-decoration:underline}
.stats_act_list{background-color:#f7f7f7;padding:45px 0 15px;margin:25px 0 30px}
.stats_act_list .stats_act_header{text-align:center}
.stats_act_list .stats_act_header .stats_act_tit{font-size:38px;line-height:38px;font-weight:700;color:#f9601c}
.stats_act_list .stats_act_header .stats_act_desc{margin:20px 0 10px;font-size:32px;line-height:32px;font-weight:700;color:#333}
.stats_act_list .sec_stats.stats_act_wrap ul{font-size:0;width:100%}
.stats_act_list .sec_stats.stats_act_wrap ul li:last-child{border-right:0}
@media screen and (min-width:801px) and (max-width:1280px){
    .stats_act_list .stats_act_header .stats_act_tit{font-size:32px}
    .stats_act_list .stats_act_header .stats_act_desc{font-size:27px;margin:10px 0}
    .stats_act_list .sec_stats.stats_act_wrap{height:100px}
    .stats_act_list .sec_stats.stats_act_wrap ul{top:15px}
    .stats_act_list .sec_stats.stats_act_wrap ul li{width:calc((100% - 5px)/ 5);border-right:1px solid #d3d3d3}
    .stats_act_list .sec_stats.stats_act_wrap ul li:after{left:10%}
    .stats_act_list .sec_stats.stats_act_wrap ul li div{left:67%}
}
@media screen and (max-width:800px){
    .stats_act_list{padding:30px 0 15px}
    .stats_act_list .stats_act_header .stats_act_tit{font-size:22px;line-height:22px}
    .stats_act_list .stats_act_header .stats_act_desc{font-size:18px;line-height:18px;margin:12px 0}
    .stats_act_list .sec_stats.stats_act_wrap ul li{margin:5px 0 15px;height:auto}
    .stats_act_list .sec_stats.stats_act_wrap ul li em{margin-top:8px;font-size:15px}
    .sec_stats ul li em.sec_stats_default{height:40px;line-height:40px;text-align:center}
    .stats_act_list .sec_stats.stats_act_wrap ul li em span{font-size:20px}
    .stats_act_list .sec_stats.stats_act_wrap ul li p{font-size:16px}
}


.stats_act_view{margin:90px 0 110px}
.stats_act_view .stats_act_header{text-align:center}
.stats_act_view .stats_act_header .stats_act_desc{margin-bottom:60px;font-size:36px;line-height:36px;font-weight:700;color:#333}
.stats_act_view .stats_act_header .stats_act_desc .stats_act_date{color:#f9601c}
.stats_act_view .stats_act_wrap ul{width:90%;margin:0 auto;font-size:0;text-align:center}
.stats_act_view .stats_act_wrap ul li{display:inline-block;width:calc(100% / 5);vertical-align:top}
.stats_act_view .stats_act_wrap ul li .stats_act_head{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:50px}
.stats_act_view .stats_act_wrap ul li .stats_act_head strong{position:relative;padding-left:30px;font-size:18px;color:#f9601c;font-weight:700}
.stats_act_view .stats_act_wrap ul li .stats_act_head strong:before{content:'';position:absolute;left:-30px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:50px;height:50px;background:url(../img/2020070613364460091.png) no-repeat;background-size:500% auto;background-position:0 0}
.stats_act_view .stats_act_wrap ul li:nth-of-type(2) .stats_act_head strong:before{background-position:-50px 0}
.stats_act_view .stats_act_wrap ul li:nth-of-type(3) .stats_act_head strong:before{background-position:-100px 0}
.stats_act_view .stats_act_wrap ul li:nth-of-type(4) .stats_act_head strong:before{background-position:-150px 0}
.stats_act_view .stats_act_wrap ul li:nth-of-type(5) .stats_act_head strong:before{background-position:-200px 0}
.stats_act_view .stats_act_wrap ul li .stats_act_data{padding-top:15px;margin-top:15px;border-top:1px solid #e0e0e0}
.stats_act_view .stats_act_wrap ul li .stats_act_data p{font-size:18px;line-height:26px;font-weight:700}
.stats_act_view .stats_act_wrap ul li .stats_act_data p em{font-weight:700}
.stats_act_view .stats_act_wrap ul li .stats_act_data p b{font-weight:400}
.stats_act_view .stats_act_wrap ul li .stats_act_data p:nth-of-type(1){color:#555}
.stats_act_view .stats_act_wrap ul li .stats_act_data p:nth-of-type(2){color:#999}
@media screen and (min-width:801px) and (max-width:1280px){
    .stats_act_view .stats_act_header .stats_act_desc{font-size:27px}
}
@media screen and (max-width:800px){
    .stats_act_view{margin:40px 0 50px}
    .stats_act_view .stats_act_header .stats_act_desc{margin-bottom:20px;font-size:20px}
    .stats_act_view .stats_act_header .stats_act_desc span{display:block;line-height:28px}
    .stats_act_view .stats_act_wrap ul{width:100%}
    .stats_act_view .stats_act_wrap ul li .stats_act_head{height:30px}
    .stats_act_view .stats_act_wrap ul li .stats_act_head strong{font-size:15px;padding-left:0}
    .stats_act_view .stats_act_wrap ul li .stats_act_head strong:before{display:none}
    .stats_act_view .stats_act_wrap ul li .stats_act_data{padding-top:10px;margin-top:10px}
    .stats_act_view .stats_act_wrap ul li .stats_act_data p{font-size:13px;line-height:25px}
}


.bx-wrapper{border:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;background:0 0!important;margin-bottom:0!important}
.bx-wrapper .bx-viewport{height:auto!important}
.bx-wrapper .bx-pager{padding-top:0!important;position:static!important;bottom:0!important;width:auto!important;text-align:center!important}
.bx-wrapper .bx-pager a{margin:0!important}
.chart{margin:60px 0}
.chart .chart_box{position:relative;display:inline-block;width:33%}
.chart .chart_box .chart_tit{margin:15px 0 20px;font-size:23px;line-height:20px;font-weight:700;text-align:center;color:#f9601c}
.chart .chart_box .chart_btn{position:absolute;z-index:1;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:100%}
.chart .chart_box .chart_btn a{display:block;width:20px;height:28px}
.chart .chart_box .chart_btn .chart_prev{position:relative;float:left}
.chart .chart_box .chart_btn .chart_prev a:after{content:'';position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%) rotate(225deg);transform:translate(-50%,-50%) rotate(225deg);width:3px;height:3px;border:3px solid;border-color:#777 #777 transparent transparent}
.chart .chart_box .chart_btn .chart_next{position:relative;float:right}
.chart .chart_box .chart_btn .chart_next a:after{content:'';position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%) rotate(45deg);transform:translate(-50%,-50%) rotate(45deg);width:3px;height:3px;border:3px solid;border-color:#777 #777 transparent transparent}
.chart .chart_box:nth-of-type(1) .chart_btn{width:80%}
.chart .chart_box:nth-of-type(2) .chart_btn{width:42%}
.chart .chart_box:nth-of-type(3) .chart_btn{width:32%}
.chart .chart_box+.chart_box{border-left:1px solid #eee}
.chart .chart_area .chart_date{font-size:24px;line-height:24px;font-weight:700;text-align:center}
.chart .chart_area .chart_date em{font-size:24px;line-height:24px;font-weight:700}
.chart .graph_area{position:relative;height:400px;width:100%}
.chart .graph_area .sub_tit{position:absolute;left:50%;bottom:0;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:85%;height:90px;text-align:center;background-color:#fff;border-top:1px solid #ebebeb}
.chart .graph_area ul{width:73%;margin:0 auto}
.chart .graph_area ul li{display:inline-block;width:20%;font-size:18px;line-height:80px;font-weight:500;color:#555}
.chart .graph_area:after{content:'';position:absolute;left:0;top:0;width:17%;height:300px;background-color:#fff}
@media screen and (min-width:801px) and (max-width:1280px){
    .chart .chart_area .chart_date{font-size:18px}
    .chart .chart_box:nth-of-type(1) .chart_btn{width:90%}
    .chart .chart_box:nth-of-type(2) .chart_btn{width:50%}
    .chart .chart_box:nth-of-type(3) .chart_btn{width:40%}
    .chart .chart_box .chart_tit{font-size:18px}
    .chart .graph_area ul li{font-size:16px}
    .chart .chart_area .chart_date em{font-size:18px}
}
@media screen and (max-width:800px){
    .chart{margin:40px 0 10px}
    .chart .chart_box{display:block;width:100%}
    .chart .chart_box+.chart_box{border-left:0}
    .chart .chart_area .chart_date{font-size:17px}
    .chart .chart_box:nth-of-type(1) .chart_btn{width:80%}
    .chart .chart_box:nth-of-type(2) .chart_btn{width:80%}
    .chart .chart_box:nth-of-type(3) .chart_btn{width:80%}
    .chart .chart_box .chart_tit{margin:15px 0 10px;font-size:18px}
    .chart .graph_area ul li{font-size:15px}
    .chart .chart_area .chart_date em{font-size:18px}
}