@charset "utf-8";
.hide{position: absolute; text-indent: -99999px;}
body{width: 100%;}
.wrap{margin: 0 auto;}
.wrap > *{overflow: hidden;}
#intro{
    position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: black;
    // min-width: 1420px;
    .artworkZone {
        position:absolute; 
        left:0; top:0;
        width:100%; height:100%;
        display:block;
        z-index:2;
    }
    .headContainer{
        width: 1220px;
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translate(-50%);
        text-align: center;
        font-size: 0;
        nav{
            li{display: inline-block; vertical-align: middle;}
            li+li{margin-left: 190px;}
            li.logo{padding: 0 100px; margin-left: 133px;}
            li a{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 13px;
                color: white; 
                font-weight: 300;
            }
        }
    }
    .introContainer{
        width: 800px;
        position: absolute;
        top:60%; left: 50%;
        transform: translate(-50%, -60%);
        text-align: center;
        strong{
            font-size: 38px;
            color: white;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
        }
    }
    .scroll{
        width: 200px;
        height: 120px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        margin-left: -2px;
        strong{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            font-size: 16px;
            display: block;
            text-align: center;
        }
        .scroll_bar{
            text-align: center;
            height: 70px; width: 1px;
            border-left: 1px solid white;
            position: absolute; bottom: 0;
            left:50%; transform: translateX(-50%);
        }
    }
    .bgMovie {
        position: relative;
        width: 100%;
        height: 800px;
        margin: 0 auto;
    }
    iframe{
        vertical-align: bottom;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        width: 100vw;
        height: 100vw;
    }
    video{
        vertical-align: bottom;
        position: absolute;
        top: 0;
        width: 100vw;
    }
}
#navContainer {
    position: absolute;
     left: 0; right: 0;
    background-color: #050505;
    height: 65px;
    z-index: 1000;
    box-shadow: 0 12px 15px rgba(180,180,180,0.13);
    &.active{
        position: fixed;
        top: 0;
    }
    .navWrap{
        position: relative;
        height: 65px;
        width: 1420px;
        margin: 0 auto;
    }
    .toggle{
        background: url(../images/gnb.png) no-repeat left;
        width: 30px;
        height: 30px;
        position:absolute;
        left: 0; top: 18px;
        cursor: pointer;
    }
    .nav_logo{
        background: url(../images/gnb.png) no-repeat center;
        width: 88px;
        height: 32px;
        position: absolute;
        top: 16px; left: 50%;
        transform: translate(-50%);
        a{
            display: block; 
            width: 88px;
            height: 32px;
            cursor: pointer;
        }
    }
    .search{
        background: url(../images/gnb.png) no-repeat right;
        width: 32px;
        height: 32px;
        position:absolute;
        right: 0; top: 18px;
        cursor: pointer
    }
}

/*공통요소*/
.headerbox{
    text-align: center;
    h2{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 45px;
        line-height: 60px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    p{ 
        font-family: 'Josefin Sans', sans-serif;
        font-size:15px;
        line-height:30px;
        font-weight:300;
    }
}
.inbox{
    position: relative;
    height: 700px;
    .headerbox{
        position: absolute;
        top: 0;
        right: 15%;
        width: 670px;
    }
    .entry__content{
        position: absolute;
        top: 100px;
        right: 0;
        width: 620px;
        p{
            font-size:16.5px;
            line-height:35px
        }
        strong{font-size:18px; color: #f4c568; margin-bottom: 40px; display: block;}
    }
    &:after{
        content: '';
        display: block;
        clear: both;
    }
    .story__btn{
        width: 625px;
        position: absolute;
        top: 420px;
        right: 0;
        .list{
            display: inline-block;
            width: 300px;
            box-sizing: border-box;
            text-align: center;
            padding: 13px 0 10px 0;
            a:hover{color: black; text-decoration: none;}
        }
        .list:nth-child(1){
            border: 1px solid #f4c568;
            margin-right: 20px;
            font-size: 14.5px;
            line-height: 15px;
        }
        .list:nth-child(1) a{color: #f4c568;}
        .list:nth-child(1):hover{
            background-color: #f4c568;
            font-size: 14.5px;
            line-height: 15px;
            font-weight: 600;  
        }
        .list:nth-child(1):hover a{color: black;}
        .list:nth-child(2){
            background-color: #f4c568;
            color: black;
            font-size: 14.5px;
            line-height: 15px;
            font-weight: 600;
        }
    }
}

// time
.time{
    position: relative;
    background: url(../images/design.jpg) no-repeat;
    background-position: center;
    .time__wrap{
        display: block;
        position: relative;
        width: 1420px;
        height: 1290px;
        text-align: center;
        margin: 0 auto; 
    }
    .headerbox{
        position: absolute;
        top: 210px; right: 0; left: 0;
        text-align: center;
    }
    .entry__content{
        position: absolute;
        top: 430px;
        left: 0;
        right:0;
        .entry_arrow{
            background: url(../images/arrow_1.png)no-repeat;
            width: 30px; height: 17px;
            position: absolute;
            left: 50%; transform: translate(-50%);
        }
        p{
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
            color: #f4c568;
        }
    }
    ul{
        font-size: 0;
         margin-top: 60px;
         li{
            display: inline-block;
            width: 200px; height: 125px;
            &:nth-child(2) .design_icon{background-position: -70px 0;}
            &:nth-child(3) .design_icon{background-position: -140px 0;}
            &:nth-child(4) .design_icon{background-position: -210px 0;}
            .design_icon{
                display: inline-block;
                width: 60px; height:90px;
                background: url(../images/pictogram.png) no-repeat;
            }
        }
    }
}

// story
.story{
    display: flex;
    margin: 0 auto;
    height: 600px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
}

// 자바스크립트 효과
.effect{ 
    position: relative;
    margin: 0 auto;
    width: 1420px;
    height: 3300px;
    #effect__top{
        &.oh .effect__wrap{
            position: fixed;
            top: 125px;
        }
        .effect__wrap{
            position: absolute;
            top: 60px;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            width: 1420px;
            height: 900px;
            text-align: center;
            img{
                height: 750px;
            }
        }
    }
    #effect__bottom{
        position: relative;
        top: 1500px;
        &:before{
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            width: 100vw;
            height: 2150px;
            background-color: rgba(0,0,0,0.5);
        }
        &.wow .effect__wrap{
            position: fixed;
            top: 30px;
        }
        &.wowdd .effect__wrap{
            position: relative;
            top: 440px;
        }
        .effect__wrap{
            margin: 0 auto;
            width: 1420px;
            height: 2630px;
            text-align: center;
            font-size: 0;
            img{
                display: block;
                padding: 100px 0;
                margin: 0 auto;
                height: 750px;
            }
            #effect__bottom--none{
                opacity: 0;
            }
            .entry__content{
                display: block;
                height: 100px;
                font-size: 0;
                vertical-align: top;
                ul{
                    margin: 0 auto;
                    li{
                        display: inline-block;
                        width: 235px;
                        margin-bottom: 20px;
                        text-align: center;
                        b{
                            font-family: 'Josefin Sans', sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            color: rgba(255,255,255,0.5);
                        }
                        p{
                            font-size: 30px;
                        }
                    }
                }
                
            }
        }
    }
}

// light
.light{
    position: relative;
    margin: 50px auto 0;
    height: 2395px;
    width: 1420px;
    .lighttime{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        background: url(../images/lightbg2_watch.png) no-repeat;
        background-size: 100% auto;
        width: 1920px;
        height: 2395px;
        opacity: 1;
    }
    #lightbg{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 1920px;
        height: 2395px;
        background: url(../images/lightbg2.jpg) no-repeat;
        background-size: 100% auto;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .inbox{
        position: absolute;
        top: 430px;
        width: 1420px;
        margin: 0 auto;
    }
    .detail{
        position: absolute;
        top: 1190px;
        right: 0;
        width: 1420px;
        height: 990px;
        margin: 0 auto;
        background-color: #0e0e0e;
        .dtList{
            float: left; 
            width: 50%; 
            height: 50%;
            padding: 80px 110px;
            box-sizing: border-box;
        }
        .dtList:nth-child(1), .dtList:nth-child(4){padding: 0;}
        .dtList h3{font-family: 'Josefin Sans', sans-serif; font-size: 45px; line-height: 55px; font-weight: 400;}
        .dtList strong{display: block; font-size:18px; color: #f4c568; font-weight: 100; padding: 10px 0;}
        .dtList p{font-size: 16.5px; line-height: 30px; letter-spacing: -1px;}
        .dtList .more{
            display: block;
            margin-top: 20px;
            background: url(../images/more_right.png) no-repeat;
            background-position: 0 center;
            line-height: 16px;
            font-size: 12px;
            padding-left: 120px;
            letter-spacing: 1px;
            font-family: 'Josefin Sans', sans-serif;
            color: #f4c568;
        }
    }
}

// brad
.brad{
    position: relative;
    .bradbg{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: url(../images/storybg22.jpg) no-repeat;
        background-size: 100% auto;
        width: 1920px;
        height: 1396px;
    }
    .inbox{
        position: relative;
        top: 300px;
        width: 1420px;
        height: 1077px;
        margin: 0 auto;
    }
    .ojt{
        width: 1420px;
        height: 320px;
        margin: 0 auto;
        .bx-controls-direction{display: none;}
        .bx-pager{
            position: absolute;
            right: 0; left: 0;
            text-align: center;
            bottom: -90px;
            display: block;
            height: 48px;
        }
        .bx-pager-item{
            display: inline-block;
            vertical-align: top;
            .bx-pager-link{
                display: block;
                width: 25px;
                height: 48px;
                background: url(../images/page.png)no-repeat;
                font-size: 0;
                &.active{background-position: -28px;}
            }
        }
        .slideBox .txt{
            width: 350px;
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            i{display: block; font-family: 'Josefin Sans', sans-serif; font-size: 35px; line-height: 35px; color: #f4c568; font-weight: 100;}
            a{display: block; color: #f4c568; font-size: 35px; text-decoration: none;}
            em{font-size: 15px; color: #d4c3a1;}
        }    
    }
    .story__btn{
        top: 500px;
    }
}

// collection
.collection{
    background-color: #0e0e0e;
    .collection_wrap{
        position: relative;
        width: 1418px;
        height: 3196px;
        text-align: center;
        padding-top: 180px;
        margin: 0 auto;
        background: repeating-linear-gradient(90deg, rgba(255,255,255,0.1) 0px, rgba(255,255,255,0.1) 1px, #0e0e0e 1px, #0e0e0e 354px);
    }
    .entry_header{padding-top: 180px;}
    .entry__content{
        margin-top: 200px;
        & > ul > li{height: 650px;}
        li:after{content: ''; display: block; clear: both;}
        li:nth-child(4) h4{letter-spacing: -2px;}
        li:nth-child(3) .more, li:nth-child(4) .more{margin-top: 145px;}
        .type__img{
            position: relative;
            &:after{content: ''; display: block; clear: both;}
            &.l{float: left;}
            &.r{float: right;}
            .type__back{
                background-color: white;
                width: 840px;
                height: 380px;
                .type__bg{
                    position: absolute;
                    background: url(../images/light3.png) no-repeat;
                    width: 840px; height: 840px;
                    top: -240px; left: 0;
                }
            }
        }
        .type{
            position: relative;
            z-index: 100;
            width: 480px;
            height: 380px;
            h4{
                font-family: 'Josefin Sans', sans-serif; 
                font-size: 32px; 
                line-height: 32px;
                font-weight: 400; 
                padding: 65px 0 25px 0;
                letter-spacing: -1px;
            }
            p{
                font-size: 16.5px;
                line-height: 34px; 
                letter-spacing: -1px;
            }
            .more{
                display: block;
                margin-top: 110px;
                background: url(../images/more_right.png) no-repeat;
                background-position: 0 center;
                line-height: 16px;
                font-size: 12px;
                padding-left: 120px;
                letter-spacing: 1px;
                font-family: 'Josefin Sans', sans-serif;
                color: #f4c568;
                cursor: pointer;
            }
            .category{
                strong{
                    font-family: 'Josefin Sans', sans-serif;
                    font-size:20px; 
                    color: #f4c568;
                    font-weight: 400;
                }
                b{
                    font-family: 'Playfair Display', serif; 
                    font-size: 30px; 
                    line-height: 18px;
                }
            }
            &.l{float: left; text-align: right;}
            &.r{float: right; text-align: left;}
            &.l .more{
                background: url(../images/more_left.png)no-repeat;
                background-position: right center;
                padding-right: 120px;
            }
            &.l .category strong{float: right;}
            &.l .category b{float: left;}
            &.r .category strong{float: left;}
            &.r .category b{float: right;}
        }
    }
    .bx-wrapper{
        position: relative;
        width: 840px;
        .bx-viewport{
            position:relative;
            top: -30px;
        }
        .bx-controls{
            position: relative;
            top: -300px;
        }
    }
    .bx-prev{
        position: absolute;
        left: 20px;
        text-indent: -9999px;
        background: url(../images/arrow_2.png) no-repeat;
        width: 25px; height: 35px;
    }
    .bx-next{
        position: absolute;
        right: 20px;
        text-indent: -9999px;
        background: url(../images/arrow_2.png) no-repeat;
        background-position: right;
        width: 25px; height: 35px;
        
    }
    .bx-pager{display: none;}
}

// instagram
.instagram{
    position: relative;
    width:1420px;
    height: 100%;
    margin: 0 auto;
    padding: 260px 0;
    font-size: 0;
    .entry_header{text-align: center;}
    &::after{content: '';display: block;clear: both;}
    .division{
        float: left;
        width: 700px;
        box-sizing: border-box;
        .top{margin-top: 20px;}
        .col1{display: inline-block;}
    }
    .division:nth-child(1),
    .division .col1:nth-child(1) {margin-right: 20px;}
}

// footer
footer{
    background-color: black;
    text-align: center;
    height: 300px;
    box-sizing: border-box;
    padding: 60px 0;
    .footer__wrap{
        min-width: 1420px;
        .footer__util{
            padding: 28px 0 35px 0; 
            font-size: 0;
            li:first-child{background-image: none;}
            li{
                display: inline-block;
                background: url(../images/dot.png)no-repeat;
                background-position: left 10px;
                padding: 0 10px 0 13px;
                font-family: 'Josefin Sans', sans-serif;
                font-size: 19px;
                letter-spacing: 1px;
                a{
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                }
            }
        }
        .copyright{font-size: 15px; opacity: 0.25;}
    }
}
