.table {
  margin-top: 20px;
}

.table .table__wrap {
  overflow: hidden;
  position: relative;
  font-size: 0;
}

.table .table__wrap .table__scroll {
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  overflow-x: auto;
}

.table .table__wrap .table__scroll table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table .table__wrap .table__scroll table tr {
  border-bottom: 1px solid rgba(60, 60, 60, 0.1);
}

.table .table__wrap .table__scroll table tr th {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #6a6a6c;
  white-space: nowrap;
  padding: 10px 20px;
  height: 4.3rem;
}

.table .table__wrap .table__scroll table tr td {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #222;
  white-space: nowrap;
  padding: 5px 10px;
}

.table .table__wrap .table__scroll table tr td button {
  padding: 0 10px;
  line-height: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.85rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 3px;
}

.table .table__wrap .table__scroll table tr td button:hover {
  color: #fff;
  border: 1px solid #5e9b7c;
  border-radius: 5px;
  background-color: #5e9b7c;
  cursor: pointer;
}

.table .table__wrap .table__scroll table thead .help-mark {
  position: relative;
  color: #666;
  padding-left: 2px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.table .table__wrap .table__scroll table thead .help-mark:hover > .question-box {
  display: block;
}

.table .table__wrap .table__scroll table thead .help-mark .question-box {
  position: absolute;
  top: 25px;
  right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  color: #fff;
  text-align: left;
  white-space: normal;
  padding: 10px;
  width: 200px;
  height: auto;
  background-color: #5e9b7c;
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa;
  font-size: 1rem;
  display: none;
  -webkit-box-shadow: 0 0 4px #aaa;
}

.table .table__wrap .table__scroll table tbody > tr {
  height: 5rem;
}

.table .table__wrap .table__scroll table tbody > tr:hover {
  background-color: #f6fcfb;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}

.table .table__wrap .table__scroll table tbody > tr:last-child {
  border-bottom: none;
}

.table .table__wrap .table__scroll table tbody > tr .dashboard-pd-name {
  overflow: hidden;
  margin: 0 auto;
  max-width: 500px;
  text-overflow: ellipsis;
}

.table .table__wrap .table__scroll table tbody > tr .product-link {
  color: #5e9b7c;
}

.table .table__wrap .table__scroll table tbody > tr .product-link:hover {
  text-decoration: underline;
}

.table .table__wrap .table__scroll table tbody > tr .campaign-name {
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table .table__wrap .table__scroll table tbody > tr .account-detail a {
  display: inline-block;
  padding: 0 10px;
  line-height: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.85rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 3px;
}

.table .table__wrap .table__scroll table tbody > tr .account-detail a:hover {
  color: #fff;
  border: 1px solid #5e9b7c;
  border-radius: 5px;
  background-color: #5e9b7c;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 13px;
  z-index: 5;
  vertical-align: middle;
}

.switch input, .switch select {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider,
.switch select:checked + .slider {
  background-color: #5e9b7c;
}

.switch input:focus + .slider,
.switch select:focus + .slider {
  -webkit-box-shadow: 0 0 1px #5e9b7c;
          box-shadow: 0 0 1px #5e9b7c;
}

.switch input:checked + .slider:before,
.switch select:checked + .slider:before {
  -webkit-transform: translateX(30px);
  transform: translateX(25px);
}

.switch .slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.switch .slider::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -5px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch .slider.round {
  border-radius: 34px;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.table > .notice {
  margin: 0 0 10px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.table > .notice .notice__title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  color: #222;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.table > .notice .notice__text {
  padding-top: 15px;
  font-size: 0;
}

.table > .notice .notice__text ul {
  font-size: 0;
}

.table > .notice .notice__text ul li {
  position: relative;
  padding-left: 15px;
}

.table > .notice .notice__text ul li:before {
  content: "-";
  position: absolute;
  left: 0;
}

.table > .notice .notice__text ul li p {
  display: block;
  font-size: 1rem;
}

.table > .notice .notice__text ul li div {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #777;
  white-space: pre-line;
}

.table > .notice .notice__text ul li + li {
  margin-top: 10px;
}

.container {
  margin-left: 220px;
  padding: 15px 30px;
}

.section__title {
  display: block;
  padding: 0 0 0 20px;
  margin: 10px 0 20px 0;
  width: 100%;
  height: auto;
  line-height: 1.42rem;
  font-size: 1.5rem;
  line-height: 1.42rem;
  position: relative;
}

.section__title:before {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  background: url("../images/dashboard-h1-icon.svg");
  background-repeat: no-repeat;
}

.search {
  padding: 20px;
  margin: 0 0 10px 0;
  width: 100%;
  height: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
}

.search * {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  vertical-align: top;
}

.search .search__title {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #222;
  width: 130px;
}

.search .search__box {
  position: relative;
  width: calc(100% - 130px);
  font-size: 0;
}

.search .search__box em {
  width: 30px;
  font-size: 12px;
  text-align: center;
}

.search .search__box input {
  padding: 0 15px;
  width: calc((100% - 30px)/2);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  position: relative;
}

.search .search__box input:focus {
  border: 1px solid #5e9b7c;
}

.search .search__box input[type="date"]::-webkit-calendar-picker-indicator {
  z-index: 1;
  background: none;
  color: transparent;
}

.search .search__box input::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1rem;
  background: url("../../images/calendar-icon.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  cursor: pointer;
}

.state:after {
  content: '';
  clear: both;
  display: block;
}

.state li {
  padding: 0 15px;
  margin: 0 10px 0 0;
  width: calc((100% - 10px) / 2);
  height: 80px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0;
  float: left;
}

.state li:last-child {
  margin-right: 0;
}

.state .state__title {
  display: inline-block;
  width: 35%;
  height: auto;
  line-height: 5.57rem;
  font-size: 1rem;
  line-height: 5.57rem;
}

.state .state__title h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

.state .state__num {
  display: inline-block;
  width: 65%;
  height: auto;
  line-height: 5.57rem;
  font-size: 1rem;
  line-height: 5.57rem;
  vertical-align: top;
  text-align: right;
}

.state .state__num * {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #5e9b7c;
  line-height: 5.57rem;
  display: inline-block;
  vertical-align: top;
}

.state .state__num em {
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 6.07rem;
}

@media all and (max-width: 767px) {
  .search {
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .search .search__title {
    display: none;
  }
  .search .search__box {
    width: 100%;
  }
  .state li {
    width: 100%;
    height: 65px;
  }
  .state li:last-child {
    margin-top: 10px;
  }
  .state li .state__title {
    line-height: 5.25rem;
  }
  .state li .state__num {
    line-height: 5.25rem;
  }
  .state li .state__num * {
    line-height: 5.25rem;
  }
  .state li .state__num em {
    line-height: 5.83rem;
  }
}
/*# sourceMappingURL=dash_board.css.map */