*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.wrap{
    height: 100vh;
    background: -webkit-gradient(linear,left top,right top,from(#00d9b7),to(#389fb2));
    background: linear-gradient(90deg,#00d9b7,#389fb2);
    margin-left: 0!important;
}
#main {
    width: 100%;
}
.login__box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 430px;
    height: 570px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.login__logo {
    display: block;
    height: 210px;
    padding: 0 0 35px;
    position: relative;
}
.login__logo img {
    width: auto;
    height: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
#footer {
    width: 100%;
    height: 50px;
    background-color: hsla(0,0%,100%,.3);
    font-style: normal;
    font-weight: 200;
    font-size: 0;
    color: rgba(96,96,96,.6);
    text-align: center;
    position: fixed;
    bottom: 0;
}
#footer div {
    display: inline-block;
    line-height: 50px;
    font-weight: 300;
}
#footer div+div{
    margin-left:12px;
}
#footer div a, #footer select {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(96,96,96,.6);
    text-decoration: none;
}
#footer select {
    width: 100%;
    height: 25px;
    padding: 5px 16px 5px 5px;
    border: none;
    background: url(https://prod-spin-protocol-resource.s3.ap-northeast-2.amazonaws.com/public/resources/images/icon/footer-select-arrow-icon.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 100%;
    background-image: none;
}
/* 공통끝 */


#main .login__box .login__input-box input {
    width: 100%;
    height: 58px;
    background-color: transparent;
    padding: 20px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    font-size: 1.15rem;
    margin-top: 10px;
}
#main .login__box .login__input-box input::-webkit-input-placeholder{
    font-style:normal;
    font-weight:300;
    font-size:1rem;
    color:#fff;
}
#main .login__box .login__input-box input::-moz-placeholder{
    font-style:normal;
    font-weight:300;
    font-size:1rem;
    color:#fff;
}
#main .login__box .login__input-box input::-ms-input-placeholder{
    font-style:normal;
    font-weight:300;
    font-size:1rem;
    color:#fff;
}
#main .login__box .login__input-box input::placeholder{
    font-style:normal;
    font-weight:300;
    font-size:1rem;
    color:#fff;
}
#main .login__box .login__input-box .login__btn {
    width: 100%;
    height: 52px;
    margin: 50px 0 0;
    color: #000;
    border-radius: 50px;
    background-color: hsla(0,0%,100%,.7);
    font-size: 1.15rem;
    cursor: pointer;
    -webkit-box-shadow: 0 0 15px 0 hsla(0,0%,48.6%,.4);
    box-shadow: 0 0 15px 0 hsla(0,0%,48.6%,.4);
}
#main .login__box .login__input-box .login__btn:hover {
    background-color:#fff;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
#main .login__box .login__other-box {
    margin-top: 30px;
    font-size: 0;
}
#main .login__box .login__other-box a {
    position: relative;
    display: inline-block;
    width: calc((100% - 40px)/3);
    padding-top: 20px;
    margin-right: 20px;
    border-top: 1px solid hsla(0,0%,100%,.4);
    font-style: normal;
    font-weight: 200;
    font-size: 1.05rem;
    color: #fff;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
}
#main .login__box .login__other-box a:after {
    content: "";
    position: absolute;
    top: -3px;
    right: -15px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    opacity: .5;
}
#main .login__box .login__other-box a.certification_id {
    margin-right: 0;
}
#main .login__box .login__other-box a.certification_id:after{
    content:none;
}



/* 반응형 */
@media (max-width: 767px){
    * {font-size: 12px;}
    #main .login__box{width:80%; height:470px;}
    #main .login__box .login__logo{height:165px}
    #main .login__box .login__input-box input{height:50px}
    #main .login__box .login__input-box .login__bt{margin-top:30px}
    #main .login__box .login__other-box{margin-top:35px}
    #footer{height:40px}
    #footer div{line-height:40px}
    #footer div+div{margin-left:7px}
    #footer div a{font-size:0.8rem}
    #footer select{font-size:0.8rem}
}
@media (min-width: 768px) and (max-width: 1023px){
    * {font-size: 13px;}
    /* #main .login__box{width:400px;height:510px}
    #main .login__box .login__logo{height:210px}
    #main .login__box .login__input-box{margin-top:10px}
    #main .login__box .login__input-box input{height:50px}
    #main .login__box .login__input-box .login__btn{margin-top:30px}
    #main .login__box .login__other-box{margin-top:35px} */
}
@media (min-width: 1024px) and (max-width: 1439px){
    * {font-size: 14px;}
    /* #main .login__box{width:400px; height:510px}
    #main .login__box .login__logo{height:210px}
    #main .login__box .login__input-box{margin-top:10px}
    #main .login__box .login__input-box input{height:50px}
    #main .login__box .login__input-box .login__btn{margin-top:30px}
    #main .login__box .login__other-box{margin-top:35px} */
}
@media (min-width: 1440px){
    * {font-size: 14px;}
}