@charset "utf-8";

/* Noto Sans KR */
@font-face { /* Thin */
    font-family: 'Noto Sans KR';
    font-style: Thin;
    font-weight: 100;
    font-display:swap;
    src: local('NotoSansCJKkr');
    src: url(../font/NotoSansKR-Thin.otf);
    src: url(../font/NotoSansKR-Thin.otf?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Thin.otf) format('truetype');
}
@font-face { /* Light */
    font-family: 'Noto Sans KR';
    font-style: Light;
    font-weight: 300;
    font-display:swap;
    src: local('NotoSansCJKkr');
    src: url(../font/NotoSansKR-Light.otf);
    src: url(../font/NotoSansKR-Light.otf?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Light.otf) format('truetype');
}
@font-face { /* Regular */
    font-family: 'Noto Sans KR';
    font-style: Regular;
    font-weight: 400;
    font-display:swap;
    src: local('NotoSansCJKkr');
    src: url(../font/NotoSansKR-Regular.otf);
    src: url(../font/NotoSansKR-Regular.otf?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Regular.otf) format('truetype');
}
@font-face { /* Medium */
    font-family: 'Noto Sans KR';
    font-style: Medium;
    font-weight: 500;
    font-display:swap;
    src: local('NotoSansCJKkr');
    src: url(../font/NotoSansKR-Medium.otf);
    src: url(../font/NotoSansKR-Medium.otf?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Medium.otf) format('truetype');
}
@font-face { /* Bold */
    font-family: 'Noto Sans KR';
    font-style: Bold;
    font-weight: 700;
    font-display:swap;
    src: local('NotoSansCJKkr');
    src: url(../font/NotoSansKR-Bold.otf);
    src: url(../font/NotoSansKR-Bold.otf?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Bold.otf) format('truetype');
}
@font-face { /* Black */
    font-family: 'Noto Sans KR';
    font-style: Black;
    font-weight: 900;
    font-display:swap;
    src: local('../font/NotoSansKR-Black');
    src: url(../font/NotoSansKR-Black.otf);
    src: url(../font/NotoSansKR-Black.otf?#iefix) format('embedded-opentype'),
         url(../font/NotoSansKR-Black.otf) format('truetype');
}

/* cafe 24 */
@font-face {
    font-family: 'cafe 24 surround';
    font-style: bold;
    font-weight: 700;
    src: local('cafe');
    src: url(../font/Cafe24Ssurround.ttf) format('truetype');
}

/* DINBol */
@font-face {
    font-family: 'DINBol';
    font-style: normal;
    font-weight: 500;
    src: url(../font/DINBol.eot);
    src: url(../font/DINBol.eot?#iefix) format('embedded-opentype'),
         url(../font/DINBol.woff) format('woff'),
         url(../font/DINBol.ttf) format('truetype');
}


/* reset css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; }
/* h1, h2, h3, h4, h5, h6{transform: rotate(-0.0000000001deg);text-shadow: 0 0 1px rgba(0,0,0,.3); -webkit-text-size-adjust: antialiased;-moz-osx-font-smoothing: grayscale;} */
/* html5 */
article, aside, details, figcaption, figure, footer, header, menu, nav, main, section { display:block; }
/* default font */
body, input, textarea, select, button, table { font-family: 'Noto Sans KR', 'cafe 24 surround', sans-serif; font-size:14px; color: #343434}
/* break word */
body {line-height:1.5;}
/* img */
img, fieldset, iframe { border:0; }
img { vertical-align:top; max-width:100% }
/* list type */
ul, ol, li{ list-style:none; }
em, address { font-style:normal; }
caption, legend, .blind { visibility:hidden; overflow:hidden; width:0; height:0; font-sㅊize:0; text-align:left; line-height:0; }
/* form type */
input, select{max-width:100% !important;}
input[type='text'], input[type='password'], textarea, input { margin:0; border:solid 1px #c2c2c2;font-family: 'Noto Sans KR', 'cafe 24 surround',sans-serif; font-size:13px; color:#333 }
input[type='text']:disabled { background-color:#e2e2e2; color:#999; }
input[type='radio'] { width:13px; height:13px; margin:0; padding:0; cursor:default; }
input[type='radio']:disabled { cursor:default; }
input[type='checkbox'] { width:13px; height:13px; margin:0;padding:0; }
input[type=text]::-ms-clear { display:none; }
input[type='password'] { font-size:13px;}
input { vertical-align:middle; -webkit-appearance: none;-webkit-border-radius: 0;box-sizing: border-box;}
button {margin:0; padding:0; border:0; background:none;  font-family:'Noto Sans KR', 'cafe 24 surround', sans-serif; font-size:12px; vertical-align:middle; cursor:pointer; appearance:none; moz-appearance:none; }
select {margin:0; border:solid 1px #333;  font-family:'Noto Sans KR', 'cafe 24 surround',sans-serif; font-size:12px; color:#333; vertical-align:middle;  -webkit-appearance: none;-webkit-border-radius: 0;}
input::placeholder, select::placeholder, textarea::placeholder{color: #999}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #999 !important;}
::-moz-placeholder { /* Firefox 19+ */color: #999 !important;}
:-ms-input-placeholder { /* IE 10+ */color: #999 !important;}
:-moz-placeholder { /* Firefox 18- */color: #999 !important;}
textarea { padding:12px;-webkit-appearance: none;-webkit-border-radius: 0;resize: none}
select {-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;appearance:none;}
select::-ms-expand {display: none;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);opacity:0;}
/* anchor */
a { text-decoration:none; color:inherit}
a:active, a:focus { text-decoration:none; }
a:hover { text-decoration:none; }
/* table */
table {width: 100%; border-collapse:collapse; table-layout:fixed;word-break: normal;word-wrap: break-word;}
th { font-weight:bold; }
/* hidden text */
caption { display:none; position:static; left:-9999px; height:0; font-size:0; text-indent:-9999px; line-height:0; }
.hidden, legend { display:block; overflow:hidden; position:absolute; top:-1000em; left:0; }
.blind { position:absolute; left:-9999px; height:0; font-size:0; text-indent:-9999px; line-height:0; }
.ir { display:inline-block; overflow:hidden; margin:0; padding:0; font-size:0; color:transparent; letter-spacing:-100px; text-indent:0; vertical-align:middle; white-space:nowrap; line-height:200px; }
/* none */
hr { display:none; }

.v-hidden { overflow:hidden; position:absolute !important; width:1px; height:1px; clip:rect(1px 1px 1px 1px); /* IE6, IE7 */ clip:rect(1px, 1px, 1px, 1px); }
.v-hidden a:focus,
.v-hidden input:focus,
.v-hidden button:focus { position:static; width:auto; height:auto; }

/* 공통 ====================================================================================== */
.container           { min-width: 1250px;overflow-x: hidden;}
.ico-essential:after { content: "*";color: #ff3904;}

/* 공통 : input, button ====================================================================== */
button:focus { outline:none}
.btn         { display: inline-block;}
.btn-block   { display: block;width: 100%;text-align: center;}
.btn-radius  { border-radius: 8px}
.btn-orange  { background: #ff6b4e;color: #fff;}
.btn-counsel { width: 300px;height: 74px;line-height: 74px; padding-bottom: 35px; text-align: center; font-size: 20px;border-radius: 6px;}
.btn-large   { height: 68px;line-height: 68px;font-size: 20px;font-weight: 500;}
input[type="text"]              { width: 100%; border: 0}
input[type="text"]::placeholder { font-size: 16px;color: #a3a2a9;}
select                          { width: 100%; height: 48px; padding: 0; border: 0;background: url('../images/select-arrow.png') no-repeat right bottom 15px;font-size: 16px;color: #a3a2a9;}
.inp-check                      { position: absolute;top: 0;left: 0;width: 1px;height: 1px;visibility: hidden}
.inp-check + label              { padding: 7px 25px 7px 45px; background: url('../images/check-img.png') no-repeat left 0 top 5px; background-size: 30px; font-size: 16px; font-weight: 300; cursor: pointer; }
.inp-check:checked + label      { background-position: 0 -65px;}

/* header ==================================================================================== */
.header    { position: relative; background-color: #fff;}
.header_bg { position: absolute; left: 0; top: 0; right: 0; z-index: 1; width: 100%; height: 71px; box-shadow: 0 8px 18px rgba(0,0,0,0.12)}

/* .header > .gnb-head */
.header .gnb_head                { position: relative; z-index: 3; height: 70px; background-color: #fff; box-sizing: border-box;}
.header .gnb_head .inner         { display: flex; align-items: center; justify-content: space-between; position: relative; z-index: 10; max-width: 1250px; height: 100%; margin: 0 auto;}
.header .gnb_head .header_logo   { display: inline-block;}
.header .gnb_head .header_logo a { display: block; font-size: 0; vertical-align: top;}
.header .gnb_head .header_menu                      { width: 770px; margin: 0 30px 0 auto; font-size: 0;}
.header .gnb_head .header_menu ul li                { display: inline-block; text-align: center; box-sizing: border-box;}
.header .gnb_head .header_menu ul li:nth-of-type(1) { width: 135px;}
.header .gnb_head .header_menu ul li:nth-of-type(2) { width: 118px;}
.header .gnb_head .header_menu ul li:nth-of-type(3) { width: 165px;}
.header .gnb_head .header_menu ul li:nth-of-type(4) { width: 130px;}
.header .gnb_head .header_menu ul li:nth-of-type(5) { width: 100px;} 
.header .gnb_head .header_menu ul li:nth-of-type(6) { width: 120px;}
.header .gnb_head .header_menu ul li a              { position: relative; color: #343434; font-size: 18px;}
.header .gnb_head .header_menu ul li a::after       { position: absolute; left: -1px; bottom: -24px; width: calc(100% + 2px); height: 2px; background-color: #ff6b3e; transform-origin: 0 0; transform: scaleX(0); transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1); content: '';}
    /* animation shen hover */
    .header .gnb_head .header_menu ul li:hover a        { font-weight: 600;}
    .header .gnb_head .header_menu ul li:hover a::after { transform: scaleX(1);}

/* header_util */
.header .gnb_head .header_util { position: relative; width: 30px; height: 30px;}
.menu_trigger                  { width: 100%; height: 100%;}
.menu_trigger input            { width: 100%; height: 100%; border: none; opacity: 0; cursor: pointer;}
.menu_trigger label            { position:absolute; top:50%; left:50%; transition:0.6s; width:24px; height:3px; margin-left: -13px; background:#343434; cursor: pointer;}
.menu_trigger label:before     { position:absolute; transform:translateY(-10px); transition:0.6s; width:24px; height:3px; background:#343434;  content:"";}
.menu_trigger label:after      { position:absolute; transform:translateY(10px); transition:0.6s; width:24px; height:3px; background:#343434; content:"";}
    /* hamburger animation when checked */
    .menu_trigger input:checked + label        { width: 0;}
    .menu_trigger input:checked + label:before { transform:rotate(45deg) translate(0px);-webkit-transform:rotate(45deg) translate(0px);}
    .menu_trigger input:checked + label:after  { transform:rotate(-45deg) translate(0px);-webkit-transform:rotate(-45deg) translate(0px);}

/* .header > .gnb body */
.header .gnb_body                             { display: none; position: absolute;top: 70px;width: 100%;padding-bottom: 40px;background: #fff;}
.header.show_menu .gnb_body                   { display: block; z-index: 3;}
.header .gnb_body .inner                      { max-width: 1250px; margin: 10px auto 20px;}
.header .gnb_body .gnb_menu                   { display: flex; margin: 0 0 40px 425px;}
.header .gnb_body .gnb_menu ul                { text-align: center;}
.header .gnb_body .gnb_menu ul:nth-of-type(1) { width: 135px;}
.header .gnb_body .gnb_menu ul:nth-of-type(2) { width: 118px;}
.header .gnb_body .gnb_menu ul:nth-of-type(3) { width: 165px;}
.header .gnb_body .gnb_menu ul:nth-of-type(4) { width: 130px;}
.header .gnb_body .gnb_menu ul:nth-of-type(5) { width: 100px;}
.header .gnb_body .gnb_menu ul:nth-of-type(6) { width: 120px;}
.header .gnb_body .gnb_menu ul li             { margin-top: 15px;}
.header .gnb_body .gnb_menu ul li a           { display: inline-block; line-height: 30px; border-radius: 8px; font-size: 14px; color: #343434; padding: 0 10px;}
.header .gnb_body .gnb_menu ul li:hover a,     
.header .gnb_body .gnb_menu ul li.is_active a { background-color: #ffe5e2; color: #ff6b3e; }
.header .gnb_body .gnb_counsel                { position: relative; height: 80px;line-height: 80px;padding: 0 30px; background: #ff6b3e;border-radius: 6px;}
.header .gnb_body .gnb_counsel                { display: block;}
.header .gnb_body .gnb_counsel:before         { content: '';display: inline-block;width: 115px;height: 100px;position: absolute;left: 60px;bottom: 10px; background: url('../images/olchi_01.png')no-repeat 0 0;}
.header .gnb_body .gnb_counsel > p            { font-size: 18px; font-weight: 300; color: #fff; text-align: center;}
.header .gnb_body .gnb_counsel > p span       { border-bottom: 1px solid #fff; font-weight: 500;}
.header .gnb_body .gnb_counsel > button       { position: absolute;right: 30px;top: 20px;width: 125px;height: 40px; font-size: 16px;color: #ff6b3e;background: #fff;border-radius: 6px;}
.header .gnb_body .gnb_counsel > button:after { content: '';display: inline-block;width: 6px;height: 10px;margin-left: 10px; background: url('../images/arrow-orange.png') no-repeat 0 0;}


/* footer ==================================================================================== */
/* footer > 맞춤컨설팅 신청 */
.consulting                  { background: url('../images/bg_consulting.png');}
.consulting .inner           { max-width: 1250px; margin: 0 auto;}
.consulting .site_head h3    { color: #ff8d77;}
.consulting .consulting_wrap { overflow: hidden; padding: 40px 60px 110px; font-size: 0;}
.consulting_left                                                  { display: inline-block; width: 50%; vertical-align: top;}
.consulting_left .process_tit                                     { margin: 40px 0 50px 60px;color: #fff; font-size: 24px;font-weight: 700;}
.consulting_left .process                                         { overflow: hidden;}
.consulting_left .process .process_list                           { position: relative;float: left; width: 320px;}
.consulting_left .process .process_list:after                     { content: '';display: inline-block;position: absolute;top: 0;left: 200px; width: 120px;height: 400px;; background: url('../images/consulting.png') no-repeat top right;}
.consulting_left .process .process_list li                        { position: relative; padding-bottom: 30px;font-size: 16px;color: #fff;}
.consulting_left .process .process_list li span                   { font-size: 14px;color: #a3a2a9;}
.consulting_left .process .process_list li span:before            { content: '';display: inline-block;position: absolute;left: 69px; bottom: 0; width: 1px;height: 30px;background: #575c6a;}
.consulting_left .process .process_list li:last-child span:before { content: '';display: none;}
.consulting_left .process .process_list li span:after             { content:'';display: inline-block; width: 30px;height: 30px;margin: 0 20px;border: 7px solid #747885;border-radius: 50%;box-sizing: border-box;vertical-align: middle; animation: process_ani 3s forwards step-start;}
@keyframes process_ani {
    from { border: 7px solid #747885;}
    to   { border: 7px solid #ff7e65;}
}
.consulting_left .process .process_list li:nth-child(1) span:after{ animation-delay: 1.5s;}
.consulting_left .process .process_list li:nth-child(2) span:after{ animation-delay: 3s;}
.consulting_left .process .process_list li:nth-child(3) span:after{ animation-delay: 4.5s;}
.consulting_left .process .process_list li:nth-child(4) span:after{ animation-delay: 6s;}
.consulting_left .process .process_list li:nth-child(5) span:after{ animation-delay: 7.5s;}
.consulting_left .process .process_list li:nth-child(6) span:after{ animation-delay: 9s;}
.consulting_left .process .process_list li:nth-child(7) span:after{ animation-delay: 10.5s;}
.consulting_left .process .process_txt                            { display: table; float: left;height: 400px;padding-left: 28px;}
.consulting_left .process .process_txt p                          { display: table-cell; position: relative; vertical-align: middle;color: #fff;font-size: 16px;}
.consulting_left .process .process_txt p::before                  { content: '';display: inline-block; position: absolute;left: -15px;  background: url('../images/double-quotes__left.png') no-repeat 0 0; width: 14px;height: 10px;vertical-align: top;}
.consulting_left .process .process_txt p::after                   { content: '';display: inline-block;  background: url('../images/double-quotes__right.png') no-repeat 0 0; width: 14px;height: 10px;vertical-align: top;margin-left: 5px;}
.consulting_left .process .process_txt p span                     { color: #ff826a;border-bottom: 1px solid #ff826a;font-style: italic;}
.consulting_right                                                 { display: inline-block; width: 50%; vertical-align: top;}
.consulting_right .consulting_form                                { padding: 53px 100px 43px;border-radius: 30px; background: #fff;}
.consulting_right .consulting_form .agree_area                    { margin: 30px 0; text-align: center;}
.consulting_right .consulting_form .term_view                     { border-bottom: 1px solid #343434; font-size: 16px;}
.consulting_right .consulting_form .consulting_form_tit           { line-height: 1; margin-bottom: 37px; text-align: center;font-size: 24px;font-weight: 700;}
.consulting_right .consulting_form .consulting_form_list dl       { position: relative;}
.consulting_right .consulting_form .consulting_form_list dl+dl    { margin-top: 20px;}
.consulting_right .consulting_form .consulting_form_list dt       { position: absolute;left: 0;top: 13px;width: 85px; font-size: 16px;}
.consulting_right .consulting_form .consulting_form_list dd       { margin-left: 85px;border-bottom: 2px solid #343434}
.consulting_right .consulting_form .consulting_form_list dd input { height: 48px; padding: 0; font-size: 16px;}

/* footer > .footer */
.footer .inner                          { position: relative; max-width: 1250px; margin: 0 auto; padding: 50px 0 53px;}
.footer .footer_head                    { position: relative;}
.footer .footer_head .footer_logo       { display: inline-block;}
.footer .footer_head .footer_logo a     { display: block; line-height: 34px; font-size: 14px; color: #727272;}
.footer .footer_head .footer_util       { display: inline-block; position: absolute; top: 0; right: 0;}
.footer .footer_head .footer_util li    { display: inline-block; border: 1px solid #d1d1d1; border-radius: 17px;}
.footer .footer_head .footer_util li+li { margin-left: 10px;}
.footer .footer_head .footer_util li a  { display: block; line-height: 32px; padding: 0 14px; font-size: 14px; color: #a3a2a9;}
.footer .footer_body *                  { line-height: 24px; font-size: 14px; color: #a3a2a9;}
.footer .footer_body .footer_copy       { font-size: 12px;}
.footer .footer_body .foot-i            { display: inline-block; width: 1px; height: 9px; margin: 0 3px; background-color: #a3a2a9;}

/* float ========================================================================================= */
.float_area ul                 { position: fixed; left: 50%; bottom: 250px; margin-left: 660px; z-index: 1;}
.float_area ul li              { position: relative; text-align: center;}
.float_area ul li+li           { margin-top: 10px;}
.float_area ul .float_shape    { display: block; width: 90px; height: 90px; box-shadow: 2px 2px 10px rgba(0,0,0, 0.2); border-radius: 50%; border: 1px solid rgba(255,255,255,0.1); box-sizing: border-box;}
.float_area ul .float_olchi p  { position: absolute; z-index: -1; top: -1px; left: 2px; width: 94px; animation-name: olchiSlide; animation-duration: 10s; animation-iteration-count: infinite;}
.float_area ul .float_olchi a  { position: relative; display: flex; justify-content: center; align-items: center; line-height: 23px; background-color: #f06a51; font-size: 18px; font-weight: 300; color: #fff;}
.float_area ul .float_direct a { padding-top: 50px; background: #20264c url('../images/ico-direct.png') no-repeat 50% 20px; font-size: 12px; color: #fff;}
.float_area ul .float_top a    { background: #fff url('../images/float_top_ver1.png') no-repeat center; font-size: 0; }

@keyframes olchiSlide {
    0%   { top: -1px;}
    60%  { top: -1px;}
    70%  { top: -64px;}
    90%  { top: -64px;}
    100% { top: -1px;}
}

/* visual ==================================================================================== */
.visual { position: relative; height: calc(100vh - 70px); text-align: center;}

/* visual > visual_swiper */
.visual_swiper                                 { width: 100%; height: 100%; overflow: hidden;}
.visual_swiper .swiper-slide                   { position: relative; overflow: hidden; font-size: 20px;}
.visual_swiper .swiper-slide::after            { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0; width: 100%; height: 100%; background-color: rgba(0,0,0, 0.5); content: '';}
.visual_swiper .swiper-slide .visualSwiper_bg  { width: 100%; height: 100%;}
.visual_swiper .swiper-slide1 video            { min-width: 100%;}
.visual_swiper .swiper-slide2 .visualSwiper_bg { background: url('../images/bg_visual2.jpg') no-repeat; background-position: top center; background-size: cover}
.visual_swiper .visual_swiper_txt              { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1; margin-top: -80px;}
.visual_swiper .visual_swiper_txt span         { line-height: 77px; font-size: 46px; color: #fff;}
.visual_swiper .visual_swiper_txt strong       { line-height: 77px; font-size: 60px; color: #fff;}
.visual .visual_swiper .visual-pagination                                  { position: absolute; top: 50%; left: 50%; bottom: auto; z-index: 1; transform: translate(-50%,-50%); width: auto; height: auto; font-size: 0; margin-top: -180px;}
.visual .visual_swiper .visual-pagination .swiper-pagination-bullet        { width: 70px; height: 2px; margin: 0 2px !important; border-radius: 0; background: #fff; opacity: 1;}
.visual .visual_swiper .visual-pagination .swiper-pagination-bullet-active { background-color: #f06a51;}

/* visual > visual_form */
.visual_form                 { position: absolute;  right: 0; bottom: 0; left: 0; z-index: 1; background: rgba(32, 38, 76, 0.9); height: 170px;}
.visual_form .inner          { max-width: 1250px;margin: 0 auto;}
.visual_form .visual_list    { display: flex;margin-top: 40px;}
.visual_form .visual_list dl { width: 160px;height:50px;margin-right: 30px;}
.visual_form .visual_list dt { text-align: left; color: #fff;font-size: 16px;font-weight: 400;}
.visual_form .visual_list dd { border-bottom: 2px solid #fff;line-height: 50px;color: #fff;font-size: 16px;}
.visual_form .visual_list select                          { background: url('../images/select-arrow_white.png') no-repeat right 0 bottom 19px;font-size: 14px;}
.visual_form .visual_list input[type="text"]              { height: 50px;background: transparent;color:#a3a2a9}
.visual_form .visual_list input[type="text"]::placeholder { font-size: 14px;letter-spacing: -1px;}
.visual_form .visual_list_agree                                        { position: relative;}
.visual_form .visual_list_agree .agree_area                            { position: relative; text-align: center;margin-top: 18px;}
.visual_form .visual_list_agree .agree_area .inp-check + label         { padding: 0 20px 0 30px;font-size: 14px;color: #fff;background: url('../images/ico-checkbox_ty2.png') no-repeat; background-size: 20px;background-position: 0 0;}
.visual_form .visual_list_agree .agree_area .inp-check:checked + label { background-position: 0 -60px;}
.visual_form .visual_list_agree .agree_area .term_view                 { color: #fff;border-bottom: 1px solid #fff;}





/* ================================================================================================ */
/* ================================================================================================ */
/* ==========================================  contents  ========================================== */
/* ================================================================================================ */
/* ================================================================================================ */





/* 메인 컨텐츠 : 공통된 내용 ======================================================================== */
.site_section        { background: #fff; }
.site_section .inner { max-width: 1250px; margin: 0 auto;}
.site_head           { position: relative; padding: 120px 0 60px; margin: 0 auto;}
.site_head h3        { line-height: 1; font-size: 40px; font-weight: 700; text-align: center;}
.site_head p         { margin-top: 15px; font-size: 20px; font-weight: 300; text-align: center; color: #fff;}

/* 메인 컨텐츠 > 상담내용 : site_counsel  ===========================================*/
.site_counsel                   { background: #f8f8f8}
.site_counsel .inner            { max-width: 1280px;}
.site_counsel .site_head        { width: 1250px;}
.site_counsel .view_more        { position: absolute;top: 122px;right: 0;background: url('../images/more.png') no-repeat left center;padding-left: 30px;font-size: 22px;font-weight: 700;vertical-align: middle;}
.site_counsel.on .view_more     { background: url('../images/view-minor.png') no-repeat left center;}
.swiper_counsel                  { position: relative; overflow: visible;}
.swiper_counsel .swiper-container{ padding-bottom: 120px;}

/* .swiper_counsel > .swiper-container > .site_counsel_list ========================================= */
.site_counsel_list li                        { position: relative; width: 25%; margin-bottom: 60px;}
.site_counsel_list li:nth-of-type(9),
.site_counsel_list li:nth-of-type(10),
.site_counsel_list li:nth-of-type(11),
.site_counsel_list li:nth-of-type(12)        { margin-bottom: 0;}
.site_counsel_list li a                                    { position: relative; display: table; width: 100%; padding: 130px 15px 0 15px; box-sizing: border-box;}
.site_counsel_list li a .counsel_box                       { display: block; padding: 39px 0 31px; border-bottom: 1px solid #ddd; text-align: center;}
.site_counsel_list li a .counsel_box::before               { position: absolute; top: 0; left: 50%; transform: translateX(-50%); display: block; width: 290px; height: 130px; border-radius: 28px; background-color: lightslategray; box-sizing: border-box; content: '';}
.site_counsel_list li:nth-of-type(1) .counsel_box::before  { background: url('../images/bg_maincont1.png') no-repeat;}
.site_counsel_list li:nth-of-type(2) .counsel_box::before  { background: url('../images/bg_maincont2.png') no-repeat;}
.site_counsel_list li:nth-of-type(3) .counsel_box::before  { background: url('../images/bg_maincont3.png') no-repeat;}
.site_counsel_list li:nth-of-type(4) .counsel_box::before  { background: url('../images/bg_maincont4.png') no-repeat;}
.site_counsel_list li:nth-of-type(5) .counsel_box::before  { background: url('../images/bg_maincont5.png') no-repeat;}
.site_counsel_list li:nth-of-type(6) .counsel_box::before  { background: url('../images/bg_maincont6.png') no-repeat;}
.site_counsel_list li:nth-of-type(7) .counsel_box::before  { background: url('../images/bg_maincont7.png') no-repeat;}
.site_counsel_list li:nth-of-type(8) .counsel_box::before  { background: url('../images/bg_maincont8.png') no-repeat;}
.site_counsel_list li:nth-of-type(9) .counsel_box::before  { background: url('../images/bg_maincont9.png') no-repeat;}
.site_counsel_list li:nth-of-type(10) .counsel_box::before { background: url('../images/bg_maincont10.png') no-repeat;}
.site_counsel_list li:nth-of-type(11) .counsel_box::before { background: url('../images/bg_maincont11.png') no-repeat;}
.site_counsel_list li:nth-of-type(12) .counsel_box::before { background: url('../images/bg_maincont12.png') no-repeat;}
.site_counsel_list li a .counsel_box .counsel_box_tit      { line-height: 1; font-size: 23px; font-weight: 500; letter-spacing: -0.7px;}
.site_counsel_list li a .counsel_box .counsel_box_subtit   { line-height: 20px; margin-top: 15px;font-size: 14px;color: #7b7b83;}
.site_counsel_list li a .counsel_box .counsel_more         { margin-top: 9px; text-align: center}
.site_counsel_list li a .counsel_box .counsel_more span    { display: inline-block; width: 100px; line-height: 1; padding: 8px 0; font-weight: 300; color: #ff6b4e;}
.site_counsel_list li a .tag-hot::after                    { position: absolute; top: 0; left: 15px; width: 62px; line-height: 1; padding: 10px 0; background: #ff6b4e; border-top-left-radius: 28px; border-bottom-right-radius: 28px; font-size: 12px; font-weight: 700; color: #fff; content: 'HOT';}

    /* hover시 */
    .site_counsel_list li:hover a .counsel_box::before          { box-shadow: 0 15px 10px rgba(21,19,14,0.2);}
    .site_counsel_list li:hover .counsel_box .counsel_more span { background-color: #ffe5e2; border-radius: 8px;}

    /* .counselSwiper > .swiper-container > .swiper_counsel_control ================================== */
    .swiper_counsel .swiper-container > .swiper_counsel_control { position: relative;height:16px;}
    .swiper_counsel .swiper-button-next,
    .swiper_counsel .swiper-button-prev       { overflow: hidden; top:-1px !important; bottom:0; width:11px; height:16px; margin-top: 0; background: url("../images/arr_slide_ver1.png"); opacity: 0.3 !important; color: #343434;text-indent: -999px; content:'';}
    .swiper_counsel .swiper-button-prev       { left: 50%; margin-left: -45px; transform: rotate(180deg); }
    .swiper_counsel .swiper-button-next       { right: 50%; margin-right: -45px;}
    .swiper_counsel .swiper-button-prev:hover,
    .swiper_counsel .swiper-button-next:hover { opacity: 1 !important;}
    .swiper_counsel .swiper-button-prev:after,
    .swiper_counsel .swiper-button-next:before{ content: none;}
    .swiper_counsel .swiper-pagination        { bottom: 0;z-index: 0;}

    /* 상담내용 펼쳐보기 클릭시 .site_counsel.on */
    .site_counsel.on .site_counsel_list      { flex-wrap: wrap;}
    .site_counsel.on .swiper_counsel_control { display: none;}

/* 메인 컨텐츠 > 실시간 컨설팅 요청 ====================================================================== */
.site_realtime                                  { background: #fff;padding-bottom: 120px;}
.site_realtime .site_head h3                    { margin-bottom: 60px;}
.site_realtime .realtime_all                    { margin-left: -33px; text-align: center;}
.site_realtime .realtime_all .realtime_all_txt  { display: inline-block; line-height: 107px; font-size: 16px; color: #7b7b83; vertical-align: top;}
.site_realtime .realtime_all .realtime_all_desc { display: inline-block; line-height: 107px; font-size: 28px; font-weight: 500; vertical-align: top;}
.site_realtime .realtime_all .todaycount        { position: relative; display: inline-block;  width: 440px; height: 106px; line-height: 100px; padding-left: 18px; margin: 0 18px 15px; background: url('../images/bg_todaycount.png') no-repeat; font-family: 'DINBol'; font-size: 80px; font-weight: 700; color: #fff; text-align: center; letter-spacing: 47px; box-sizing: border-box;}
.site_realtime .realtime_all .todaycount::after { position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 440px; height: 2px; background: url('../images/bg_todaydash.png') no-repeat; content: '';}

    /* 그래프 */
    .site_realtime .realtime_chart                   { margin-bottom: 40px; font-size: 0;}
    .site_realtime .realtime_chart > li              { position: relative; display: inline-block; width: 165px;}
    .site_realtime .realtime_chart > li+li           { margin-left: 48px;}
    .site_realtime .chart .chart-svg                 { position: relative; font-size: 0;}
    .site_realtime .chart .chart-svg::before         { position: absolute; width: 100%; height: 100%; background: url('../images/bg_chart-circle.png') no-repeat; content: '';}
    .site_realtime .chart .chart-circle              { display: inline-block; position: relative; top: -2px; left: -2px;}
    .site_realtime .chart #circle-graph-1            { stroke-width: 7.5; stroke: url(#gradient); paint-order: stroke; fill: transparent; stroke-linecap: round; stroke-linejoin: round;}
    .site_realtime .realtime_chart_box               { position: absolute; left: 50%; transform: translateX(-50%); bottom: 15px; width: 100%; text-align: center;}
    .site_realtime .realtime_chart_box .chart_num    { line-height: 25px; margin-bottom: 15px; font-size: 24px; font-weight: 500; vertical-align: top;}
    .site_realtime .realtime_chart_box .chart_num em { line-height: 25px; font-size: 16px; font-weight: 500;}
    .site_realtime .realtime_chart_box .chart_desc   { height: 22px; font-size:14px; color: #7b7b83; font-weight: 300;}
    .site_realtime .realtime_chart_box .chart_tit    { line-height: 20px; font-size: 16px; font-weight: 500;}

    /* 실시간 컨설팅 테이블 */
    .realtime_tit                      { display: flex;background: #747885;border-radius: 6px 6px 0 0;}
    .realtime_tit p                    { position: relative; width: 25%;padding: 16px 0; font-size: 18px;color: #fff;text-align: center;}
    .realtime_tit p+p:before           { content: '';display: inline-block;position: absolute;left: 0;top: 20px; background: #fff;width: 1px;height: 20px;}
    .swiper_realtime                     { height: 305px; overflow: hidden; border-bottom: 1px solid #7d818d;}
    .swiper_realtime li                  { display: block; width: 100%; height: 61px; border-bottom: 1px solid #dfdfdf; font-size: 0; box-sizing: border-box;}
    .swiper_realtime li > div            { display: inline-block; width: 25%; line-height: 60px; text-align: center; font-size: 14px; color: #7b7b83;}
    .swiper_realtime li > div:last-child { background-color: #f8f8f8; color: #7b7b83; font-weight: 500;}
