@charset "utf-8";
/* Common */
*{font-family: 'SpoqaHanSansNeo','sans-serif'; font-size: 14px; color: #3E3E3E; font-weight: 500;}
html, body{width:100%; height:100%;}
body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,a,button,select{margin:0;padding:0}
body,input,textarea,select,button,table, pre{font-family:'SpoqaHanSansNeo','sans-serif','맑은고딕','Malgun Gothic','나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,Helvetica}
body{font-size:14px;word-break:break-all;background:#fff; letter-spacing:-1px;}
img,fieldset,iframe{border:0}
img {vertical-align:middle;}
ul,ol {margin:0;padding:0;list-style:none;}
dl,dl dt,dl dd,form,td,p {margin:0;padding:0;}
li,li img,dt img,dd img,td img,p img {vertical-align:top;margin:0;padding:0;}
fieldset {margin:0;padding:0;border:0;}
legend {position:absolute;visibility:hidden;overflow:hidden;height:0;line-height:0;width:0;margin:0;padding:0;font:0/0 Arial;}
caption {visibility:hidden;overflow:hidden;height:0;line-height: 0;width:0;margin:0;padding:0;font:0/0 Arial;}
hr {display:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal; margin:0;}
a {text-decoration:none;color:#3E3E3E;}
a:hover,a:focus,a:active {text-decoration:none;}
table {border-spacing:0; border-collapse: separate;}
select,label {padding:0; margin:0; vertical-align:middle;}
em,address {font-style:normal;}
textarea {vertical-align:top;margin:0;padding:0; border:1px solid #d7d7d7;}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}
option{padding:0}
input                   { overflow:visible; width: 100%; height: 53px; padding: 0 15px; font-size: 16px; color:#3E3E3E; border: none; outline:none; -webkit-box-sizing:border-box;box-sizing:border-box;}
input[type=text]        { background:#fff;}
input[type=text]:focus  { color:#3E3E3E;}
input[type=text]:checked{ color:#3E3E3E;}
input[type=text]::-ms-clear  { display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal { display: none; width : 0; height: 0; }
input[type=text]:-ms-clear   { display: none; width : 0; height: 0; }
input[type=text]:-ms-reveal  { display: none; width : 0; height: 0; }
input[type=checkbox] { border:none !important}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}
input:focus::-webkit-input-placeholder  { /* WebKit browsers */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
input:focus:-moz-placeholder            { /* Mozilla Firefox 4 to 18 */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
input:focus::-moz-placeholder           { /* Mozilla Firefox 19+ */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
input:focus:-ms-input-placeholde        { /* Internet Explorer 10+ */ color:transparent; font-weight: normal; letter-spacing:-0.5px;}
::-webkit-input-placeholder { /* Chrome */ color: #999 !important; font-weight: normal; letter-spacing:-0.5px;}
:-ms-input-placeholder      { /* IE 10+ */ color: #999 !important; font-weight: normal; letter-spacing:-0.5px;}
::-moz-placeholder          { /* Firefox 19+ */ color: #999 !important; opacity: 1; font-weight: normal; letter-spacing:-0.5px;}
:-moz-placeholder           { /* Firefox 4 - 18 */ color: #999 !important; opacity: 1; font-weight: normal; letter-spacing:-0.5px;}
button{-webkit-appearance: button;}

/* 공통 */
.mv2           { position: relative; width: 100%; height: 100%; min-width: 320px;}
.mv2_sec1      { background-color: #f5f5f5;}
.mv2_sec2      { margin-bottom: 50px; font-size: 0; text-align: left;}
.inner         { position: relative; max-width: 390px; margin: 0 auto; padding: 0 15px; -webkit-box-sizing:border-box;box-sizing:border-box;}
.page_tit      { line-height: 1; padding: 40px 0 20px; font-family: 'ONE-Mobile-Title'; font-size: 20px; font-weight: 500; text-align: center; color: #3E3E3E;}
.page_tit span { font-family: 'ONE-Mobile-Title';font-size: 20px;  font-weight: 500; color:#FF4848;}

/* header */
header         { position:absolute; top: 0; width:100%; z-index:1; text-align: center; -webkit-box-sizing:border-box;box-sizing:border-box;}
header a       { display: inline-block; height:55px; font-size: 0; vertical-align: top;}
header a img   { height: 14px; padding-top: 20px;}

/* visual */
.visual               { padding: 0 0 30px 0; background: url(../images/bg_visual1.png) no-repeat center; background-size: cover; }
.visual_top           { display: block; margin: 0 auto; padding: 70px 0 30px; text-align: center;}
.visual_top *         { font-family: 'ONE-Mobile-Title'; font-weight: 500; letter-spacing: -2.5px;}
.visual_top span      { display:block; line-height: 1; margin: 0 0 20px; font-size: 20px; color: #fff;}
.visual_top strong    { display:block; line-height: 1.3; font-size: 29px; color: #fff; text-shadow:0 0 10px rgba(0,0,0);}
.visual_top strong em { font-size: 29px; color: #FF4848;}



/* ============================================== main ============================================== */
/* 1 제휴사리스트 : 내 자동차 보험료 바로 확인*/
.simple_Wrap > ul                         { display:block; width:100%; max-width: 360px; margin: 0 auto;}
.simple_Wrap > ul li                      { display:block; position:relative; width:100%; border-radius: 20px; background-color: #fff; -webkit-box-shadow:0 2px 6px rgba(0,0,0,0.1);box-shadow:0 2px 6px rgba(0,0,0,0.1); vertical-align:top; -webkit-box-sizing:border-box;box-sizing:border-box;}
.simple_Wrap > ul li+li                   { margin-top: 12px;}
.simple_Wrap > ul .simple_Box             { height: 62px; padding: 9px 20px; -webkit-box-sizing:border-box;box-sizing:border-box; font-size: 0;}
.simple_Wrap > ul .simple_Thum            { display: inline-block; width: calc(100% - 140px); height: 100%; vertical-align: top;;}
.simple_Wrap > ul .simple_Thum > div      { width: 100%; height: 100%;}
.simple_Wrap > ul .simple_Thum > div > img{ width: 100%; height: 100%; object-fit:contain; object-position: left center;}
.simple_Wrap > ul .calcul_wrap            { display: inline-block; width: 140px; height: 100%; vertical-align: top; text-align: right;}
.simple_Wrap > ul .calcul_wrap .btn_small { margin-top: 3px;}
.simple_Wrap > ul .fee                    { display: block; height: 44px; line-height: 44px; font-size: 18px; font-weight: 600; color: #3E3E3E; letter-spacing: -1px; cursor: pointer;}
.simple_Wrap > ul .fee span               { line-height: 30px; font-size: 24px; font-weight: 700; color: #FF4848; vertical-align: bottom;}

/* 2 이벤트 배너 */
.eventb                 { padding: 20px 0 40px; width: 100%; background-color: #F5F5F5;}
.eventb .eventb_wrap    { overflow: hidden; max-width: 360px; margin: 0 auto; border-radius: 20px;}
.eventb .eventb_top     { background-color: #F9EDD6;}
.eventb .eventb_top img { width: 100%;}
.eventb .eventb_area    { background-color: #CBB68E; text-align: center;}
.eventb .eventb_cont    { display: none; padding: 25px 20px 30px; border-top: 1px solid #fff;}
.eventb .eventb_cont *  { line-height: 1.5; font-size: 12px; font-weight: 500; color: #3E3E3E;}
.eventb .eventb_cont div+div{ margin-top: 17px;}
.eventb .eventb_cont p  { font-weight: 700;}
.eventb .eventb_cont ul { margin-top: 30px; text-align: left;}
.eventb .eventb_btn     { display: block; width: 100%; height: 47px; }
.eventb .eventb_btn span{ line-height: 47px; padding-right: 10px; font-size: 16px; font-weight: 500; color: #fff;}
.eventb .eventb_btn i   { display: inline-block; position: relative; top: -4px; width: 7px; height: 7px; border-top: 2px solid #fff; border-right: 2px solid #fff; transform: rotate(135deg);}
.eventb .is_active .eventb_btn i { top: 0; transform: rotate(-45deg);}

/* 3 제휴보험사 혜택 비교 mitem1 */
.partner_Wrap .mitem1                         { font-size: 0;}
.partner_Wrap .mitem1 li                      { display: inline-block; position: relative; width: calc((100% - 16px)/2); height: 204px; padding: 0 16px 20px 16px; background-color: #F5F5F5; border-radius: 18px; vertical-align: top; -webkit-box-sizing:border-box;box-sizing:border-box;}
.partner_Wrap .mitem1 li:nth-child(2n)        { margin: 0 0 16px 16px;}
.partner_Wrap .mitem1 .partner_Top            { 
    display:-webkit-box;display:-webkit-flex;display:flex;
    -webkit-box-pack:center;justify-content:center;
    -webkit-box-align:center;align-items:center;
    -webkit-box-orient:vertical;flex-direction:column;
    height: 100px;
}
.partner_Wrap .mitem1 .partner_Thum           { height: 44px;}
.partner_Wrap .mitem1 .partner_Thum > img     { width: 100%; height: 100%; object-fit: contain; object-position: center center; }
.partner_Wrap .mitem1 .partner_Btn            { display: block; width: 100%;}
.partner_Wrap .mitem1 .partner_Btn a          { display: block; width: 100%; max-width: 140px;line-height: 38px;margin: 0 auto; border-radius: 10px; font-size: 18px; font-weight: 600; color: #fff; text-align: center; cursor: pointer;}
.partner_Wrap .mitem1 .partner_Btn a+a        { margin-top: 10px;}
.partner_Wrap .mitem1 .partner_Btn a.btn_view { background:#FF4848}
.partner_Wrap .mitem1 .partner_Btn a.btn_sum  { background:#006AC8}
.partner_Wrap .mitem1 .partner_Tel a          { display: block; height: 28px; line-height: 28px; font-size: 17px; font-weight: 600; color: #3E3E3E;}


/* ============================================== bottom ============================================== */

/* 유의사항 : 보험계약 시 알아두실 사항 */
.site_noti            { padding: 40px 0; background-color: #505050;}
.site_noti .inner     { position: relative; margin: 0 auto; text-align: left;}
.site_noti *          { font-size: 14px; color: #fff;}
.site_noti h2         { margin-bottom: 15px; font-size: 20px; font-weight: 600;}
.site_noti li         { position: relative; line-height: 1.571; padding-left: 10px; font-weight: 300;}
.site_noti li+li      { margin-top: 13px; }
.site_noti li::before { content: ''; position: absolute; top: 8px; left: 0; width: 3px; height: 3px; background-color: #fff; border-radius: 4px;}
.site_noti .site_num  { display: block; margin: 10px 0 0 10px; font-weight: 300; color: #C8C8C8;}

/* footer */
footer                      { position: relative; padding: 40px 0;}
footer *                    { font-size: 12px; color: #3E3E3E; line-height: 1.5; font-weight: 500; letter-spacing: -0.25px;}
footer .inner               { margin: 0 auto; -webkit-box-sizing:border-box;box-sizing:border-box;}
footer .footer_right        { 
    display:-webkit-box;display:-webkit-flex;display:flex;
    -webkit-box-pack:justify;justify-content:space-between;
    margin-bottom: 35px; font-size: 0;
}
footer .footer_right *      { letter-spacing: 0;}
footer .footer_right li     { vertical-align: top;}
footer .footer_right strong { display: block; font-weight: 700;}
footer .footer_logo         { display: block; margin-bottom: 5px;}
footer .footer_logo img     { width: 140px;}
footer .footer_bar          { line-height: 20px; padding: 0 8px; vertical-align: top;}
footer .footer_privacy      { margin: 7px 0;}
footer .footer_privacy a    { padding: 2px 6px; background-color: #C8C8C8; font-size: 9px; color: #3E3E3E;}