@charset "utf-8";
/*모바일*/
@media screen and (max-width:767px){
.bodyBox{overflow: hidden}
.wrap{
	margin:71px 10px 10px 10px;
	max-width: 767px;
	min-width: 420px;
}
header:after{height: 10px}
.headerBanner{
	max-width: 767px;
	min-width: 420px;
}
.headerBanner a{
	line-height: 18px; 
	letter-spacing: -0.5px;
}
.headContainer{height: 53px;}
h1{left: 15px; top: 6px;}
h1 > a > img{width: 40px;}
.cartGroup{
    float: right;
    width: 24px;
    height: 24px;
    right: 50px;
    top: 13px;
}
nav.active{
	position: relative;
	top: 0;
    left: 0;
	transform: translate(0,0);
	z-index: -10px;
	text-align: left;
}
nav.active > a{
	display: block;
    position: absolute;
	top: 15px;
	right: 10px;
    width: 30px;
    height: 30px;
	z-index: 100;
}
nav.active > a.close{
    background: url(../images/close_2.png) no-repeat;
    background-size: 100% auto;
    width: 22px;
}   
nav.active > a.open{
    background: url(../images/open.png) no-repeat;
    background-size: 100% auto;
    width: 22px;
}   
nav.active > ul{
	position: relative;
	top: -1000px;
    border-top:1px solid rgba(0,0,0,0.1);
    padding: 20px 0 0 40px;
    height: 370px;
	background-color: white;
	transition: all 0.5s ease;
}
	
nav.active > ul.on{display: block; top: 52px;}
    
nav.active > ul li{display: block;}
nav.active > ul li+li{margin-left: 0px;}
nav.active > ul a{font-size: 25px; line-height: 55px;}  
nav.active > ul a:hover{color: rgba(0,0,0,0.2)}
.mainBack .mV1{display: none;}
.mainBack .mV2{display: block;} 
.mainBack{
    overflow: hidden;
    position: relative;
    height: 400px;
}
.mainBack img{
    position: relative;
    left: 50%; top: -150px;
    transform: translateX(-50%);
    width: 680px; height: 710px;
}
.mainTxt{
    width: 500px;
    top: 20px; left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 90%;
}
.mainTxt h3{
    font-size: 35px;
    line-height: 35px;
    text-align: center;
} 
.mainTxt > p{
    font-size: 15px;
    line-height: 18px;
} 
.icon_visual{margin-top: 20px;}

.col2 .iV1{display: none;}
.col2 .iV2{display: block;} 
.col2{width: 300px; height: 472px;} 
.col2 .imageWrapper{width: 300px; height: 300px;}
.col2 .imageWrapper img{width: 300px;}
.col2 .imageWrapper img:hover{width: 310px;}
.footerArea{
    margin: 60px auto 0 auto;
    width: 270px; 
    background-color: white;
}
.footerArea > li{display: block; margin-top: 30px;} 
.footerArea > li:nth-child(1){margin-bottom: 80px;}
.footerArea li+li{margin-left: 0;}
.footerArea > li > ul > li > a{font-weight: 400;}
.lang{
    width: 270px;
    position: absolute;
    padding: 0;
    top: 335px; left: 0; right: 0;
}
.lang .other:after{height: 20px;}
.lang a{font-size: 13px; line-height: 20px;}
.etc_link{display: none;} 
.info{
	padding: 70px 0 60px 0; 
	margin-top: 20px;
}
.info a{
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 30px;
}
.info p{font-size: 13px;}
    
h3{
    font-size: 35px;
    line-height: 35px;
    padding-bottom: 0px;
} 
}









@media screen and (min-width:768px) and (max-width:1019px){
.headContainer{height: 70px;}
h1{left: 28px; top: 10px;}
h1 > a > img{width: 48px;}
.cartGroup{
    width: 24px;
    height: 24px;
    right: 40px;
    top: 20px;
}
    
nav li{font-size: 18px; line-height: 18px;} 
nav li+li{margin-left: 3.4%;}
.mainTxt{
    margin-left: 30px;
    width: 40%;
}
.mainTxt h3{
    font-size: 36px;
    line-height: 36px;
}
.mainTxt > p{
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}
.icon_visual{margin-top: 40px;}  
    
    
    
.footerArea{width: 92%;}
.footerArea > li{width: 22%; }
.footerArea > li+li{margin-left: 4%}
.footerArea > li > strong > a{
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
}
.footerArea > li > ul > li > a{
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
}
.footerArea .social li+li{margin-left: 10px;}  
.footerArea .social{margin-top:10px;} 
.footerArea .social li a{display: block; width: 25px; height: 25px;}
.lang{width: 92%; padding: 20px 0;}
.lang a{font-size: 10px;}
.lang .other:after{height: 18px;}
.etc_link{width: 92%;}
.etc_link li{width: 22%;}
.etc_link li+li{margin-left: 4%;}
.etc_link li img{width: 100%;}
.etc_link p{top: 15px; left: 15px ;font-size: 20px; line-height: 20px;}
.info a{font-size: 19px;}
}










@media screen and (min-width:1020px) and (max-width:1399px){
.footerArea .social li+li{margin-left: 10px;}
.footerArea{width: 960px;}
.footerArea > li{width: 217px;}
.footerArea > li+li{margin-left: 30px;}
 .footerArea > li > ul > li > a{font-size: 15px; line-height: 35px;} 
.lang{width: 960px;} 
.lang a{font-size: 12px;}
.etc_link{width: 960px;}
.etc_link li img{width:217px;}
.etc_link p{top: 15px; left: 15px; font-size: 23px; line-height: 20px;}
}



@media screen and (min-width:1400px) {
}