@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: normal;
  src: url("../../../common/fonts/NanumGothic-Regular.woff") format('woff'), url("/common/fonts/NanumGothic-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: bold;
  src: url("/common/fonts/NanumGothic-Bold.woff") format('woff'), url("/common/fonts/NanumGothic-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'NanumGothic-eb';
  font-style: normal;
  font-weight: normal;
  src: url("/common/fonts/NanumGothic-EB.woff") format('woff'), url("/common/fonts/NanumGothic-EB.ttf") format('truetype'), url("/common/fonts/NanumGothic-EB.eot") format("eot");
}

blockquote,
body,
button,
code,
dd,
div,
section,
dl,
dt,
fieldset,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'NanumGothic' !important;
}