@charset "utf-8";
@media screen and (max-width:530px){
.twice{display: none;}
.first{display: none;}
.thirdtofourth{
    display: block;
    position: fixed;
    width: 100%; height: 60px;
    background-color:#222222;
    z-index: 500;
}    
.thirdtofourth header{height: 60px;}
.thirdtofourth .thirdtofourth_logo{
    width: 180px; height: 18px;
    position: absolute;
    background: url(../images/logo_720-819_2.png)no-repeat;
    background-size: 100%;
    display: block; text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    vertical-align: middle;
    z-index: 600;  
}
.thirdtofourth .linkright{height: 60px;max-width: 767px}
.thirdtofourth .linkright .link{position: absolute; top: 0; left: 0;}
.thirdtofourth .burger{
    border-right: 1px solid #333;
    position: absolute;
    top: 0; left:0;
    width: 60px; height: 60px;
    box-sizing: border-box;
    padding: 8px 0 0 2px;
} 
.thirdtofourth .burger .bar{
    display: block;
    width: 38px; height: 2px;
    box-sizing: border-box;
    margin: 9px;
} 
.thirdtofourth .burger .bar:nth-child(1){
    display: block;
    border-right: 28px solid rgb(255,255,255);
    border-left: 6px solid rgba(255,255,255,0.8); 
    transition: all 1s ease;
}
.thirdtofourth .burger .bar:nth-child(2){
    border-left: 28px solid rgb(255,255,255);
    border-right: 6px solid rgba(255,255,255,0.8);
    transition: all 1s ease;
} 
.thirdtofourth .burger .bar:nth-child(3){
    border-right: 28px solid rgb(255,255,255);
    border-left: 6px solid rgba(255,255,255,0.8);
    transition: all 1s ease;
}
.thirdtofourth .burger.on{
    display: block;
    position: absolute;
    top: 0; left:0;
    width: 60px; height: 60px;
    box-sizing: border-box;
    padding: none;
    padding: 11px 0 0 8px;
}
.thirdtofourth .burger.on .bar{
    display: block;
    width: 38px; height: 2px;
    box-sizing: border-box;
}
.thirdtofourth .burger.on .bar:nth-child(1){
    transform: translateY(-100px);
} 
.thirdtofourth .burger.on .bar:nth-child(2){
    border-right: 6px solid rgb(255,255,255);
    border-left: 28px solid rgb(255,255,255);
    transform: rotate(-315deg) translateY(5px) translateX(-8px);
    transform-origin: center center;
} 
.thirdtofourth .burger.on .bar:nth-child(2):hover{
    border-left-color: #e9b8b9;
    box-shadow: 4px 0 6px 1px rgba(205,40,44,0.75)
}
.thirdtofourth .burger.on .bar:nth-child(3){
    border-right: 28px solid rgb(255,255,255);
    border-left: 6px solid rgb(255,255,255);
    transform: rotate(-45deg);
    transform-origin: left center;
} 
.thirdtofourth .burger.on .bar:nth-child(3):hover{
    border-right-color: #ddf1da;
    box-shadow: 4px 0 6px 1px rgba(83,228,68,0.65);
}
.thirdtofourth .linkright .right{position: absolute; top: 0px; right: 0px;}
.thirdtofourth .right .search{
    box-sizing: border-box; 
    position: absolute; 
    top: 0; right: 0;
    width: 60px; height: 60px;
}
.thirdtofourth .search .search_icon{
    background: url(../images/search_icon.png);
    background-position: 0 -60px;
    display: block;
    width: 60px; height: 60px;
    background-size: 100% 200%;
    border: none; margin: 0;
    border-left: 1px solid #333;
    cursor: pointer;
}
/*================ main ================*/
main{padding-top: 50px;}
main .division{padding: 27px 12px 0 12px;}
.bound{padding: 0 12px;}
.advertise .shop_length{display: none;}
.advertise .shop_transverse{display: block;}
.advertise .shop_transverse{display: block;}
.forblock{width: 100%;}
.row1 .building-block-padding{padding: 1.8%;}
.row1.col4 .building-block-padding{padding: 1.8%;} 
.row1 .image_wrapper{padding-top: 28.82352%; width: 51.4%;}
.row1 .contents_wrapper{padding-top: 28.82352%; width: 48.6%;}  
.row1 .inner{padding: 5%;}
.row1 .content_info a{line-height: 20px;}
.row1 .metadata{padding:2% 0 2% 2%}    
.row1 .metadata .team_name{display: block;}    
.row1 .metadata .category_info{font-size: 12.5px;}
	
.thelastest .row1.col4 .content_info .title a{font-size: 16px;line-height: 20px;}
.thelastest .row1.col4 .contents_wrapper{width: 48.6%;}
.thelastest .row1.col4 .image_wrapper{padding-top: 28.82352%; width: 51.4%;}
	
.section .col2{width: 100%;}
.col2 .building-block-padding{padding: 1.8%;}
.col2 .image_wrapper{padding-top: 56.5%;}
.col2 .contents_wrapper{padding-top: 23%;}
.col2 .contents_wrapper .inner{padding: 2.1% 2.55%}
.jedihome .section:nth-child(2) .forblock .col2 .contents_wrapper{padding-top: 30%;}
.col2 .content_info .title a{font-size: 16px; line-height: 19px;}
.col2 .metadata{padding: 1% 0 1% 2.4%}
.col2 .metadata .category_info{font-size: 13px;}
.col2.tripart .building-block-padding{padding: 1.8%;}
.col2.tripart .image_wrapper{padding-top: 50%;}
.col2.tripart .contents_wrapper{padding-top: 25%;}   
.col2.tripart .contents_wrapper .inner{padding: 2.1% 2.55%}   
.morenews .section:nth-child(1) .col2 .image_wrapper{padding-top: 75%;}
.morenews .section:nth-child(1) .col2 .contents_wrapper{padding-top: 27%;}
.jedihome .col2 .image_wrapper{padding-top: 75%;}
.jedihome .col2 .contents_wrapper{padding-top: 30%;}
.section .col1{width: 100%;}
.section .col1 .image_wrapper{padding-top: 39.5%; width: 39.5%; float: left;}
.section .col1 .contents_wrapper{padding-top:  39.5%; width: 60.5%; float: right; border-left: 2px solid #e15021; border-top: none;}
.col1 .contents_wrapper .inner{padding: 4%;}
.scenes .section:nth-child(1) .col2 .title a{font-size: 16px;}
.morenews .section .n_divi .contents_wrapper{padding-top: 68%; border-left: none; width: 100%;}
.morenews .n_divi .content_info img{width: 46%;}
.morenews .n_divi span{font-size:15px}
.morenews .n_divi p{font-size: 12px; line-height: 17px}
.production .section:nth-child(1) .col2 .image_wrapper{padding-top: 75%;}
.production .section:nth-child(1) .col2 .contents_wrapper{padding-top:30%;}
.row1 .desc-sizer a{display: none;}
.row1 .category_extra, .row1 .team_name .by{display: none;}
footer{
    background-image: none;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 0;
    height: auto;
}
footer span{font-size: 11px;}
footer .social{margin-top: 14px;}
footer .social li+li{margin-left: 16px;}
footer .help{width: 325px;}
footer .help .copyright{font-size: 11px; line-height: 37px; border-bottom: 1px solid rgba(255,255,255,0.1); margin-top: 0px; margin-bottom: 0px}
footer .help li{display: block; margin: 0; height: 40px;} 
footer .help li:nth-child(2n){
    border-top:1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    }
footer .help li+li{border: none;}
footer .help a{font-size: 11px; line-height: 40px;}
.scenes .section:nth-child(1) .col2 .desc{display: none}
	
.row1.col4 .content_info .title a:after{
	content: '';
	background: linear-gradient(0deg, rgb(34,34,34) 20%, rgba(34,34,34,0.4) 90%);
	position: absolute;
	bottom: 0; left:0;
	width: 100%; height: 40px;
	z-index: 50;
}
.row1.col4 .content_info .title a:after{
	content: '';
	background: linear-gradient(0deg, rgb(34,34,34) 20%, rgba(34,34,34,0.4) 90%);
	position: absolute;
	bottom: 0; left:0;
	width: 100%; height: 40px;
	z-index: 50;
}
	
main .division .divi_title{
    padding: 10px 0 10px 10px;
    line-height: 23px;
    font-size: 18.5px;
}
}


@media screen and (min-width:530px) and (max-width:767px){
.twice{display: none;}
.first{display: none;}
.thirdtofourth{
    display: block;
    position: fixed;
    width: 100%; height: 60px;
    background-color:#222222;
    z-index: 500;
}    
.thirdtofourth header{height: 60px;}
.thirdtofourth .thirdtofourth_logo{
    width: 180px; height: 18px;
    position: absolute;
    background: url(../images/logo_720-819_2.png)no-repeat;
    background-size: 100%;
    display: block; text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    vertical-align: middle;
    z-index: 600;  
}
.thirdtofourth .linkright{height: 60px;max-width: 767px}
.thirdtofourth .linkright .link{position: absolute; top: 0; left: 0;}
.thirdtofourth .burger{
    border-right: 1px solid #333;
    position: absolute;
    top: 0; left:0;
    width: 60px; height: 60px;
    box-sizing: border-box;
    padding: 8px 0 0 2px;
} 
.thirdtofourth .burger .bar{
    display: block;
    width: 38px; height: 2px;
    box-sizing: border-box;
    margin: 9px;
} 
.thirdtofourth .burger .bar:nth-child(1){
    display: block;
    border-right: 28px solid rgb(255,255,255);
    border-left: 6px solid rgba(255,255,255,0.8); 
    transition: all 1s ease;
}
.thirdtofourth .burger .bar:nth-child(2){
    border-left: 28px solid rgb(255,255,255);
    border-right: 6px solid rgba(255,255,255,0.8);
    transition: all 1s ease;
} 
.thirdtofourth .burger .bar:nth-child(3){
    border-right: 28px solid rgb(255,255,255);
    border-left: 6px solid rgba(255,255,255,0.8);
    transition: all 1s ease;
}
.thirdtofourth .burger.on{
    display: block;
    position: absolute;
    top: 0; left:0;
    width: 60px; height: 60px;
    box-sizing: border-box;
    padding: none;
    padding: 11px 0 0 8px;
}
.thirdtofourth .burger.on .bar{
    display: block;
    width: 38px; height: 2px;
    box-sizing: border-box;
}
.thirdtofourth .burger.on .bar:nth-child(1){
    transform: translateY(-100px);
} 
.thirdtofourth .burger.on .bar:nth-child(2){
    border-right: 6px solid rgb(255,255,255);
    border-left: 28px solid rgb(255,255,255);
    transform: rotate(-315deg) translateY(5px) translateX(-8px);
    transform-origin: center center;
} 
.thirdtofourth .burger.on .bar:nth-child(2):hover{
    border-left-color: #e9b8b9;
    box-shadow: 4px 0 6px 1px rgba(205,40,44,0.75)
}
.thirdtofourth .burger.on .bar:nth-child(3){
    border-right: 28px solid rgb(255,255,255);
    border-left: 6px solid rgb(255,255,255);
    transform: rotate(-45deg);
    transform-origin: left center;
} 
.thirdtofourth .burger.on .bar:nth-child(3):hover{
    border-right-color: #ddf1da;
    box-shadow: 4px 0 6px 1px rgba(83,228,68,0.65);
}
.thirdtofourth .linkright .right{position: absolute; top: 0px; right: 0px;}
.thirdtofourth .right .search{
    box-sizing: border-box; 
    position: absolute; 
    top: 0; right: 0;
    width: 60px; height: 60px;
}
.thirdtofourth .search .search_icon{
    background: url(../images/search_icon.png);
    background-position: 0 -60px;
    display: block;
    width: 60px; height: 60px;
    background-size: 100% 200%;
    border: none; margin: 0;
    border-left: 1px solid #333;
    cursor: pointer;
}
/*================ main ================*/
main{padding-top: 50px;}
main .division{padding: 27px 12px 0 12px;}
.bound{padding: 0 12px;}
.advertise .shop_length{display: none;}
.advertise .shop_transverse{display: block;}
.advertise .shop_transverse{display: block;}
.forblock{width: 100%;}
.row1 .building-block-padding{padding: 1.8%;}
.row1.col4 .building-block-padding{padding: 1.8%;} 
.row1 .image_wrapper{padding-top: 28.82352%; width: 51.4%;}
.row1 .contents_wrapper{padding-top: 28.82352%; width: 48.6%;}  
.row1 .inner{padding: 5%;}
.row1 .content_info a{line-height: 20px;}
.row1 .metadata{padding:2% 0 2% 2%}    
.row1 .metadata .team_name{display: block;}    
.row1 .metadata .category_info{font-size: 12.5px;}
	
.thelastest .row1.col4 .content_info .title a{font-size: 16px;line-height: 20px;}
.thelastest .row1.col4 .contents_wrapper{width: 48.6%;}
.thelastest .row1.col4 .image_wrapper{padding-top: 28.82352%; width: 51.4%;}
	
.section .col2{width: 100%;}
.col2 .building-block-padding{padding: 1.8%;}
.col2 .image_wrapper{padding-top: 56.5%;}
.col2 .contents_wrapper{padding-top: 23%;}
.col2 .contents_wrapper .inner{padding: 2.1% 2.55%}
.jedihome .section:nth-child(2) .forblock .col2 .contents_wrapper{padding-top: 30%;}
.col2 .content_info .title a{font-size: 16px; line-height: 19px;}
.col2 .metadata{padding: 1% 0 1% 2.4%}
.col2 .metadata .category_info{font-size: 13px;}
.col2.tripart .building-block-padding{padding: 1.8%;}
.col2.tripart .image_wrapper{padding-top: 50%;}
.col2.tripart .contents_wrapper{padding-top: 25%;}   
.col2.tripart .contents_wrapper .inner{padding: 2.1% 2.55%}   
.morenews .section:nth-child(1) .col2 .image_wrapper{padding-top: 75%;}
.morenews .section:nth-child(1) .col2 .contents_wrapper{padding-top: 27%;}
.jedihome .col2 .image_wrapper{padding-top: 75%;}
.jedihome .col2 .contents_wrapper{padding-top: 30%;}
.section .col1{width: 100%;}
.section .col1 .image_wrapper{padding-top: 39.5%; width: 39.5%; float: left;}
.section .col1 .contents_wrapper{padding-top:  39.5%; width: 60.5%; float: right; border-left: 2px solid #e15021; border-top: none;}
.col1 .contents_wrapper .inner{padding: 4%;}
.scenes .section:nth-child(1) .col2 .title a{font-size: 16px;}
.morenews .section .n_divi .contents_wrapper{padding-top: 68%; border-left: none; width: 100%;}
.morenews .n_divi .content_info img{width: 46%;}
.morenews .n_divi span{font-size:15px}
.morenews .n_divi p{font-size: 12px; line-height: 17px}
.production .section:nth-child(1) .col2 .image_wrapper{padding-top: 75%;}
.production .section:nth-child(1) .col2 .contents_wrapper{padding-top:30%;}
.row1 .category_extra, .row1 .team_name .by{display: none;}
	
.col2 .content_info .desc-sizer .desc{display: block; margin-top: 20px;}
	
footer{
    background-image: none;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 0;
    height: auto;
}
footer span{font-size: 11px;}
footer .social{margin-top: 14px;}
footer .social li+li{margin-left: 16px;}
footer .help{width: 325px;}
footer .help .copyright{font-size: 11px; line-height: 37px; border-bottom: 1px solid rgba(255,255,255,0.1); margin-top: 0px; margin-bottom: 0px}
footer .help li{display: block; margin: 0; height: 40px;} 
footer .help li:nth-child(2n){
    border-top:1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    }
footer .help li+li{border: none;}
footer .help a{font-size: 11px; line-height: 40px;}
}
/*615px이상 719px이하    3번째  thirdtofourth     */
@media screen and (min-width:768px) and (max-width:899px){
.twice{display: none;}
.first{display: none;}
.thirdtofourth{
    display: block;
    position: fixed;
    width: 100%; height: 60px;
    background-color:#222222;
    z-index: 500;
}    
.thirdtofourth header{height: 60px;}
.thirdtofourth .thirdtofourth_logo{
    width: 180px; height: 18px;
    position: absolute;
    background: url(../images/logo_720-819_2.png)no-repeat;
    background-size: 100%;
    display: block; text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    vertical-align: middle;
    z-index: 600;  
}
.thirdtofourth .linkright{height: 60px; max-width: 899px}
.thirdtofourth .linkright .link{position: absolute; top: 0; left: 0;}
.thirdtofourth .burger{
    border-right: 1px solid #333;
    position: absolute;
    top: 0; left:0;
    width: 60px; height: 60px;
    box-sizing: border-box;
    padding: 8px 0 0 2px;
} 
.thirdtofourth .burger .bar{
    display: block;
    width: 38px; height: 2px;
    box-sizing: border-box;
    margin: 9px;
} 
.thirdtofourth .burger .bar:nth-child(1){
    display: block;
    border-right: 28px solid rgb(255,255,255);
    border-left: 6px solid rgba(255,255,255,0.8); 
    transition: all 1s ease;
}
.thirdtofourth .burger .bar:nth-child(2){
    border-left: 28px solid rgb(255,255,255);
    border-right: 6px solid rgba(255,255,255,0.8);
    transition: all 1s ease;
} 
.thirdtofourth .burger .bar:nth-child(3){
    border-right: 28px solid rgb(255,255,255);
    border-left: 6px solid rgba(255,255,255,0.8);
    transition: all 1s ease;
}
.thirdtofourth .burger.on{
    display: block;
    position: absolute;
    top: 0; left:0;
    width: 60px; height: 60px;
    box-sizing: border-box;
    padding: none;
    padding: 11px 0 0 8px;
}
.thirdtofourth .burger.on .bar{
    display: block;
    width: 38px; height: 2px;
    box-sizing: border-box;
}
.thirdtofourth .burger.on .bar:nth-child(1){
    transform: translateY(-100px);
} 
.thirdtofourth .burger.on .bar:nth-child(2){
    border-right: 6px solid rgb(255,255,255);
    border-left: 28px solid rgb(255,255,255);
    transform: rotate(-315deg) translateY(5px) translateX(-8px);
    transform-origin: center center;
} 
.thirdtofourth .burger.on .bar:nth-child(2):hover{
    border-left-color: #e9b8b9;
    box-shadow: 4px 0 6px 1px rgba(205,40,44,0.75)
}
.thirdtofourth .burger.on .bar:nth-child(3){
    border-right: 28px solid rgb(255,255,255);
    border-left: 6px solid rgb(255,255,255);
    transform: rotate(-45deg);
    transform-origin: left center;
} 
.thirdtofourth .burger.on .bar:nth-child(3):hover{
    border-right-color: #ddf1da;
    box-shadow: 4px 0 6px 1px rgba(83,228,68,0.65);
}
.thirdtofourth .linkright .right{position: absolute; top: 0px; right: 0px;}
.thirdtofourth .right .search{
    box-sizing: border-box; 
    position: absolute; 
    top: 0; right: 0;
    width: 60px; height: 60px;
}
.thirdtofourth .search .search_icon{
    background: url(../images/search_icon.png);
    background-position: 0 -60px;
    display: block;
    width: 60px; height: 60px;
    background-size: 100% 200%;
    border: none; margin: 0;
    border-left: 1px solid #333;
    cursor: pointer;
}
/*================ main ================*/
main{padding-top: 50px; display: block;}
.col2 .image_wrapper{padding-top: 52.1%;}
.col2 .contents_wrapper{padding-top: 21.1%;}
.col2 .content_info .title a {font-size: 13px; line-height: 15px;}   
.row1 .content_info a{line-height: 15px; font-size: 13px;}
.row1 .content_info .desc-sizer .desc{display: none;}
.row1 .metadata .category_info .category_extra{display: none;}
.scenes .section:nth-child(1) .col2 .desc {display: none;}
.scenes .section:nth-child(1) .col2 .title a{font-size:13px;}
.col2.tripart .image_wrapper{padding-top: 44.5%;}
.col2.tripart .contents_wrapper{padding-top: 27.8%;}
.col2.tripart.sixty {width: 66.666666%;}   
.col2.tripart.sixty .image_wrapper{padding-top: 53.4%; width: 100%;}
.col2.tripart.sixty .contents_wrapper{padding-top:20.6%; width: 100%;}
.col2.tripart.sixty .building-block-padding{padding: 2%;}
.col2.tripart.sixty .contents_wrapper .inner{padding: 2%;}
.col2.tripart.sixty .content_info .title a{font-size: 16px;}
.col2.tripart.sixty .content_info .desc-sizer .desc{display: block; padding-top: 4px;}  
footer{padding-top: 40px; padding-bottom: 30px;}
footer span{margin-top: 15px; margin-bottom: 25px;}
footer .social{margin-top: 0;}
footer .social li+li{margin-left: 47px;}
footer .social li a{
    display: block; width: 48px; height: 48px;
    text-indent: -9999px;
    background: url(../images/social.png)no-repeat;
    background-size: 700% auto; opacity: 0.4;
}
footer .social li a:hover{opacity: 1;}
footer .social li:nth-child(2) a{background-position: -48px 0;}
footer .social li:nth-child(3) a{background-position: -96px 0;}
footer .social li:nth-child(4) a{background-position: -144px 0;}
footer .social li:nth-child(5) a{background-position: -192px 0;}
footer .social li:nth-child(6) a{background-position: -240px 0;}
footer .help{width: 650px;}
footer .help .copyright{margin-top: 15px; margin-bottom: 8px;}
}
/*720px이상 819px이하  2번째   */
@media screen and (min-width:900px) and (max-width:1024px){
.first{display: none;}
.thirdtofourth{display: none;}
.twice{
    display: block;
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0; 
    width: 100%; height: 130px; 
    overflow: hidden;
    box-sizing: border-box;
    z-index: 500;
}
.twice header{height: 60px; background-color:#222222; border-bottom: 1px solid #333;}
.twice .top .twice_logo{
    width: 330px; height: 38px;
    position: absolute;
    background: url(../images/logo_720-819_2.png)no-repeat;
    background-size: 100%;
    display: block; text-align: center;
    top: 50%; left:50%;
    transform:translate(-50%,-50%);
    vertical-align: middle;
    z-index:600;
}
.twice .top .linkright{height: 60px; max-width: 1024px;}
.twice .top .link{position: absolute; top: 14px; left: 15px;}
.twice .link .social li a{transition: all 0.2s ease-in;opacity: 0.5;}
.twice .link .social li:nth-child(1):hover a{transform: scale(1); opacity: 1;}
.twice .link .social li:nth-child(2):hover a{transform: scale(1); opacity: 1;}
.twice .link .social li:nth-child(3):hover a{transform: scale(1); opacity: 1;}
.twice .link .social li:nth-child(4):hover a{transform: scale(1); opacity: 1;}
.twice .link .social li:nth-child(5):hover a{transform: scale(1); opacity: 1;}
.twice .link .social li:nth-child(6):hover a{transform: scale(1); opacity: 1;}
.twice .right .search{box-sizing: border-box; position: relative; width: 205px; height: 20px;}
.twice .right .search .search_icon{
    background-position: 0 -60px;
    width: 60px; height: 60px;
    top: -15px; right:3px;
    margin-right: -18px;
    opacity: 0.5; transition: all opacity 0.2s;
}
.twice .right .search .search_icon:hover{opacity: 1;}
.twice .right .login{position: absolute; top: 0px;text-align: left;}
.twice .right .login *{color: #aaa;}
.twice .right .login p{color: rgba(170,170,170,0.5);}
.twice .right .login a{transition:color 0.2s; font-size: 16px;}
.twice .right .login a:hover{border-bottom: none; color: white;}
.twice nav{top: 64px;}
.twice nav li p{font-size:12px; color: #aaa; margin: -5px 0 5px}
/*================ main ================*/
.col2 .image_wrapper{padding-top: 55.5%;}
.col2 .contents_wrapper{padding-top: 17.6%;}
main{padding-top: 120px;}
.col2 .content_info .title a {font-size: 14px; line-height: 16px;}   
.row1 .content_info a{line-height: 16px; font-size: 14px;}
.row1 .content_info .desc-sizer .desc{display: none;}
.col2.tripart .image_wrapper{padding-top: 47.5%;}
.col2.tripart .contents_wrapper{padding-top: 24.9%;}
.col2.tripart.sixty {width: 66.666666%;}   
.col2.tripart.sixty .image_wrapper{padding-top: 53.4%; width: 100%;}
.col2.tripart.sixty .contents_wrapper{padding-top:20.6%; width: 100%;}
.col2.tripart.sixty .building-block-padding{padding: 2%;}
.col2.tripart.sixty .contents_wrapper .inner{padding: 2%;}
.col2.tripart.sixty .content_info .title a{font-size: 16px;}
.col2.tripart.sixty .content_info .desc-sizer .desc{display: block; padding-top: 4px;}  
.scenes .section:nth-child(1) .col2 .desc{display: none}
/*================ footer ================*/
footer{padding-top: 40px; padding-bottom: 30px;}
footer span{margin-top: 15px; margin-bottom: 25px;}
footer .social{margin-top: 0;}
footer .social li+li{margin-left: 47px;}
footer .social li a{
    display: block; width: 48px; height: 48px;
    text-indent: -9999px;
    background: url(../images/social.png)no-repeat;
    background-size: 700% auto; opacity: 0.4;
}
footer .social li a:hover{opacity: 1;}
footer .social li:nth-child(2) a{background-position: -48px 0;}
footer .social li:nth-child(3) a{background-position: -96px 0;}
footer .social li:nth-child(4) a{background-position: -144px 0;}
footer .social li:nth-child(5) a{background-position: -192px 0;}
footer .social li:nth-child(6) a{background-position: -240px 0;}
footer .help{width: 650px;}
footer .help .copyright{margin-top: 15px; margin-bottom: 8px;}
}
@media screen and (min-width:1025px) {
}