@charset "utf-8";
/* CSS Document */

html {-webkit-text-size-adjust: none;}
html, body{width:100%; height:100%; margin:0; padding:0; font-family:'Noto Sans KR','notokr-regular','맑은고딕','Malgun Gothic','나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; font-weight:normal;}
body,div,p,span,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,a,button,select,iframe{margin:0; padding:0; font-weight:normal;}
fieldset,iframe {border:0 none;}
img{border:0px;}
dl,ul,ol,li,dl,dl dt,dl dd,form{margin:0; padding:0; list-style:none;}
li,li img,dt img,dd img,td img,p img {/*vertical-align:top;*/ margin:0; padding:0; list-style:none;}
caption,hr,legend{position:absolute; top:-500px; left::-10000px; width:0; height:0; margin:0; padding:0; display:none; visibility:hidden; overflow:hidden; line-height:0; font:0/0 Arial;}

table {border-collapse:collapse;}
table,tr,td,th,thead,tbody,tfoot{border-collapse:collapse; border-spacing:0; border:0; margin:0; padding:0; font-family:'Noto Sans KR','notokr-regular','맑은고딕','Malgun Gothic','나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif; font-weight:normal;}
input,textarea,select,body,th,td{color:#000; font-size:12px;}
button{margin:0; padding:0; background:none; border:none; border-radius:0; outline:none;  -moz-appearance:none; appearance:none}
input {color:#888; overflow:visible; vertical-align:middle;}
input[type=text]{border:1px solid #cacaca; font-family:'Noto Sans KR','notokr-regular','맑은고딕','Malgun Gothic','나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;}
input[type=checkbox]{border:none !important}
select/*,label*/{padding:4px 2px; margin:0; vertical-align:middle; font-size:12px; letter-spacing:-1px;}
em,address {font-style:normal;}
textarea {vertical-align:top; margin:0; padding:3px; font-family:'Noto Sans KR','notokr-regular','맑은고딕','Malgun Gothic','나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif;}
article,aside,canvas,details,figcaption,figure, footer,header,hgroup,menu,nav,section,summary {display:block;}
option{padding:0;}
a{cursor:pointer;}
a,a:link,a:hover,a:visited,a:active{text-decoration:none; border:0;}


/*bootstrap.css 버튼제어*/
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus {outline: none; outline: none !important; outline-offset: -2px;}
.btn:active,.btn.active {outline: 0; -webkit-box-shadow:none !important; box-shadow:none !important;}



/*말줄임표 */
.ellipsis{text-overflow: ellipsis; -o-text-overflow: ellipsis; overflow: hidden; white-space: nowrap; word-wrap: normal !important;}



#wrap{width:100%; min-width:1100px; display:block; margin: 0px auto;}
#header{display:block;}
#container{}
#footer{position:relative; padding-top:60px; padding-bottom:60px; display:block; border-top:1px solid #e8e8e8;}


/*상단*/
/* h1{width: 1080px; margin: 0 auto; padding-top: 17px; text-align: left; display: block;} */
.navi{position:fixed; width:100%; height: 85px; display: block; margin:0 auto; z-index:200; clear: both;}
.navi_ara{width:100%; margin: 0px auto;  display: block;}
.navi_ara_bg{background: #1d272d;}/*플로팅시 나타나는 배경컬러*/

.navi_ara h1 p{position: absolute; width: 140px; z-index: 200;}


	
/*menu*/
.menu{position: absolute; top: 0px; display: block; width: 100%; height: 84px; border-bottom: 1px solid #7c7c7c;}

.menu_ara{width: 1080px;  margin: 0 auto; text-align: right; display: block;}
.menu_ara .h2{display: inline-block; display: none/* 히든 처리(추후 다시 사용할 수 있음) */;  }
.menu_ara .h2 a{display: block; padding: 30px 40px; font-size:16px; color:#fff; letter-spacing: -1px;}

.menu_sub{width: 100%; background:#fff;}
.menu_sub ul{width: 1080px; margin: 0 auto;}
.menu_sub li{width:52%; padding-right:2%; display: inline-block; text-align: right;}
.menu_sub li:first-child{width:44%; padding-right:0px;  text-align: left;}
.menu_sub .h3{display: inline-block;}
.menu_sub .h3 a{display: block; padding:20px 35px; font-size:14px; color:#737373; letter-spacing: -1px; background:url(http://img.direct-carbohum.com/adinsu/ov5/common/blt_navi_line.gif) left center no-repeat;}
.menu_sub li .h3:first-child a{background:none !important;}

.menu_ara .on a,.menu_ara .h2 a:hover{background: #fff; color: #2db068 !important;}
.menu_sub .on a,.menu_sub .h3 a:hover{color: #2db068 !important; text-decoration: underline;}

.menu_ad{padding:20px 0px 20px 110px; font-size: 16px; color: #494848; letter-spacing: -1px; background: url(http://img.direct-carbohum.com/adinsu/ov5/common/img_ad.png) left bottom no-repeat;}

/*menu : 무료비교견적신청버튼*/
.btn_request{float: right;  /*height:40px;*/ margin-top: 17px; margin-left: 40px; line-height:40px; display: inline-block;} 
.btn_request a,.btn_request a:hover {display: block; padding: 0px 30px; color:#083f01; font-size:16px; letter-spacing: -1px; border-radius:25px; -moz-border-radius:25px; -webkit-border-radius:25px; background-color:#ccff51; box-sizing:border-box;}
.btn_request span{font-weight:600; /*vertical-align: middle;*/}
.btn_request .img{margin-right: 5px; vertical-align: -5px;}
.btn_request .text{line-height: 45px;}


/*table*/
table{width: 100%; border-top: 1px solid #1d272d; border-bottom: 1px solid #1d272d;}
table thead th{padding:15px 10px; border-bottom: 1px solid #dfdfdf; text-align: center; font-size: 14px; font-weight:500;}
table tbody td{padding:15px 20px; border-bottom: 1px solid #dfdfdf;  text-align: left; font-size:15px; }
table tbody tr:last-child td{border-bottom:none;}


/*board_list*/
.board_list{table-layout:fixed; width: 100%; border-top: 1px solid #1d272d; border-bottom: 1px solid #1d272d;}
.board_list thead th{padding:15px 10px; border-bottom: 1px solid #dfdfdf; text-align: center; font-size: 14px; font-weight:500;}
.board_list tbody td{padding:15px 20px; border-bottom: 1px solid #dfdfdf;  text-align: left; font-size:15px; color: #000;}
.board_list tbody tr:last-child td{border-bottom:none;}
.board_list tbody tr:hover {background-color: #f7f7f7;} 
.board_list tbody .num,.board_list tbody .date{padding-left:0px; padding-right:0px; text-align:center; font-size:12px; color: #b2b2b2;}
.board_list tbody .tit p{display: block; color: #000; letter-spacing: -1px;}
.board_list tbody .tit a{color: #000;}
.board_list tbody .tit a:hover{text-decoration: underline;}



/*board_info*/
.board_info{width: 100%; display:inline-block; clear: both;}
.board_info li{float: left; display:inline-block; padding-right:37px; /*padding-bottom:80px;*/}
/*.board_info li.last,*/.board_info li:nth-child(4n+4){padding-right:0px;}
.board_info .board_info_ara{width:242px; display: block; letter-spacing: -1px;}
.board_info .img{width:240px; height:140px; border:1px solid #dfdfdf; background: #dfdfdf;}
.board_info .img img{width:100%; height: 100%;}
.board_info .tit{margin-top:20px; height: 50px; overflow-y: hidden;  font-size: 18px; color: #000; line-height:23px; word-break:break-all;}
.board_info .txt{margin-top:10px; height: 40px; overflow-y: hidden;  font-size: 13px; color: #999; line-height:19px; word-break:break-all;}
.board_info .txt a{color: #999;}
.board_info .hits{display: block; margin-top:12px; text-align: right; font-size: 12px; color: #b2b2b2;}
.board_info li a:hover .img{width:238px; height:138px; border:2px solid #5cc560; /*box-sizing:border-box;*/}
.board_info li a:hover .tit{text-decoration: underline;}

	
	
/*board_view*/
.board_view{table-layout:fixed; width: 100%; border-top: 1px solid #1d272d; border-bottom: none;}
.board_view thead th{padding:20px 30px 0px; text-align: center; font-size:20px; font-weight:500; color: #000; border-bottom:none;}
.board_view thead td{padding:6px 30px; text-align: right; font-size:12px; color: #b2b2b2; border-bottom: 1px solid #dfdfdf; }
.board_view tbody td{border-bottom: 1px solid #1d272d;}
.board_view tbody .view{padding: 50px 30px 30px; text-align: left;}
.board_view tbody .view_ara{/*position: relative; width: 100%; */font-size: 14px; line-height: 22px; color: #666666; clear: both;}
.board_view tbody .view_ara a{color: #000;}
.board_view tbody .view_ara a:hover{text-decoration: underline;}
.board_view tbody .sns{position: relative; width: 100%; padding-top: 80px; display: block; clear: both; text-align: right;}
.board_view tbody .sns span{margin-left: 3px;}
.board_view tbody tr{border-bottom: 1px solid #1d272d;}
.board_view tfoot th{padding:15px 20px; font-size: 14px; color: #b5bcc0; border-bottom: 1px solid #dfdfdf;}
.board_view tfoot td{padding:15px 20px; border-bottom: 1px solid #dfdfdf;}
.board_view tfoot td a{font-size: 14px; color: #999999;}
.board_view tfoot td a:hover{text-decoration: underline;}
.board_view tfoot .next{padding-left: 25px; background: url(http://img.direct-carbohum.com/adinsu/ov5/sub/blt_naxt.png) left center no-repeat;}
.board_view tfoot .prve{padding-left: 25px; background: url(http://img.direct-carbohum.com/adinsu/ov5/sub/blt_prev.png) left center no-repeat;}




/*board_btn*/
.board_btn{width: 100%; isplay: block; text-align: center;}
.btn_list{text-align:center; clear: both; margin-top: 30px;}
.btn_list a{width:20%; display: inline-block; padding: 15px 0px; font-size: 16px; color: #fff; background: #5cc560; transition: all 0.3s;}
.btn_list a:hover{background:#1d272d;}



/*paging*/
.paging{margin-top: 30px; display: block; text-align: center;}
.paging span{padding:0px 1px;}
.paging a{min-width: 32px; padding:7px 8px; display: inline-block; font-size:12px; color: #b2b2b2; text-align: center; box-sizing: border-box; border: 1px solid #dfdfdf; vertical-align: middle;}
.paging a:hover,.paging a.on{color: #fff; border: 1px solid #99a1a6; background: #99a1a6;}

.paging .first a{width: 34px; height:33px; background: url(http://img.direct-carbohum.com/adinsu/ov5/sub/btn_first.png) center center no-repeat;}
.paging .prev a{width: 34px; height:33px; background: url(http://img.direct-carbohum.com/adinsu/ov5/sub/btn_prev.png) center center no-repeat;}
.paging .next a{width: 34px; height:33px; background: url(http://img.direct-carbohum.com/adinsu/ov5/sub/btn_next.png) center center no-repeat;}
.paging .end a{width: 34px; height:33px; background: url(http://img.direct-carbohum.com/adinsu/ov5/sub/btn_end.png) center center no-repeat;}



/*form*/
.calc_form .form .name{width: 176px;}
.calc_form .form .name input[type=text]{ width: 156px;}
.calc_form.form .place{width: 176px;}

.form{width: 100%; display:inline-block;}
.form p{display:inline-block; text-align: center;}
.form .name{width:26%;}

.form .phone{position: relative; width:47%;  padding-left: 4px; padding-right: 1px;}
.form .phone .select{position: absolute; left: 10px; top:2px;}
.form .inpt_phone{width:59%; padding-left: 35%;}
.form .phone .sel_number{width:100px;  height: 38px;}

.form .place{width:26%; text-align: right;}
.form .place .select{border: 1px solid #bebebe;}
.form .place .select label{position:absolute; padding-top:8px; font-size:16px; color:#000; top:0px; left:7px; display: block;}
.form .place .sel_place{width:100%; height: 40px;}

		/*select 공통*/
.form select{/* width: 200px;*/ font-size:16px; letter-spacing:-1px; box-sizing:border-box; -webkit-appearance:none; background:url(http://img.direct-carbohum.com/adinsu/ov5/common/arr_select.png) no-repeat right center #fff; background-size:25px;}
.select{position:relative; display:block; background: url(http://img.direct-carbohum.com/adinsu/ov5/common/arr_select.png) right center no-repeat #fff; /*border: 1px solid #ccc;*/}
.select label{position:absolute; padding-top:8px; font-size:16px; color:#000; top:0; left:7px;}
.select select{/*width:100%; height:45px; min-height:45px; line-height:45px;padding:2px 0px 2px 10px; */opacity:0; filter:alpha(opacity=0); /* IE 8 */}
.select select option{font-size:16px; letter-spacing:-1px}
.select{/*height:43px; line-height:43px*/}
:root .select{background-position:90% 40% \0/IE9}

		/*input 공통*/
input[type=text]{outline:none; vertical-align:middle; height:40px; font-size:15px; border:1px solid #bebebe; margin:0; padding:0 10px; transition:border-color 0.2s;}
input[type=text]:focus{height:38px; border:2px solid #4aba4e; color:#1d272d;}
input[type=text]:checked{height:38px; border:2px solid #4aba4e; color:#1d272d;}

input:focus::-webkit-input-placeholder{ /* WebKit browsers */ color:transparent; letter-spacing:-0.5px;}
input:focus:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */ color:transparent; letter-spacing:-0.5px;}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; letter-spacing:-0.5px;}
input:focus:-ms-input-placeholder{ /* Internet Explorer 10+ */ color:transparent; letter-spacing:-0.5px;}

::-webkit-input-placeholder { /* Chrome */ color: #969696; letter-spacing:-0.5px;}
:-ms-input-placeholder { /* IE 10+ */ color: #969696; letter-spacing:-0.5px;}
::-moz-placeholder { /* Firefox 19+ */ color: #969696; opacity: 1; letter-spacing:-0.5px;}
:-moz-placeholder { /* Firefox 4 - 18 */ color: #969696; opacity: 1; letter-spacing:-0.5px;}
input[type=text]::-ms-clear{display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {display: none; width : 0; height: 0; }

input[type=text]:-ms-clear{display: none; width : 0; height: 0; }
input[type=text]:-ms-reveal {display: none; width : 0; height: 0; }

		/* checkbox 공통 */
.prvy{position: relative; text-align: center; display: block;}
.prvy label {padding-top:10px; padding-bottom:10px; cursor:pointer; font-size: 13px; color: #666; letter-spacing: -1px; display:inline-block;}
.prvy label .chk{display:inline-block; width:28px; height:17px; background:url(http://img.direct-carbohum.com/adinsu/ov5/common/chk_rio.png) left top no-repeat; background-position:0px 0px; vertical-align:-3px; /*margin-right: 5px;*/}
.prvy label input[type=checkbox]{display:none;}
.prvy label input[type=checkbox]:checked + .chk{background-position:0px -36px;}
.prvy .prvy_view{margin-left: 10px; padding:2px 8px; color:#FFF; background: #999999;}



/*레이어*/
#layer{top:10px !important;}
.layer_realt_cal .ly_visual{background: url(http://img.direct-carbohum.com/adinsu/ov5/common/layer_realt_visual.png) left top no-repeat !important;}
.layer_realt_cal .ly_form input[type=text]{border:2px solid #bebebe !important;}
.layer_realt_cal .ly_form input[type=text]:focus{ border:2px solid #4aba4e !important;}
.layer_realt_cal .ly_form input[type=text]:checked{border:2px solid #4aba4e !important;}
.layer_realt_cal .ly_form .ly_place .ly_select label{padding-top: 5px !important;}
.layer_ara .layer_ad{ display: block; margin-bottom: 10px;}


/*푸터*/
#footer h1{top: 60px; width: auto; position: absolute; padding-top: 0px;}
.footer_ara{width:1080px; margin:0px auto;}
.footer_link{margin-left:130px; font-size:16px; line-height: 27px;}
.footer_link a{display:inline-block; padding-left:29px; padding-right:20px; color:#000; text-decoration: none; background:url(http://img.direct-carbohum.com/adinsu/ov5/common/blt_footer.png) left center no-repeat;}
.footer_link a:first-child{background: none;}
.footer_link a span{font-size: 18px; font-weight: 500; vertical-align: -1px;}

.address{display: block; margin-top:30px; font-size: 12px; line-height: 23px; color: #999;}
/*.address .add span{margin-right:5px; margin-left:10px;}*/
.address a{font-size: 12px; line-height: 21px; color: #999; text-decoration: underline;}


/* 20220118 수정 */
.ly_container input  { overflow: visible; width: 100%; height: 53px; padding: 0 15px; font-size: 16px; color: #3E3E3E; border: none; outline: none; box-sizing: border-box;}
.calc_form .prvy_txt { display: none;}