.clean_report{font-size:1.7rem;padding:50px 0 300px}
.clean_report .center_img{text-align:center;line-height:0;width:100%;border-bottom:1px solid #ccc}
.clean_report .clean_cont ul{width:100%;font-size:0;padding:100px 0}
.clean_report .clean_cont ul li{width:33.33%;font-size:1.8rem;display:inline-block;vertical-align:top;text-align:center;line-height:100%;-webkit-box-sizing:border-box;box-sizing:border-box}
.clean_report .clean_cont ul li img{width:67px;padding-bottom:50px}
.clean_report .clean_cont ul li p{line-height:26px}
.clean_report .clean_cont ul li p span{font-weight:700}
.clean_report .clean_cont .report_bottom{text-align:center;font-size:0;line-height:1}
.clean_report .clean_cont .report_bottom .report_btn div{font-size:1.8rem;display:inline-block;width:200px;height:45px;line-height:45px;border:1px solid #fd7116;color:#fd7116;font-weight:500;margin-bottom:30px}
.clean_report .clean_cont .report_bottom .report_btn div a{display:block}
.clean_report .clean_cont .report_bottom .report_btn div:hover{background:#fd7116;color:#fff}
.clean_report .clean_cont .report_bottom .report_btn div:first-child{margin-right:10px}
.clean_report .clean_cont .report_bottom .report_txt{font-size:1.6rem;line-height:22px}
.clean_report .clean_cont .report_bottom .report_txt span{color:#fd7116;font-weight:700}


@media screen and (min-width:801px) and (max-width:1280px){
    .clean_report{padding:50px 0 150px}
    .clean_report .clean_cont ul{padding:50px 0}
    .clean_report .clean_cont ul li{font-size:1.7rem}
    .clean_report .clean_cont ul li img{width:50px;padding-bottom:30px}
    .clean_report .clean_cont .report_bottom .report_btn div{font-size:1.6rem}
}
@media screen and (max-width:800px){
    .clean_report{padding:55px 0 100px}
    .clean_report .center_img img{width:70%;text-align:center}
    .clean_report .clean_cont ul{padding:30px 0}
    .clean_report .clean_cont ul li{width:70%;display:block;margin:0 auto 20px;font-size:1.6rem}
    .clean_report .clean_cont ul li img{width:35px;padding:20px 0}
    .clean_report .clean_cont ul li p{line-height:24px}
    .clean_report .clean_cont ul li p br{display:none}
    .clean_report .clean_cont .report_bottom .report_btn div{font-size:1.4rem;width:100px;height:30px;line-height:30px}
    .clean_report .clean_cont .report_bottom .report_txt{font-size:1.4rem}
}