.btn-box {
  display: inline-block;
  width: 50%;
  text-align: right;
  font-size: 0;
}
.btn-box button, .btn-box a {
  padding: 0 8px;
  border-radius: 4px;
  background-color: #5e9b7c;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #fff;
  line-height: 25px;
  margin-left: 5px;
}

.btn-box .refrash_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.btn-box .refrash_spin {
  -webkit-animation: 1.5s linear infinite;
  animation: 1.5s linear infinite;
}
.btn-box .excel-btn,
.btn-box .search__reset-btn {
  background-color: #ddd;
}
.account {
  position: relative;
  font-size: 0;
}
.account .search__box {  
  width: 100%;
  font-size: 0;
}
.account .search__box select {
  width: calc((100% - 10px) / 2);
  height: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.account .search__box select + select {
  margin-left: 10px;
}



input, select {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[type="checkbox"], select[type="checkbox"] {
  padding: 0 15px;
}
select:focus {
  border: 1px solid #5e9b7c;
}



/* notice_wrap */
.notice__wrap {
  margin: 0 0 10px 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.notice__wrap .notice__title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  color: #222;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.notice__wrap .notice__text {
  /* white-space:pre-line; */
  padding-top: 7px;
}
.notice__wrap .notice__text ul li {
  position: relative;
  padding-left: 15px;
  font-size: 0.9rem;
  line-height: 20px;
  white-space: pre-line;
}
.notice__wrap .notice__text ul li:before {
  content: "-";
  position: absolute;
  left: 0;
}
.notice__wrap .notice__text ul li + li {
  margin-top: 7px;
}
.notice__wrap .notice__text ul em {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  color: #777;
}
.notice__wrap .notice__text ul b {
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  color: #222;
}

.table__section {
  margin-top: 20px;
}
.table__section .table__wrap {
  margin-top: 0;
}
.table__section .table__wrap .help-mark {
  position: relative;
  cursor: pointer;
  color: #666;
  padding-left: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.table__section .table__wrap .help-mark:hover > .question-box {
  display: block;
}
.table__section .table__wrap .help-mark .question-box {
  display: none;
  width: 200px;
  padding: 10px;
  background-color: #5e9b7c;
  border-radius: 5px;
  position: absolute;
  top: 25px;
  right: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  color: #fff;
  text-align: left;
  white-space: normal !important;
  -webkit-box-shadow: 0 0 4px #aaa;
  box-shadow: 0 0 4px #aaa;
}

/* table_wrap  테*/
.table__wrap {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  font-size: 0;
}
.table__wrap .table__scroll-box {
  overflow-x: auto;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.table__wrap .table__scroll-box table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.table__wrap .table__scroll-box table tr {
  border-bottom: 1px solid rgba(60, 60, 60, 0.1);
}
.table__wrap .table__scroll-box table tr th {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #6a6a6c;
  white-space: nowrap;
  height: 60px;
  padding: 10px 20px;
}
.table__wrap .table__scroll-box table tr td {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #222;
  white-space: nowrap;
  padding: 5px 10px;
}
.table__wrap .table__scroll-box table tr td button {
  padding: 0 10px;
  line-height: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.85rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 3px;
}
.table__wrap .table__scroll-box table tr td button:hover {
  color: #fff;
  border: 1px solid #5e9b7c;
  border-radius: 5px;
  background-color: #5e9b7c;
  cursor: pointer;
}
.table__wrap .table__scroll-box table tbody > tr {
  height: 70px;
}
.table__wrap .table__scroll-box table tbody > tr:hover {
  background-color: #f6fcfb;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}
.table__wrap .table__scroll-box table tbody > tr:last-child {
  border-bottom: none;
}
.table__wrap .table__scroll-box table tbody > tr .campaign-name,
.table__wrap .table__scroll-box table tbody > tr .dashboard_pd_name {
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table__wrap .table__scroll-box table tbody > tr .campaign-name p {
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 반응형 */
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 1023px) {
}
@media (min-width: 1024px) and (max-width: 1439px) {
}
@media (min-width: 1440px) {
}
