@charset "utf-8";

/* icon font */
@font-face {
    font-family: 'icorich';
    font-style: normal;
    font-weight: 500;
    src: local('../font/ico_rich'), local('../font/ico_rich'), local('../font/ico_rich');
    src: url(../font/ico_rich.eot);
    src: url(../font/ico_rich.eot?#iefix) format('embedded-opentype'),
         url(../font/ico_rich.woff) format('woff'),
         url(../font/ico_rich.otf) format('truetype');
}

/* Spoqa Han Sans Neo */
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 700;
    src: local('../font/SpoqaHanSansNeo-Bold'), local('../font/SpoqaHanSansNeo-Bold'), local('../font/SpoqaHanSansNeo-Bold');
    src: url(../font/SpoqaHanSansNeo-Bold.eot);
    src: url(../font/SpoqaHanSansNeo-Bold.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Bold.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Bold.otf) format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 600;
    src: local('../font/SpoqaHanSansNeo-Medium'), local('../font/SpoqaHanSansNeo-Medium'), local('../font/SpoqaHanSansNeo-Medium');
    src: url(../font/SpoqaHanSansNeo-Mesdium.eot);
    src: url(../font/SpoqaHanSansNeo-Medium.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Medium.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Medium.otf) format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 500;
    src: local('../font/SpoqaHanSansNeo-Regular'), local('../font/SpoqaHanSansNeo-Regular'), local('../font/SpoqaHanSansNeo-Regular');
    src: url(../font/SpoqaHanSansNeo-Regular.eot);
    src: url(../font/SpoqaHanSansNeo-Regular.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Regular.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Regular.otf) format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 300;
    src: local('../font/SpoqaHanSansNeo-Light'), local('../font/SpoqaHanSansNeo-Light'), local('../font/SpoqaHanSansNeo-Light');
    src: url(../font/SpoqaHanSansNeo-Light.eot);
    src: url(../font/SpoqaHanSansNeo-Light.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Light.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Light.otf) format('truetype');
}
@font-face {
    font-family: 'SpoqaHanSansNeo';
    font-style: normal;
    font-weight: 100;
    src: local('../font/SpoqaHanSansNeo-Thin'), local('../font/SpoqaHanSansNeo-Thin'), local('../font/SpoqaHanSansNeo-Thin');
    src: url(../font/SpoqaHanSansNeo-Thin.eot);
    src: url(../font/SpoqaHanSansNeo-Thin.eot?#iefix) format('embedded-opentype'),
         url(../font/SpoqaHanSansNeo-Thin.woff) format('woff'),
         url(../font/SpoqaHanSansNeo-Thin.otf) format('truetype');
}