@charset "utf-8";

/*
- theme setting -
1.메리츠화재		BA
2.한화손해보험		BC
3.DB손해보험		BE
4.현대해상전문센터 	 BG
5.흥국화재		    BI
6.MG손해보험		BK
7.동양생명		    BM
8.KB 손해보험		BO
9.흥국생명		    BQ
10.농협손해보험	    BS
*/

.sitecode-hover3    { border:1px solid #222; color:#222;}

.sitecode-BA .sitecode-color,
.sitecode-BA .sitecode-colorhover:hover{ color: #EF3B24 !important;}
.sitecode-BA .sitecode-border 		   { border-color: #EF3B24 !important;}
.sitecode-BA .sitecode-bg     		   { background-color: #EF3B24 !important;}
.sitecode-BA .sitecode-bg2     		   { background-color: #EF3B24 !important;}
.sitecode-BA .sitecode-bg2::after	   { background-color: #EF3B24 !important;}
.sitecode-BA .sitecode-bg3::before	   { background-color: #EF3B24 !important;}
.sitecode-BA .sitecode-hover1 		   { border: 1px solid #EF3B24;color:#EF3B24;}
.sitecode-BA .sitecode-hover1:hover    { background:#EF3B24; border: 1px solid #EF3B24;color:#fff;}
.sitecode-BA .sitecode-hover2 		   { background:#EF3B24; color:#fff;}
.sitecode-BA .sitecode-hover2:hover    { background:#000;}
.sitecode-BA .sitecode-hover3:hover    { border:1px solid #EF3B24; background-color: #EF3B24; color:#fff;}
.sitecode-BA .header-info-tel::before  { background-color: #EF3B24;}
.sitecode-BA .sitecode-st1 		       { background-color: #EF3B24; border-color: #EF3B24;}
.sitecode-BA .sitecode-st2 		       { border: 1px solid #EF3B24; color:#EF3B24;}
.sitecode-BA .header-logo .header-tit a{ background: url(../images/logo_sitecodeBA_dev.png) no-repeat; padding-left: 175px;}
.sitecode-BA .header-logo .header-tit a{ background: url(../images/logo_sitecodeBA_dev.png) no-repeat; padding-left: 175px;}
.sitecode-BA .footer__inner            { height: 52px; padding-top: 52px; background: url(../images/logo_sitecodeBA_footer.png) no-repeat;}

.sitecode-BC .sitecode-color,
.sitecode-BC .sitecode-colorhover:hover { color: #fb8c50 !important;}
.sitecode-BC .sitecode-border 			{ border-color: #fb8c50 !important;}
.sitecode-BC .sitecode-bg     			{ background-color: #fb8c50 !important;}
.sitecode-BC .sitecode-bg2     			{ background-color: #fb8c50 !important;}
.sitecode-BC .sitecode-bg2::after		{ background-color: #fb8c50 !important;}
.sitecode-BC .sitecode-bg3::before		{ background-color: #fb8c50 !important;}
.sitecode-BC .sitecode-hover1 			{ border: 1px solid #fb8c50;color:#fb8c50;}
.sitecode-BC .sitecode-hover1:hover 	{ background:#fb8c50; border: 1px solid #fb8c50;color:#fff;}
.sitecode-BC .sitecode-hover2 			{ background:#fb8c50; color:#fff;}
.sitecode-BC .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BC .sitecode-hover3:hover     { border:1px solid #fb8c50; background-color: #fb8c50; color:#fff;}
.sitecode-BC .header-info-tel::before   { background-color: #fb8c50;}
.sitecode-BC .sitecode-st1 		        { background-color: #fb8c50; border-color: #fb8c50;}
.sitecode-BC .sitecode-st2 		        { border: 1px solid #fb8c50; color:#fb8c50;}
.sitecode-BC .header-logo .header-tit a { background: url(../images/logo_sitecodeBC_dev.png) no-repeat; padding-left: 168px;}
.sitecode-BC .footer__inner             { width: 171px; height: 43px; padding-top: 43px; background: url(../images/logo_sitecodeBC_footer.png) no-repeat;}

.sitecode-BE .sitecode-color,
.sitecode-BE .sitecode-colorhover:hover { color: #1C9D53 !important;}
.sitecode-BE .sitecode-border 			{ border-color: #1C9D53 !important;}
.sitecode-BE .sitecode-bg     			{ background-color:#1C9D53;}
.sitecode-BE .sitecode-bg2     			{ background-color:#1C9D53;}
.sitecode-BE .sitecode-bg2::after  		{ background-color:#1C9D53;}
.sitecode-BE .sitecode-bg3::before  	{ background-color:#1C9D53;}
.sitecode-BE .sitecode-hover1	    	{ border: 1px solid #1C9D53; color:#1C9D53;}
.sitecode-BE .sitecode-hover1:hover 	{ background:#1C9D53; border: 1px solid #1C9D53;color:#fff;}
.sitecode-BE .sitecode-hover2	    	{ background:#1C9D53; color:#fff;}
.sitecode-BE .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BE .sitecode-hover3:hover     { border:1px solid #1C9D53; background-color: #1C9D53; color:#fff;}
.sitecode-BE .header-info-tel::before   { background-color: #1C9D53;}
.sitecode-BE .sitecode-st1 		        { background-color: #1C9D53; border-color: #1C9D53;}
.sitecode-BE .sitecode-st2 		        { border: 1px solid #1C9D53; color:#1C9D53;}
.sitecode-BE .header-logo .header-tit a { background: url(../images/logo_sitecodeBE_dev.png) no-repeat; padding-left: 162px;}
.sitecode-BE .footer__inner             { width: 176px; height: 51px; padding-top: 51px; background: url(../images/logo_sitecodeBE_footer.png) no-repeat;}

.sitecode-BG .sitecode-color,
.sitecode-BG .sitecode-colorhover:hover { color: #F18D00 !important;}
.sitecode-BG .sitecode-border 			{ border-color: #F18D00 !important;}
.sitecode-BG .sitecode-bg     			{ background-color:#F18D00;}
.sitecode-BG .sitecode-bg2     			{ background-color:#F18D00;}
.sitecode-BG .sitecode-bg2::after		{ background-color:#F18D00;}
.sitecode-BG .sitecode-bg3::before		{ background-color:#F18D00;}
.sitecode-BG .sitecode-hover1	    	{ border: 1px solid #F18D00; color:#F18D00;}
.sitecode-BG .sitecode-hover1:hover 	{ background:#F18D00; border: 1px solid #F18D00;color:#fff;}
.sitecode-BG .sitecode-hover2	    	{ background:#F18D00; color:#fff;}
.sitecode-BG .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BG .sitecode-hover3:hover     { border:1px solid #F18D00; background-color: #F18D00; color:#fff;}
.sitecode-BG .header-info-tel::before   { background-color: #F18D00;}
.sitecode-BG .sitecode-st1 		    	{ background-color: #F18D00; border-color: #F18D00;}
.sitecode-BG .sitecode-st2 		        { border: 1px solid #F18D00; color:#F18D00;}
.sitecode-BG .header-logo .header-tit a { background: url(../images/logo_sitecodeBG_dev.png) no-repeat; padding-left: 152px;}
.sitecode-BG .footer__inner             { width: 169px; height: 34px; padding-top: 34px; background: url(../images/logo_sitecodeBG_footer.png) no-repeat;}

.sitecode-BI .sitecode-color,
.sitecode-BI .sitecode-colorhover:hover { color: #fa5e99 !important;}
.sitecode-BI .sitecode-border 			{ border-color: #fa5e99 !important;}
.sitecode-BI .sitecode-bg     			{ background-color:#fa5e99;}
.sitecode-BI .sitecode-bg2     			{ background-color:#fa5e99;}
.sitecode-BI .sitecode-bg2::after		{ background-color:#fa5e99;}
.sitecode-BI .sitecode-bg3::before		{ background-color:#fa5e99;}
.sitecode-BI .sitecode-hover1	    	{ border: 1px solid #fa5e99; color:#fa5e99;}
.sitecode-BI .sitecode-hover1:hover 	{ background:#fa5e99; border: 1px solid #fa5e99;color:#fff;}
.sitecode-BI .sitecode-hover2	    	{ background:#fa5e99; color:#fff;}
.sitecode-BI .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BI .sitecode-hover3:hover     { border:1px solid #fa5e99; background-color: #fa5e99; color:#fff;}
.sitecode-BI .header-info-tel::before   { background-color: #fa5e99;}
.sitecode-BI .sitecode-st1 		    	{ background-color: #fa5e99; border-color: #fa5e99;}
.sitecode-BI .sitecode-st2 		        { border: 1px solid #fa5e99; color:#fa5e99;}
.sitecode-BI .header-logo .header-tit a { background: url(../images/logo_sitecodeBI_dev.png) no-repeat; padding-left: 148px;}
.sitecode-BI .footer__inner             { width: 176px; height: 32px; padding-top: 32px; background: url(../images/logo_sitecodeBI_footer.png) no-repeat;}

.sitecode-BK .sitecode-color,
.sitecode-BK .sitecode-colorhover:hover { color: #0c98e1 !important;}
.sitecode-BK .sitecode-border 			{ border-color: #0c98e1 !important;}
.sitecode-BK .sitecode-bg     			{ background-color:#0c98e1;}
.sitecode-BK .sitecode-bg2     			{ background-color:#0c98e1;}
.sitecode-BK .sitecode-bg2::after		{ background-color:#0c98e1;}
.sitecode-BK .sitecode-bg3::before		{ background-color:#0c98e1;}
.sitecode-BK .sitecode-hover1	    	{ border: 1px solid #0c98e1; color:#0c98e1;}
.sitecode-BK .sitecode-hover1:hover 	{ background:#0c98e1; border: 1px solid #0c98e1;color:#fff;}
.sitecode-BK .sitecode-hover2	    	{ background:#0c98e1; color:#fff;}
.sitecode-BK .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BK .sitecode-hover3:hover     { border:1px solid #0c98e1; background-color: #0c98e1; color:#fff;}
.sitecode-BK .header-info-tel::before   { background-color:#0c98e1;}
.sitecode-BK .sitecode-st1 		        { background-color: #0c98e1; border-color: #0c98e1;}
.sitecode-BK .sitecode-st2 		        { border: 1px solid #0c98e1; color:#0c98e1;}
.sitecode-BK .header-logo .header-tit a { background: url(../images/logo_sitecodeBK_dev.png) no-repeat; padding-left: 170px;}
.sitecode-BK .footer__inner             { width: 175px; height: 42px; padding-top: 42px; background: url(../images/logo_sitecodeBK_footer.png) no-repeat;}

.sitecode-BM .sitecode-color,
.sitecode-BM .sitecode-colorhover:hover { color: #00b4ff !important;}
.sitecode-BM .sitecode-border 			{ border-color: #00b4ff !important;}
.sitecode-BM .sitecode-bg     			{ background-color:#00b4ff;}
.sitecode-BM .sitecode-bg2     			{ background-color:#00b4ff;}
.sitecode-BM .sitecode-bg2::after		{ background-color:#00b4ff;}
.sitecode-BM .sitecode-bg3::before		{ background-color:#00b4ff;}
.sitecode-BM .sitecode-hover1	    	{ border: 1px solid #00b4ff; color:#00b4ff;}
.sitecode-BM .sitecode-hover1:hover 	{ background:#00b4ff; border: 1px solid #00b4ff;color:#fff;}
.sitecode-BM .sitecode-hover2	    	{ background:#00b4ff; color:#fff;}
.sitecode-BM .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BM .sitecode-hover3:hover     { border:1px solid #00b4ff; background-color: #00b4ff; color:#fff;}
.sitecode-BM .header-info-tel::before   { background-color: #00b4ff;}
.sitecode-BM .sitecode-st1 		    	{ background-color: #00b4ff; border-color: #00b4ff;}
.sitecode-BM .sitecode-st2 		        { border: 1px solid #00b4ff; color:#00b4ff;}
.sitecode-BM .header-logo .header-tit a { background: url(../images/logo_sitecodeBM_dev.png) no-repeat; padding-left: 165px;}
.sitecode-BM .footer__inner             { width: 186px; height: 43px; padding-top: 43px; background: url(../images/logo_sitecodeBM_footer.png) no-repeat;}

.sitecode-BO .sitecode-color,
.sitecode-BO .sitecode-colorhover:hover { color: #ffa900 !important;}
.sitecode-BO .sitecode-border 			{ border-color: #ffa900 !important;}
.sitecode-BO .sitecode-bg     			{ background-color:#ffa900;}
.sitecode-BO .sitecode-bg2     			{ background-color:#ffa900;}
.sitecode-BO .sitecode-bg2::after		{ background-color:#ffa900;}
.sitecode-BO .sitecode-bg3::before		{ background-color:#ffa900;}
.sitecode-BO .sitecode-hover1	    	{ border: 1px solid #ffa900; color:#ffa900;}
.sitecode-BO .sitecode-hover1:hover 	{ background:#ffa900; border: 1px solid #ffa900;color:#fff;}
.sitecode-BO .sitecode-hover2	    	{ background:#ffa900; color:#fff;}
.sitecode-BO .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BO .sitecode-hover3:hover     { border:1px solid #ffa900; background-color: #ffa900; color:#fff;}
.sitecode-BO .header-info-tel::before   { background-color: #ffa900;}
.sitecode-BO .sitecode-st1 		        { background-color: #ffa900; border-color: #ffa900;}
.sitecode-BO .sitecode-st2 		        { border: 1px solid #ffa900; color:#ffa900;}
.sitecode-BO .header-logo .header-tit a { background: url(../images/logo_sitecodeBO_dev.png) no-repeat; padding-left: 168px;}
.sitecode-BO .footer__inner             { height: 20px; padding-top: 20px; background: url(../images/logo_sitecodeBO_footer.png) no-repeat;}

.sitecode-BQ .sitecode-color,
.sitecode-BQ .sitecode-colorhover:hover { color: #6d4cb9 !important;}
.sitecode-BQ .sitecode-border 			{ border-color: #6d4cb9 !important;}
.sitecode-BQ .sitecode-bg     			{ background-color:#6d4cb9;}
.sitecode-BQ .sitecode-bg2     			{ background-color:#6d4cb9;}
.sitecode-BQ .sitecode-bg2::after		{ background-color:#6d4cb9;}
.sitecode-BQ .sitecode-bg3::before		{ background-color:#6d4cb9;}
.sitecode-BQ .sitecode-hover1	    	{ border: 1px solid #6d4cb9; color:#6d4cb9;}
.sitecode-BQ .sitecode-hover1:hover 	{ background:#6d4cb9; border: 1px solid #6d4cb9;color:#fff;}
.sitecode-BQ .sitecode-hover2	    	{ background:#6d4cb9; color:#fff;}
.sitecode-BQ .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BQ .sitecode-hover3:hover     { border:1px solid #6d4cb9; background-color: #6d4cb9; color:#fff;}
.sitecode-BQ .header-info-tel::before   { background-color: #6d4cb9;}
.sitecode-BQ .sitecode-st1 		    	{ background-color: #6d4cb9; border-color: #6d4cb9;}
.sitecode-BQ .sitecode-st2 		        { border: 1px solid #6d4cb9; color:#6d4cb9;}
.sitecode-BQ .header-logo .header-tit a { background: url(../images/logo_sitecodeBQ_dev.png) no-repeat; padding-left: 168px;}
.sitecode-BQ .footer__inner             { width: 186px; height: 37px; padding-top: 37px; background: url(../images/logo_sitecodeBQ_footer.png) no-repeat;}

.sitecode-BS .sitecode-color,
.sitecode-BS .sitecode-colorhover:hover { color: #0095f0 !important;}
.sitecode-BS .sitecode-border 			{ border-color: #0095f0 !important;}
.sitecode-BS .sitecode-bg     			{ background-color:#0095f0;}
.sitecode-BS .sitecode-bg2     			{ background-color:#0095f0;}
.sitecode-BS .sitecode-bg2::after		{ background-color:#0095f0;}
.sitecode-BS .sitecode-bg3::before		{ background-color:#0095f0;}
.sitecode-BS .sitecode-hover1	    	{ border: 1px solid #0095f0; color:#0095f0;}
.sitecode-BS .sitecode-hover1:hover 	{ background:#0095f0; border: 1px solid #0095f0;color:#fff;}
.sitecode-BS .sitecode-hover2	    	{ background:#0095f0; color:#fff;}
.sitecode-BS .sitecode-hover2:hover 	{ background:#000;}
.sitecode-BS .sitecode-hover3:hover     { border:1px solid #0095f0; background-color: #0095f0; color:#fff;}
.sitecode-BS .header-info-tel::before   { background-color: #0095f0;}
.sitecode-BS .sitecode-st1 		    	{ background-color: #0095f0; border-color: #0095f0;}
.sitecode-BS .sitecode-st2 		        { border: 1px solid #0095f0; color:#0095f0;}
.sitecode-BS .header-logo .header-tit a { background: url(../images/logo_sitecodeBS_dev.png) no-repeat; padding-left: 175px;}
.sitecode-BS .footer__inner             { width: 182px; height: 21px; padding-top: 21px; background: url(../images/logo_sitecodeBS_footer.png) no-repeat;}




/* 메리츠화재 BA ======================================================== */
.sitecode-BA .main-spot				      { margin:0 auto;background:url(../images/bg_spot_sitecodeBA.png) center center no-repeat !important;}
.sitecode-BA .all-spot				      { background:#fff url(../images/bg_BA_spot.jpg) no-repeat 50% 0;}
.sitecode-BA .sld-spotlist .slick-prev    { left:0;background-position: 0 0;}
.sitecode-BA .sld-spotlist .slick-next    { right:0;background-position: 100% 0;}
.sitecode-BA .sld-spotlist .slick-arrow   { background-image:url(../images/btn_slide_arr_sitecodeBA.png);}
.sitecode-BA .sld-spotlist__group a::after{ background-image:url(../images/bu_hand_sitecodeBA.png);}
.sitecode-BA .sld-spotlist__group a:hover { border-color:#EF3B24;} 
.sitecode-BA .main-live .view__question--answer .view__question-tit2,
.sitecode-BA .main-live .view__question--answer .view__question-tit2::after { background-color:#EF3B24;}
.sitecode-BA .search__list-more { background-color:rgba(241, 72, 78, .9)!important;}
.sitecode-BA .search__list-entry ul > li:hover { border-color:#EF3B24;}
.sitecode-BA .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #EF3B24 1px, #EF3B24 33px, white 33px);}

/* input */
.sitecode-BA input:checked + .ui-chk::before 		       { background-color: #EF3B24;}
.sitecode-BA .ui-rdo input:checked + .ui-rdo-label::before { background-color: #EF3B24;}
.sitecode-BA .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #EF3B24;}

/* 미사용 */
.sitecode-BA .sld-spotlist__price,
.sitecode-BA .board__card-header__summary span,
.sitecode-BA .ui-paging__num.is-on,
.sitecode-BA .board__faq-content--answer .categ,
.sitecode-BA .all__snb-floating span,
.sitecode-BA .main-live .view__question--answer .view__question-tit1{color:#EF3B24}






/* 한화손해보험 ================================================= */
.sitecode-BC .main-spot				      { background:url(../images/bg_spot_sitecodeBC.png) center center no-repeat !important;}
.sitecode-BC .all-spot				      { background:#fff url(../images/bg_bc_spot.jpg) no-repeat 50% 0;}
.sitecode-BC .sld-spotlist .slick-prev    { left:0;background-position: 0 0;}
.sitecode-BC .sld-spotlist .slick-next    { right:0;background-position: 100% 0;}
.sitecode-BC .sld-spotlist .slick-arrow   { background-image:url(../images/btn_slide_arr_sitecodeBC.png);}
.sitecode-BC .sld-spotlist__group a:hover { border-color:#fb8c50;}
.sitecode-BC .sld-spotlist__group a::after { background-image:url(../images/bu_hand_sitecodeBC.png);}
.sitecode-BC .main-live .view__question--answer .view__question-tit2       { background-color:#fb8c50;}
.sitecode-BC .main-live .view__question--answer .view__question-tit2::after { background-color:#fb8c50;}
.sitecode-BC .search__list-more { background-color:rgba(251, 140, 80, 0.9)!important;}
.sitecode-BC .search__list-entry ul > li:hover { border-color:#fb8c50;}
.sitecode-BC .calc__panel-price { color:#EF3B24 !important}
.sitecode-BC .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #fb8c50 1px, #fb8c50 33px, white 33px);}

/* main-form */
/* 배경 투명으로 할 경우 사용 */
/*.sitecode-BC .main-spot__form .ui-form select{padding:0 50px 0 0;background:transparent url(../images/select_white.png) no-repeat 100% 50%;color:#fff;}
.sitecode-BC .main-spot__form .ui-form select option{color:#000;}
.sitecode-BC .main-spot__form .ui-form input[type="text"],
.sitecode-BC .main-spot__form .ui-form input[type="password"]{padding:0;background:transparent;color:#fff;}
.sitecode-BC .main-spot__form .ui-form input[type="text"]::placeholder,
.sitecode-BC .main-spot__form .ui-form input[type="password"]::placeholder{color:rgba(255,255,255, .7);}
.sitecode-BC .main-spot__form .ui-form input[type="text"]:-ms-input-placeholder,
.sitecode-BC .main-spot__form .ui-form input[type="password"]:-ms-input-placeholder{color:rgba(255,255,255, .7);}
.sitecode-BC .main-spot__form .ui-form-text-ty7,
.sitecode-BC .main-spot__form .ui-form-text-ty1{padding:0;background:transparent;color:#fff;}
.sitecode-BC .main-spot__form .ui-form-text-ty7 label,
.sitecode-BC .main-spot__form .ui-phrase,
.sitecode-BC .main-spot__form .ui-phrase .in-txt3{color:#fff;}
.sitecode-BC .main-spot__form .ui-row{border-bottom:1px solid #fff;}
.sitecode-BC .main-spot__form .ui-chk::after{background-position:0 100%;}*/
.sitecode-BC .main-spot__form input:checked + .ui-chk::after { background-position:100% 100%;}
.sitecode-BC .main-spot__form .btn-shadow-blk { background:#fff;color:#ff7d39;box-shadow: 5px 6px 0 #e57f49;}

/* input */
.sitecode-BC input:checked + .ui-chk::before 			   { background-color: #fb8c50;}
.sitecode-BC .ui-rdo input:checked + .ui-rdo-label::before { background-color: #fb8c50;}
.sitecode-BC .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #fb8c50;}

/* 미사용 */
.sitecode-BC .sld-spotlist__price,
.sitecode-BC .board__card-header__summary span,
.sitecode-BC .ui-paging__num.is-on,
.sitecode-BC .board__faq-content--answer .categ,
.sitecode-BC .all__snb-floating span,
.sitecode-BC .main-live .view__question--answer .view__question-tit1{color:#EF3B24 !important}









/* DB손해보험 BE ======================================================= */
.sitecode-BE .main-spot				      { background:url(../images/bg_spot_sitecodeBE.jpg) center center no-repeat ;}
.sitecode-BE .all-spot 				      { background:#fff url(../images/bg_db_spot.jpg) no-repeat 50% 0;}
.sitecode-BE .sld-spotlist .slick-prev    { left:0;background-position: 0 0;}
.sitecode-BE .sld-spotlist .slick-next    { right:0;background-position: 100% 0;}
.sitecode-BE .sld-spotlist .slick-arrow   { background-image:url(../images/btn_slide_arr_sitecodeBE.png);}
.sitecode-BE .sld-spotlist__group a::after{ background-image:url(../images/bu_hand_sitecodeBE.png);}
.sitecode-BE .sld-spotlist__group a:hover { border-color:#1C9D53;}
.sitecode-BE .main-live .view__question--answer .view__question-tit2	   { background-color:#1C9D53;}
.sitecode-BE .main-live .view__question--answer .view__question-tit2::after { background-color:#1C9D53;}
.sitecode-BE .search__list-more	 { background-color:rgba(9, 200, 136, 0.9)!important;}
.sitecode-BE .consult__spot-area { background-image:url(../images/bg_consult_sitecodeBE.png);}
.sitecode-BE .search__list-entry ul > li:hover{ border-color:#1C9D53;}
.sitecode-BE .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #1C9D53 1px, #1C9D53 33px, white 33px);}

/* input */
.sitecode-BE input:checked + .ui-chk::before 			   { background-color: #1C9D53;}
.sitecode-BE .ui-rdo input:checked + .ui-rdo-label::before { background-color: #1C9D53;}
.sitecode-BE .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #1C9D53;}

/* renew */
.sitecode-BE .main-best__list > li			  { height:260px;padding:20px 30px}
.sitecode-BE .main-best__list .label-first	  { display: none;}
.sitecode-BE .main-best__list .list__cate	  { display:none}
.sitecode-BE .main-best__list .list__cate-img { display:none}
.sitecode-BE .main-best__list .list__tag	  { display:none}
.sitecode-BE .main-best__list .list__txt	  { padding-top: 30px;border-top:1px solid #222}
.sitecode-BE .ui-section__tit	       { display: none;}
.sitecode-BE .ui-section__summary      { font-size:40px; font-weight: 700;}
.sitecode-BE .ui-section__summary span { font-weight: 700;}
.sitecode-BE .calc__spot-tag { display: none;}
.sitecode-BE .uipi-tit    { display: none;}
.sitecode-BE .uipi-tag    { display: none;}
.sitecode-BE .uipi-info   { text-overflow:initial;white-space:initial}
.sitecode-BE .uipi-subtit { margin-top: 55px;}

/* 미사용 */
.sitecode-BE .sld-spotlist__price,
.sitecode-BE .board__card-header__summary span,
.sitecode-BE .ui-paging__num.is-on,
.sitecode-BE .board__faq-content--answer .categ,
.sitecode-BE .all__snb-floating span,
.sitecode-BE .main-live .view__question--answer .view__question-tit1{color:#1C9D53}












/* 현대해상전문센터 BG ================================================== */
.sitecode-BG .main-spot					  { background:url(../images/bg_spot_sitecodeBG.jpg) center center no-repeat;}
.sitecode-BG .all-spot					  { background:#fff url(../images/bg_BG_spot.jpg) no-repeat 50% 0;}
.sitecode-BG .sld-spotlist .slick-prev    { left:0;background-position: 0 0;}
.sitecode-BG .sld-spotlist .slick-next    { right:0;background-position: 100% 0;}
.sitecode-BG .sld-spotlist .slick-arrow   { background-image:url(../images/btn_slide_arr_sitecodeBG.png);}
.sitecode-BG .sld-spotlist__group a::after { background-image:url(../images/bu_hand_sitecodeBG.png);}
.sitecode-BG .sld-spotlist__group a:hover { border-color:#F18D00;}
.sitecode-BG .main-spot__form .ui-phrase,
.sitecode-BG .main-spot__form input:checked + .ui-chk::after{ background-position:100% 100%;}
.sitecode-BG .main-spot__form .ui-chk::after 				{ background-position:0 100%;}
.sitecode-BG .main-live .view__question--answer .view__question-tit2	   { background-color:#F18D00;}
.sitecode-BG .main-live .view__question--answer .view__question-tit2::after { background-color:#F18D00;}
.sitecode-BG .search__list-more  { background-color:rgba(255, 169, 19, 0.9)!important;}
.sitecode-BG .consult__spot-area { background-image:url(../images/bg_consult_sitecodeBG.png);}
.sitecode-BG .search__list-entry ul > li:hover { border-color:#F18D00;}
.sitecode-BG .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #F18D00 1px, #F18D00 33px, white 33px);}

/* input */
.sitecode-BG input:checked + .ui-chk::before 			   { background-color: #F18D00;}
.sitecode-BG .ui-rdo input:checked + .ui-rdo-label::before { background-color: #F18D00;}
.sitecode-BG .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #F18D00;}

/* 미사용 */
.sitecode-BG .sld-spotlist__price,
.sitecode-BG .board__card-header__summary span,
.sitecode-BG .ui-paging__num.is-on,
.sitecode-BG .board__faq-content--answer .categ,
.sitecode-BG .all__snb-floating span,
.sitecode-BG .main-live .view__question--answer .view__question-tit1{color:#F18D00}








/* 흥국화재 BI type-default ========================================================== */
.sitecode-BI .main-spot 			      { background:url(../images/bg_spot_sitecodeBI.jpg) center center no-repeat;}
.sitecode-BI .all-spot  			      { background:#fff url(../images/bg_BI_spot.jpg) no-repeat 50% 0;}
.sitecode-BI .sld-spotlist .slick-prev    { left:0;background-position: 0 0;}
.sitecode-BI .sld-spotlist .slick-next    { right:0;background-position: 100% 0;}
.sitecode-BI .sld-spotlist .slick-arrow   { background-image:url(../images/btn_slide_arr_sitecodeBI.png);}
.sitecode-BI .sld-spotlist__group a::after { background-image:url(../images/bu_hand_sitecodeBI.png);}
.sitecode-BI .sld-spotlist__group a:hover { border-color:#fa5e99;}
.sitecode-BI .main-live .view__question--answer .view__question-tit2	   { background-color:#fa5e99;}
.sitecode-BI .main-live .view__question--answer .view__question-tit2::after { background-color:#fa5e99;}
.sitecode-BI .consult__spot-area { background-image:url(../images/bg_consult_sitecodeBI.png);}
.sitecode-BI .search__list-more	 { background-color:rgba(250, 94, 153, 0.9)!important;}
.sitecode-BI .search__list-entry ul > li:hover { border-color:#fa5e99;}
.sitecode-BI .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #fa5e99 1px, #fa5e99 33px, white 33px);}

/* input */
.sitecode-BI input:checked + .ui-chk::before 			   { background-color: #fa5e99;}
.sitecode-BI .ui-rdo input:checked + .ui-rdo-label::before { background-color: #fa5e99;}
.sitecode-BI .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #fa5e99;}

/* 미사용 */
.sitecode-BI .sld-spotlist__price,
.sitecode-BI .board__card-header__summary span,
.sitecode-BI .ui-paging__num.is-on,
.sitecode-BI .board__faq-content--answer .categ,
.sitecode-BI .all__snb-floating span,
.sitecode-BI .main-live .view__question--answer .view__question-tit1{color:#fa5e99}








/* MG손해보험 BK type-default ========================================================= */
.sitecode-BK .main-spot 			      { background:url(../images/bg_spot_sitecodeBK.jpg) center center no-repeat ;}
.sitecode-BK .all-spot  			      { background:#fff url(../images/bg_BK_spot.jpg) no-repeat 50% 0;}
.sitecode-BK .sld-spotlist .slick-prev    { left:0;background-position: 0 0;}
.sitecode-BK .sld-spotlist .slick-next    { right:0;background-position: 100% 0;}
.sitecode-BK .sld-spotlist .slick-arrow   { background-image:url(../images/btn_slide_arr_sitecodeBK.png);}
.sitecode-BK .sld-spotlist__group a::after { background-image:url(../images/bu_hand_sitecodeBK.png);}
.sitecode-BK .sld-spotlist__group a:hover { border-color:#0c98e1;}
.sitecode-BK .main-live .view__question--answer .view__question-tit2	   { background-color:#0c98e1;}
.sitecode-BK .main-live .view__question--answer .view__question-tit2::after { background-color:#0c98e1;}
.sitecode-BK .search__list-more	 { background-color:rgba(12, 152, 225, 0.9)!important;}
.sitecode-BK .consult__spot-area { background-image:url(../images/bg_consult_sitecodeBK.png);}
.sitecode-BK .search__list-entry ul > li:hover { border-color:#0c98e1;}
.sitecode-BK .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #0c98e1 1px, #0c98e1 33px, white 33px);}

/* input */
.sitecode-BK input:checked + .ui-chk::before 			   { background-color: #0c98e1;}
.sitecode-BK .ui-rdo input:checked + .ui-rdo-label::before { background-color: #0c98e1;}
.sitecode-BK .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #0c98e1;}

/* 미사용 */
.sitecode-BK .sld-spotlist__price,
.sitecode-BK .board__card-header__summary span,
.sitecode-BK .ui-paging__num.is-on,
.sitecode-BK .board__faq-content--answer .categ,
.sitecode-BK .all__snb-floating span,
.sitecode-BK .main-live .view__question--answer .view__question-tit1{color:#0c98e1}







/* 동양생명 BM-none ==================================================== */
.sitecode-BM .main-spot   			     { background:url(../images/bg_spot_sitecodeBM.jpg) center center no-repeat;}
.sitecode-BM .all-spot    			     { background:#fff url(../images/bg_bm_spot.jpg) no-repeat 50% 0;}
.sitecode-BM .sld-spotlist .slick-prev   { left:0;background-position: 0 0;}
.sitecode-BM .sld-spotlist .slick-next   { right:0;background-position: 100% 0;}
.sitecode-BM .sld-spotlist .slick-arrow	 { background-image:url(../images/btn_slide_arr_sitecodeBM.png);}
.sitecode-BM .sld-spotlist__group a:hover{ border-color:#00b4ff;}
.sitecode-BM .sld-spotlist__group a::after{ background-image:url(../images/bu_hand_sitecodeBM.png);}
.sitecode-BM .ui-section__tit span { display: none;}
.sitecode-BM .header-logo .header-tit a .header-subtit2 { display: inline-block;}
.sitecode-BM .header-logo .header-tit a .header-subtit  { display: none;}
.sitecode-BM .footer__sublogo	   { display: none;}
.sitecode-BM .main-live .view__question--answer .view__question-tit2	  { background-color:#00b4ff;}
.sitecode-BM .main-live .view__question--answer .view__question-tit2::after{ background-color:#00b4ff;}
.sitecode-BM .search__list-more { background-color:rgba(251, 140, 80, 0.9)!important;}
.sitecode-BM .search__list-entry ul > li:hover{ border-color:#00b4ff;}
.sitecode-BM .consult__spot-area		  	  { background-image:url(../images/bg_consult_sitecodeBM.png);}
.sitecode-BM .inform-renew > .inform-renew-btn span { display: none;}
.sitecode-BM .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #00b4ff 1px, #00b4ff 33px, white 33px);}

/* main-form */
/*.sitecode-BM .main-spot__form{background:rgba(6, 175, 246, .9);}
.sitecode-BM .main-spot__form .ui-form select{padding:0 50px 0 0;background:transparent url(../images/select_white.png) no-repeat 100% 50%;color:#fff;}
.sitecode-BM .main-spot__form .ui-form select option{color:#000;}
.sitecode-BM .main-spot__form .ui-form input[type="text"],
.sitecode-BM .main-spot__form .ui-form input[type="password"]{padding:0;background:transparent;color:#fff;}
.sitecode-BM .main-spot__form .ui-form input[type="text"]::placeholder,
.sitecode-BM .main-spot__form .ui-form input[type="password"]::placeholder{color:rgba(255,255,255, .7);}
.sitecode-BM .main-spot__form .ui-form input[type="text"]:-ms-input-placeholder,
.sitecode-BM .main-spot__form .ui-form input[type="password"]:-ms-input-placeholder{color:rgba(255,255,255, .7);}
.sitecode-BM .main-spot__form .ui-form-text-ty7,
.sitecode-BM .main-spot__form .ui-form-text-ty1{padding:0;background:transparent;color:#fff;}
.sitecode-BM .main-spot__form .ui-form-text-ty7 label,
.sitecode-BM .main-spot__form .ui-phrase,
.sitecode-BM .main-spot__form .ui-phrase .in-txt3{color:#fff;}
.sitecode-BM .main-spot__form .ui-row{border-bottom:1px solid #fff;}*/
.sitecode-BM .main-spot__form .ui-chk::after { background-position:0 100%;}
.sitecode-BM .main-spot__form input:checked + .ui-chk::after { background-position:100% 100%;}
.sitecode-BM .main-spot__form .btn-shadow-blk { background:#fff;color:#069edb;box-shadow: 5px 6px 0 #0494d0;}

/* input */
.sitecode-BM input:checked + .ui-chk::before 			   { background-color: #00b4ff;}
.sitecode-BM .ui-rdo input:checked + .ui-rdo-label::before { background-color: #00b4ff;}
.sitecode-BM .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #00b4ff;}

/* 미사용 */
.sitecode-BM .sld-spotlist__price,
.sitecode-BM .board__card-header__summary span,
.sitecode-BM .ui-paging__num.is-on,
.sitecode-BM .board__faq-content--answer .categ,
.sitecode-BM .all__snb-floating span,
.sitecode-BM .main-live .view__question--answer .view__question-tit1{color:#06aff6}










/* KB 손해보험 BO ===================================================================== */
.sitecode-BO .main-spot 			        { background:url(../images/bg_spot_sitecodeBO.jpg) center center no-repeat ;}
.sitecode-BO .all-spot  			        { background:#fff url(../images/bg_BO_spot.jpg) no-repeat 50% 0;}
.sitecode-BO .sld-spotlist .slick-prev      { left:0;background-position: 0 0;}
.sitecode-BO .sld-spotlist .slick-next      { right:0;background-position: 100% 0;}
.sitecode-BO .sld-spotlist .slick-arrow	    { background-image:url(../images/btn_slide_arr_sitecodeBO.png);}
.sitecode-BO .sld-spotlist__group a::after   { background-image:url(../images/bu_hand_sitecodeBO.png);}
.sitecode-BO .sld-spotlist__group a:hover	{ border-color:#ffa900;}
.sitecode-BO .main-live .view__question--answer .view__question-tit2	   { background-color:#ffa900;}
.sitecode-BO .main-live .view__question--answer .view__question-tit2::after { background-color:#ffa900;}
.sitecode-BO .consult__spot-area { background-image:url(../images/bg_consult_sitecodeBO.png);}
.sitecode-BO .search__list-more	 { background-color:rgba(12, 152, 225, 0.9)!important;}
.sitecode-BO .search__list-entry ul > li:hover { border-color:#ffa900;}
.sitecode-BO .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #ffa900 1px, #ffa900 33px, white 33px);}

/* input */
.sitecode-BO input:checked + .ui-chk::before 			   { background-color: #ffa900;}
.sitecode-BO .ui-rdo input:checked + .ui-rdo-label::before { background-color: #ffa900;}
.sitecode-BO .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #ffa900;}

/* 미사용 */
.sitecode-BO .sld-spotlist__price,
.sitecode-BO .board__card-header__summary span,
.sitecode-BO .ui-paging__num.is-on,
.sitecode-BO .board__faq-content--answer .categ,
.sitecode-BO .all__snb-floating span,
.sitecode-BO .main-live .view__question--answer .view__question-tit1{color:#ffa900}











/* 흥국생명 BQ ======================================================================= */
.sitecode-BQ .main-spot  			      { background:url(../images/bg_spot_sitecodeBQ.jpg) center center no-repeat;}
.sitecode-BQ .all-spot   			      { background:#fff url(../images/bg_BQ_spot.jpg) no-repeat 50% 0;}
.sitecode-BQ .sld-spotlist .slick-prev    { left:0;background-position: 0 0;}
.sitecode-BQ .sld-spotlist .slick-next    { right:0;background-position: 100% 0;}
.sitecode-BQ .sld-spotlist .slick-arrow   { background-image:url(../images/btn_slide_arr_sitecodeBQ.png);}
.sitecode-BQ .sld-spotlist__group a::after { background-image:url(../images/bu_hand_sitecodeBQ.png);}
.sitecode-BQ .sld-spotlist__group a:hover { border-color:#6d4cb9;}
.sitecode-BQ .header-logo .header-tit a .header-subtit2 { display: inline-block;}
.sitecode-BQ .header-logo .header-tit a .header-subtit  { display: none;}
.sitecode-BQ .footer__sublogo	   { display:none}
.sitecode-BQ .ui-section__tit span { display:none;}
.sitecode-BQ .main-live .view__question--answer .view__question-tit2,
.sitecode-BQ .main-live .view__question--answer .view__question-tit2::after{background-color:#6d4cb9;}
.sitecode-BQ .search__list-entry ul > li:hover { border-color:#6d4cb9;}
.sitecode-BQ .search__list-more { background-color:rgba(12, 152, 225, 0.9)!important;}
.sitecode-BQ .consult__spot-area { background-image:url(../images/bg_consult_sitecodeBQ.png);}
.sitecode-BQ .inform-renew > .inform-renew-btn span { display: none;}
.sitecode-BQ .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #6d4cb9 1px, #6d4cb9 33px, white 33px);}

/* input */
.sitecode-BQ input:checked + .ui-chk::before 			   { background-color: #6d4cb9;}
.sitecode-BQ .ui-rdo input:checked + .ui-rdo-label::before { background-color: #6d4cb9;}
.sitecode-BQ .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #6d4cb9;}

/* 미사용 */
.sitecode-BQ .sld-spotlist__price,
.sitecode-BQ .board__card-header__summary span,
.sitecode-BQ .ui-paging__num.is-on,
.sitecode-BQ .board__faq-content--answer .categ,
.sitecode-BQ .all__snb-floating span,
.sitecode-BQ .main-live .view__question--answer .view__question-tit1{color:#a680ff}











/* 농협손해보험 BS ==================================================================== */
.sitecode-BS .main-spot				     { background:url(../images/bg_spot_sitecodeBS.jpg) center center no-repeat ;}
.sitecode-BS .all-spot				     { background:#fff url(../images/bg_BS_spot.jpg) no-repeat 50% 0;}
.sitecode-BS .sld-spotlist .slick-prev   { left:0;background-position: 0 0;}
.sitecode-BS .sld-spotlist .slick-next   { right:0;background-position: 100% 0;}
.sitecode-BS .sld-spotlist .slick-arrow  { background-image:url(../images/btn_slide_arr_sitecodeBS.png);}
.sitecode-BS .sld-spotlist__group a::after{ background-image:url(../images/bu_hand_sitecodeBS.png);}
.sitecode-BS .sld-spotlist__group a:hover{ border-color:#0095f0;}
.sitecode-BS .main-live .view__question--answer .view__question-tit2{background-color:#0095f0;}
.sitecode-BS .main-live .view__question--answer .view__question-tit2::after{background-color:#0095f0;}
.sitecode-BS .search__list-more { background-color:rgba(12, 152, 225, 0.9)!important;}
.sitecode-BS .consult__spot-area { background-image:url(../images/bg_consult_sitecodeBS.png);}
.sitecode-BS .search__list-entry ul > li:hover { border-color:#0095f0;}
.sitecode-BS .header-gnb-nav .gnb-hit a::before { background-image: url(../images/hit2.png), linear-gradient(to right, white 1px, #0095f0 1px, #0095f0 33px, white 33px);}

/* input */
.sitecode-BS input:checked + .ui-chk::before 			   { background-color: #0095f0;}
.sitecode-BS .ui-rdo input:checked + .ui-rdo-label::before { background-color: #0095f0;}
.sitecode-BS .ui-rdo input:checked + .ui-rdo-label::after  { border: 1px solid #0095f0;}

/* 미사용 */
.sitecode-BS .sld-spotlist__price,
.sitecode-BS .board__card-header__summary span,
.sitecode-BS .ui-paging__num.is-on,
.sitecode-BS .board__faq-content--answer .categ,
.sitecode-BS .all__snb-floating span,
.sitecode-BS .main-live .view__question--answer .view__question-tit1 { color:#0095f0}