@import "mixin";
.wallet-tit {
  padding: 35px 0 0 0;
  height: 260px;
  background-color: $backgroun-color;
  img {
    display: block;
    margin: 0 auto;
    height: 185px;
  }
  strong {
    padding-top: 20px;
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: -0.8px;
  }
}
.container {
  padding: 0 40px;
  text-align: center;
  background-color: $backgroun-color;
  & > p {
    padding: 30px 0 40px;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 20px;
  }
  button {
    position: relative;
    width: 100%;
    padding-left: 25px;
    line-height: 45px;
    background-color: #fff;
    color: #000;
    border: 1px solid rgba(208, 208, 208, 0.42);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: left;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      width: 4px;
      height: 45px;
      background-color: #000;
    }
    &:after {
      content: "";
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/wallet/wallet_arrow-05.png)
        no-repeat;
      background-size: 100% auto;
      transition: 0.2s;
    }
    &:hover:after {
      right: 18px;
    }
  }
  button + button {
    margin-top: 10px;
  }
}