.main_header h1.logo {
    background: url(/jnsobangEn/common/img/2021022709504448391.png) no-repeat 0%;
}
.slogan5_br{display: none;}
@media screen and (min-width: 801px) and (max-width: 1280px) {
    .main_header h1.logo {
        background: url(/jnsobangEn/common/img/2021022709504448391.png) no-repeat 0%;
        background-size: 100% auto;
    }
    .jnsobangEn_wrap .main_visual .visual_top{height: auto;}
    .jnsobangEn_wrap .main_visual .visual_top li{
        font-size: 30px;
        line-height: 30px;
    }
    .jnsobangEn_wrap .main_visual .visual_top .slogan1,
    .jnsobangEn_wrap .main_visual .visual_top .slogan2,
    .jnsobangEn_wrap .main_visual .visual_top .slogan3{
        width: auto;
    }
    .jnsobangEn_wrap .main_visual .visual_top .slogan2{
        padding: 0 10px;
    }
    .jnsobangEn_wrap .main_visual .visual_top .slogan5{
        font-size: 50px;
        line-height: 50px;
    }
    .jnsobangEn_wrap .main_visual .visual_middle{
        font-size: 23px;
    }
}
@media screen and (max-width: 800px) {
    .main_header h1.logo {
        background: url(/jnsobangEn/common/img/2021022709504448391.png) no-repeat 0%;
        background-size: 100% auto;
        left: 10px;
    }
    .jnsobangEn_wrap .main_visual .visual_top{height: auto;}
    .jnsobangEn_wrap .main_visual .visual_top li{
        font-size: 16px;
        line-height: 16px;
    }
    .jnsobangEn_wrap .main_visual .visual_top .slogan1,
    .jnsobangEn_wrap .main_visual .visual_top .slogan2,
    .jnsobangEn_wrap .main_visual .visual_top .slogan3{
        width: auto;
    }
    .jnsobangEn_wrap .main_visual .visual_top .slogan2{
        padding: 0 3px;
    }
    .jnsobangEn_wrap .main_visual .visual_top .slogan5{
        font-size: 36px;
        line-height: 40px;
    }
    .slogan5_br{display: block;}
    .jnsobangEn_wrap .main_visual .visual_middle{
        font-size: 16px; line-height: 17px;
        padding: 7px 0;
    }
}

.main_visual .visual_top{
  top: calc(50% - 90px);
  height: 125px;
}
.main_visual .visual_top li{
  font-size: 38px; font-weight: 500;
  letter-spacing: -1px;
  color: #fff;
}
.main_visual .visual_top .slogan5{
  font-size: 60px; line-height: 60px;
  font-weight: 700;
  letter-spacing: -2px;
}
.main_visual .visual_middle{
  font-size: 28px; font-weight: 400;
  letter-spacing: 2px;
}