input[type="radio"] {
  display: none;
}
/* input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  margin: -2px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-radius: 100%;
  cursor: pointer;
}
input[type="radio"]:checked + label:before {
  content: "\25CF";
  color: #fff;
  border-color: transparent;
  font-size: 12px;
  background: #49cc90;
} */
input {
  appearance: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}
input::-webkit-input-placeholder {
  font-size: 0.85rem;
  color: #999;
  font-weight: 200;
}
input::-moz-placeholder {
  font-size: 0.85rem;
  color: #999;
  font-weight: 200;
}
input::-ms-input-placeholder {
  font-size: 0.85rem;
  color: #999;
  font-weight: 200;
}
input::placeholder {
  font-size: 0.85rem;
  color: #999;
  font-weight: 200;
}

.btn-box {
  display: inline-block;
  width: 50%;
  text-align: right;
  font-size: 0;
}
.btn-box button,
.btn-box a {
  padding: 0 8px;
  border-radius: 4px;
  background-color: #5e9b7c;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #fff;
  line-height: 25px;
  margin-left: 5px;
}

.btn-box .refrash_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.btn-box .refrash_spin {
  -webkit-animation: 1.5s linear infinite;
  animation: 1.5s linear infinite;
}
.btn-box .excel-btn,
.btn-box .search__reset-btn {
  background-color: #ddd;
}

input,
select {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
input[type="checkbox"],
select[type="checkbox"] {
  padding: 0 15px;
}
select:focus {
  border: 1px solid #5e9b7c;
}

/* campaign__state-box */
.campaign__state{
}
.campaign__state .campaign__state-box ul:after {
  content: "";
  display: block;
  clear: both;  
}
.campaign__state .campaign__state-box li {
  width: calc((100% - 30px) / 4);
  margin: 0 10px 0 0;
  padding: 25px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  float: left;
}
.campaign__state .campaign__state-box li span {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #222;
}
.campaign__state .campaign__state-box li .campaign__state-text {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #999;
  line-height: 20px;
}
.campaign__state .campaign__state-box li:last-child {
  margin-right: 0;
}
.campaign__state:after {
  content: "";
  display: block;
  clear: both;
}

/* campaign__search-wrap */
.campaign__search-wrap {
  margin-top: 20px;
  font-size: 0;
}
/* section__right */
.campaign__search-wrap .section__right {
  display: inline-block;
  width: 50%;
  text-align: right;
  font-size: 0;
}
.campaign__search-wrap .campaign__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem !important;
  color: #fff;
  line-height: 25px;
  padding: 0 10px;
  height: 25px;
  border-radius: 4px;
  background-color: #5e9b7c;
  cursor: pointer;
}
.campaign__search-wrap .campaign__btn.campaign__reset-btn {
  margin-left: 5px;
  padding: 0 10px;
  height: 25px;
  border-radius: 4px;
  background-color: #ddd;
  cursor: pointer;
}

/* campaign__search-box */
.campaign__search-wrap .campaign__search-box {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.campaign__search-wrap .campaign__search-box .campaign__search-zone {
  font-size: 0;
  height: 42px;
  margin-bottom: 10px;
}
.campaign__search-wrap .campaign__search-box .campaign__search-zone:last-child {
  margin-bottom: 0;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-zone-title {
  display: inline-block;
  width: 130px;
  line-height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #222;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box {
  position: relative;
  display: inline-block;
  width: 540px;
  height: 42px;
  line-height: 42px;
  font-size: 0;
  vertical-align: top;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  em {
  display: inline-block;
  width: 30px;
  text-align: center;
  vertical-align: top;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  input,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  select {
  width: 100%;
  height: 42px;
  line-height: 42px;
  vertical-align: top;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  input::-webkit-input-placeholder,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  select::-webkit-input-placeholder {
  font-size: 0.9rem;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  input::-moz-placeholder,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  select::-moz-placeholder {
  font-size: 0.9rem;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  input::-ms-input-placeholder,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  select::-ms-input-placeholder {
  font-size: 0.9rem;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  input::placeholder,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  select::placeholder {
  font-size: 0.9rem;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  input:focus,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  select:focus {
  border: 1px solid #5e9b7c;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .date-picker {
  display: inline-block;
  width: calc(50% - 15px);
  vertical-align: top;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .date-picker
  input,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .date-picker
  select {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  vertical-align: top;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .date-picker
  input:focus,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .date-picker
  select:focus {
  border: 1px solid #5e9b7c;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .date-picker:after {
  content: "";
  background: url("https://prod-spin-protocol-resource.s3.ap-northeast-2.amazonaws.com/public/resources/images/icon/calendar-icon.png")
    no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: 9px;
  right: 10px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .date-picker
  .datepicker {
  right: 0;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .date-picker
  .datepicker
  .header-picker
  * {
  color: #fff;
  font-weight: 600;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .date-picker
  .datepicker
  .pickers-container
  .datepicker-container {
  width: 100%;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box {
  vertical-align: middle;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  + .state-radio-box {
  margin-left: 5px;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  input[type="radio"]
  + label::before,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  select[type="radio"]
  + label::before {
  display: none;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  input[type="radio"]
  + label,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  select[type="radio"]
  + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  cursor: text;
}

.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  input[type="radio"]
  + label
  span,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  select[type="radio"]
  + label
  span {
  font-style: normal;
  font-weight: 100;
  font-size: 0.9rem;
  color: #999;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  input[type="radio"]:checked
  + label,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  select[type="radio"]:checked
  + label {
  border: 1px solid #5e9b7c;
}
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  input[type="radio"]:checked
  + label
  span,
.campaign__search-wrap
  .campaign__search-box
  .campaign__search-zone
  .campaign__search-input-box
  .state-radio-box
  select[type="radio"]:checked
  + label
  span {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  color: #5e9b7c;
}
.campaign__search-wrap .campaign__search-box .search-code .search_icon {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 18px;
  height: 18px;
  background-size: 100%;
}
.campaign__search-wrap .campaign__search-box .search-state .state-radio-box {
  display: inline-block;
  width: calc((100% - 16px) / 4);
}

/* table_wrap  테*/
.table__wrap {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  font-size: 0;
}
.table__wrap .table__scroll-box {
  overflow-x: auto;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.table__wrap .table__scroll-box table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.table__wrap .table__scroll-box table tr {
  border-bottom: 1px solid rgba(60, 60, 60, 0.1);
}
.table__wrap .table__scroll-box table tr th {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #6a6a6c;
  white-space: nowrap;
  height: 60px;
  padding: 10px 20px;
}
.table__wrap .table__scroll-box table tr td {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #222;
  white-space: nowrap;
  padding: 5px 10px;
}
.table__wrap .table__scroll-box table tr td button {
  padding: 0 10px;
  line-height: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.85rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 3px;
}
.table__wrap .table__scroll-box table tr td button:hover {
  color: #fff;
  border: 1px solid #5e9b7c;
  border-radius: 5px;
  background-color: #5e9b7c;
  cursor: pointer;
}
.table__wrap .table__scroll-box table tbody > tr {
  height: 70px;
}
.table__wrap .table__scroll-box table tbody > tr:hover {
  background-color: #f6fcfb;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
}
.table__wrap .table__scroll-box table tbody > tr:last-child {
  border-bottom: none;
}
.table__wrap .table__scroll-box table tbody > tr .campaign-name,
.table__wrap .table__scroll-box table tbody > tr .dashboard_pd_name {
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table__wrap .table__scroll-box table tbody > tr .campaign-name p {
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 13px;
  z-index: 5;
  vertical-align: middle;
}
.switch input,
.switch select {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.switch .slider:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -5px;
  width: 18px;
  height: 18px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider,
select:checked + .slider {
  background-color: #5e9b7c;
}
input:focus + .slider,
select:focus + .slider {
  -webkit-box-shadow: 0 0 1px #5e9b7c;
  box-shadow: 0 0 1px #5e9b7c;
}
input:checked + .slider:before,
select:checked + .slider:before {
  -webkit-transform: translateX(30px);
  transform: translateX(25px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/* 반응형 */
@media (max-width: 767px) {
  .campaign__state-box li {
    padding: 10px 20px !important;
    width: calc((100% - 10px) / 2) !important;
    margin-bottom: 10px !important;
  }
  .campaign__state-box li:nth-child(2n) {
    margin-right: 0;
  }
  .campaign_type {
    width: calc(100%);
  }
  .campaign_type .state-radio-box {
    width: calc((100% - 5px) / 2);
  }
  .campaign__search-wrap
    .campaign__search-box
    .campaign__search-zone
    .campaign__search-zone-title {
    display: none;
  }
  .campaign__search-wrap
    .campaign__search-box
    .campaign__search-zone
    .campaign__search-input-box {
    width: calc(100% - 130px);
  }
  .campaign__search-wrap
    .campaign__search-box
    .campaign__search-zone
    .campaign__search-input-box
    input,
  .campaign__search-wrap
    .campaign__search-box
    .campaign__search-zone
    .campaign__search-input-box
    select {
    width: 100%;
  }
  .campaign__search-wrap
    .campaign__search-box
    .search-date
    .campaign__search-input-box
    input,
  .campaign__search-wrap
    .campaign__search-box
    .search-date
    .campaign__search-input-box
    select {
    width: calc((100% - 120px) / 2);
  }
  .campaign__search-wrap .campaign__search-zone-title {
    display: none !important;
  }
  .campaign__search-wrap .campaign__search-input-box {
    width: 100% !important;
    height: auto !important;
  }
  .table__wrap .table__scroll-box table tbody > tr .campaign-name,
  .table__wrap .table__scroll-box table tbody > tr .campaign-name p,
  .table__wrap .table__scroll-box table tbody > tr .dashboard_pd_name {
    max-width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .campaign__state-box li {
    padding: 20px 25px !important;
  }
  .campaign_type {
    width: calc(100%);
  }
  .campaign__search-wrap
    .campaign__search-box
    .campaign__search-zone
    .campaign__search-input-box {
    width: calc(100% - 130px);
  }
  .campaign__search-wrap
    .campaign__search-box
    .campaign__search-zone
    .campaign__search-input-box
    input,
  .campaign__search-wrap
    .campaign__search-box
    .campaign__search-zone
    .campaign__search-input-box
    select {
    width: 100%;
  }
  .campaign__search-wrap
    .campaign__search-box
    .search-date
    .campaign__search-input-box
    input,
  .campaign__search-wrap
    .campaign__search-box
    .search-date
    .campaign__search-input-box
    select {
    width: calc((100% - 120px) / 2);
  }
  .table__wrap .table__scroll-box table tbody > tr .campaign-name,
  .table__wrap .table__scroll-box table tbody > tr .campaign-name p,
  .table__wrap .table__scroll-box table tbody > tr .dashboard_pd_name {
    max-width: 350px;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
}
@media (min-width: 1440px) {
}
