.container .campaign__main-wrap {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
  font-size: 0;
}
.container .campaign__main-wrap .campaign__main-img {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 350px;
  height: 350px;
  overflow: hidden;
  vertical-align: top;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.container
  .campaign__main-wrap
  .campaign__main-img:hover
  > .campaign__img-mask {
  opacity: 1;
}
.container .campaign__main-wrap .campaign__main-img .campaign__img-mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}
.container
  .campaign__main-wrap
  .campaign__main-img
  .campaign__img-mask
  .campaign__img-mask-txt {
  display: block;
  height: 100%;
  line-height: 350px;
  padding: 0 20px 0 0;
  color: #fff;
  text-align: center;
}
.container
  .campaign__main-wrap
  .campaign__main-img
  .campaign__img-mask
  .campaign__img-mask-txt::after {
  content: "";
  background: url("https://prod-spin-protocol-resource.s3.ap-northeast-2.amazonaws.com/public/resources/images/icon/shopping-cart.svg");
  background-size: contain;
  width: 30px;
  height: 30px;
  margin: -5px 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container .campaign__main-wrap .campaign__main-img img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 100%;
}
.container .campaign__main-wrap .campaign__info-box {
  display: inline-block;
  width: calc(100% - 350px);
  padding: 25px 40px 0;
  text-align: left;
}
.container .campaign__main-wrap .campaign__info-box .campaign_tit {
  max-height: 2rem;
  margin: 0 0 15px 0;
  display: -ms-flex box;
  display: -moz- box;
  display: -webkit- box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  color: #222;
  line-height: 2rem;
}
.container .campaign__main-wrap .campaign__info-box .campaign__info {
  border-top: 1px solid #ddd;
  padding-top: 15px;
}
.container .campaign__main-wrap .campaign__info-box .campaign__info:after {
  content: "";
  display: block;
  clear: both;
}
.container .campaign__main-wrap .campaign__info-box .campaign__info li {
  font-size: 0;
  margin-bottom: 15px;
}
.container
  .campaign__main-wrap
  .campaign__info-box
  .campaign__info
  li
  .info__title {
  display: inline-block;
  width: 130px;
  line-height: 20px;
  font-weight: 500;
}
.container
  .campaign__main-wrap
  .campaign__info-box
  .campaign__info
  li
  .info__txt {
  display: inline-block;
  width: calc(100% - 135px);
  line-height: 20px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .campaign__info-contents {
  margin: 10px 0 0 0;
  padding: 5px 30px 30px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
}
.container .campaign__info-contents .campaign__article {
  border-bottom: 1px solid #dde1e1;
  padding-bottom: 18px;
}
.container .campaign__info-contents .campaign__article:last-child {
  border: none;
  padding-bottom: 0;
}
.container .campaign__info-contents .campaign__article .article__title {
  margin: 20px 0 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: #222827;
  line-height: 30px;
}
.container .campaign__info-contents .campaign__article .article__txt-box {
  font-size: 0;
}
.container
  .campaign__info-contents
  .campaign__article
  .article__txt-box
  .article__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #222;
  line-height: 24px;
  white-space: pre-line;
  word-break: break-all;
}
.container .btn_wrap {
  text-align: center;
  margin: 60px 0 50px;
}
.container .btn_wrap button {
  width: 260px;
  height: 55px;
  color: #000;
  border: 1px solid rgba(208, 208, 208, 0.42);
  border-radius: 30px;
  background-color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.101961);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.101961);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.container .btn_wrap button:hover {
  color: #fff;
  border-radius: 30px;
  background-color: #222827;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px #0b0c0c;
  box-shadow: 0 0 10px #0b0c0c;
}

.container .campaign__notice {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
}
.container .campaign__notice h3 {
  position: relative;
  padding-left: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  color: #222;
  line-height: 30px;
}
.container .campaign__notice h3:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url("https://prod-spin-protocol-resource.s3.ap-northeast-2.amazonaws.com/public/resources/images/icon/speaker-icon.svg")
    no-repeat;
}
.container .campaign__notice p {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #222;
  line-height: 35px;
  padding-left: 30px;
  padding-left: 10px !important;
  padding-top: 10px;
}
.campaign__notice .campaign__article {
  border-bottom: 1px solid #dde1e1;
  padding-bottom: 10px;
}

/*  */
.campaign__apply__info {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 7px;
}
.campaign__apply__info .campaign__article {
  border-bottom: 1px solid #dde1e1;
  padding-bottom: 10px;
}
.campaign__apply__info .campaign__article h3 {
  position: relative;
  padding-left: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  color: #222;
  line-height: 30px;
}
.campaign__apply__info .campaign__article h3:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("https://prod-spin-protocol-resource.s3.ap-northeast-2.amazonaws.com/public/resources/images/icon/user.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.campaign__apply__info .apply_info .apply__info-tit {
  height: 30px;
  line-height: 30px;
  margin: 20px 0 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  color: #222827;
}
.campaign__apply__info .apply_info > p {
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  color: #5e9b7c;
  text-align: left;
  white-space: pre-line;
}
.campaign__apply__info .apply_info .apply_info-content {
  font-size: 0;
}
.campaign__apply__info .apply_info .apply_info-content input,
.campaign__apply__info .apply_info .apply_info-content select {
  width: 100%;
  height: 40px;
  margin: 0 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 반응형 */
@media (min-width: 768px) and (max-width: 1023px) {
  .campaign__main-img {
    position: relative;
    width: 100% !important;
    height: 320px !important;
  }
  .campaign__main-img .campaign__img-mask-txt {
    line-height: 320px !important;
  }
  .campaign__main-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
  }
  .campaign__info-box {
    position: relative;
    top: -5px;
    width: 100% !important;
    height: auto;
    padding: 30px 30px 10px !important;
  }
}
@media (max-width: 767px) {
  .container {
    margin-top: 60px;
    padding: 20px;
  }
  .container .campaign__main-img {
    position: relative;
    width: 100% !important;
    height: 300px !important;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    border-bottom-left-radius: 0px !important;
  }
  .container .campaign__main-img .campaign__img-mask-txt {
    line-height: 300px !important;
  }
  .container .campaign__main-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
  }
  .container .campaign__info-box {
    position: relative;
    top: -5px;
    width: 100% !important;
    height: auto;
    padding: 20px 20px 10px !important;
  }
  .container .btn_wrap {
    margin: 50px 0;
  }
  .container .btn_wrap .submit_btn {
    width: 235px;
    height: 50px;
  }
  .container .campaign__info-contents {
    padding: 5px 20px 20px;
  }
}
