.container {
  padding: 40px;
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
.info-box {
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
}
.setting {
  position: relative;
}
.btn-wrap {
  border-bottom: 1px solid #ddd;
  padding-bottom: 50px;
  margin: 50px 0;
  text-align: center;
}
.btn-wrap:last-child {
  border: none;
  padding-bottom: 0;
  margin: 50px 0 20px 0;
}
.btn-wrap button {
  width: 200px;
  height: 50px;
  color: #000;
  border: 1px solid rgba(208, 208, 208, 0.42);
  border-radius: 7px;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.btn-wrap .ishover,
.btn-wrap button:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #5e9b7c;
  color: #fff;
}
input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.image-box {
  position: relative;
}
.image-box .edit_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
}
.image-box .edit_img img {
  width: 100%;
}
.image-box .banner-img-box {
  position: relative;
  height: 250px;
  background-color: #f4f4f4;
}
.image-box .banner-img-box label {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 7px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}
.image-box .banner-img-box label img {
  width: 100%;
}
.image-box .profile-edit-box {
  position: relative;
  top: -60px;
  left: 30px;
  height: 140px;
}
.image-box .profile-edit-box .profile-img-box {
  width: 140px;
  height: 140px;
  position: absolute;
  left: 0;
}
.image-box .profile-edit-box .btn-box {
  position: absolute;
  bottom: -15px;
  left: -10px;
}
.image-box .profile-edit-box .btn-box label {
  display: block;
  padding: 7px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #5e9b7c;
  cursor: pointer;
}
.image-box .profile-edit-box .btn-box label img {
  width: 100%;
}
.image-box .profile-edit-box .nickname-box {
  position: absolute;
  bottom: 0;
  left: 160px;
}
.image-box .profile-edit-box .nickname-box p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.7rem;
  color: #454555;
}
.image-box .profile-edit-box .nickname-box p span {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: #aeaeb5;
}
.shop-box {
  padding: 0 40px;
}
.shop-box .input-box {
  padding: 5px 0;
  border-bottom: 1px solid #ebebeb;
}
.shop-box .input-box input {
  padding: 5px 10px;
  width: 78%;
  height: 40px;
  border: none;
  border-radius: 0;
  cursor: text;
}
.shop-box .input-box label {
  display: inline-block;
  width: calc(22% - 10px);
  padding: 10px 0 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  color: #787783;
}
.sns-box {
  margin: 30px 0 0 0;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
}
.sns-box .refrash_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.sns-box .refrash_spin {
  -webkit-animation: spin-data-v-9f36320a 1.5s linear infinite;
  animation: spin-data-v-9f36320a 1.5s linear infinite;
}

.instagram__profile-info {
  text-align: center;
}
.instagram__profile-info .name-box h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #222;
  line-height: 55px;
}
.instagram__profile-info .name-box p {
  font-size: 0.85rem;
}
.instagram__profile-info .name-box .expired_token_message {
  color: red;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.instagram__profile-info .info-box li {
  display: inline-block;
  vertical-align: top;
  width: calc((100% - 20px) / 3);
  height: 50px;
}
.instagram__profile-info .info-box li + li {
  border-left: 1px solid rgba(204, 204, 204, 0.4);
}
.instagram__profile-info .info-box li strong {
  display: block;
  font-size: 0;
}
.instagram__profile-info .info-box li strong:first-child {
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  color: #787783;
}
.instagram__profile-info .info-box li strong:last-child {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  color: #222;
  line-height: 35px;
}


/* 반응형 */
@media (max-width: 767px) {
    .info-box{padding:15px}
    .image-box .profile-edit-box{left:10px;height:110px}
    .image-box .profile-edit-box .profile-img-box{width:110px;height:110px}
    .image-box .profile-edit-box .btn-box{left:-5px}
    .image-box .profile-edit-box .btn-box label{width:30px;height:30px}
    .image-box .profile-edit-box .nickname-box{left:120px}
    .image-box .profile-edit-box .nickname-box p{font-size:1.5rem}
    .image-box .profile-edit-box .nickname-box p span{font-size:1rem}
    .shop-box{padding:0 10px}
    .sns-box .instagram__profile-info{position:inherit;display:block;width:100%}
    .sns-box .instagram__profile-info .name-box{margin-bottom:30px}
    .btn-wrap{margin:30px 0}
    .btn-wrap:last-child{margin:40px 0 20px 0}
    .btn-wrap button{width:150px;height:40px;border-radius:5px;cursor:pointer}
}
@media (min-width: 768px) and (max-width: 1023px) {
    .container{padding:30px}
    .btn-wrap{margin:40px 0}
    .btn-wrap:last-child{margin:40px 0 20px 0}
    .btn-wrap button{width:180px;height:45px;border-radius:5px;cursor:pointer}
}
